<% unless Rails.env.production? %>
  <% if current_judge.full_access_enabled? %>
    <li class="nav-link">
      <%= link_to t('views.application.score_submissions'), new_judge_submission_score_path %>
    </li>
  <% end %>
<% end %>

<li class="nav-link">
  <%= link_to t('views.application.my_profile'), judge_profile_path %>
</li>

<li class="nav-link">
  <%= link_to t('views.application.signout'),
    signout_path,
    data: { method: :delete } %>
</li>
