<li class="nav-link <%= al(judge_account_path) %>">
  <%= link_to t("views.application.dashboards.menu.my_account"), judge_account_path %>
</li>

<li class="nav-link">
  <%= link_to t('views.application.signout'), signout_path, method: :delete %>
</li>
