<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "chapter_ambassador/dashboards/onboarding/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Legal Agreement" } do %>
    <%= render "completion_steps/rebrand/legal_agreement", profile: current_ambassador %>
  <% end %>
</div>
