  <nav class="p-4" aria-label="Progress">
    <ol role="list" class="space-y-6 mb-6 overflow-hidden">
      <%= render "application/templates/completion_step",
        name: "Public Info",
        url: nil,
        is_complete: nil,
        is_active_item: nil
      %>
    </ol>
  </nav>
