<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "chapter_ambassador/chapter_profile/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Chapter Profile" } do %>
    <p class="mb-4">Welcome to the Chapter Profile section!</p>

    <p class="mb-4">
      Here, you'll provide important details about your Chapter to help us understand your local program better.
      You must complete all four sections in order to access the administrative dashboard for your Chapter.
      Remember, you can always come back and edit your Chapter Profile as needed.
    </p>

    <p>
      Note that the information in the <span class="font-bold">Program Info section is not public.</span>
    </p>
  <% end %>
</div>
