<ul class="tabs__menu" data-closed="true">
  <li
    class="tabs__menu-link"
    :class="{
      'tabs__menu-link--active': isSection('students')
    }"
  >
    <button
      role="button"
      class="tabs__menu-button"
      @click.stop.prevent="setSection('students')"
    >
      Students
    </button>
  </li>

  <li
    class="tabs__menu-link"
    :class="{
      'tabs__menu-link--active': isSection('mentors')
    }"
  >
    <button
      role="button"
      class="tabs__menu-button"
      @click.stop.prevent="setSection('mentors')"
    >
      Mentors
    </button>
  </li>

  <li class="hidden-sm hidden-md hidden-lg tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      @click.stop.prevent="setSection('photo')"
    >
      Team photo
    </button>
  </li>

  <li
    class="tabs__menu-link"
    :class="{
      'tabs__menu-link--active': isSection('description')
    }"
  >
    <button
      role="button"
      class="tabs__menu-button"
      @click.stop.prevent="setSection('description')"
    >
      Summary
    </button>
  </li>

  <li
    class="tabs__menu-link"
    :class="{
      'tabs__menu-link--active': isSection('location')
    }"
  >
    <button
      role="button"
      class="tabs__menu-button"
      @click.stop.prevent="setSection('location')"
    >
      Location
    </button>
  </li>

  <li
    class="tabs__menu-link"
    :class="{
      'tabs__menu-link--active': isSection('division')
    }"
  >
    <button
      role="button"
      class="tabs__menu-button"
      @click.stop.prevent="setSection('division')"
    >
      Division
    </button>
  </li>
</ul>
