<%= web_icon "close", class: "hidden-sm hidden-md hidden-lg close-tab-menu" %>
<%= web_icon "navicon", class: "hidden-sm hidden-md hidden-lg open-tab-menu" %>

<ul class="tab-menu" data-closed="true">
  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="students"
    >
      Students
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="mentors"
    >
      Mentors
    </button>
  </li>

  <li class="hidden-sm hidden-md hidden-lg tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="photo"
    >
      Team photo
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="description"
    >
      Summary
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="location"
    >
      Location
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="division"
    >
      Division
    </button>
  </li>
</ul>
