<% if team.description.blank? %>
  <p>Your team has not written a summary.</p>
<% else %>
  <%= simple_format team.description %>
<% end %>

<% unless current_scope == "chapter_ambassador" %>
  <%= link_to t("controllers.teams.edit.link"),
    send("edit_#{current_scope}_team_path", team),
    class: "button small" %>
<% end %>
