<ul class="tabs__menu" data-closed="true">
  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="students"
    >
      Students
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="mentors"
    >
      Mentors
    </button>
  </li>

  <li class="hidden-sm hidden-md hidden-lg tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="photo"
    >
      Team photo
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="description"
    >
      Team details
      <!-- Summary -->
    </button>
  </li>

  <!-- <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="location"
    >
      Location
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="division"
    >
      Division
    </button>
  </li> -->
</ul>
