<%
  modal_id ||= nil
  hidden_on ||= []
  admin_chapter_ambassador ||= false
%>

<div class="<%= hidden_on.map { |size| "hidden-#{size}" }.join(" ") %>">
  <%= image_tag team.team_photo_url, class: "grid__cell-img filestack-team-photo"%>

  <% if @team.current? && !admin_chapter_ambassador %>
    <%= render "filestack_uploads/team_photo_upload", current_team: @team %>
  <% end %>
</div>
