<div class="has-danger leave-team">
  <%= link_to t("controllers.team_memberships.destroy.link", name: @team.name),
              [account_type, @team, :membership],
              data: {
                method: :delete,
                confirm: t("views.teams.show.confirm_leave"),
              },
              class: "appy-button" %>
</div>
