<dl>
  <dt>Primary location:</dt>
  <dd><%= team.primary_location %></dd>

  <% unless current_scope == "chapter_ambassador" %>
    <% if team.current? %>
      <p>
        <%= link_to "Change this team's location",
          send(
            "edit_#{current_scope}_team_location_path",
            team,
            { return_to: send("#{current_scope}_team_path", team, anchor: '!location') }
          ),
          class: "button" %>
      </p>
    <% else %>
      <dd>You cannot change the location of a past team</dd>
    <% end %>
  <% end %>
</dl>
