<div class="module team-members">
  <div class="module-header">
    <h5><%= t("views.student.teams.show.members_subheading") %></h5>
  </div>

  <div class="module-body">
    <ul class="team_members">
      <%= render partial: "teams/member", collection: @team.students %>
    </ul>

    <%= render "student/teams/invite_students", account: account %>
    <%= render "student/teams/pending_invites", invites: @team.pending_invites %>
  </div>
</div>
