<% if invites.any? %>
  <div class="grid">
    <div class="grid__col-auto grid__col--bleed-x">
      <h3 class="reset">Invites sent</h1>

      <p class="hint">
        Your team is waiting for these people to accept your invitations
      </p>

      <ul class="reset">
        <% invites.each do |invite| %>
          <li class="row">
            <% if invite.invitee %>
              <%= render 'invites/registered_invitee', invite: invite %>
            <% else %>
              <%= render 'invites/unregistered_invitee', invite: invite %>
            <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
