<% preview_method ||= :invitee_first_name %>

<% if invites.any? %>
  <div class="pending-invites">
    <h6><%= t("views.#{account_type}.teams.show.pending_invitees_subheading") %></h6>

    <table class="pending_invitees">
      <% invites.each do |invite| %>
        <tr>
          <td><%= invite.public_send(preview_method) %></td>
          <td>
            <%= link_to t("controllers.invites.destroy.link"),
                        [account_type, invite],
                        data: {
                          method: :delete,
                          confirm: t("controllers.invites.destroy.confirm",
                                    name: invite.invitee_name),
                        } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
