<li class="grid">
  <div class="grid__col-xs-2 grid__col--bleed-x">
    <div class="grid__cell">
      <%= image_tag public_member.profile_image_url, class: "grid__cell-img" %>
    </div>
  </div>

  <div class="grid__col-xs-10">
    <h3>
      <% if public_member.mentor_profile %>
        <%= link_to public_member.first_name,
          send("#{current_account.scope_name}_mentor_path", public_member) %>
      <% else %>
        <%= public_member.first_name %>
      <% end %>
    </h3>

    <% if public_member.student_profile %>
      <h4>Age <%= public_member.age %></h4>
    <% end %>
  </div>
</li>
