<h3 class="reset"><%= t("views.teams.show.mentors_subheading") %></h3>

<% if team.mentors.any? %>
  <ul class="reset">
    <%= render partial: "teams/public_member", collection: team.mentors %>
  </ul>
<% else %>
  <p>This team doesn't have any mentors yet!</p>
<% end %>
