<div class="module team-members">
  <div class="module-header">
    <h5><%= t("views.teams.show.members_subheading") %></h5>
  </div>

  <div class="module-body">
    <ul class="team_members">
      <%= render partial: "teams/public_member", collection: @team.students %>
    </ul>
  </div>
</div>
