<h3 class="reset"><%= t("views.teams.show.members_subheading") %></h3>

<% if team.students.any? %>
  <ul class="reset">
    <%= render partial: "teams/public_member", collection: team.students %>
  </ul>
<% else %>
  <p>This team doesn't have any students yet!</p>
<% end %>
