<li>
  <div class="member-image">
    <%= image_tag public_member.profile_image_url(:thumb).sub(/\/(\d+)\/(.+)_thumb(.+)/, '/\1/thumb_\2\3'), with: 80, height: 80 %>
  </div>

  <div class="member-info">
    <h3><%= public_member.first_name %></h3>
  </div>
</li>
