<div class="dashboard-page-info">
  <h3 class="team_name"><%= @team.name %></h3>
  <p class="team_description"><%= @team.description %></p>
</div>

<%= render "teams/member_list" %>
<%= render "teams/mentor_list" %>
