.h3 Submission
.h4 App description
text_area = team.description
.h4 Source Code
- unless (team.code.nil? or team.code.length == 0)
  = link_to 'Github repo', team.code
.h4 App Listing
- unless (team.store.nil? or team.store.length == 0)
  = link_to 'Listing page', team.store

.h4 App Logo
= image_tag team.logo.url(:medium), class: ['img-responsive', 'img-rounded', 'img-avatar'], style: ['width:300px;']
.h4 Screenshots
= image_tag team.screenshot1.url(:medium), style: ['width:200px']
= image_tag team.screenshot2.url(:medium), style: ['width:200px']
= image_tag team.screenshot3.url(:medium), style: ['width:200px']
= image_tag team.screenshot4.url(:medium), style: ['width:200px']
= image_tag team.screenshot5.url(:medium), style: ['width:200px']
.h4 Pitch Video

- unless team.pitch.nil? or team.pitch.empty?
  == render_video(team.pitch)
.h4 Demo Video

- unless team.demo.nil? or team.demo.empty?
  == render_video(team.demo)
.h4 Business Plan
- unless team.plan.url == '/plans/original/missing.png'
  == render_pdf(team.plan.url)
.h4 Category
- if (not team.category_id.nil?) and (team.category_id > 0)
  span.badge = Category.find(team.category_id).name