<div class="grid margin--t-xlarge">
  <div class="grid__col-auto grid__col--bleed-y">
    <h3>Background Checks</h3>
    <%= render 'datagrid/datagrid',
               grid: @background_checks_grid,
               form_url: admin_background_checks_path,
               model_name: "background_check",
               scope: :admin %>
  </div>
</div>
