<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <ul class="navigation-menu">
      <li class="nav-link">
        <%= link_to t('views.application.site_title'), student_dashboard_path %>
      </li>

      <li class="nav-link">
        <%= link_to t('views.student.navigation.find_a_mentor'), student_mentors_search_path %>
      </li>

      <%= student_navigation.team_link %>

      <%= render 'signed_in' %>
    </ul>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  </div>
</header>
