<header class="navigation" role="banner">
  <div class="container">
    <%= link_to image_tag("tc-logo-white.svg"), student_dashboard_path, { class: "logo" } %>

    <nav>
      <ul>

        <%= student_navigation.mentor_search_link %>

        <%= student_navigation.team_link %>

        <%= render 'signed_in' %>

      </ul>
    </nav>
  </div>
</header>
