<dl>
  <dt>Your location</dt>
  <dd><%= current_student.address_details %></dd>
</dl>

<p>
  <%= link_to "Change your location",
    student_location_details_path(
      return_to: student_profile_path(anchor: '!location')
    ),
    class: "button" %>
</p>
