  <div class="panel panel--contains-bottom-bar panel--contains-top-bar">
    <div class="panel__top-bar">
      Parental Consent
    </div>

    <div class="panel__content">
      <% if current_student.parental_consent_signed? %>
        <%= render "student/profiles/parent_signed" %>
      <% elsif current_student.parent_guardian_email.blank? %>
        <%= render "student/profiles/parent_info_blank" %>
      <% else %>
        <%= render "student/profiles/parent_info_troubleshoot" %>
      <% end %>
    </div>

    <div class="panel__bottom-bar">
      If you need any help at all,
      <%= mail_to(
        ENV.fetch("HELP_EMAIL"),
        "contact us",
        subject: "Parental consent help needed"
      ) %>.
    </div>
  </div>