<h6 class="margin--none">
  If your parent or guardian does not have an email address
</h6>

<ol>
  <li>
    <%= link_to "Download the permission form",
      student_downloadable_parental_consent_path(format: :pdf),
      target: :_blank %>
  </li>

  <li>
    Print it out. If it's possible for your parent to read it on a phone or
    computer, then print only the signature page
  </li>


  <li>Ask your parent or guardian to sign it</li>

  <li>
    Take a picture of the signature page with a camera phone or digital camera

    <h6 class="margin--none">Tips:</h6>

    <ul>
      <li>You can ask an adult that you trust to do this for you</li>
      <li>You can use a scanner if you have access to one</li>
      <li>Hold the phone or camera at an angle to avoid your shadow covering the signature</li>
      <li>Keep the page flat on a well-lit table</li>
    </ul>
  </li>

  <li>
    Attach it to an email to
    <%= mail_to ENV.fetch("HELP_EMAIL"),
      ENV.fetch("HELP_EMAIL"),
      subject: "Parental consent signed form" %>
  </li>
</ol>