<div class="absolute -top-2 -right-6">
  <span class="block mb-2 px-2 py-1 text-right text-sm font-bold tw-flag-magenta">Season close</span>
</div>

<h2 class="text-2xl text-energetic-blue font-semibold tracking-wide mb-2">
  Thank you!
</h2>

<p class="mb-3 text-base">
  Thank you for your help scoring and giving valuable feedback to
  Technovation teams.
</p>

<p class="mb-3 text-base">
  Your judging certificate will be available
  <%= ImportantDates.certificates_available.strftime("%B %e") %>.
</p>

<p class="text-base">
  Thank you again for helping girls lead the change. Your contribution to
  supporting young women around the world is invaluable. See you next season!
</p>