<div class="mb-4">
  <p>
    Welcome to the online judging portal! Judging is currently closed but will open soon.
    You will receive an email when judging opens. Please check back on the dates listed below!
  </p>
  <%= render 'judge/dashboards/rebrand/important_dates' %>
</div>