<p>
  Tell your network that you’re judging using our
  <%= link_to "\"Proud Technovation Judge\"",
    ENV.fetch("JUDGE_SOCIAL_MEDIA_TEMPLATES_URL"),
    target: "_blank",
    class: "tw-link" %>
  social templates.
</p>