<div class="flex-col-md-4 dashboard-sidebar border-left">
  <%= render 'student/dashboards/full_access_content/certs_sidebar' %>

  <%
    if current_team.submission.contest_rank == "semifinalist"
      scores = @all_scores
      best_category = @sf_best_category
    else
      scores = @quarterfinals_scores
      best_category = @qf_best_category
    end
  %>

  <h3>Best Category Comments: <%= best_category %></h3>

  <% scores.each do |score| %>
    <p class="best-category-comment">
      "<%= score.public_send(
        "#{best_category.to_s.parameterize.underscore}_comment"
      ) %>"
    </p>
  <% end %>
</div>
