<% if scores.unofficial.any? %>
  <h5>
    <br>
    Official Scores - These scores counted
  </h5>
<% end %>

<%= render 'student/dashboards/full_access_content/scores/table',
  scores: scores.official %>

<% if scores.unofficial.any? %>
  <h5>
    <br>
    Unofficial Scores - These scores are from a celebration event
  </h5>

  <%= render 'student/dashboards/full_access_content/scores/table',
    scores: scores.unofficial %>
<% end %>
