<% if scores.unofficial.any? %>
  <p>Official Scores - These scores counted</p>
<% end %>

<%= render 'student/dashboards/full_access_content/scores/table',
  scores: scores.official %>

<% if scores.unofficial.any? %>
  <p>
    Unofficial Scores - These scores are from a celebration event
  </p>

  <%= render 'student/dashboards/full_access_content/scores/table',
    scores: scores.unofficial %>
<% end %>
