<%= filestack_image current_profile.profile_image_url,
                    transform: filestack_transform.resize(width: 200, height: 200) ,
                    id: 'filestack-img-tag' %>

<div id="thumbnail-container"></div>