---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/v1/candidates
    body:
      encoding: UTF-8
      string: first_name=Test&middle_name=Ing.&no_middle_name=false&last_name=Candidate&email=test%40test.com&phone=5175556975&zipcode=90401&dob=1983-06-01&ssn=111-11-2001&driver_license_number=&driver_license_state=CA&previous_driver_license_number=&previous_driver_license_state=&copy_requested=false&custom_id=&reports=&geos=&adjudication=&documents=%7B%0A%20%20%22object%22%3A%20%22list%22%2C%0A%20%20%22data%22%3A%20%5B%0A%0A%20%20%5D%0A%7D&id=&object=&uri=&created_at=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Checkr-Client-User-Agent:
      - '{"bindings_version":"1.1.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin15","publisher":"checkr","uname":"Darwin
        Josephs-MacBook-Air.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23
        18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64"}'
      Authorization:
      - Basic YzhmMDg3OWU4M2UzOGY1YTk5ZTM1ZmZhYTM2NWUyMDVmODI5Nzc0Yzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"346ec30d6dbdcfd8c43e5cee","object":"test_candidate","uri":"/v1/candidates/346ec30d6dbdcfd8c43e5cee","created_at":"2016-08-26T14:29:31Z","first_name":"Test","last_name":"Candidate","middle_name":"Ing.","mother_maiden_name":null,"dob":"1983-06-01","ssn":"XXX-XX-2001","email":"test@test.com","zipcode":"90401","phone":"5175556975","driver_license_state":"CA","driver_license_number":null,"copy_requested":false,"previous_driver_license_state":null,"previous_driver_license_number":null,"adjudication":null,"custom_id":null,"no_middle_name":false,"report_ids":[],"geo_ids":[]}'
  recorded_at: Fri, 26 Aug 2016 14:29:32 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/reports
    body:
      encoding: UTF-8
      string: package=tasker_standard&candidate_id=346ec30d6dbdcfd8c43e5cee
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Checkr-Client-User-Agent:
      - '{"bindings_version":"1.1.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin15","publisher":"checkr","uname":"Darwin
        Josephs-MacBook-Air.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23
        18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64"}'
      Authorization:
      - Basic YzhmMDg3OWU4M2UzOGY1YTk5ZTM1ZmZhYTM2NWUyMDVmODI5Nzc0Yzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"12f4f67339f8b6e57843e9f5","object":"test_report","uri":"/v1/reports/12f4f67339f8b6e57843e9f5","status":"pending","created_at":"2016-08-26T14:29:31Z","completed_at":null,"upgraded_at":null,"turnaround_time":null,"due_time":"2016-09-03T14:29:31Z","package":"tasker_standard","tags":[],"adjudication":null,"candidate_id":"346ec30d6dbdcfd8c43e5cee","county_criminal_search_ids":[],"document_ids":[],"federal_criminal_search_id":null,"global_watchlist_search_id":"57c0524b9183c10095000258","motor_vehicle_report_id":null,"national_criminal_search_id":"57c0524b9183c10095000256","personal_reference_verification_ids":[],"professional_reference_verification_ids":[],"sex_offender_search_id":"57c0524b9183c10095000257","ssn_trace_id":"57c0524b9183c10095000254","state_criminal_search_ids":[],"terrorist_watchlist_search_id":"57c0524b9183c10095000258"}'
  recorded_at: Fri, 26 Aug 2016 14:29:33 GMT
recorded_with: VCR 3.0.3
