<% provide :title, "Reset your password" %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-md-5">
    <h2><%= t("views.password_resets.new.title") %></h2>

    <%= simple_form_for @password_reset do |f| %>
      <%= f.input :email, as: :email %>

      <%= f.button :submit,
        t("views.password_resets.new.submit"),
        class: "button" %>
    <% end %>
  </div>
</div>
