<ul class="tabs__menu" data-closed="true">
  <li class="hidden-sm hidden-md hidden-lg tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="avatar"
    >
      Profile image
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="basic"
    >
      Basic
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="location"
    >
      Location
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="change-email"
    >
      Change email
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="change-password"
    >
      Change password
    </button>
  </li>
</ul>
