<p class="notify-banner notify-banner--notice">If you used any format besides .bmp, .jpg, .jpeg, .gif, or .png, your photo will NOT be processed.</p>

<center>
  <p>If you can see your photo below, it will most likely work.</p>
  <%= image_tag @unprocessed_photo_url, width: 233 %>
  <p><%= link_to "Okay", send("#{current_account.type_name}_account_path"), class: "appy-button" %></p>
</center>
