  <nav class="p-4" aria-label="Progress">
    <ol role="list" class="space-y-6 mb-6 overflow-hidden">
      <%= render "application/templates/todo_item",
        name: "Background Check",
        url: "#",
        is_complete: current_ambassador.background_check_complete?,
        is_active_item: false
      %>

      <%= render "application/templates/todo_item",
        name: "Chapter Ambassador Training",
        url: "#",
        is_complete: false,
        is_active_item: false
      %>

      <%= render "application/templates/todo_item",
        name: "Memorandum of Understanding",
        url: "#",
        is_complete: false,
        is_active_item: false
      %>

      <%= render "application/templates/todo_item",
        name: "Program Profile",
        url: "#",
        is_complete: false,
        is_active_item: false
      %>
    </ol>
  </nav>
