<h4><%= score_question.label %></h4>

<%= render partial: 'judge/scores/form_fields/score_value',
           collection: score_question.score_values,
           locals: { f: f, score_question: score_question } %>
