<span class="inline-radio">
  <%= f.radio_button :scored_values_attributes,
                     score_value.id,
                     name: "score[scored_values_attributes][#{score_question.id}][score_value_id]",
                     checked: f.object.score_value_selected?(score_value) %>

  <%= f.label :scored_values_attributes,
              for: "score_scored_values_attributes_#{score_value.id}",
              label: score_value.label %>
</span>
