<div class="grid grid--justify-space-around">
  <div class="grid__col-12 grid__col-md-10">
    <div class="panel">
      <h3>Getting started with Thunkable</h3>

      <p>
        If you are using Thunkable to build your project, follow these instructions
        to get started using it to build your app! Here's a video to help you get
        started setting up Thunkable.
      </p>

      <div class="grid">
        <div class="grid__col-md-8">
          <div class="responsive-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/qOCADZbknNE"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <p class="padding--t-large">
        <%= link_to "Go Back", :back, class: "button" %>
      </p>
    </div>
  </div>
</div>
