<h1 class="appy-title">
  Scoring App Submissions
</h1>

<% if current_judge.selected_regional_pitch_event.live? %>
  <%= render 'judge/submission_scores/live_pitch_event_index' %>
<% else %>
  <%= render 'judge/submission_scores/virtual_index' %>
<% end %>
