<div class="prose">
  <p>
    Unfortunately, there are no Chapters or Clubs currently active in
    your country. Proceed to your dashboard, and once you have completed
    training, you will get access to:
  </p>

  <ul>
    <li class="my-0">Information to find a team</li>
    <li class="my-0">Our global Slack workspace</li>
    <li class="my-0">Ability to search for and connect with teams across the world</li>
  </ul>

  <%= render "chapterable_account_assignments/no_chapterables_found_form" %>

  <%= render "chapterable_account_assignments/no_chapterables_found_footer" %>
</div>
