<p>
  Hello <%= @user.first_name %>,
</p>

<p>
  Thank you for signing up to be a 2016 Technovation Judge! Below is some information to help you get started.

  Official Judge Training
  We will be offering two Official Judge Training Sessions that will provide information on how to use the judging platform and how to provide effective feedback to the app submissions. There will also be time to answer any questions you may have about the judging process. The trainings will take place on the below dates and times. Please take this time to register for one of the trainings:

  Tuesday, April 19, 2016 at 4:00pm PDT - <a href="https://attendee.gototraining.com/r/5679366058200127745">REGISTER HERE</a>
  OR
  Friday, April 22, 2016 at 8:00am PDT - <a href="https://attendee.gototraining.com/r/2158568197852154625">REGISTER HERE</a>

  Both trainings will be recorded. We will send out the recording to all judges, so if you are unavailable to attend, you can always watch the recording after the fact.

  Judging Timeline
  Judging will open on Friday, April 22nd at 5pm PDT.

  Quarterfinal Judging Round: Friday, April 22nd through Tuesday, May 3rd at 5pm PDT
  Semifinal Judging Round: Thursday, May 5th through Thursday, May 12th at 5pm PDT
  We would love your help in judging at least 5 apps (3 to 5 hours) for the Quarterfinal round and at least 2 apps (1 to 2 hours) for the Semifinal round.

  Here is a link to the <a href="http://technovationchallenge.org/wp-content/uploads/2016/03/Judging-Rubric-2016.pdf">judging rubric</a> for your reference.

  If you have any questions at all, please don’t hesitate to email us at <a href="mailto:info@technovationchallenge.org">info@technovationchallenge.org.</a>
</p>

<p>
  Best, <br/>
  The Technovation Staff
</p>
