<p>
  Hello <%= @user.first_name %>,
</p>

<p> 
  Thank you for signing up to be a 2015 Technovation Judge! Please take some time to review our <a href="http://www.technovationchallenge.org/judge-training-2015/">training materials</a>. It should take you about 20 minutes to complete. Judging will open on Friday, April 24th, 2015 at 5pm PDT. In the meantime, if you have any questions at all, please don’t hesitate to email us at <a href="mailto:info@technovationchallenge.org">info@technovationchallenge.org</a>.
</p>

<p>
  Best, <br/>
  The Technovation Staff
</p>
