<div id="profile-settings" class="h-auto mb-10 lg:mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper bg-energetic-blue text-white p-2">
    <p class="font-bold">Profile Settings</p>
  </div>

  <div id="tab-wrapper" class="p-6">
    <div class="tw-tab-content">
      <p>Basic Information</p>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <p>Parental Consent</p>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <p>Location</p>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <p>Change Email</p>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <p>Change Password</p>
    </div>
  </div>
</div>
