<section class="flex-col space-y-6 mb-8">
  <div>
    <p>
      If your parent or guardian does not have an email address: <br>
      Print these
      <%= link_to "permission", "https://my.technovationchallenge.org/student/downloadable_parental_consent.pdf" %>
      and
      <%= link_to "media", "https://s3.amazonaws.com/curiositymachine/units/resources/TGMediaConsent.pdf" %>
      consent forms and send the signed
      signature pages as attachments to support@technovation.org. Please
      make sure the pages are well-lit and easy to read. Make sure to include
      your name as it appears on the platform in the email subject line.
    </p>
  </div>

  <div>
    <p>Tips:</p>
    <ul class="list-disc ml-12">
      <li>Use a scanner if you have access to one</li>
      <li>Hold the phone or camera at an angle to avoid your shadow covering the signature</li>
      <li>Keep the page flat on a well-lit table</li>
    </ul>
  </div>

  <p>
    If you need help, please contact
    <%= mail_to(
          ENV.fetch("HELP_EMAIL"),
          "support@technovation.org",
          subject: "Parental consent help needed",
          class: "tw-email-link"
        ) %>
  </p>
</section>
