<p>
  In order to participate in Technovation, you need your parent
  or guardian's permission.
</p>

<div class="margin--t-xlarge">
  <%= render "student/parental_consent_notices/form" %>
</div>

<div class="bg-energetic-blue h-1 mb-8"></div>

<div class="margin--t-xlarge">
  <%= render "student/paper_consent_uploads/form" %>
</div>
