<% required_steps = [
  {
    name: "Location Details",
    completed?: current_account.valid_address?,
    completed_details: "#{current_account.city&.capitalize}, #{current_account.country&.capitalize}",
    link_to_complete: student_location_details_path(return_to: student_profile_path),
    link_to_complete_text: "Set your location"
  },
  {
    name: "Parental Consent",
    completed?: current_account.parental_consent.signed?,
    completed_details: "Signed on #{current_account.parental_consent.updated_at.strftime("%-d %B, %Y")} by #{current_account.parental_consent.electronic_signature}",
    link_to_complete: student_profile_path(anchor: "parent-tab-content"),
    link_to_complete_text: "Check the status of your parental consent"
  }
] %>

<div class="container px-4 py-4 mx-auto mb-8 w-full lg:w-3/4 bg-blue-100 border-l-4 border-energetic-blue">
  <h2 class="mb-4 text-gray-600">Welcome to Technovation Girls!</h2>

  <p class="mb-3 text-base text-gray-500">
    We're really happy you decided to join us for the <%= Season.current.year %> season!
  </p>

  <p class="mb-6 text-base text-gray-500">
    We need a few more details in order to get started.
    Please complete the parental consent and media consent forms, and add your location so you can build a Technovation team.
  </p>

  <ul class="space-y-6">
    <% required_steps.each do |required_step| %>
      <li>
        <div class="flex">
          <span class="h-8 flex items-center" aria-hidden="true">
            <% if required_step[:completed?] %>
              <span class="w-5 h-5 flex items-center justify-center bg-energetic-blue rounded-full">
                <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              </span>
            <% else %>
              <span class="w-5 h-5 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full"></span>
            <% end %>
          </span>

          <span class="ml-4 min-w-0 flex flex-col">
            <span class="text-sm font-semibold tracking-wide uppercase text-gray-600">
              <%= required_step[:name] %>
            </span>

            <% if required_step[:completed?] %>
              <span class="text-sm text-gray-500 italic">
                <%= required_step[:completed_details] %>
              </span>
            <% else %>
              <%= link_to required_step[:link_to_complete_text], required_step[:link_to_complete], class: "text-sm text-energetic-blue italic hover:text-energetic-blue hover:underline" %>
            <% end %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
