<div id="mentor-dashboard-menu" class="tabs">
  <%= render 'mentor/dashboards/menu' %>

  <div class="content">
    <% if current_mentor.mentor_invites.pending.any? %>
      <div class="tab-content" id="invitations">
        <%= render 'mentor/dashboards/full_access_content/invitations' %>
      </div>
    <% end %>

    <div class="tab-content flex-row" id="submissions">
      <%= render 'mentor/dashboards/full_access_content/submissions' %>
    </div>

    <div class="tab-content flex-row" id="pitch-events">
      <%= render 'mentor/dashboards/full_access_content/pitch_events' %>
    </div>
  </div>
</div>
