<div slot="chapter-ambassador-intro">
  <%= render 'dashboards/chapter_ambassador_intro' %>
</div>

<% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
  <template slot="survey-links"><%= render 'program_survey' %></template>
<% end %>

<% if current_mentor.can_switch_to_judge? %>
  <template slot="judge-switch-link">
    <%= link_to "Switch to Judge mode", judge_dashboard_path %>
  </template>
<% end %>

<% if current_mentor.is_an_ambassador? %>
  <template slot="chapter-ambassador-switch-link">
    <%= link_to "Switch to Chapter Ambassador mode", chapter_ambassador_dashboard_path %>
  </template>
<% end %>
