<div class="grid">
  <div class="grid__col-auto">
    <h3>Mentor training</h3>

    <p>
      <%= link_to "Open the mentor training e-book",
        "https://iridescentlearning.atavist.com/technovation-mentor-training",
        target: "_blank" %>
    </p>

    <h3>Curriculum</h3>

    <p>
      <%= link_to "Open the Technovation Curriculum",
        "http://www.technovationchallenge.org/curriculum-intro/registered",
        target: "_blank" %>
    </p>

    <h3>Submission Guide</h3>

    <p>
      <%= link_to "Read the Submission Guidelines",
        "http://www.technovationchallenge.org/submission-guidelines/",
        target: "_blank" %>
    </p>

    <h3>Judging Rubric</h3>

    <p>
      <%= link_to "Read the Judging Rubric",
        "http://www.technovationchallenge.org/judging-rubric/",
        target: "_blank" %>
    </p>
  </div>
</div>
