<ul class="tab-menu">
  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="pitch-events">
      Pitch Events
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="submissions">
      Team Submissions
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="teams">
      My Teams
    </button>
  </li>
</ul>
