<ul class="tabs__menu">
  <% if current_mentor.mentor_invites.pending.any? %>
    <li class="tabs__menu-link">
      <button
        role="button"
        class="tabs__menu-button"
        data-tab-id="invitations">
        Invitations
      </button>
    </li>
  <% end %>

  <% if current_mentor.is_on_team? and SeasonToggles.display_scores? %>
    <li class="tabs__menu-link">
      <button
        role="button"
        class="tabs__menu-button"
        data-tab-id="scores">
        Scores
      </button>
    </li>
  <% end %>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="submissions">
      Team Submissions
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="pitch-events">
      Pitch Events
    </button>
  </li>
</ul>
