<nav class="profile">
  <ul>
    <li><%= link_to t("views.dashboard.menu.home"), mentor_dashboard_path %></li>
    <li><%= link_to t("views.dashboard.menu.my_teams"), mentor_teams_path %></li>
    <li><%= link_to t("views.dashboard.menu.my_requests"), mentor_join_requests_path %></li>
    <li><%= link_to t("views.dashboard.menu.my_account"), mentor_account_path %></li>
  </ul>
</nav>
