<% mentor = FindAccount.current(:mentor, cookies) %>

<nav class="profile">
  <ul>
    <li><%= link_to t("views.application.dashboards.menu.home"), mentor_dashboard_path %></li>

    <% if mentor.consent_signed? and mentor.background_check_complete? and not mentor.bio.blank? %>
      <li><%= link_to t("views.application.dashboards.menu.connect_mentors"), new_mentor_mentor_search_path %></li>
      <li><%= link_to t("views.application.dashboards.menu.my_teams"), mentor_teams_path %></li>
    <% end %>

    <li><%= link_to t("views.application.dashboards.menu.my_account"), mentor_account_path %></li>
  </ul>
</nav>
