<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "mentor/dashboards/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Dashboard" } do %>
    <p>
      Welcome! Please review and complete the onboarding checklist items to officially become a Mentor
      for the upcoming season. Completing these onboarding items will allow you to connect with teams and begin the
      mentoring process.
    </p>
  <% end %>
</div>

<%= render "program_survey_modal" %>
