<% provide :title, "Participants" %>

<%= render "datagrid/datagrid",
  grid: @accounts_grid,
  form_url: send("#{current_scope}_participants_path"),
  model_name: "account",
  scope: current_scope.to_sym do %>

  <% if current_account.chapter_ambassador? %>
    <p class="float-right">
      <%= link_to "Find a missing participant",
        new_chapter_ambassador_missing_participant_search_path,
        data: { turbolinks: false },
        class: "button small subnav--help-link" %>
    </p>
  <% end %>
<% end %>
