<div id="events" class="h-auto mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper ">
    <p class="font-bold">Pitch your project</p>
  </div>

  <div class="tw-content=-wrapper p-8">
    <% if SeasonToggles.select_regional_pitch_event? || current_team.live_event? %>
      <%= render "student/dashboards/completion_steps/rebrand/regional_pitch_events" %>
    <% elsif SeasonToggles.events_disabled? %>
      <%= render "explanations/feature_not_available", feature: :events %>
    <% end %>
  </div>
</div>