<div class="prose">
  <p>
    Unfortunately, there are no Chapters currently active in your country, but there are
    many resources on the Technovation website to help you complete the program.
  </p>

  <p class="mb-2">
    Check out these options:
  </p>

  <ul>
    <li class="my-0">Connect with a mentor</li>
    <li class="my-0">Review our online curriculum</li>
    <li class="my-0">Find teammates to work with on your project</li>
  </ul>

  <%= simple_form_for @chapter_assignment do |f| %>
    <%= hidden_field_tag "chapter_id", "none_selected" %>
    <%= f.submit "Acknowledge and Go To Dashboard", class: "tw-green-btn cursor-pointer mt-8" %>
  <% end %>

  <hr class="border-t border-gray-300 mt-8 mb-4">

  <p>
    Are you already working with a Chapter outside your region?
    Contact us at <%= mail_to ENV.fetch("HELP_EMAIL"), ENV.fetch("HELP_EMAIL"), class: "tw-link" %>
    and we'll connect your account with that Chapter.
  </p>
</div>
