<% provide :title, "Search for mentors" %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6" id="show-container">
   <div id="profile-settings" class="h-auto mb-10 lg:mb-auto rounded-md border-solid border-4 border-energetic-blue">
      <div class="sm-header-wrapper bg-energetic-blue text-white p-2">
         <p class="font-bold">Search Options</p>
      </div>
      <div id="menu-wrapper" class="p-6">
         <%= render "mentor_searches/rebrand/filter_options", account: account %>
      </div>
   </div>

  <div class="tw-blue-lg-container w-full">
    <div class="bg-energetic-blue">
        <h4 class="text-left font-extrabold p-4 text-white m-0">Search for mentors</h4>
    </div>

    <div class="tw-grid grid-cols-3 gap-4 px-4 py-4">
      <%= render(
        partial: "mentor_searches/rebrand/mentor_preview",
        collection: @mentors,
        locals: { account: account }
      ) 
      %>
      <% if @mentors.empty? %>
        <%= t("views.mentor_searches.none_found") %>
      <% end %>
    </div>

    <div class="flex items-center justify-center">
      <%= will_paginate @mentors %>
    </div>
  </div>
</div>