<p>
  <%= link_to t('views.admin.score_categories.add'), new_admin_score_category_path %>
</p>

<table class="table-minimal">
  <thead>
    <tr>
      <th><%= t('models.score_category.name') %></th>
      <th><%= t('views.application.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @score_categories %>
  </tbody>
</table>
