<li class="completion-step">
  <div class="flags">
    <span class="flag flag-events">
      Pitch Events
    </span>
  </div>

  <h1 class="content-heading">Select Regional Pitch Events</h1>
    <p>
      Select a pitch event in your area for your teams to
      pitch to a live panel of judges!
    </p>

    <div class="step-actions">
      <%= link_to 'Attend an Event',
          mentor_regional_pitch_events_team_list_path,
          class: "button" %>
    </div>