<h1 class="content-heading">Select Pitch Events</h1>

<p>
  Select pitch events in your area for your teams to
  pitch to a live panel of judges!
</p>

<%= render 'regional_pitch_events/dashboard_disclaimer' %>

<div class="step-actions margin--t-large">
  <%= link_to 'Select Events',
    mentor_regional_pitch_events_team_list_path,
    class: "button" %>
</div>