<div class="score_breakdown">
  <h6>
    <span>
      Average
      <%= round_name.titleize %>
      Score:
    </span>

    <%= team.submission.public_send("#{round}_average_score") %>
  </h6>

  <%= render 'scores/scores_table',
    team: team,
    round: round,
    scores: scores %>
</div>
