<p>
  Before you can access your
  <%=  "certificate".pluralize(@current_certificates.count) %>,
  please complete the
  <%= link_to_if SeasonToggles.survey_link_available?(current_scope, current_account),
    "post survey",
    SeasonToggles.survey_link(
      current_scope, "url",
      format_url: true,
      account: current_account
    ),
    class: "tw-link",
    target: "_blank" %>
</p>