<% provide :js, javascript_pack_tag("ra_events_judge_search") %>
<% fetch_url = regional_ambassador_judge_search_path(format: :json) %>

<div v-if="false" id="add-judges">
  <label>
    Find judges to assign

    <input
      ref="judgeSearch"
      class="autocomplete-input"
      type="text"
      data-fetch-url="<%= fetch_url %>"
      @input="generateResults"
      @keyup.up.prevent="traverseResultsUp"
      @keyup.down.prevent="traverseResultsDown"
      @keyup.enter.prevent="selectHighlighted"
      @keyup.esc="reset"
      v-model="query"
    />
  </label>

  <div class="grid__cell--padding-sm" v-if="loading">
    <i class="icon-spinner2 icon--spin"></i>
  </div>

  <div class="notice notice--error" v-else-if="error">
    Sorry, there was an error on the server

    <button
      class="button button--small button--error"
      @click="reset"
    >
      Reset and try again
    </button>
  </div>

  <ul
    class="autocomplete-list"
    v-else
  >
    <li
      :class="[
        'autocomplete-list__result',
        result.highlightedClass(),
      ]"
      @mouseover="resultsIdx = idx"
      @click="selectHighlighted"
      v-html="result.highlightMatch(query)"
      v-for="(result, idx) in results"
    ></li>
  </ul>

  <div
    class="grid__cell--padding-sm"
    v-if="selectedJudge"
  >
    Selected: {{ selectedJudge.display }}
  </div>
</div>
