<% provide :js, javascript_pack_tag("ra_events_index") %>

<table
  data-fetch-url="
    <%= regional_ambassador_regional_pitch_events_path(format: :json) %>
  "
  id="events-list"
  ref="eventsList"
  class="datagrid"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Divisions</th>
      <th>Date &amp; time</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr v-for="event in events">
      <td>{{ event.name }}</td>
      <td>{{ event.divisions }}</td>
      <td>{{ event.date_time }}</td>
      <td>
        <img
          alt="edit"
          class="events-list__action-item"
          src="https://icongr.am/fontawesome/edit.svg?size=16"
          @click="editEvent(event)"
        />

        <img
          alt="remove"
          class="events-list__action-item"
          src="https://icongr.am/fontawesome/remove.svg?size=16&color=ff0000"
          @click="removeEvent(event)"
        />
      </td>
    </tr>
  </tbody>
</table>
