<h1 class="appy-title">Editing Regional Pitch Event</h1>

<%= render 'form' %>

<%= link_to 'Show', [:regional_ambassador, @pitch_event] %> |
<%= link_to 'Back', regional_ambassador_regional_pitch_events_path %>
