<% provide :title, "RA Data • Events" %>
<% provide :js, javascript_pack_tag("ra_events_app") %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel panel--left">
      <h1>Regional Pitch Events</h1>

      <div id="app">
        <events-table
          fetch-url="<%= regional_ambassador_regional_pitch_events_path(
            format: :json
          ) %>"
        ></events-table>

        <event-form
          post-url="<%= regional_ambassador_regional_pitch_events_path(
            format: :json
          ) %>"
          junior-division-id="<%= Division.junior.id %>"
          senior-division-id="<%= Division.senior.id %>"
        ></event-form>
      </div>
    </div>
  </div>
</div>
