<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <%= render(
        "regional_ambassador/regional_pitch_events/create_event"
      ) %>

      <%= render(
        "regional_ambassador/regional_pitch_events/assign_judges"
      ) %>
    </div>
  </div>
</div>
