<% provide :js, javascript_pack_tag("ra_events") %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-6">
    <div class="panel">
      <h1>Events</h1>

      <div id="events">
        {{ message }}
      </div>
    </div>
  </div>
</div>
