<h1 class="appy-title">
  Regional Pitch Event: <%= @pitch_event.name %>
</h1>

<%= render 'regional_ambassador/regional_pitch_events/participants_list',
  ambassador: current_ambassador,
  event: @pitch_event %>
