<div class="prose">
  <p>
    Unfortunately, there are no Chapters or Clubs currently active in
    your country, but there are many resources on the Technovation
    website to help you complete the program.
  </p>

  <p class="mb-2">
    Check out these options:
  </p>

  <ul>
    <li class="my-0">Connect with a mentor</li>
    <li class="my-0">Review our online curriculum</li>
    <li class="my-0">Find teammates to work with on your project</li>
  </ul>

  <%= render "chapterable_account_assignments/no_chapterables_found_form" %>

  <%= render "chapterable_account_assignments/no_chapterables_found_footer" %>
</div>
