<%= f.fields_for :account do |a| %>
  <div class="signup-form-name-fields">
    <%= a.input :first_name %>
    <%= a.input :last_name %>
  </div>

  <%= a.input :date_of_birth,
    as: :date,
    prompt: true,
    start_year: f.object.youngest_birth_year,
    end_year: f.object.oldest_birth_year,
    input_html: { class: "chosen dob_field" } %>
<% end %>
