<div class="button-group">
  <label class="register-student">
    <input type="radio" name="authentication[registration_role]" data-reveal=".student-field" value="student">
    <span class="button-group-item">Student</span>
  </label>

  <label class="register-judge">
    <input type="radio" name="authentication[registration_role]" data-reveal=".judge-field" value="judge" checked>
    <span class="button-group-item">Judge</span>
  </label>
</div>
