<h4><%= score_attribute.label %></h4>

<%= render partial: 'judges/scores/form_fields/score_value',
           collection: score_attribute.score_values,
           locals: { f: f, score_attribute: score_attribute } %>
