<span class="inline-radio">
  <%= f.radio_button :score_value_ids,
                     score_value.id,
                     name: "score[score_value_ids][#{score_attribute.id}][]",
                     checked: f.object.score_value_selected?(score_value) %>

  <%= f.label :score_value_ids,
              for: "score_score_value_ids_#{score_value.id}",
              label: score_value.label %>
</span>
