<h1 class="content-heading">Complete your registration</h1>

<p>
  To be eligible for the competition, please complete these steps:
</p>

<ul class="steps">
  <%= render(
    'student/dashboards/completion_steps/parental_consent_form'
  ) %>

  <%= render 'completion_steps/location_details', account: current_student %>

  <%= render 'completion_steps/confirm_changed_email', profile: current_student %>
</ul>
