<div class="grid">
  <div class="grid__col-auto grid__col--bleed-y">
    <h3>Submission Guide</h3>

    <p>
      <%= link_to "Read the Submission Guidelines",
        "https://www.technovationchallenge.org/submission-guidelines/",
        target: "_blank" %>
    </p>

    <h3>Judging Rubric</h3>

    <p>
      <%= link_to "Read the Judging Rubric",
        "https://www.technovationchallenge.org/judging-rubric/",
        target: "_blank" %>
    </p>
  </div>
</div>
