<ul class="tab-menu">
  <% if current_student.team_member_invites.pending.any? %>
    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="invitations">
        Invitations
      </button>
    </li>
  <% end %>

  <% if current_team.submission.present? and SeasonToggles.display_scores? %>
    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="scores">
        Scores
      </button>
    </li>
  <% end %>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="your-submission">
      Your Submission
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="live-events">
      Pitch Events
    </button>
  </li>

</ul>
