<ul class="tab-menu">
  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="your-submission">
      Your Submission
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="live-events">
      Live Events
    </button>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="your-team">
      Your Team
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="curriculum">
      Curriculum
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="internet-safety">
      Be Safe Online
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="your-account">
      Your Account
    </button>
  </li>
</ul>
