<ul class="reset">
  <li>
    <h2 class="content-subheading">Internet Safety</h2>

    <p>
      We want you to be safe and well-informed as you participate
      in online programs! Please take some time right now to learn
      about internet safety and digital literacy.
    </p>

    <p>
      <%= link_to "Read about Internet Safety",
        "http://iridescentlearning.org/internet-safety/",
        target: "_blank" %>
    </p>
  </li>
</ul>
