<%= render layout: "application/templates/dashboards/side_nav", locals: { heading: "Dashboard" } do %>
  <div class="p-4" id="tab-wrapper">
    <%= render "student/dashboards/side_nav_content" %>
  </div>
<% end %>