Start Submitting Today!
<%= fa_icon("mobile", class: "card-heading__flair") %>

<p>
  You and your teammates can begin submitting your app now!
  As you work through the curriculum, you can upload it in parts.
  You can also edit as much as you need to until the deadline!
</p>

  <%= link_to 'Begin your submission',
    new_student_team_submission_path,
    class: "appy-button" %>
