<li class="card">
  <div class="card__heading">
    Your Team's Submission
    <%= fa_icon("mobile", class: "card-heading__flair") %>
  </div>

  <div class="card__body">
    <%= render 'student/team_submissions/progress_bar', submission: submission %>

    <p>
      Your team has begun submitting!
      You can edit it as much as you need to until the deadline!
    </p>

    <div class="card__actions-row card__actions-row--pos-end">
      <%= link_to 'Edit your submission', student_team_submission_path(submission),
        class: "appy-button" %>
    </div>
  </div>
</li>
