<div class="flex-row dashboard">
  <div class="flex-col-sm-8 dashboard__main">
    <%= render 'completion_steps',
                account: current_student,
                steps: CompletionSteps.new(current_student) %>
  </div>

  <div class="flex-col-sm-4 dashboard__sidebar">
    <% if current_student.parental_consent.present? %>
      <%# TODO: Localize the followings strings. Find a better place to put this.%>
      <h4>Curriculum</h4>

      <p>
        <%= link_to "Read the Technovation Challenge Primer", "http://www.technovationchallenge.org/curriculum/madewithcodeprimer", target: "_blank" %>
        <br />(if you came from Made With Code)
      </p>

      <hr />
    <% end %>

    <%= render 'team_invitations', invite_type: :team_member, account: current_student %>
  </div>
</div>
