<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Student Dashboard

        <small>
          <%= render 'program_survey' %>
        </small>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col--bleed-y grid--align-end">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:student) %>

        <small>
          <%= link_to "Internet Safety Training",
            "http://iridescentlearning.org/internet-safety/",
            target: "_blank" %>
        </small>
      </h1>
    </div>
  </div>
</div>

<div id="vue-enable-student-app">
  <%= content_tag :div,
    nil,
    id: "vue-data-registration",
    data: {
      previous_attempt: AccountSerializer.new(current_account).serialized_json,
      profile_icon_student: asset_path('wizard-choose-profile__student-primary.svg'),
      profile_icon_mentor: asset_path('wizard-choose-profile__mentor-secondary--female.svg'),
      profile_icon_mentor_male: asset_path('wizard-choose-profile__mentor-secondary--male.svg'),
    } %>
  <App />
</div>