<h1 class="appy-title">
  <%= t("views.application.student_dashboard") %>

  <small>
    <%= render 'pre_program_survey', type: :student %>
  </small>
</h1>

<div class="student-dashboard">
  <h3>Submission Deadline &ndash; Wednesday, April 26th</h3>

  <% if current_student.full_access_enabled? %>
    <%= render 'student/dashboards/full_access' %>
  <% else %>
    <%= render 'student/dashboards/to_do' %>
  <% end %>
</div>
