  <nav class="p-4" aria-label="Progress">
    <ol role="list" class="space-y-6 mb-6 overflow-hidden">
      <%= render "application/templates/completion_step",
        name: "Background Check",
        url: chapter_ambassador_background_check_path,
        is_complete: current_ambassador.background_check_exempt_or_complete?,
        is_active_item: al(chapter_ambassador_background_check_path).present?
      %>

      <%= render "application/templates/completion_step",
        name: "Chapter Ambassador Training",
        url: chapter_ambassador_training_path,
        is_complete: current_ambassador.training_completed?,
        is_active_item: al(chapter_ambassador_training_path).present?
      %>

      <%= render "application/templates/completion_step",
        name: "Chapter Volunteer Agreement",
        url: chapter_ambassador_chapter_volunteer_agreement_path,
        is_complete: current_ambassador.chapter_volunteer_agreement_complete?,
        is_active_item: al(chapter_ambassador_chapter_volunteer_agreement_path).present?
      %>

      <%= render "application/templates/completion_step",
        name: "Community Connections",
        url: chapter_ambassador_community_connections_path,
        is_complete: current_ambassador.viewed_community_connections?,
        is_active_item: al(chapter_ambassador_community_connections_path).present?
      %>
    </ol>
  </nav>
