<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <div class="panel">
      <%= render "ambassador/admin/chapterable_resources" %>
    </div>
  </div>
</div>
