<div class="h-auto mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper">
    <p class="font-bold">Location</p>
  </div>

  <div class="p-6">
    <p>Your team's location is <strong class="font-semibold"><%= team.primary_location %></strong>

      <p class="mt-4">
        <%= link_to(
          "Change your team's location",
          edit_student_team_location_path(
            team,
            { return_to: student_team_path(team, anchor: '!location') }
          ),
          class: "link-button link-button-success"
        ) %>
      </p>
    </dl>
  </div>
</div>
