<div class="well manage-team">
  <%= render 'student/teams/invite_students' %>
  <%= render 'student/teams/pending_invites', invites: @team.pending_invites %>
  <%= render 'student/teams/pending_requests', requests: @team.pending_requests %>
  <%= render 'student/teams/leave_team' %>
</div>
