<li>
  <div class="member-image">
    <%= image_tag("placeholders/natasha-avatar.jpg") %>
  </div>

  <div class="member-info">
    <h3><%= member.full_name %></h3>
    <p><%= member.email %></p>
  </div>
</li>
