<div id="profile-settings" class="h-auto mb-10 lg:mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper bg-energetic-blue text-white p-2">
    <p class="font-bold">My Team</p>
  </div>

  <div id="tab-wrapper" class="p-6">
    <div class="tw-tab-content">
      <a class="tw-active active-tab" href="#student-tab-content">Students</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a href="#mentor-tab-content">Mentors</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a href="#summary-tab-content">Summary</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a href="#location-tab-content">Location</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a href="#division-tab-content" >Division</a>
    </div>
  </div>
</div>
