<% provide :title, t("views.teams.edit.title") %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <h1><%= t("views.teams.edit.title") %></h1>
    <%= render 'teams/form' %>
  </div>
</div>
