<% provide :title, t("views.teams.edit.title") %>
<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6">
  <div class="tab-content tw-active">
    <%= render 'teams/rebranded/form' %>
  </div>
</div>
