<% provide :title, t("views.teams.edit.title") %>

<div class="mx-auto w-full lg:w-1/2">
  <%= render layout: "application/templates/dashboards/energetic_container",
             locals: {heading: t("views.teams.edit.title")} do %>
    <%= render 'teams/rebrand/form', view_type: "edit"%>
  <% end %>
</div>
