<% provide :title, t("views.teams.new.title") %>

<div class="mx-auto w-full lg:w-1/2">
  <%= render layout: "application/templates/dashboards/energetic_container",
             locals: {heading: t("views.teams.new.title")} do %>
    <%= render 'teams/rebrand/form'%>
  <% end %>
</div>

