<div class="team">
  <h1 class="team_name"><%= @team.name %></h1>

  <p class="team_description"><%= @team.description %></p>

  <h2><%= t("views.student.team.show.member_list") %></h2>

  <ul class="team_members">
    <% @team.member_names.each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ul>
</div>
