<% if team_submission.additional_questions? %>
  <h5>Additional Questions</h5>

  <% additional_question_labels(team_submission).each do |question_label| %>
    <p>
      <strong><%= t("submissions.#{question_label}_question") %></strong>
      <%= humanize_boolean(eval("team_submission.#{question_label}")) %>
    </p>

    <i><%= eval("team_submission.#{question_label}_description") %></i>
  <% end %>
<% end %>
