<h1>Team Submission Details</h1>

<%= render 'admin/team_submissions/detail/summary',
  submission: @team_submission,
  user_type: :admin %>

<div class="flex-row">
  <div class="flex-col-sm-12">
    <%= link_to 'Edit this submission',
      edit_admin_team_submission_path(@team_submission) %>

    <br /><br />

    <%= link_to 'See the public/judge version',
      app_path(@team_submission),
      target: :_blank %>
  </div>
</div>

<%= render 'admin/team_submissions/detail/full',
  submission: @team_submission %>
