<div class="profile-pages mentor-dashboard">
  <%= render 'mentor/dashboards/navigation' %>

  <p><%= link_to t("controllers.mentor.team_searches.new.link"),
                 new_mentor_team_search_path %></p>

  <ul class="mentor_teams">
    <% @teams.each do |team| %>
      <li><%= link_to team.name, [:mentor, team] %></li>
    <% end %>
  </ul>
</div>
