<% edit ||= false %>

<li>
  <%= image_tag screenshot.image_url,
    data: {
      image_id: screenshot.id,
    },
    width: "100%" %>
  <% if edit %>
    <%= link_to "".html_safe,
      send("#{current_account.type_name}_screenshot_path",
           screenshot,
           team_id: params[:team_id]),
      class: 'fa fa-trash-o',
      data: {
        remote: true,
        method: :delete,
        confirm: "Are you sure you want to delete the screenshot?",
      } %>
  <% end %>
</li>
