<% provide :title, team.name %>

<div class="p-4">
  <div class="mb-8">
    <%= render "teams/rebrand/team_info", team: team %>
  </div>

  <%= render "application/templates/tw_thick_rule" %>

  <div class="my-8">
    <%= render "teams/public_member_list", team: team %>
    <%= render "teams/public_mentor_list", team: team %>
  </div>
</div>
