<div class="student-debug">
  <h3>Admin debug info</h3>

  <p>
    <strong>Parental consent</strong>
    <%= profile.consent_signed? ? 'signed' : 'not signed' %>
  </p>

  <p>
    <strong>Honor code</strong>
    <%= profile.honor_code_signed? ? 'signed' : 'not signed' %>
  </p>

  <p>
    <strong>Browser / OS Info</strong>
    <%= [profile.browser_name,
         profile.browser_version,
         profile.os_name,
         profile.os_version].compact.join(' - ') %>
  </p>
</div>
