<p>
  <%= t("views.profile_requirements.background_check." +
          "links.background_check_submitted.prefix") %>
</p>
<div>
  <%= link_to t("views.profile_requirements.background_check." +
                  "links.background_check_submitted.text"),
              send(
                "#{current_scope}_background_check_path",
                current_profile.background_check_report_id
              ),
              class: "button" %>
</div>
