<li>
  <%= link_to team_preview.name, team_path(team_preview) %>

  <br />Team Co-mentors:

  <% if (mentors = team_preview.mentors - [profile]).any? %>
    <ul>
      <% mentors.each do |m| %>
        <li>
          <%= link_to m.full_name, mentor_mentor_path(m.id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    None
  <% end %>
</li>
