<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-1/2">
  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Viewing Mentor Profile" } do %>
    <%= render "profiles/rebrand/public_show",
      title: @mentor.first_name,
      account: @mentor %>
  <% end %>
</div>
