<h3>You finished quarterfinals! <span>Four days early!</span></h3>

<p>
  If you had the time to judge this round, we sincerely thank you for
  supporting teams across 20+ countries this season. We appreciate you
  volunteering your time to give insightful and compassionate feedback
  on the hard work of Technovation’s young change makers.
</p>

<div class="grid">
  <div class="grid__col-6">
    <h4>What happens next?</h4>

    <p>
      <strong>If you scored 5 submissions or more</strong>, you will be invited
      to judge in our semifinal round starting on
      <%= ImportantDates.semifinals_judging_begins.to_date.to_s(:short_ordinal) %>.
    </p>

    <p>
      <strong>Semifinals will take place from
      <%= ImportantDates.semifinals_judging_begins.to_date.to_s(:short_ordinal) %> -
      <%= ImportantDates.semifinals_judging_ends.to_date.to_s(:short_ordinal) %>
      </strong>, the number of scores you finish will determine what judge certificate you receive.
    </p>

    <p>
      Your scores from the semifinal round will <strong>determine the top 10 teams</strong>
      that will be finalists in our World Summit event in August of 2020!
    </p>
  </div>

  <div class="grid__col-6">
    <h4>Judge Levels</h4>
    <p>
      <strong>
        Login after
        <%= ImportantDates.certificates_available.to_date.to_s(:short_ordinal) %>
        to view and download your certificate
      </strong>
    </p>

    <dl>
      <dt class="font-weight--unset">5 submissions:</dt>
      <dd>Certified Technovation Judge</dd>

      <dt class="font-weight--unset">5-10 submissions:</dt>
      <dd>Head Judge</dd>

      <dt class="font-weight--unset">11+ submissions:</dt>
      <dd>Judge Advisor</dd>
    </dl>
  </div>
</div>

<p>
  View our <a href="https://technovationchallenge.org/judge-resources/" target="_blank">Judge Resource page</a> for more information.
</p>
