<h3>You finished quarterfinals! <span>Four days early!</span></h3>

<p>
  If you had time to judge, we sincerely thank you for helping us support almost
  2,000 teams in 57 countries. Thank you for your compassion in your feedback to
  the teams, the hours spent supporting them, and for creating our first judge
  community on Slack.
</p>


<div class="grid">
  <div class="grid__col-6">
    <h4>What happens next?</h4>

    <p>
      <strong>If you scored 5 submissions or more</strong>, you will receive your accolades after
      <%= ImportantDates.certificates_available.strftime("%B %-d") %>
    </p>

    <p>
      <strong>
        If you advanced to Head Judge or Judge Adviser
      </strong>
      you will be able to judge in the Semifinals starting on
      <%= ImportantDates.semifinals_judging_begins.strftime("%B %-d") %>.
      You will receive an email to let you know when submissions are
      ready for review.
    </p>

    <p>
      <strong>In the Semifinals</strong>, you will help select 12 out of
      hundreds of teams for the World Pitch Summit in August <%= Season.current.year %>.
    </p>

    <p>
      <strong>At World Pitch</strong>, the finalist teams will pitch their ideas
      to leading experts and enjoy a week of workshops with Silicon Valley companies
    </p>
  </div>

  <div class="grid__col-6">
    <h4>Judge Levels</h4>

    <dl>
      <dt>Certified Technovation Judge</dt>
      <dd>
        Review 5 submissions
        <p>Will receive a Certificate</p>
      </dd>

      <dt>Head Technovation Judge</dt>
      <dd>
        Review 6—10 submissions
        <p>Will receive a Certificate, invited to judge in semifinals</p>
      </dd>

      <dt>Technovation Judge Advisor</dt>
      <dd>
        Review 11+ submissions
        <p>Will receive a Certificate, invited to judge in semifinals, listed as Judge Advisor on our website</p>
      </dd>
    </dl>
  </div>
</div>

<p>
  View our <a href="https://technovationchallenge.org/judge-resources/">Judge Resource page</a> for more information.
</p>
