<% if DisplayCertificates.for(current_judge) %>
  <div id="judge-certificate" class="grid panel">
    <div class="grid__col-12 grid__col--bleed-y">
      <h2>Thank you!</h2>

      <p>Thank you for being a judge this season!</p>

      <p>
        We appreciate your thoughtful feedback and the time you spent
        supporting teams around the world.
      </p>

      <span class="margin--t-xlarge text-align--center">
        <%= link_to 'View your certificate',
          @certificate_file_url,
          class: "button",
          target: :_blank %>
      </span>
    </div>
  </div>
<% elsif SeasonToggles.display_scores? %>
  <%= render 'dashboards/no_certificates' %>
<% end %>