<% if SeasonToggles.display_scores? %>
  <div id="judge-certificate">
    <h1 class="font-bold">Thank You!</h1>


    <% if current_judge.judge_certificates.present? && !current_judge.suspended? %>
      <p class="mt-4">Thank you for participating in this season of Technovation Girls. Please click the button below to access your certificate.</p>
      <div class="my-8 text-center">
        <%= link_to 'View your certificate',
          @certificate_file_url,
          class: "tw-green-btn shadow-md",
          target: :_blank %>
      </div>
    <% else %>
      <p>
        You don't have a certificate for this season.
        Please contact <%= mail_to ENV.fetch("HELP_EMAIL") %> if you believe this is an error.
      </p>
    <% end %>
  </div>
<% else %>
  <p>Certificates are currently unavailable.</p>
<% end %>
