<li class="completion-step">
    <div class="flags">
      <span class="flag flag-events">
        Judging
      </span>
    </div>

  <% if SeasonToggles.select_regional_pitch_event? &&
    current_judge.live_event? %>

    <h1 class="content-heading"> Regional Pitch Events</h1>

    <p>
      You are attending x event.
    </p>

    <div class="step-actions">
      <%= link_to 'View Details',
          #,
          class: "button" %>
    </div>
  <% else %>
    <h1 class="content-heading"> Virtual Judging</h1>

    <p>
      You will be judging submissions online. Quarterfinals judging begins in x days.
      </p>
  <% end %>
</li>
