<header class="navigation" role="banner">
  <div class="container">
    <div class="flex-row">
      <%= link_to image_tag("tc-logo-white.svg"),
                  application_dashboard_path,
                  class: "logo" %>

      <nav>
        <ul>
          <li class="nav-link">
            <%= link_to t('views.application.signout'), signout_path, method: :delete %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
