<nav class="profile">
  <ul>
    <li><%= link_to "Admin", admin_dashboard_path %></li>
    <li><%= link_to "Pending Regional Ambassadors", admin_pending_regional_ambassadors_path %></li>
    <li><%= link_to "Scoring Rubric", admin_score_categories_path %></li>
  </ul>
</nav>
