<% if scores.official.any? %>
  <h5>Official Scores - These scores counted</h5>

  <%= render 'scores/table', scores: scores.official %>
<% end %>

<% if scores.unofficial.any? %>
  <h5>Unofficial Scores - These scores are from a celebration event</h5>

  <%= render 'scores/table', scores: scores.unofficial %>
<% end %>
