.pagination {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  a {
    text-decoration: none;
  }

  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  a, span, em {
    background: $pagination-background;
    border-radius: $base-border-radius;
    border: $pagination-border;
    color: $pagination-color;
    outline: none;
    padding: ($base-spacing / 4) ($gutter / 2);

    &:hover,
    &:focus {
      background: $pagination-hover-background;
      color: $base-link-color;
    }

    &:active {
      background: $pagination-background;
    }
  }

  em, span {
    background: $pagination-hover-background;
    border: none;

    &:hover {
      color: $pagination-color;
    }
  }
}
