<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @first_name %>,
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <%= t("views.regional_ambassador.dashboards.show.#{@status}_message") %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <%= render "regional_ambassador/dashboards/#{@status}_show" %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Best,<br />The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
