<p>Team left event email</p>

<p>Should tell <%= @name %> that <%= @team_name %> left <%= @event.name %></p>

<p>Then it should list the current event participants here:</p>

<ul>
  <li>TODO...</li>
</ul>


<p>Then link the RA to the event page: <%= link_to @event_url, @event_url %></p>

<p>Regards,<br />
Joe</p>
