<h1><%= t('views.judges.scores.index.title') %></h1>

<p>
  <%= link_to t('controllers.judges.scores.new.add'),
              new_judges_score_path,
              class: "btn" %>
</p>

<table class="table-minimal">
  <thead>
    <tr>
      <th><%= t('models.scores.total') %></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
