<% admin_chapter_ambassador ||= false %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "mentor/teams/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Students" } do %>
    <%= render "teams/edit_students",
        admin_chapter_ambassador: admin_chapter_ambassador,
        team: @team %>
  <% end %>
</div>
