<% feature = TechnovationFeature.new(current_profile, feature) %>

<p><%= feature.gerundize %> is not available right now.</p>

<%= simple_format feature.explanation(:not_available) %>

<% if feature.only_requires_action? %>
  <%= feature.actions_required_as_html_list.html_safe %>
<% end %>

<% if feature.requires_onboarding? %>
  <%= feature.onboarding_steps_required_as_html_list.html_safe %>
<% end %>