<h3>Technical - <%= score.technical_total %></h3>

<dl>
  <dt>
    The app is fully functional and has no noticeable bugs.
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(score.app_functional) %>
  </dd>

  <dt>
    The demo video demonstrates the functionality of the app well.
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(score.demo) %>
  </dd>

  <dt>Comment:</dt>
  <dd><%= simple_format score.technical_comment %></dd>
</dl>
