<div class="home-page">

  <div class="home-page__form-wrapper simple-card">
    <h1 class="appy-title">Create Your Judge Account</h1>
    <%= render 'signup_attempts/form', attempt: @signup_attempt %>
  </div>

  <div class="home-page__welcome-message">
    <%= render 'post_message' %>
  </div>

</div>
    
