<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-10 grid__col-md-6">
    <% if SeasonToggles.registration_open? %>
      <h2>Create Your Account</h1>
      <%= render 'signup_attempts/form', attempt: @signup_attempt %>
    <% else %>
      <%= render 'off_season_splash' %>
    <% end %>
  </div>
</div>

<% if SeasonToggles.registration_open? %>
  <%= render 'post_message' %>
<% end %>
