<h2><%= t("views.application.dashboards.show.heading") %></h2>

<p><%= t("views.application.dashboards.show.intro", year: Season.current.year) %></p>

<p><%= t("views.application.dashboards.show.body",
         previous_year: Season.current.year - 1,
         current_year: Season.current.year,
         signin_link: link_to(t("views.application.signin").downcase, signin_path),
         signup_link: link_to(t("views.application.signup").downcase, signup_path)).html_safe %></p>

<p><%= t("views.application.dashboards.show.outro", link: mail_to("info@technovationchallenge.org")).html_safe %></p>

