<h1>The static placeholder home page :)</h1>

<h2>Sign in as a judge:</h2>

<dl>
  <dt>Email</dt>
  <dd>judge@judging.com</dd>

  <dt>Password</dt>
  <dd>judge@judging.com</dd>
</dl>

<hr />

<h2>Sign in as an admin:</h2>

<dl>
  <dt>Email</dt>
  <dd>admin@admin.com</dd>

  <dt>Password</dt>
  <dd>admin@admin.com</dd>
</dl>

<hr />

<p>(Yes, the emails and their passwords are the same)</p>
