<% provide :title, "Update your personal summary" %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <h3>Add your personal summary</h3>

    <%= render 'errors', record: current_mentor %>

    <%= render 'form' %>
  </div>
</div>
