---
http_interactions:
- request:
    method: patch
    uri: https://us4.api.mailchimp.com/3.0/lists/49795c1e0e/members/6e414e5f17dc190d4fca9211c983b1c3
    body:
      encoding: UTF-8
      string: '{"email_address":"engineering+factorycha@technovation.org","merge_fields":{"BIRTHYEAR":1993,"COUNTRY":"United
        States","FNAME":"Chapter Ambassador","LNAME":"Account","NAME":"Chapter Ambassador
        Account","PARENTNAME":"","PARENTREG":"false"},"location":{"latitude":0.0,"longitude":0.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YXBpa2V5OmM3ZWI4ZTE5ODRkNDc0NTk1NzBhNGNjOWU0NmExYTRkLXVzNA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us4.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"2f0ba3e4-8f4b-b9e2-6d4e-49a4ce4704ef"}'
  recorded_at: Thu, 01 Feb 2024 22:42:59 GMT
- request:
    method: post
    uri: https://us4.api.mailchimp.com/3.0/lists/49795c1e0e/members
    body:
      encoding: UTF-8
      string: '{"email_address":"engineering+factorycha@technovation.org","merge_fields":{"BIRTHYEAR":1993,"COUNTRY":"United
        States","FNAME":"Chapter Ambassador","LNAME":"Account","NAME":"Chapter Ambassador
        Account","PARENTNAME":"","PARENTREG":"false"},"location":{"latitude":41.50196838,"longitude":-87.64051818},"tags":["chapter
        ambassador"],"status":"subscribed"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YXBpa2V5OmM3ZWI4ZTE5ODRkNDc0NTk1NzBhNGNjOWU0NmExYTRkLXVzNA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us4.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"f6a48c7c-57ea-4eea-b38f-e0ae4d8f4a0b"}'
  recorded_at: Thu, 01 Feb 2024 22:42:59 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/candidates
    body:
      encoding: UTF-8
      string: '{"email":"engineering+factorycha@technovation.org","first_name":"Chapter
        Ambassador","last_name":"Account","dob":"1993-02-01","work_locations":[{"country":"US"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzdlY2E4ZmRmNDAxNGM0N2Y5MzUzNGNhMWZkODYzNTY3ZGFjNTMzMTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1199'
      Ratelimit-Reset:
      - '59'
      X-Checkr-Region:
      - us-east-1
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '2024-02-01T22:44:00Z'
    body:
      encoding: UTF-8
      string: '{"id":"acd0aa2f309607d101489584","uri":"/v1/candidates/acd0aa2f309607d101489584","created_at":"2024-02-01T22:43:01Z","first_name":"Chapter
        Ambassador","last_name":"Account","middle_name":null,"mother_maiden_name":null,"dob":"1993-02-01","ssn":null,"email":"engineering+factorycha@technovation.org","zipcode":null,"phone":null,"driver_license_state":null,"driver_license_number":null,"copy_requested":false,"previous_driver_license_state":null,"previous_driver_license_number":null,"adjudication":null,"custom_id":null,"no_middle_name":false,"updated_at":"2024-02-01T22:43:01Z","locale":null,"object":"candidate","report_ids":[],"geo_ids":[]}'
  recorded_at: Thu, 01 Feb 2024 22:43:01 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/invitations
    body:
      encoding: UTF-8
      string: '{"package":"tasker_standard","candidate_id":"acd0aa2f309607d101489584","work_locations":[{"country":"US"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzdlY2E4ZmRmNDAxNGM0N2Y5MzUzNGNhMWZkODYzNTY3ZGFjNTMzMTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1198'
      Ratelimit-Reset:
      - '59'
      X-Checkr-Region:
      - us-east-1
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1198'
      X-Ratelimit-Reset:
      - '2024-02-01T22:44:00Z'
    body:
      encoding: UTF-8
      string: '{"id":"20eef9fac856a41dc54e2ce7","status":"pending","uri":"/v1/invitations/20eef9fac856a41dc54e2ce7","invitation_url":"https://apply.checkrhq-staging.net/invite/technovation/39ea24ae39e057d39e1a448e6503cf7f","completed_at":null,"deleted_at":null,"package":"tasker_standard","created_at":"2024-02-01T22:43:01Z","expires_at":"2024-02-09T07:59:59Z","tags":[],"locale":null,"archived":false,"archived_info":{},"object":"invitation","candidate_id":"acd0aa2f309607d101489584","report_id":null}'
  recorded_at: Thu, 01 Feb 2024 22:43:02 GMT
recorded_with: VCR 6.1.0
