---
http_interactions:
- request:
    method: patch
    uri: https://us4.api.mailchimp.com/3.0/lists/49795c1e0e/members/3a1c0861c9ed9f842f80e71e16314fe9
    body:
      encoding: UTF-8
      string: '{"email_address":"engineering+factorymentor@technovation.org","merge_fields":{"BIRTHYEAR":2002,"COUNTRY":"India","FNAME":"Mentor","LNAME":"FactoryBot","NAME":"Mentor
        FactoryBot","PARENTNAME":"","PARENTREG":"false"},"location":{"latitude":0.0,"longitude":0.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YXBpa2V5OmM3ZWI4ZTE5ODRkNDc0NTk1NzBhNGNjOWU0NmExYTRkLXVzNA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us4.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"829c05ee-d946-aa7f-d5c8-32fd321cbd34"}'
  recorded_at: Thu, 01 Feb 2024 22:38:43 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/candidates
    body:
      encoding: UTF-8
      string: '{"email":"engineering+factorymentor@technovation.org","first_name":"Mentor","last_name":"FactoryBot","dob":"2002-02-01","work_locations":[{"country":"IN"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzdlY2E4ZmRmNDAxNGM0N2Y5MzUzNGNhMWZkODYzNTY3ZGFjNTMzMTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1199'
      Ratelimit-Reset:
      - '15'
      X-Checkr-Region:
      - eu-west-1
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '2024-02-01T22:39:00Z'
    body:
      encoding: UTF-8
      string: '{"id":"41016415c809397416b4f1614278f5","uri":"/v1/candidates/41016415c809397416b4f1614278f5","created_at":"2024-02-01T22:38:45Z","first_name":"Mentor","last_name":"Factorybot","middle_name":null,"mother_maiden_name":null,"dob":"2002-02-01","ssn":null,"email":"engineering+factorymentor@technovation.org","zipcode":null,"phone":null,"driver_license_state":null,"driver_license_number":null,"copy_requested":false,"previous_driver_license_state":null,"previous_driver_license_number":null,"adjudication":null,"custom_id":null,"no_middle_name":false,"updated_at":"2024-02-01T22:38:45Z","locale":"en","object":"candidate","report_ids":[],"geo_ids":["212453a9f300ff10d9ad0228"]}'
  recorded_at: Thu, 01 Feb 2024 22:38:46 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/invitations
    body:
      encoding: UTF-8
      string: '{"package":"international_basic_plus","candidate_id":"41016415c809397416b4f1614278f5","work_locations":[{"country":"IN"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzdlY2E4ZmRmNDAxNGM0N2Y5MzUzNGNhMWZkODYzNTY3ZGFjNTMzMTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1198'
      Ratelimit-Reset:
      - '14'
      X-Checkr-Region:
      - eu-west-1
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1198'
      X-Ratelimit-Reset:
      - '2024-02-01T22:39:00Z'
    body:
      encoding: UTF-8
      string: '{"id":"4101648f2924189486a7344216a979","status":"pending","uri":"/v1/invitations/4101648f2924189486a7344216a979","invitation_url":"https://apply.checkrhq-staging.net/invite/technovation/4101642fe1fc9f3e772fddd173fbcd","completed_at":null,"deleted_at":null,"package":"international_basic_plus","created_at":"2024-02-01T22:38:47Z","expires_at":"2024-02-09T07:59:59Z","tags":[],"locale":"en","archived":false,"archived_info":{},"object":"invitation","metadata":{"work_location_0":{"country":"IN"}},"candidate_id":"41016415c809397416b4f1614278f5","report_id":null}'
  recorded_at: Thu, 01 Feb 2024 22:38:47 GMT
recorded_with: VCR 6.1.0
