<div class="text-center">
  <h2 class="font-bold text-2xl text-tg-magenta">YOU DID IT!</h2>

  <p class="mt-4">
    Congratulations on developing real change for your community and the world.
    We hope you take the time to celebrate your accomplishment with your team —
    and maybe even show off your certificate! 👏
  </p>

  <p class="mt-4">
    Download and share your achievement on
    <a class="tw-link" target="_blank" href="https://twitter.com/technovation">Twitter</a>,
    <a class="tw-link" target="_blank" href="https://www.facebook.com/technovationglobal">Facebook</a>,
    <a class="tw-link" target="_blank" href="https://www.instagram.com/technovationglobal">Instagram</a>, or
    <a class="tw-link" target="_blank" href="https://www.linkedin.com/company/technovation">LinkedIn</a>
    with #Technovation2022Alumna and tag Technovation!
  </p>

  <p class="my-4">
    Congratulations again, and we hope you enjoy your certificate.
  </p>

  <%= image_tag "certificates-congrats.svg", width: 500, class: 'mx-auto my-8' %>

  <div class="certificates-btn-wrapper">
      <%= link_to "Open your #{@certificate.cert_type == 'completion' ? 'quarterfinalist' : @certificate.cert_type} certificate",
                  @certificate.file_url,
                  target: "_blank",
                  class: "tw-green-btn" %>
  </div>
</div>
