<p class="text-center mb-8">
  Thank you for being part of Technovation Girls! No scores are available
  since your project submission was incomplete. Please click on Certificates to
  access your certificate for participating this season.
</p>
