<p>
  The team clearly communicates the problem they are addressing. <%= score.problem_clearly_communicated %>
</p>
<p>
  The team’s passion and energy for solving the problem is evident in their pitch delivery. <%= score.passion_energy %>
</p>
<p>
  <%= score.pitch_comment %>
</p>
