<p id="post-survey-text" class="text-center">Before you can view your scores and certificates, please complete the post-survey.</p>
<% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
  <div class="text-center my-4">
    <%= link_to "Complete Survey",
                SeasonToggles.survey_link(
                  current_scope, "url",
                  format_url: true,
                  account: current_account
                ),
                target: "_blank",
                class: "tw-green-btn"
    %>
  </div>
<% end %>