<% if current_team.submission.complete? && current_team.submission.scores.complete.any? %>
  <div class="text-center mt-8 mb-8">
    <p class="mb-4 text-2xl text-tg-magenta uppercase font-bold">
      Congratulations, your team was a <%= current_team.submission.contest_rank %>!
    </p>
  </div>

  <%= render "student/scores/scores_overview" %>

<% elsif current_team.submission.complete? %>

  <p>
    Congratulations on completing your submission! Your certificate is ready.
    To see your scores from your live event, ask your Chapter Ambassador for a copy.
  </p>

<% else %>
  <h3>Congratulations!</h3>

  <p>
    Congratulations on completing the <%= Season.current.year %>
    season of Technovation! Your can use the feedback you
    received at your pitch event to help learn more and to
    participate in Technovation next year. Your team should be proud
    of your work and share it with your friends and mentors!
  </p>
<% end %>