<div class="bg-energetic-blue rounded w-full lg:w-3/4 mx-auto shadow-md mb-16">
  <div class="p-8 text-center">
    <% if @quarterfinals_scores.any? %>
      <%= render "student/scores/average_score",
                 scores: @quarterfinals_scores,
                 round: :quarterfinals %>
    <% end %>
    <% if @semifinals_scores.any? %>
      <%= render "student/scores/average_score",
                 scores: @semifinals_scores,
                 round: :semifinals %>
    <% end %>
  </div>
</div>

<div id="student-finished-scores" class="mb-10">
  <% if @all_scores.any? %>
    <%= render "student/scores/scores",
               scores: @all_scores %>
  <% else %>
    <p>Sorry, there are no available finished scores!</p>
  <% end %>
</div>

<div class="mb-10">
  <%= render "student/scores/score_explanation" %>
</div>
