<% questions = Questions.for(score) %>

<table class="score-section-table">
  <% questions.in_section(section).each do |question| %>
    <tr>
      <td><%= question.text %></td>
      <td><%= score.total_for_question(question) %></td>
    </tr>
  <% end %>

  <tr>
    <td class="empty"></td>
    <td><%= score.total_for_section(section) %></td>
  </tr>
</table>

<h6>Judge's comment</h6>
<%= simple_format score.comment_for_section(section) %>