<div class="tw-tab-content">
  <a class="tw-active active-tab" id="scores-tab" href="#scores-tab-content" data-heading="Scores">Scores</a>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <a id="certificates-tab" href="#certificates-tab-content" data-heading="Certificates">Certificates</a>
</div>