<h3 class="heading--page">View your Scores and Certificates</h3>

<div class="grid judging-banner">
  <div class="grid__col-6">
    <h3 class="judging-banner__header">
      Scores Explained
    </h3>

    <dl>
      <dt>1: Incomplete</dt>
      <dd>The work is missing.</dd>

      <dt>2: Needs Improvement.</dt>
      <dd>The work needs major improvement.</dd>
    </dl>
  </div>

  <div class="grid__col-6">
    <dl>
      <dt>3: Acceptable.</dt>
      <dd>The work needs minor improvement.</dd>

      <dt>4: Good.</dt>
      <dd>The work is of good quality.</dd>

      <dt>5: Excellent.</dt>
      <dd>The work is of excellent quality.</dd>
    </dl>
  </div>
</div>

<div id="student-scores-tabs" class="tabs">
  <ul class="score-tabs-menu tab-menu">
    <li class="tab-link">
      <button
        class="tab-button"
        data-tab-id="quarterfinal"
      >Quarterfinal</button>
    </li>

    <% if @semifinals_scores.any? %>
      <li class="tab-link">
        <button
          class="tab-button"
          data-tab-id="semifinal"
        >Semifinal</button>
      </li>
    <% end %>

    <li class="tab-link">
      <button
        class="tab-button"
        data-tab-id="certificates"
      >Certificates</button>
    </li>
  </ul>

  <div class="score-tab-content content">
    <div class="score-tab tab-content" id="quarterfinal">
      <%= render "student/scores/scores",
        scores: @quarterfinals_scores.official %>

      <% if @quarterfinals_scores.unofficial.any? %>
        <%= render "student/scores/scores",
          scores: @quarterfinals_scores.unofficial %>
      <% end %>
    </div>

    <div class="score-tab tab-content" id="semifinal">
      <% if @semifinals_scores.any? %>
        <%= render "student/scores/scores",
          scores: @semifinals_scores %>
      <% end %>
    </div>

    <div class="score-tab tab-content" id="certificates">
      <h2>Congratulations on all your hard work!</h2>

      <p>Thank you for taking the lead in changing your community for the better.</p>

      <p>Your participation in our program is truly valued and we wish you the best in your future endeavor!</p>

      <%= image_tag "certificates-congrats.svg", width: 500 %>

      <button class="certificates-btn">
        View your certificate
      </button>
    </div>
  </div>
</div>