 <h3 id="header">View your Scores and Certificates</h3>

  <div class="grid judging-banner">
    <div class="grid__col-6 left">
      <h3 class="content-heading grid__cell" id="banner-header">How judging works</h3>
    </div>

    <div class="grid__col-6">
      <ol class="grid__cell right">
        <li><b>Incomplete.</b> The work is missing.</li>
        <li><b>Needs Improvement.</b> The work needs major improvement.</li>
        <li><b>Acceptable.</b> The work needs minor improvement.</li>
        <li><b>Good.</b> The work is of good quality.</li>
        <li><b>Excellent.</b> The work is of excellent quality.</li>
      </ol>
    </div>
  </div>


  <div class="tabs">
    <ul class="tab-menu">
      <li class=""><a href="#tab1-Quarterfinal">Quarterfinal</a></li>
      <li><a href="#tab2-Semifinal">Semifinal</a></li>
      <li><a href="#tab3-Certificates">Certificates</a></li>
    </ul>

    <div id="tab1-Quarterfinal">
        <div class="tab-content">
          <%= render "student/scores/scores",
              scores: @quarterfinals_scores.official %>

          <% if @quarterfinals_scores.unofficial.any? %>
            <%= render "student/scores/scores",
                scores: @quarterfinals_scores.unofficial %>
          <% end %>
        </div>
    </div>

    <div id="tab2-Semifinal">
      <% if @semifinals_scores.any? %>
          <div class="tab-content">
            <%= render "student/scores/scores",
                scores: @semifinals_scores %>

        </div>
      <% end %>
    </div>

    <div id="tab3-Certificates">
        <div class="tab-content">
         Insert certificates here.
        </div>
    </div>
  </div>
