<h3 class="heading--page">View your Scores and Certificates</h3>

<div id="student-scores-tabs" class="tabs">
  <ul class="score-tabs-menu tab-menu">
    <li class="tab-link">
      <button
        class="tab-button"
        data-tab-id="quarterfinal"
      >Quarterfinals</button>
    </li>

    <% if @semifinals_scores.any? %>
      <li class="tab-link">
        <button
          class="tab-button"
          data-tab-id="semifinal"
        >Semifinals</button>
      </li>
    <% end %>

    <li class="tab-link">
      <button
        class="tab-button"
        data-tab-id="certificates"
      >Certificates</button>
    </li>
  </ul>

  <div class="score-tab-content content">
    <div class="score-tab tab-content" id="quarterfinal">
      <%= render "student/scores/scores",
        round: :quarterfinals,
        scores: @quarterfinals_scores.official %>

      <% if @quarterfinals_scores.unofficial.any? %>
        <%= render "student/scores/scores",
          round: :unofficial,
          scores: @quarterfinals_scores.unofficial %>
      <% end %>
    </div>

    <div class="score-tab tab-content" id="semifinal">
      <% if @semifinals_scores.any? %>
        <%= render "student/scores/scores",
          round: :semifinals,
          scores: @semifinals_scores %>
      <% end %>
    </div>

    <div class="score-tab tab-content" id="certificates">
      <h2>Congratulations on all your hard work!</h2>

      <p>Thank you for taking the lead in changing your community for the better.</p>

      <p>Your participation in our program is truly valued and we wish you the best in your future endeavor!</p>

      <%= image_tag "certificates-congrats.svg", width: 500 %>

      <button class="certificates-btn">
        View your certificate
      </button>
    </div>
  </div>
</div>