<div class="team-search-result">
  <div class="team-search-result__photo">
    <%= image_tag result.team_photo_url(:thumb), width: 80, height: 80 %>
  </div>

  <div class="team-search-result__info-wrapper">
    <p class="team-search-result__name">
      <%= link_to result.name, [:new, account_type, :join_request, { team_id: result.id }] %>
    </p>

    <p><%= truncate(result.description, length: 50) %></p>

    <p><%= result.creator_address_details %></p>
  </div>
</div>
