<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h3><%= t("views.join_requests.show.missing") %></h3>

      <p>
        Maybe this person sent a request to your team by mistake,
        or they may have sent out a lot of requests and joined the
        first team that approved them.
      </p>

      <p>
        When a student joins a team, any other join requests
        they sent will be marked as deleted. That could be why
        you can no longer see this request.
      </p>
    </div>
  </div>
</div>
