<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <p>It appears that the person who sent this request may have deleted it.</p>
    </div>
  </div>
</div>
