<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 grid__col--bleed-x">
    <h3 class="reset">
      You have requested to join this team
    </h3>
  </div>
</div>

<%= render "teams/public_show", team: @join_request.team %>
