---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=existing@attempt.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "existing@attempt.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": false, "mailbox_verification":
        null, "parts": {"display_name": null, "domain": "attempt.com", "local_part":
        "existing"}, "reason": "SMTP server(s) check failed (0.0.0.0) - Connection
        refused"}'
  recorded_at: Tue, 24 Jul 2018 18:28:56 GMT
recorded_with: VCR 3.0.3
