<div class="panel panel--left">
  <h1>Edit location</h1>
  <h3>For team <span><%= @team.name %></span></h3>

  <p>
    <%= link_to 'Go back to team page', admin_team_path(@team) %>
  </p>

  <%= render 'signups/location_fields', team_id: @team.id %>
</div>