<% provide :title, "Change your dashboard introduction" %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-xs-8">
    <h5>
      Change your dashboard introduction
    </h5>

    <%= render "chapter_ambassador/introductions/form" %>
  </div>
</div>
