  <div id="cha-student-intro-wrapper">
    <div class="bg-white p-6 rounded-md flex flex-col lg:flex-row justify-between">
      <section id="cha-avatar" class="mx-4 mb-4 lg:mb-0">
        <p>
          It looks like there is no Chapter Ambassador in your area. You can still
          look for a mentor in your community or on this website after you form a team,
          or check out the other resources on your dashboard!
        </p>

        <%= link_to "View other nearby chapters on our chapter map!",
          "https://www.google.com/maps/d/viewer?mid=1iNTtG9RMwX6S8qyQiWq27JYIIU6dYkd4&hl=en_US&ll=16.477516426989585%2C-30.326061099999947&z=2",
          class: "inline-block mt-8 tw-link" %>
      </section>
    </div>
  </div>
