  <div id="cha-student-intro-wrapper">
    <div class="bg-white p-6 rounded-md flex flex-col lg:flex-row justify-between">
      <section id="cha-avatar" class="mx-4 mb-4 lg:mb-0">
       <p>
         It looks like there is no Chapter Ambassador in your area. You can still join our
         <%= link_to "live classes",
                     "https://technovationchallenge.org/live-classes/",
                     target: "_blank",
                     class: "tw-link" %>,
         look for a mentor in your community or on this website after you form a team,
         or check out the other resources on your dashboard!
       </p>
      </section>
    </div>
  </div>
