<div class="text-white text-4xl md:text-6xl font-black mb-8 uppercase">
  Technovation Girls
</div>
<div class="text-white text-3xl font-bold mb-8">
  <p class="cursor-pointer hover:text-energetic-blue student-meet-your-ambassador">
    Meet your Ambassador &#8227;
  </p>
</div>
<div class="meet-your-ambassador-intro">
  <div class="bg-white p-6 rounded-md flex flex-col lg:flex-row justify-between">
    <section id="cha-avatar" class="mx-4 mb-4 lg:mb-0">
      <p>
        Welcome to Technovation Girls! Currently, you are not affiliated with a Chapter or Club.
      </p>

      <% if current_scope == "student" %>
        <p>
          Please check out our
          <%= link_to "curriculum",
            "https://technovationchallenge.org/curriculum-intro/registered/new/",
            target: "_blank",
            class: "tw-link"
          %>
          and connect with a
          <%= link_to_if current_profile.onboarded?,
            "mentor",
            new_student_mentor_search_path,
            class: "tw-link"
          %>
          for support as you work on your Technovation Girls project.
        </p>
      <% end %>

      <%= render "dashboards/rebrand/update_chapterable", chapterable_type: "Chapter or Club" %>
    </section>
  </div>
</div>
