<div class="text-white text-4xl md:text-6xl font-black mb-8 uppercase">
  Technovation Girls
</div>
<div class="text-white text-3xl font-bold mb-8">
  <p class="cursor-pointer hover:text-energetic-blue student-meet-your-ambassador">
    Meet your Ambassador &#8227;
  </p>
</div>
<%= render 'dashboards/rebrand/chapter_ambassador_missing' %>