<div class="simple-card ts-app-description">
  <div class="ts-app-description__top-wrapper">
    <div class="ts-app-description__label">
      App Name
    </div>
  </div>

  <p class="ts-app-description__name">
    <%= submission.app_name %>
  </p>

  <div class="ts-app-description__label">
    App Description
  </div>

  <div class="ts-app-description__description no-edit">
    <%= simple_format submission.app_description %>
  </div>
</div>
