<% if submission.team.division.senior? %>
  <div class="card">
    <div class="card__heading submission-step__business">
      Business Plan
    </div>
    <div class="card__body">
      <% if submission.business_plan %>
        <p>
          <%= link_to "Download the business plan",
            submission.business_plan_url,
            target: :_blank %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
