<% judge_note ||= false %>

<% if submission.team.division.senior? %>
  <div class="card">
    <div class="card__heading submission-step__business">
      Business Plan
    </div>
    <div class="card__body">
      <% if submission.business_plan %>
        <p>
          <%= link_to "Download the business plan",
            submission.business_plan_url,
            target: :_blank %>
        </p>

        <% if judge_note %>
          <p class="judge-note">
            <%= mail_to "info@technovationchallenge.org",
              "Contact Technovation",
              subject: "Submission problem for Team: #{submission.team_name}",
              body: "There is a problem with the business plan link" %>
            if the link is broken
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
