<div class="card">
  <div class="card__heading submission-step__code">
    <span class="card__heading-text">
      Development Platform
    </span>
  </div>

  <div class="card__body">
    <%= submission.development_platform_text %>
  </div>
</div>
