<% submission.while_qualified do %>
  <p>
    <%= link_to "Submit for judging", "#", class: "button" %>
  </p>

  <p class="scent">
    Great job! Your app is qualified to be submitted for judging!
  </p>

  <p class="scent--strong">
    Even after submitting,
    <strong>you will be able to make changes</strong>
    until April 26.
  </p>
<% end %>

<% submission.while_unqualified do %>
  <p>
    <%= link_to "Submit for judging", "#",
      class: "button button--disabled",
      disabled: true %>
  </p>

  <p class="scent">
    Once your team is fully qualified, and you have finished all of the
    deliverables, you will be able to submit your app for the judging
    rounds.
  </p>

  <p class="scent">
    Even after submitting,
    <strong>you will be able to make changes</strong>
    until April 26.
  </p>
<% end %>
