<p class="margin--b-large">
  Technovation Girls’ mission is to educate and empower 
  <%= link_to "young women", "https://www.technovation.org/diversity-equity-inclusion-statement/" %>
  to make a difference in their community using technology. In order to
  maintain a fair, safe, fun, and friendly competition for all involved,
  it is important that all participants agree to support young women in
  realizing this mission.
</p>

<p class="margin--b-large">
  You promise that your team’s <%= Season.current.year %>
  Technovation Girls submission is created solely by the students
  on your <%= Season.current.year %> Technovation team.  If your
  team remixes other materials or updates a past project, that is
  acceptable as long as your team significantly improves or modifies
  the original materials. You or your team members agree to cite any
  sources you use, such as AI assistance, tutorials, code libraries,
  code templates, datasets, and more in the Learning Journey section
  of your submission.
</p>

<p class="margin--b-large">
  Finally, students and mentors promise that while they may have received assistance
  from mentors in learning new skills and finding resources, the mentors
  do not create, design, develop or write any aspect of the
  team’s submission deliverables.
</p>
