<p class="mb-4">
  Technovation's mission is to empower
  <%= link_to "girls",
    "https://www.technovation.org/diversity-equity-inclusion-statement/",
    class: "tw-link",
    target: "_blank" %>
  to become leaders, technology innovators and real-world problem solvers.
  To maintain a fair, safe, fun, and friendly competition for all involved,
  it is important that all team members and mentors agree to support one another
  in realizing this mission.
</p>

<p class="mb-4">
  You promise that your team’s <%= Season.current.year %>
  Technovation Girls submission is created by the students
  on your <%= Season.current.year %> Technovation team. If your
  team remixes other materials or updates a past project, that is
  acceptable IF your team significantly improves or modifies
  the original materials. You or your team members agree to cite any
  sources you use, such as tutorials, code libraries,
  code templates, datasets, and more in the
  <span class="font-medium">Learning Journey</span> section of
  your submission. Additionally, if any team member used AI to
  help your team in any part of your project, your team agrees
  to share details in the Learning Journey section.
</p>

<p class="mb-4">
  Finally, students and mentors promise that while they may have received assistance
  from mentors in learning new skills and finding resources, the mentors
  do not create, design, develop, or write any aspect of the
  team’s submission deliverables.
</p>
