<% if submission.team.selected_regional_pitch_event.live? %>
  <div class="card">
    <div class="card__heading submission-step__marketing">
      Pitch Presentation
    </div>

    <div class="card__body">
      <% if submission.pitch_presentation %>
        <p>
          <%= link_to "Download the pitch presentation",
            submission.pitch_presentation_url,
            target: :_blank %>
        </p>

        <% if judge_note %>
          <p class="judge-note">
            <%= mail_to "info@technovationchallenge.org",
              "Contact Technovation",
              subject: "Submission problem for Team: #{submission.team_name}",
              body: "There is a problem with the pitch presentation link" %>
            if the link is broken
          </p>
        <% end %>
      <% else %>
        <p class="judge-note">
          Pitch presentations are not due until the date of the live event.
          Check this box again later.
        </p>
      <% end %>
    </div>
  </div>
<% end %>
