<div class="card">
  <div class="card__heading">
    Source Code
  </div>

  <div class="card__body">
    <% if submission.detect_source_code_url %>
      <p>
        <%= link_to submission.source_code_url_text,
          submission.detect_source_code_url,
          target: "_blank" %>
      </p>
    <% end %>
  </div>
</div>
