<% judge_note ||= false %>

<div class="card">
  <div class="card__heading">
    Source Code
  </div>

  <div class="card__body">
    <% if submission.detect_source_code_url %>
      <p>
        <%= link_to "View the source code",
          submission.detect_source_code_url,
          target: "_blank" %>
      </p>

      <% if judge_note %>
        <p class="judge-note">
          <%= mail_to "info@technovationchallenge.org",
            "Contact Technovation",
            subject: "Submission problem for Team: #{submission.team_name}",
            body: "There is a problem with the source code link" %>
          if the link is broken
        </p>
      <% end %>
    <% end %>
  </div>
</div>
