<div class="card">
  <div class="card__heading submission-step__ideation">
    <span class="card__heading-text">
      Sustainable Development Goal
    </span>
  </div>

  <div class="card__body">
    <% if submission.stated_goal %>
      <p><strong><%= submission.stated_goal %></strong></p>
      <p><%= submission.stated_goal_explanation %></p>
    <% end %>
  </div>
</div>
