<div class="card">
  <div class="card__heading">
    Technical Checklist
  </div>

  <div class="card__body">
    <div class="card__actions-row card__actions-row--pos-end">
      <%= link_to "View the technical checklist",
        technical_checklist_path(submission),
        class: "appy-button" %>
    </div>
  </div>
</div>
