<ul class="feed">
  <%= render_activities(@activities) %>
</ul>

<h5 class="reset">
  Inactive mentors
</h5>

<ul class="feed">
  <% @top_inactive.each do |inactive| %>
    <li class="feed--item">
      <%= image_tag inactive.photo_url, class: "thumbnail-xs" %>
      <%= link_to inactive.name, [:regional_ambassador, inactive] %>
      hasn't been active for
      <%= time_ago_in_words(inactive.activities.last.created_at) %>
    </li>
  <% end %>
</ul>
