<div class="panel">
  <h4>
    <%= current_ambassador.full_name %> &ndash;
    <%= current_ambassador.region_name %>
    <%= Season.current.year %>
  </h4>

  <p>
    We are working hard on a brand new Regional Ambassador
    design with updated features.
  </p>

  <p>
    Technovation will email you as updates are released!
  </p>
</div>
