<div class="completion-steps">
  <h2><%= t("views.application.complete_your_profile") %></h2>

  <ol class="completion-steps">
    <%= render 'completion_steps/consent_waiver', account: current_ambassador %>
    <%= render 'completion_steps/background_check', account: current_ambassador %>
    <%= render 'completion_steps/complete_profile', account: current_ambassador %>
  </ol>
</div>
