<% unless current_ambassador.consent_signed? and
            current_ambassador.background_check_complete? and
               current_ambassador.location_confirmed? and
                 current_ambassador.profile_complete? %>
  <h1 class="content-heading">Complete your registration</h1>

  <ul class="steps">
    <%= render 'completion_steps/consent_waiver', account: current_ambassador %>
    <%= render 'completion_steps/background_check', profile: current_ambassador %>
    <%= render 'completion_steps/location_details', account: current_ambassador %>
    <%= render 'completion_steps/complete_profile', account: current_ambassador %>
  </ul>
<% end %>
