<ul class="tabs__menu" data-closed="true">
  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="students"
    >
      Students
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="mentors"
    >
      Mentors
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="inactivity"
    >
      Inactivity notices
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="recent-activity"
    >
      Recent activity
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="ra-info"
    >
      Regional program introduction
    </button>
  </li>

  <li class="tabs__menu-link">
    <button
      role="button"
      class="tabs__menu-button"
      data-tab-id="resources"
    >
      Chapter Ambassador resources
    </button>
  </li>
</ul>
