<nav class="profile">
  <ul>
    <li><%= link_to t("views.dashboard.menu.home"), regional_ambassador_dashboard_path %></li>
    <li><%= link_to t("views.dashboard.menu.my_account"), regional_ambassador_account_path %></li>
  </ul>
</nav>
