<div class="grid grid--justify-space-around">
  <div class="grid__col-auto">
    <div class="panel">
      <p>
        Your Chapter Ambassador profile is declined.
        Speak with Ophelie for help.
      </p>
    </div>
  </div>
</div>
