<% unless current_ambassador.approved? %>
  <h1 class="appy-title dashboard__heading">
    <%= t("views.application.dashboard") %>
  </h1>

  <p class="appy-subtitle">
    <%= t("views.regional_ambassador.dashboards.show.#{current_ambassador.status}_message") %>
  </p>
<% end %>

<%= render 'regional_ambassador/dashboards/completion_steps' %>
<%= render "regional_ambassador/dashboards/#{current_ambassador.status}_show" %>
