<p><%= t("views.regional_ambassador.dashboards.show.#{current_ambassador.status}_message") %></p>

<%= render "regional_ambassador/dashboards/#{current_ambassador.status}_next_steps" %>

<%= render 'completion_steps',
           account: current_ambassador,
           steps: CompletionSteps.new(current_ambassador),
           urls: {
             consent_waiver: {
               view: new_consent_waiver_path(
                 token: current_ambassador.consent_token
               ),
             },
             background_check: {
               mark_complete: regional_ambassador_account_path(
                 regional_ambassador_account: {
                   regional_ambassador_profile_attributes: {
                     id: current_ambassador.regional_ambassador_profile_id,
                     background_check_completed_at: Time.current,
                   },
                 },
               ),
             },
             build_profile: {
               bio: edit_regional_ambassador_account_path(anchor: 'account-profile-details')
             },
           } %>
