<p>Hey there!</p>

<p>Thank you for getting started on Technovation Challenge! We're excited to have you join us!</p>

<p>You just need to confirm your email below:</p>

<p><%= link_to @url, @url %></p>

<p>Can't wait to see you!<br/>
The Technovation Team</p>
