<p>Welcome to Technovation 2017!</p>

<p>We're thrilled to have you join us</p>

<p>First things first, parent consent forms — they should have already received an email with the form.</p>

<p>Please take some time to learn about internet safety. We know, it's 2016, you use the internet everyday, you know what's safe — but seriously, take a minute to read through this. This program will be connecting you with people from around the world, many of them adults, many of whom you will not know. Read through the resources and quizzes from Common Sense Media and Iridescent we've collected here.</p>

<p>When you're ready, get started with the curriculum!</p>

<p>If this is your first time participating in Technovation, we recommend that you go through our "Get Started" Units — these units will tell you more about what to expect this year, how to form a team, and how to find a mentor.</p>

<p>After that, or if you've participated before, choose the track that makes the most sense for you.</p>
