<p>Welcome to Technovation <%= @season_year %>!</p>

<p>We're thrilled to have you join the Technovation community for the <%= @season_year %> season! We can't wait to hear more from you about what problems you want to solve using technology, and see the amazing ideas you bring to life.</p>

<p>First things first:</p>

<p>Make sure that your parent or guardian has given you permission to participate! They received an email with a consent form when you registered. Once the consent form is signed, you'll be ready to participate in Technovation.</p>

<p>Please take some time right now to learn about internet safety and digital literacy. We want you to be safe and well-informed as your participate in online programs! Technovation will connect you with an adult mentor to support you as you develop your app. We trust our mentors. They have been pre-approved to support your team, but we still recommend that you {take a few minutes to learn how to keep yourself safe when collaborating online}.</p>

<p>When you're ready, you can get started on the Technovation curriculum by <%= link_to 'logging back into your account', @signin_url %> on <%= link_to @host, @root_url %></p>

<p>The Technovation Team</p>
