<p>
  You're browsing teams that have students and mentors in
  <%= current_ambassador.region_name %>
  for the
  <%= Season.current.year %>
  season.
</p>

<p>
  We're working on an updated Regional Ambassador UI
  and this is coming back soon better than ever!
</p>
