<div id="ra-event-<%= event.id %>-divisions"
      class="flex-col-md-2 card__body tabs tabs-vertical">
  <ul class="tab-menu">
    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="ra-event-<%= event.id %>-senior">
        Senior Division
      </button>
    </li>

    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="ra-event-<%= event.id %>-junior">
        Junior Division
      </button>
    </li>
  </ul>
</div>
