<div id="ra-event-<%= event.id %>-divisions"
      class="flex-col-md-2 card__body tabs tabs--vertical">
  <ul class="tabs__menu">
    <% if event.divisions.include?(Division.senior) %>
      <li class="tabs__menu-link">
        <button
          role="button"
          class="tabs__menu-button"
          data-tab-id="ra-event-<%= event.id %>-senior">
          Senior Division
        </button>
      </li>
    <% end %>

    <% if event.divisions.include?(Division.junior) %>
      <li class="tabs__menu-link">
        <button
          role="button"
          class="tabs__menu-button"
          data-tab-id="ra-event-<%= event.id %>-junior">
          Junior Division
        </button>
      </li>
    <% end %>
  </ul>
</div>
