<div class="flex-row">
  <div class="flex-col-md-9">
    <h1 class="appy-title" style="margin: 0;">
      <%= Season.current.year %> <%= current_ambassador.region_name.titleize %> Scores
    </h1>
  </div>

  <%= render 'regional_ambassador/scores/index',
    submissions: @submissions,
    event: @event,
    events: @events,
    division: @division,
    scope: :regional_ambassador %>
</div>
