.navigation {
  padding: 0 1rem;
  box-shadow: $shadow-btm;

  &.session-bar-present {
    margin-top: 33px;
  }

  .logo {
    height: 35px;
    width: 35px;
    background: image-url("tc-logo-solo.png") no-repeat;
  }

  .menu {
    a {
      padding: 0.25rem;
      font-size: 0.9rem;
      margin: 25px 0 0 1rem;
    }
  }
}

.menu.subnav {
  width: 100%;
  background: $doc-bg;
  box-shadow: $shadow-btm;

  .subnav--help-link {
    opacity: 1;
    float: right;
    margin: 0.4rem 0.5rem 0 0;
    background-color: $primary-mid;
    box-shadow: 0 2px 0 darken($primary-mid, 5);
    color: white;
    font-size: 0.8rem;

    &:active,
    &:hover,
    &:focus {
      background-color: darken($primary-mid, 5);
      color: white;
    }
  }
}
