<div class="absolute -top-2 -right-6">
  <span class="block mb-2 px-2 py-1 text-right text-sm font-bold tw-flag-magenta">Season close</span>
</div>

<h2 class="text-2xl text-energetic-blue font-semibold tracking-wide mb-2">
  Thank you!
</h2>

<p class="mb-3">
  Thank you for your interest in judging this season. The season is currently finished.
</p>

<p>
  We hope to see you next season!
</p>