<div class="sub-nav-wrapper w-full lg:w-3/4 mx-auto">
  <nav class="list-reset flex">

    <%= link_to t("views.application.dashboards.menu.dashboard"),
                judge_dashboard_path,
                class: al(judge_dashboard_path) + "sub-nav-item"%>

    <%= link_to t("views.student.navigation.my_profile"),
                judge_profile_path,
                class: al(judge_profile_path) + "sub-nav-item"%>
  </nav>
</div>