<div class="mt-4 p-2 border" style="background-color: #f0f9ff;">
  <div>
    <%= check_box_tag :mentor_profile_accepting_team_invites %>

    <%= label_tag :mentor_profile_accepting_team_invites,
      "Allow teams to find you in search results and invite you to join",
      style: "text-transform: none; letter-spacing: 0; font-size: inherit; font-weight: inherit;" %>
  </div>

  <div class="mt-2">
    <%= check_box_tag :mentor_profile_virtual %>

    <%= label_tag :mentor_profile_virtual,
      "Indicate to teams that you can be an online, remote mentor",
      style: "text-transform: none; letter-spacing: 0; font-size: inherit; font-weight: inherit;" %>
  </div>
</div>
