<hr class="border-t border-gray-300 my-4">

<div class="flex">
  <div class="mr-6">
    <%= radio_button_tag "chapter_id", "none_selected", false %>
  </div>

  <div>
    <%= label_tag "chapter_id_none_selected",
      style: "text-transform: none; letter-spacing: 0; font-size: inherit; font-weight: inherit;" do %>

      <div class="font-bold text-xl">None of the Above</div>

      <div class="text-sm leading-snug">
        Select this option if you aren’t involved with any of the
        Chapters or Clubs listed or don’t know which to select.
      </div>
    <% end %>
  </div>
</div>
