<li class="feed--item">
  <% if activity.trackable %>
    <%= image_tag activity.trackable.team_photo_url, class: "thumbnail-xs" %>
    <%= link_to activity.trackable.name, [current_scope, activity.trackable] %>
    registered for the <%= Season.current.year %> season
  <% else %>
    - sorry, this team has been deleted -
  <% end %>

  <div class="feed-item--time">
    <%= time_ago_in_words(activity.created_at) %> ago
  </div>
</li>
