<tr>
  <% if activity.trackable %>
    <td>
      <%= image_tag activity.trackable.team_photo_url,
        class: "thumbnail-xs" %>
    </td>

    <td>Team</td>

    <td>
      <%= link_to activity.trackable.name,
        send("#{current_scope}_team_path", activity.trackable),
        data: { turbolinks: false } %>
    </td>
  <% else %>
    <td>–</td>
    <td>–</td>
  <% end %>

  <td>was updated</td>

  <% if activity.recipient %>
    <td>
      <%= link_to activity.recipient.name,
        send("#{current_scope}_team_path", activity.trackable),
        data: { turbolinks: false } %>
    </td>
  <% else %>
    <td>–</td>
  <% end %>

  <td><%= time_ago_in_words(activity.created_at) %> ago</td>
</tr>
