<%= render 'honor_code_agreements/honor_code' %>

<p>
  Signed on:
  <strong><%= @honor_code_agreement.created_at.strftime("%B %e, %Y") %></strong>
</p>

<p>
  Electronic signature: <strong><%= @honor_code_agreement.electronic_signature %></strong>
</p>

<%= link_to "Return to your dashboard",
  [@honor_code_agreement.account.type_name, :dashboard] %>
