<p>Dear Parent/Guardian(s),</p>

<p>Welcome to the Technovation Girls Community!</p>

<p>Thank you for supporting your daughter to participate in Technovation Girls, the technology entrepreneurship program and competition for students who identify as female, trans, nonbinary or gender nonconforming offered by <a href="https://www.technovation.org" target="_blank">Technovation</a>, a technology education non-profit.</p>

<p>During the program, your child will learn the basics of computer programming and create a mobile app that solves a problem in her community. She will learn to be a technology entrepreneur! Technovation Girls is more than a coding program; it is an opportunity for your child to develop a variety of life and professional skills, and to challenge herself.</p>

<p>It won’t always be easy for her, but she will be encouraged to persist when she meets adversity and obstacles. Completing the Technovation Girls curriculum is a huge accomplishment for each participant. When she is done, she will have completed the early stages of founding a real-life, mobile app startup. Your child’s learning is at the center of all that we do. We share your commitment to your daughter’s success, and have a page to help you understand <a href="http://technovationchallenge.org/about/" target="_blank">more about the Technovation program</a>, and how you can help support your child’s participation. We take safety seriously and invite you to review our safety guidelines and other helpful resources <a href="https://iridescentlearning.org/safety/" target="_blank">here</a>.</p>

<p>Whether your daughter chooses to work in a team or on her own, we recommend that she be supported by a mentor (an educator, parent, or industry professional). In addition to completing Technovation’s online curriculum, your child will be expected to submit her project’s deliverables online. Your child can work and communicate with her mentor either online or at in-person sessions, following COVID-19 related safety guidelines in your area. Parents are always welcome to attend any sessions and monitor all communications - here is a <a href="https://techstage19.wpengine.com/wp-content/uploads/2019/10/Mentorship-Communications-Parental-Consent.pdf" target="_blank">sample communication plan.</a></p>

<p>After your daughter’s team submits their idea, Technovation judges, who are technology professionals, will review the team’s entry and provide feedback on their work. After the judging process, if your daughter is selected as a program finalist or winner, she and her team will be invited to attend the World Summit and present their pitch live to a panel of judges.</p>

<p>We are delighted to help foster your daughter’s interest and development in technology and entrepreneurship and we are honored to work with students everywhere as they develop new skills and confidence.</p>

<p>If you have any questions, please don’t hesitate to contact us at <%= mail_to ENV.fetch("HELP_EMAIL") %></p>

<p>Warm Regards,<br>
The Technovation Staff</p>

<hr class="page-break-after">

<p><strong>THIS RELEASE OF LIABILITY AND CONSENT AGREEMENT</strong> (this “Agreement”) is made as of the date set forth on the signature page, by and between Technovation, a California nonprofit corporation (“Technovation”) located at 532 West 22nd St., Los Angeles, CA 90007, and the undersigned program participant named on the signature page (“Program Participant”). In order to participate in the Technovation Girls program provided by Technovation, the Program Participant agrees to all terms and conditions set forth in this Agreement.</p>

<h6 class="reset">1. Program Activities</h6>
<p>Technovation Program Participants participate in activities including: working with Technovation teachers, mentors, and team members; participating in computer programming courses (curriculum available at technovationchallenge.org); developing a mobile application, business plan and prototype; creating pitch and demo videos and often pitching to audiences and judges at Celebration Events; and, if selected, attending the World Summit event.</p>

<h6 class="reset">2. Privacy Policy: What Information Does Technovation Collect From You?</h6>
<p>To enhance your experience on the Websites, we collect the following information (“Personal Information”) that you provide to us. Although you may visit some pages on our website without providing all of the Personal Information listed below, you must provide certain information to take advantage of particular features, such as sharing your projects, receiving feedback from our mentors &amp; judges, receiving certificates, and participating in project competitions.</p>
<p>The Websites collect the following Personal Information:</p>
<ul>
  <li>Name</li>
  <li>City, state, and region of residence</li>
  <li>Email address</li>
  <li>A username that you create</li>
  <li>Date of birth</li>
  <li>Gender</li>
  <li>IP address</li>
  <li>Parents’ names and email addresses (for minors)</li>
  <li>User-submitted photos and video</li>
</ul>
<p>Additionally, when you access the Websites using a mobile device, we may collect the following additional information:</p>
<ul>
  <li>Unique identification number associated with your device (“Device ID”)</li>
  <li>Mobile carrier</li>
  <li>Device type and manufacturer</li>
  <li>Telephone number</li>
  <li>Depending on your mobile device settings, your geographical location data, including GPS coordinates or similar information regarding the location of your mobile device</li>
</ul>
<p>We collect this information from you when you register on the Websites or request products or services that the Websites offer. You may be asked to provide information if you participate in any sweepstakes, contests, or surveys, or if you post or access any content on message boards, chat rooms, or blogs operated by Technovation and its programs. We may also collect this information when you post materials as part of a project submission.</p>
<p>If you create an account on the Websites through a third-party connection or login, such as through Facebook, Google+, or Twitter, or if you “follow” or “like” any of the Websites or services connected to a third-party social media site, that third party may pass certain information about your use of its services to Technovation. This information could include the user ID associated with your account (for example, your Facebook User ID), an access token necessary to access that service, any information that you have permitted the third party to share with us, and any information you have made public in connection with that service. The data we receive is dependent upon your privacy settings with the third party. You should always review, and if necessary, adjust your privacy settings on third-party websites and services before linking or connecting them to the Websites. By providing us with such data, during registration or otherwise, you are giving Technovation the permission to use, share, and store it in a manner consistent with this Privacy Policy.</p>
<p>The Websites also collect non-personally identifiable information automatically through the use of electronic tools such as “cookies”. Cookies help provide a customized web experience by enabling us to identify web users who visit our website. You may choose not to provide such information by adjusting your internet browser security settings to refuse cookies. Refusing cookies, however, may limit your ability to access certain pages available on the Website and may prevent you from enjoying the features on our website enabled by cookies.</p>
<p>The Websites may employ clear gifs (also known as web beacons) which are used to anonymously track the online usage patterns of our users. In addition, we may also use clear gifs in HTML-based emails sent to our users to track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Websites. We may also collect analytics data, or use third-party analytics tools, to help us measure traffic and usage trends. These tools collect information sent by your browser or mobile device, including the pages you visit, your use of third-party applications, and other information that assists us in analyzing and improving the Websites.</p>

<h6 class="reset">3. Purposes of Information Collection</h6>
<p>Our purpose in collecting your Personal Information is to provide you with our services. Specifically, we use your Personal Information to accomplish the following legitimate purposes:</p>
<ul>
  <li>Communicating with you regarding our programs, features, and services available through the Websites.</li>
  <li>Sharing our curriculum.</li>
  <li>Helping you participate in projects and competitions as part of our program.</li>
  <li>Helping students and mentors build healthy relationships to carry out team exercises and competitions, including connecting students and mentors using third-party communication services such as email, Google Hangouts, WhatsApp and Slack.</li>
  <li>Communicating with you regarding products, features, and services that are offered by our affiliates and business partners.</li>
  <li>Issuing email newsletters on other topics we think may be of interest, such as programs offered by Technovation, internships, and/or scholarships.</li>
  <li>Troubleshooting and website administration.</li>
  <li>Complying with a legal obligation where necessary, such as being compelled to share Personal Information by a law enforcement or government agency.</li>
</ul>

<h6 class="reset">4. Consent for Collection and Use of Personal Information</h6>
<p><em>A. Consent by Adults (Aged 18 and over)</em></p>
<p>By providing information to us in the manner described in Section I.A. of this Privacy Policy, you consent for us to use your Personal Information for the explicit purposes listed in Section I.B. of this Privacy Policy. You may withdraw your consent at any time by any of the following methods:</p>
<ul>
  <li>For all website users who provide us with Personal Information, you may opt-out from our services completely at any time. If you do so, we shall remove any Personal Information that we have collected from you based on your consent.</li>
  <li>For Technovation Girls and Technovation Families participants, annual registration is required to remain in the program. If you choose not to register in a given year, we shall retain your contact information in case you choose to register in future years, but we will not collect any additional information. You may communicate with us if you wish for us to permanently delete your contact information. Otherwise, we will delete your information periodically, as outlined by our data retention policy under II.C. of this Privacy Policy.</li>
</ul>
<p>Please allow up to 10 business days for us to process your request. After opting out, you may still receive email messages about the status of your account, to resolve technical issues, or to confirm a renewed membership.</p>
<p><em>B. Parental Consent for Minors (Aged under 18)</em></p>
<p>We require a parent or guardian to consent before a child under the age of 18 can use any of the Websites or services or participate in any Technovation programs or activities. Use of the Websites sometimes requires us to share your information with other users of the Websites and trained volunteers. Parental consent granted by the following methods includes consent for Technovation to collect and use the minor’s Personal Information as listed in Section I.A. of this Privacy Policy for the explicit purposes listed in Section I.B. of this Privacy Policy.</p>
<p>The parental consent enables children under 18 to access the Websites, Technovation Services or participate in Technovation’s programs or activities, and provides consent for use of their likeness in media (photo, audio, video). <strong>Parents can provide consent by signing this consent form directly below</strong>, or by downloading and printing the form and emailing us at <%= mail_to ENV.fetch("HELP_EMAIL") %>. Parental Consent forms are emailed to parents when students create Technovation Girls accounts. Upon receipt of the parental consent form, Technovation will enable student accounts to participate in the competition.</p>

<h6 class="reset">5. Your Privacy-Related Rights</h6>
<p><em>A. Your EU Privacy Rights</em></p>
<p>Residents of the EU have certain rights afforded to them by the EU General Data Protection Regulation ((EU) 2016/679) (“GDPR”).</p>
<p>i. Transfers out of the European Economic Area</p>
<p>We are based in Los Angeles, CA, and the Websites are hosted by third parties that are also based in the United States. Accordingly, when you provide Personal Information to us, it is transferred outside of the European Economic Area (“EEA”). To ensure an adequate degree of protection is afforded to your Personal Information when it is transferred outside of the EEA, we only transfer your Personal Information to the United States, and only with your consent as outlined in this Privacy Policy. Additionally, we will only transfer your Personal Information to the United States on the condition that your rights are protected and that you have access to an effective legal remedy.</p>
<p>ii. Your EU legal rights</p>
<p>You have the right to:</p>
<p>Request access to your Personal Information. We will send you a copy of your Personal Information that we have on record, which will enable you to check that we are using it within the lawful guidelines of this Privacy Policy.</p>
<p>Request correction of the Personal Information that we hold about you, where the information is incorrect.</p>
<p>Request deletion of your Personal Information. As noted above, this may involve ending further participation in Technovation’s programs.</p>
<p>Object to us using your Personal Information. You may object on grounds that you feel it impacts your fundamental rights and freedoms, or on grounds that we are using your Personal Information for direct marketing purposes. In some cases, we may demonstrate that we have compelling legitimate grounds to process your Personal Information which override your rights and freedoms.</p>
<p>Request restriction of our use of your Personal Information. You may make this request (a) if you want us to establish the data’s accuracy; (b) where our use of the data is unlawful but you do not want us to erase it; (c) where you need us to hold the data even if we no longer require it as you need it to establish, exercise or defend legal claims; or (d) you have objected to our use of your data but we need to verify whether we have overriding legitimate grounds to use it.</p>
<p>Request the transfer of your Personal Information to you or a third party. We will provide to you, or a third party you have chosen, your Personal Information in a structured, commonly used, machine-readable format. Note that this right only applies to automated information which you initially provided consent for us to use or where we used the information to perform a contract with you.</p>
<p>If you wish to exercise any of these rights, please contact us at privacy@technovation.org. We may need to request additional information from you to help us confirm your identity. We try to respond to all legitimate requests within one month. It may take us longer to respond to your request if your request is particularly complex or if you have made multiple requests. In that case, we will notify you and keep you updated on the status of your request.</p>
<p><em>B. Your California Privacy Rights</em></p>
<p>If you reside in California, you may request information about our disclosures of your Personal Information to third parties for their direct marketing purposes. Such requests must be submitted to us by email at privacy@technovation.org.</p>
<p>Within thirty days of receiving such a request, we will provide a list of the categories of personally identifiable information disclosed to third parties for direct marketing purposes during the immediately preceding calendar year, along with the names and addresses of these third parties. This request may be made no more than once per calendar year. We reserve the right not to respond to requests submitted other than as specified in the above paragraph.</p>
<p><em>C. Other Privacy Rights</em></p>
<p>The following provisions apply to all users of the Websites, regardless of location.</p>
<p>i. Data Retention</p>
<p>We will only retain your Personal Information for as long as necessary to fulfill the purposes we collected it for; namely, to provide you with the benefits of participating in our programs. Periodically, and at least once every four years, we delete Personal Information of persons who no longer participate, retaining only enough Personal Information to ensure that persons who have opted out of Technovation communications are not opted back in to receive such communications.</p>
<p>ii. Data Breach Notification</p>
<p>In the event of any suspected data breach, we will notify you and any applicable regulator of a breach where we are legally required to do so. For EU data subjects, we shall notify the competent supervisory authority of any data breach that is likely to result in a risk to the rights and freedoms of natural persons within 72 hours of the breach, or else accompany our notification with reasons for the delay. This notification shall describe the nature of the Personal Information at risk, including the categories and approximate number of data subjects concerned, the name and contact details of the data protection officer, the likely consequences of the breach, and the measures taken to address the breach. We will also notify you without undue delay of any data breach that is likely to result in a high risk to your rights and freedoms.</p>
<p>iii. Updates to the Privacy Policy</p>
<p>Technovation may amend this policy at any time, as necessary to comply with evolving international data privacy standards and regulations. Please check this page periodically for changes. We will post a notice on this website if and when this policy changes to alert visitors that a new policy is in place. Information collected prior to the time any change is posted will be used according to the privacy policy and applicable laws in place at the time the information was collected. Your continued use of the Websites indicates your acceptance of the updated Privacy Policy.</p>

<h6 class="reset">6. Security</h6>
<p>To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of all Personal Information, including that of child users, we have put in place physical, electronic, and administrative procedures to protect the Personal Information we collect online. No data transmission over the Internet, however, can be guaranteed to be completely secure. While we strive to protect your Personal Information, Technovation cannot completely ensure or warrant the security of personally identifiable information you provide to us.</p>
<p>If we learn of a data security incident that compromises or appears to compromise your Personal Information, we will notify you according to the applicable data privacy regulations in force where you are located.</p>

<h6 class="reset">7. School Privacy</h6>
<p>In some circumstances, we may permit a school to register students to our service for the purpose of providing educational services. Because Technovation provides the Websites to schools to benefit and enhance the school’s curriculum, Technovation relies on the school to obtain and provide appropriate consent, if needed, to collect Personal Information of students.</p>

<h6 class="reset">8. Third-Party Links</h6>
<p>This Privacy Policy applies solely to the collection of Personal Information on the Websites. To the extent the Websites permit you to link to other content or advertisements that may be housed at other websites, separate privacy policies may apply to those linked websites. Your access to and use of such linked websites through links provided on this website are not governed by this Privacy Policy but, instead, are governed by the privacy policies of those linked websites. Technovation is not responsible for your access to and use of such linked websites, which includes any use of the Personal Information that you may provide to, or any Personal Information that may be collected about you, at such linked websites.</p>

<h6 class="reset">9. Privacy By Design Standard</h6>
<p>As we carry out all of our operations and programs, we are committed to protecting the privacy of your Personal Information. To this end, no project or program shall be implemented without consideration of the risks to data privacy, and implementation of any necessary measures to protect your privacy rights.</p>
 
<h6 class="reset">10. Implementation and Sanctions</h6>
<p>Any Technovation employee or volunteer who has access to Personal Information shall be trained on the content of this Privacy Policy, and shall agree not to use the Personal Information collected for a purpose not authorized by this policy.</p>
<p>Any violation of this policy by a member of Technovation may result in administrative and/or disciplinary action by Technovation (including monetary penalties, suspension or termination). These sanctions will be applied subject to local legislation.</p>

<h6 class="reset">11. Contact</h6>
<p>If you wish to discuss any issues relating to privacy or your Personal Information that you have provided to us, would like to exercise any of the rights outlined in this Privacy Policy, or have any questions or comments regarding this Privacy Policy, please contact us at privacy@technovation.org.</p>

<h6 class="reset">12. Liability Release</h6>
<p>The undersigned Program Participant understands and agrees that participation in Technovation is entirely voluntary and is entered into with full knowledge of the risks involved. The undersigned agrees to accept and assume any and all risks of any nature, including, without limitation, risks of personal injury or financial loss. Technovation will not be responsible for any injuries, whether involving physical injury, property loss or other damages claimed to occur in connection with any activity, program or event sponsored by Technovation. Accordingly, the undersigned agrees and hereby releases Technovation, and any of its employees and related entities, from any and all liability arising out of the participation in Technovation sponsored programs, activities and events, including any and all losses, damages, liabilities, deficiencies, claims, actions, judgments, settlements, interest, awards, penalties, fines, costs, or expenses of whatever kind, including attorney fees. The undersigned Program Participant expressly waives the provisions of California Civil Code section 1542, which provides as follows: A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him, must have materially affected his settlement with the debtor.</p>

<h6 class="reset">13. Entire Agreement</h6>
<p>This Agreement constitutes the sole and entire agreement of the Technovation and Program Participant with respect to the subject matter contained herein and supersedes all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to such subject matter.</p>

<h6 class="reset">14. Severability</h6>
<p>If any term or provision of this Agreement is held invalid, illegal or unenforceable in any jurisdiction, such invalidity, illegality or unenforceability shall not affect any other term or provision of this Agreement or invalidate or render unenforceable such term or provision in any other jurisdiction.</p>

<h6 class="reset">15. Binding Effect</h6>
<p>This Agreement is binding on and shall inure to the benefit of Technovation and Program Participant and their respective successors and assigns.</p>

<h6 class="reset">16. Governing Law</h6>
<p>This contract shall be governed by the laws of the State of California in Los Angeles County and any applicable federal law.</p>

<h6 class="reset">17. Counterparts</h6>
<p>This Agreement may be executed by facsimile or electronically (in PDF format) in one or more counterparts, each of which will be deemed an original, but all of which shall constitute one and the same agreement.</p>

<p class="page-break-before"><strong>BY SIGNING, I ACKNOWLEDGE THAT I HAVE READ AND UNDERSTOOD ALL OF THE TERMS OF THIS AGREEMENT AND THAT I AM VOLUNTARILY GIVING UP SUBSTANTIAL LEGAL RIGHTS, INCLUDING THE RIGHT TO SUE TECHNOVATION AND ITS AFFILIATES, ITS REPRESENTATIVES AND/OR THOSE INVOLVED IN THE PRODUCTION AND DISTRIBUTION OF THE ASSETS MENTIONED ABOVE. I ALSO ACKNOWLEDGE THAT BY SIGNING THIS DOCUMENT, I AM AGREEING TO ALL PARTS OF IT, INCLUDING THE MEDIA RELEASE.</strong></p>


<hr>
