<h2>Welcome to the Technovation Girls community!</h2>

<p>Dear Parent/Guardian(s),</p>

<p>Welcome to the Technovation Girls Community!</p>

<p>Thank you for supporting your daughter to participate in Technovation Girls, the technology entrepreneurship program and competition for students who identify as female, trans, nonbinary or gender nonconforming offered by <a href="https://www.technovation.org" target="_blank">Technovation</a>, a technology education non-profit.</p>

<p>During the program, your child will learn the basics of coding and/or AI models and create a mobile app or AI project that solves a problem in her community. She will learn to be a technology entrepreneur! Technovation Girls is more than a coding program; it is an opportunity for your daughter to develop a variety of life and professional skills and challenge herself.</p>

<p>It won’t always be easy, but she will be encouraged to persist when she meets adversity and obstacles. Completing the Technovation Girls curriculum is a huge accomplishment for every participant. When she is done, she will have completed the early stages of founding a real-life tech startup. Your child’s learning is at the center of all that we do. We share your commitment to your daughter’s success and have created a page to help you understand <a href="https://www.technovation.org/about/">more about the Technovation program</a>, and how you can help support your child’s participation. We take safety seriously and invite you to review our safety guidelines and other helpful resources <a href="https://www.technovation.org/safety/" target="_blank">here</a>.</p>

<p>Whether your child chooses to work in a team or on her own, we recommend that she be supported by a mentor (an educator, parent, or industry professional). In addition to completing Technovation’s online curriculum, your child will be expected to submit her project’s deliverables online. Your child can work and communicate with her mentor either online or at in-person sessions, following COVID-19 related safety guidelines in your area. Parents are always welcome to attend any sessions and monitor all communications - here is a <a href="https://techstage19.wpengine.com/wp-content/uploads/2019/10/Mentorship-Communications-Parental-Consent.pdf">sample communication plan</a>.</p>

<p>After your daughter’s team submits their idea, Technovation judges, who are technology and entrepreneurship professionals, will review the team’s entry and provide feedback on their work. After the judging process, if your daughter is selected as a program finalist or winner, she and her team will be invited to attend the World Summit and present their pitch live to a panel of judges.</p>

<p>We are delighted to help foster your daughter’s interest and development in technology and entrepreneurship and we are honored to work with students everywhere as they develop new skills and confidence.</p>

<p>We are delighted to help foster your daughter’s interest and development in technology and entrepreneurship and we are honored to work with students everywhere as they develop new skills and confidence.</p>

<p>If you have any questions at any time, please don’t hesitate to contact us at <%= mail_to ENV.fetch("HELP_EMAIL") %></p>

<p>
  Warm Regards,<br>
  The Technovation Staff
</p>
