<p><%= t("views.parental_consents.show.signed",
         student_name: @parental_consent.student_profile_full_name,
         parent_name: @parental_consent.electronic_signature,
         date: @parental_consent.created_at.strftime("%-d %B, %Y")) %></p>
