<p>Hey, <%= @name %>!</p>

<p>Good news! Your parent / guardian gave you permission to participate in Technovation <%= Season.current.year %>!</p>

<p><%= link_to "Continue completing your profile now!", @url %></p>

<p>Good luck!<br />
Technovation Challenge Staff</p>
