<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Reset password"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Hi <%= @first_name %>!
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Please follow the link below to reset your password.
        </td>
      </tr>
      <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <%= link_to "Create a new password", @url, class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          If you did not ask for password reset instructions, you do not need to do anything. Your account is safe. Please reply to this email if you have any concerns.
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Best,<br />
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
