<p>Hi <%= @first_name %>!</p>

<p>Please follow the link below to reset your password.</p>

<p><%= link_to @url, @url %></p>

<p>If you did not ask for password reset instructions, you do not need to do anything. Your account is safe. Please reply to this email if you have any concerns.</p>

<p>Best,<br />
The Technovation Team</p>
