<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "club_ambassador/club_profile/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Program Info" } do %>

    <div>
      <p>Club Program Information</p>
    </div>
  <% end %>
</div>
