---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=1@qq.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "1@qq.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": true, "mailbox_verification":
        "true", "parts": {"display_name": null, "domain": "qq.com", "local_part":
        "1"}, "reason": null}'
  recorded_at: Wed, 07 Nov 2018 14:19:03 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=@qq.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "@qq.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": false, "mailbox_verification":
        "unknown", "parts": {"display_name": null, "domain": null, "local_part": null},
        "reason": "Validation failed for ''@qq.com'', reason: ''malformed address;
        failed parse checks''"}'
  recorded_at: Wed, 07 Nov 2018 14:19:14 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=3409186790@qq.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "3409186790@qq.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": false, "mailbox_verification":
        "false", "parts": {"display_name": null, "domain": "qq.com", "local_part":
        "3409186790"}, "reason": null}'
  recorded_at: Wed, 07 Nov 2018 14:23:58 GMT
recorded_with: VCR 3.0.3
