---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=12345678@qq.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "12345678@qq.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": true, "mailbox_verification":
        "true", "parts": {"display_name": null, "domain": "qq.com", "local_part":
        "12345678"}, "reason": null}'
  recorded_at: Wed, 07 Nov 2018 14:18:15 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=99999999@qq.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "99999999@qq.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": true, "mailbox_verification":
        "true", "parts": {"display_name": null, "domain": "qq.com", "local_part":
        "99999999"}, "reason": null}'
  recorded_at: Wed, 07 Nov 2018 14:18:42 GMT
recorded_with: VCR 3.0.3
