* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: $light-grey;
}

/*
 * Typography
 */
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $light-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

h4,
h5,
h6 {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
  letter-spacing: 2;
  text-transform: uppercase;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $shamrock;
  font-weight: $base-font-weight;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $shamrock-mid;
  }
}

nav {
  font-family: $base-font-family;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}


/*
 * Forms
 */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-family: $base-font-family;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: $small-spacing / 2;
  text-transform: uppercase;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: 1.5rem;
  font-weight: $light-font-weight;
  &[type=file] {
    font-size: 1em;
  }
}

#{$all-text-inputs},
select[multiple] {
  background-color: #fff;
  border: 2px solid $mid-grey;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
  height: 250px;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  max-width: 100%;
  width: auto;
}

/*
 * Lists
 */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0 0 1rem;
}

/*
 * Media
 */
figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/*
 * Tables
 */
table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

