.primary-button,
.secondary-button,
.transparent-button,
.transparent-accent-button, {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: $action-color;
  border-radius: 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1;
  min-width: 150px;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;


  &:hover,
  &:focus {
    background-color: $shamrock-mid;
    color: #fff;
  }

  &:active {
    background-color: #fff;
    color: $shamrock-mid;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.primary-button {
  text-align: center;
  padding: $small-spacing $base-spacing;
}

.secondary-button {
  text-align: center;
  padding: $small-spacing;
  background-color: #fff;
  color: $shamrock;

  &:hover,
  &:focus {
    color: $shamrock-mid;
    background-color: $light-grey;
  }
}

.transparent-button {
  text-align: center;
  padding: $small-spacing;
  background-color: transparent;
  border: $base-border;
  border-color: #fff;
  color: #fff;

  &:hover,
  &:focus {
    color: $shamrock;
    background-color: #fff;
  }
}

.transparent-accent-button {
  text-align: center;
  padding: $small-spacing;
  line-height: 1;
  vertical-align: middle;
  background-color: transparent;
  border: $base-border;
  border-color: $marine;
  color: $marine;

  &.header {
    color: $lemon;
    border-color: $lemon;

    &:hover,
    &:focus {
      background-color: $lemon;
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    background-color: $marine;
    color: #fff;
  }
}
