body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $light-font-weight;
  line-height: $base-line-height;
}

h1 {
  font-family: $heading-font-family;
  font-size: 2.5rem;
  line-height: $heading-line-height;
}

h2 {
  font-family: $heading-font-family;
  font-size: 2rem;
  line-height: $heading-line-height;
}

h3 {
  font-family: $heading-font-family;
  font-size: 1.5rem;
  line-height: $heading-line-height;
}

h4 {
  font-family: $base-font-family;
  font-size: 1.25rem;
  font-weight: $base-font-weight;
}

h5 {
  font-family: $base-font-family;
  font-size: 1.125rem;
  font-weight: $base-font-weight;
}

h6 {
  font-family: $base-font-family;
  font-size: 1.1rem;
  font-weight: $base-font-weight;
  letter-spacing: 2;
  text-transform: uppercase;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $shamrock;
  font-weight: $base-font-weight;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $shamrock-mid;
  }
}

nav {
  font-family: $base-font-family;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
