//
// Brand Colors
//
$shamrock: #5ABF94;
$shamrock-mid: #28A880;
$shamrock-dark: #006540;

$mulberry: #903D54;
$mulberry-mid: #7C324D;
$mulberry-dark: #53042D;

$wisteria: #895E86;
$wisteria-mid: #6F466B;
$wisteria-dark: #421B41;

$marine: #4BC2C6;
$marine-mid: #00ABAD;
$marine-dark: #006667;

$lemon: #EAE46F;
$lemon-dark: #C1C321;

$light-grey: #ECECEC;
$mid-grey: #CCCCCC;
$dark-grey: #878787;

$silver: #666666;
$granite: #444444;
$chalkboard: #333333;

// Typography
$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Eagle', sans-serif;

// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Font Sizes
$base-font-size: 1.3em;

// Font Weights
$light-font-weight: 300;
$base-font-weight: 400;
$heavy-font-weight: 700;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $chalkboard;
$action-color: $shamrock;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
