<p>
  Thank you for requesting your background check invitation
  You will receive an email from Checkr to complete your background check in the next few minutes.
</p>
<p>
  If you do not receive an invitation from Checkr please contact <%= mail_to ENV.fetch("HELP_EMAIL") %> for assistance.
</p>
