<h1>Scores & Certificate</h1>

<% if current_student.onboarded? && SeasonToggles.display_scores? %>
  <% if current_team.submission.complete? %>
    <%= render "student/dashboards/completion_steps/scores_and_certificates" %>
  <% elsif current_student.participated? %>
    <%= render "student/dashboards/completion_steps/participation_certificate" %>
  <% else %>
    <h1 class="content-heading">Thank you for your participation</h1>

    <p>
      Unfortunately, no scores are available for your team because your
      submission was incomplete. We hope you will continue working on your
      app and join us again next season!
    </p>
  <% end %>
<% else %>
  <%= render 'explanations/feature_not_available', feature: :scores %>
<% end %>
