<% feature = TechnovationFeature.new(current_student, :submissions) %>

<div id="your-submission" class="h-auto mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper ">
    <p class="font-bold">My Submission</p>
  </div>

  <div class="tw-content=-wrapper p-8">
    <%= render partial: feature.partial_path, locals: feature.partial_locals  %>
  </div>
</div>
