<p class="buttons">
  <%= link_to t("views.profile_requirements.create_join_team.links.join.text"),
    [:new, :student, :team_search],
    class: "button small" %>

  <%= link_to t("views.profile_requirements.create_join_team.links.create.text"),
    [:new, :student, :team],
    class: "button secondary small" %>
</p>

