<p id="post-survey-text" style="font-weight: bold">Before you can view your certificate, please complete the
  <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
    <%= link_to "post-survey",
                SeasonToggles.survey_link(
                  current_scope, "url",
                  format_url: true,
                  account: current_account
                ),
                target: "_blank"
    %>
  <% else %>
    post-survey
  <% end %>
</p>