<div class="panel">
  <h1 class="content-heading">Select a regional pitch event</h1>
  <% unless current_team.selected_regional_pitch_event %>
    <p>
      Attend a regional pitch event in your area to pitch your submisison to a live panel of judges.
    </p>
      <%= link_to 'Attend an Event',
          "#",
          class: "button small" %>
  <% else %>
    <p>
      You are attending <%= current_team.selected_regional_pitch_event.name %>.
    </p>
          <%= link_to 'view full details',
            [current_scope, current_team.selected_regional_pitch_event],
            class: "button small" %>
    <p>
      If this is a mistake or you want to attend a different event please contact your regional ambassador.
    </p>
  <% end %>
</div>