<li class="completion-step">
  <div class="flags">
    <span class="flag flag-events">
      Scores
    </span>
  </div>

  <h1 class="content-heading">Scores and Certificates</h1>
  <p>
    Congratulations! Your scores and certificates are ready.
  </p>
  <div class="step-actions">
    <%= link_to 'View your scores and certificates',
        student_scores_path,
        class: "button" %>
  </div>
</li>
