<div class="grid">
  <div class="grid__col-sm-12 grid__col--bleed">
    <h3>Submission Progress</h3>

    <% unless SeasonToggles.team_submissions_editable? %>
      <small>(submissions are not editable at this time)</small>
    <% end %>
  </div>

  <div class="grid__col-sm-4 grid__col--bleed-y legend">
    <p>
      <%= web_icon("circle-o") %> = not finished<br />
      <%= web_icon("check-circle", class: "icon-green") %> = complete
    </p>
  </div>
</div>

<%# see app/helpers/student_helper for SUBPROG function %>

<div class="sub-step grid">
  <div class="grid__col-sm-3">
    <ul style="list-style: none;">
      <li><i class="circle green checkmark scale">✓</i></li>
    </ul>
  </div>
  <div class="sub-list-style grid__col-auto">
    <ul style="list-style: none;">
      <lh> Start</lh>
      <li>Honor code</li>
      <li>Team photo</li>
    </ul>
  </div>
</div>
<div class="sub-step grid">
  <div class="grid__col-sm-3">
    <ul style="list-style: none;">
      <li><i class="circle green checkmark scale">✓</i></li>
    </ul>
  </div>
  <div class="sub-list-style grid__col-auto">
    <ul style="list-style: none;">
      <lh>Ideation</lh>
      <li>App name</li>
      <li> App description</li>
    </ul>
  </div>
</div>
<div class="sub-step grid">
  <div class="grid__col-sm-3">
    <ul style="list-style: none;">
      <li><i class="circle green checkmark scale">✓</i></li>
    </ul>
  </div>
  <div class="sub-list-style grid__col-auto">
    <ul style="list-style: none;">
      <lh>Marketing</lh>
      <li>Pitch video</li>
      <li>Screenshots</li>
    </ul>
  </div>
</div>

<div class="sub-step grid">
  <div class="grid__col-sm-3">
    <ul style="list-style: none;">
      <li><i class="circle orange scale"></i></li>
    </ul>
  </div>
  <div class="sub-list-style grid__col-auto">
    <ul style="list-style: none; grid__cell--padding-sm">
      <lh>Code</lh>
      <li>Development platform</li>
      <li>Source code</li>
      <li>Technovation checklist</li>
      <small>
        *The checklist does not have to be complete,
        but is not editable after the deadline.
      </small>
    </ul>
  </div>
</div>

<div class="sub-step grid">
  <div class="grid__col-sm-3">
    <ul style="list-style: none;">
      <li><i class="circle grey scale">✓</i></li>
    </ul>
  </div>
  <div class="sub-list-style grid__col-auto">
    <ul style="list-style: none;">
      <lh>Pitch</lh>
      <li>Demo video</li>
    </ul>
  </div>
</div>
