<div class="grid">
  <div class="grid__col-sm-12 grid__col--bleed">
    <h3>Submission Progress</h3>

    <% unless SeasonToggles.team_submissions_editable? %>
      Submissions are not editable at this time.
    <% end %>
  </div>
</div>

<% if SeasonToggles.team_submissions_editable? %>
  <%= render 'team_submissions/menu',
    submission: current_team.submission %>
<% end %>
