<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <h3>
      Club Ambassadors
    </h3>

    <div class="panel">
      <ul>
        <% club.current_ambassadors.each do |ambassador| %>
          <li>
            <%= link_to ambassador.full_name, admin_participant_path(ambassador) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
