<dt>Sign Volunteer Agreement</dt>
<dd>
  <div style="display: flex;">
    <% if profile.chapter_volunteer_agreement_complete? %>
      <%= web_icon("check-circle icon-green") %>
      <div>
        Complete

        <p class="hint margin--b-none">
        <% if profile.chapter_volunteer_agreement.signed? %>
          Signed <%= profile.chapter_volunteer_agreement.signed_at.strftime("%b %d, %Y") %>
      <% elsif profile.chapter_volunteer_agreement.off_platform? %>
        Completed Off-platform
      <% end %>
        </p>
      </div>
    <% else %>
      <%= web_icon("exclamation-circle icon-red") %>
      <div>
        Incomplete

        <% if profile.is_a?(ClubAmbassadorProfile) || profile.chapter_volunteer_agreement.blank? %>
          <p class="hint margin--b-none">
          Not sent
          </p>
        <% else %>
          <p class="hint margin--b-none">
          Not signed
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</dd>
