<p><strong>AUTORIZACIÓN DE USO DE IMAGEN Y MEDIOS (NO COMERCIAL)</strong></p>

<p>
  En relación con la producción no comercial de materiales audiovisuales, fotografías, videos, películas y cualquier otro formato o medio, así como cualquier obra derivada de los mismos (en adelante, los "Proyectos Multimedia"), por la presente otorgo a Technovation el derecho y permiso para utilizar en todo el mundo mi nombre, imagen, semejanza, apariencia, voz, declaraciones y/o actuación únicamente con fines no comerciales.  Los fines no comerciales incluyen propósitos educativos, promocionales y publicitarios, los cuales pueden abarcar la recaudación de fondos sin fines de lucro.  No podré revocar ni modificar mi decisión de otorgar este permiso a Technovation. Technovation utilizará los Proyectos Multimedia en los que yo aparezca exclusivamente para fines educativos, promocionales y publicitarios de carácter no comercial, tales como publicaciones en redes sociales y boletines informativos.
</p>

<p>Acepto que:</p>

<ul>
  <li>
    No recibiré remuneración ni compensación alguna por los Proyectos Multimedia en los que sea incluida.
  </li>

  <li>
    Technovation no requiere de acuerdos adicionales ni posteriores de mi parte para la realización de Proyectos Multimedia en los que yo aparezca. 
  </li>

  <li>
    Los Proyectos Multimedia que realice Technovation y en los que yo aparezca podrán ser publicados, reproducidos, modificados y difundidos públicamente tanto por Technovation como por las personas específicas y limitadas que la organización autorice para tal fin.
  </li>

  <li>
    Technovation será el titular exclusivo de todos los derechos, títulos e intereses sobre los Proyectos Multimedia en los que yo aparezca, incluyendo todos los derechos de propiedad intelectual (derechos de autor). Reconozco que no poseo derecho de propiedad ni interés alguno sobre dichos Proyectos Multimedia.
  </li>

  <li>
    En la medida en que la ley aplicable lo permita, renuncio de manera irrevocable a mis derechos legales, incluidos los derechos morales, respecto a los Proyectos Multimedia en los que aparezca. Esta renuncia comprende el derecho a ejercer acciones legales, demandas, reclamación de daños y perjuicios, así como el cobro de gastos.
  </li>

  <li>
    Este documento constituye el acuerdo íntegro y único entre Technovation y mi persona en relación con los Proyectos Multimedia en los que participo. No me he basado en ninguna otra declaración fuera de este contrato. En caso de existir acuerdos o entendimientos previos sobre este tema, el presente acuerdo prevalecerá sobre ellos.
  </li>

  <li>
    Si cualquier disposición de este acuerdo resultara ilegal, nula o inaplicable según las leyes vigentes, esto no afectará la validez y aplicabilidad de las demás cláusulas del mismo.
  </li>
</ul>

<p><strong>AL FIRMAR, RECONOZCO QUE HE LEÍDO, COMPRENDIDO Y FIRMO VOLUNTARIAMENTE, POR MI PROPIO DERECHO, TODOS LOS TÉRMINOS DE ESTE ACUERDO</strong></p>
