<p><strong>NON-COMMERCIAL MEDIA RELEASE</strong></p>

<p>In connection with Technovation’s non-commercial production of visual media, photos, video, motion picture, and any other medium or format, and any derivative work thereof (together “Media Projects”), I hereby grant to Technovation the right and permission to use throughout the world my name, image, likeness, appearance, voice, statements, and/or performance for non-commercial purposes only. Non-commercial purposes include education, promotional, and advertising purposes which may include nonprofit fundraising. I cannot change my decision to grant Technovation this permission. Technovation will only use Media Projects that include me for non-commercial educational, promotional, and advertising purposes — like social media posts and newsletters.</p>

<p>I agree that:</p>

<ul>
  <li>I will not be paid or compensated for Media Projects that include me.</li>
  <li>Technovation does not need additional or further agreement from me to make Media Projects that include me.</li>
  <li>Media Projects that Technovation makes that include me can be published, copied, modified, and released publicly by Technovation and by specific, limited people that Technovation authorizes to do so.</li>
  <li>Technovation will own all rights, titles and interest in Media Projects that include me, including all copyright interest. I have no ownership or interest in these Media Projects.</li>
  <li>As permitted by applicable law, I irrevocably waive my legal rights, including moral rights, regarding the Media Projects that include me. These legal rights include legal actions and suits, monetary damages, and expenses.</li>
  <li>This is the only agreement between me and Technovation relating to Media Projects that include me. I have not relied on anything else but this agreement. If there were any other agreements or understandings on this topic, this agreement overrides them.</li>
  <li>If any part of this agreement is illegal, invalid, or unenforceable under applicable laws, the other parts of this agreement are not affected.</li>
</ul>

<p><strong>BY "GRANTING PERMISSION", I ACKNOWLEDGE THAT I HAVE READ, UNDERSTOOD, AND SIGN VOLUNTARILY AS MY OWN FREE ACT ALL OF THE TERMS OF THIS AGREEMENT.</strong></p>
