<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear Admin,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <p><%= @name %> has requested to add the following regions to their profile:</p>

          <ul>
            <% @regions_requested.each do |region| %>
              <li><%= region %></li>
            <% end %>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Cheers,<br />
          The Technovation Mailer Bot
        </td>
      </tr>
    </table>
  </td>
</tr>