<h1>Content & Settings</h1>
<h3>
  Toggle user features and content throughout the season
</h3>

<div id="admin-content-settings">
  <%= form_with(
        id: "season_schedule",
        scope: :season_toggles,
        url: admin_season_schedule_settings_path,
        local: true,
        method: :patch) do |f| %>

    <admin-content-settings
      cancel-button-url="<%= admin_dashboard_path %>"
    />

  <% end %>
</div>
