/*
  THIS WILL REPLACE BUTTONS SOON
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: $action-color;
  border-radius: 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: 0.875rem;
  letter-spacing: normal;
  line-height: 1;
  min-width: 150px;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;


  &:hover,
  &:focus {
    background-color: $shamrock-mid;
    color: #fff;
  }

  &:active {
    background-color: #fff;
    color: $shamrock-mid;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

// the above affects all input buttons, but if you want to style a link as a button, you need to use one of the classes below
.primary-button {
  @extend button;
  font-size: 1rem;
  padding: $small-spacing $base-spacing;
  text-align: center;
}

.secondary-button {
  @extend button;
  background-color: #fff;
  color: $shamrock;
  font-size: 1rem;
  padding: $small-spacing;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $light-grey;
    color: $shamrock-mid;
  }
}

.transparent-button {
  @extend button;
  background-color: transparent;
  border-color: #fff;
  border: $base-border;
  color: #fff;
  font-size: 1rem;
  padding: $small-spacing;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #fff;
    color: $shamrock;
  }
}

.transparent-accent-button {
  @extend button;
  background-color: transparent;
  border-color: $marine;
  border: $base-border;
  color: $marine;
  font-size: 1rem;
  line-height: 1;
  padding: $small-spacing;
  text-align: center;
  vertical-align: middle;

  &.header {
    border-color: $lemon;
    color: $lemon;

    &:hover,
    &:focus {
      background-color: $lemon;
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    background-color: $marine;
    color: #fff;
  }
}
.appy-button {
  outline: 0;
  background-color: $shamrock-mid;
  border-radius: 0.15rem;
  box-shadow: 0 2px 0 darken($shamrock-mid, 10);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1rem;
  font-weight: bold;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transform: translateY(0);
  transition: background-color 0.1s,
    box-shadow 0.1s,
    transform 0.1s;

  &:active,
  &:hover,
  &:focus {
    background-color: darken($shamrock-mid, 5);
    color: white;
  }

  &:active {
    box-shadow: 0 0 0 darken($shamrock-mid, 10);
    transform: translateY(2px);
  }
}

.appy-button--sm {
  padding: 0.25rem 1rem;
}

.unbutton,
.unbutton:hover,
.unbutton:active,
.unbutton:focus {
  background-color: transparent;
  border: 0;
  color: currentColor;
  display: inline;
  font-family: $base-font-family;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 0;
  text-transform: none;
}
