.fancy-file-upload,
.fancy-image-upload {
  input[type='submit'] {
    display: block;
    float: right;
    margin-right: 0;
  }
}

.fancy-file-upload__drop-zone,
.fancy-image-upload__drop-zone {
  background-color: $light-grey;
  border-radius: 0.5rem;
  border: 4px solid $mid-grey;
  color: $dark-grey;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 0.25em;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: background-color 0.25s;

  &:active {
    background-color: $mid-grey;
  }

  input {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .fa {
    display: block;
    font-size: 3rem;
    margin: 1rem 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.fancy-file-upload__label,
.fancy-image-upload__label {
  display: block;
}

.fancy-file-upload__files-list,
.fancy-image-upload__files-list {
  font-weight: normal;
}
