// Toggle
// Place directly after a checkbox input. Changes its display
// based on checkbox input value
// <span class='fancy-toggle'></span>
// ========
// Optionally, wrap the checkbox and helper span in an element with the
// 'fancy-toggle-wrapper' class to automatically hide the checkbox

$borderWidth: 2px;
$dotSize: 18px;

.fancy-toggle {
  background-color: $light-grey;
  border-radius: $dotSize;
  border: 2px solid $dark-grey;
  box-sizing: content-box;
  display: inline-block;
  height: $dotSize;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.25s;
  width: $dotSize * 2;

  &::before {
    background-color: white;
    border-radius: $dotSize;
    border: 1px solid $dark-grey;
    content: '';
    display: block;
    height: $dotSize;
    left: 0;
    position: absolute;
    transition: left 0.25s;
    top: 0;
    width: $dotSize;
  }
}

input[type="checkbox"]:checked ~ .fancy-toggle {
  background-color: $shamrock-mid;

  &::before {
    left: calc(100% - #{$dotSize});
  }
}

.fancy-toggle-wrapper {
  *::selection {
    background-color: transparent;
  }

  input[type="checkbox"] {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 0;
  }
}
