$alert-color: #ffc107;
$error-color: #f44336;
$notice-color: #2196f3;
$success-color: $shamrock;

.flash {
  background-color: white;
  border-top: 3px solid $silver;
  bottom: 1.5rem;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  cursor: default;
  left: 1rem;
  max-width: 300px;
  min-height: 100px;
  opacity: 0;
  padding: 1rem 2rem 1.5rem 1rem;
  position: fixed;
  transition: all 0.25s;
  transform: translateY(1rem);
  width: calc(100% - 2rem);
  z-index: $z-modal;

  &::after {
    font-family: FontAwesome;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}

.flash--small {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  border-top: 0;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  min-height: 0;
  padding: 0.5em 0.75em;

  &::after {
    position: relative;
    right: auto;
    bottom: auto; 
  }
}

.flash--alert {
  border-color: $alert-color;

  &::after {
    color: $alert-color;
    content: '\f071';
  }
}

.flash--error {
  border-color: $error-color;

  &::after {
    color: $error-color;
    content: '\f06a';
  }
}

.flash--notice {
  border-color: $notice-color;

  &::after {
    color: $notice-color;
    content: '\f0f3';
  }
}

.flash--success {
  border-color: $success-color;

  &::after {
    color: $success-color;
    content: '\f058';
  }
}

.flash.flash--show {
  opacity: 1;
  transform: translateY(0);
}
