.gallerify__wrapper {
  background-color: $granite;

  &,
  * {
    @include disable-highlight;
  }
}

.gallerify__main {
  background-image: linear-gradient(to right bottom, $granite, $silver);
  position: relative;
  text-align: center;

  &::before {
    content: '';
    display: block;
    padding-bottom: 65%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.gallerify__thumbs {
  display: flex;
  overflow: auto;
}

.gallerify__thumb-img-wrapper {
  $reg-size: 150px;
  $mobile-size: 100px;
  display: inline-block;
  height: $reg-size;
  min-height: $reg-size;
  min-width: $reg-size;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: $reg-size;

  @media screen and (max-width: $device-xs) {
    height: $mobile-size;
    min-height: $mobile-size;
    min-width: $mobile-size;
    width: $mobile-size;
  }
}

.gallerify__control {
  $size: 50px;
  background-color: $shamrock-mid;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken($shamrock-mid, 10);
  height: $size;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $size;

  &::before {
    $size: 40%;
    $stroke: 6px;
    border-color: white;
    border-style: solid;
    border-width: $stroke $stroke 0 0;
    content: '';
    display: block;
    height: $size;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
  }
}

.gallerify__control--prev {
  left: 0.5em;

  &::before {
    transform: translateX(-40%) translateY(-50%) rotate(-135deg);
  }
}

.gallerify__control--next {
  right: 0.5em;

  &::before {
    transform: translateX(-60%) translateY(-50%) rotate(45deg);
  }
}

.gallerify__thumb-img {
  display: block;
  min-height: 100%;
  min-width: 100%;
}
