$base-spacing: 1.5em !default;

.notify-banner {
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;
}

@mixin notify-banner($color) {
  background-color: $color;
  color: darken($color, 60%);

  a {
    color: darken($color, 70%);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.notify-banner--alert {
  $alert-color: #fff6bf;
  @include notify-banner($alert-color);
}

.notify-banner--error {
  $error-color: #fbe3e4;
  @include notify-banner($error-color);
}

.notify-banner--notice {
  $notice-color: #e5edf8;
  @include notify-banner($notice-color);
}

.notify-banner--success {
  $success-color: #e6efc2;
  @include notify-banner($success-color);
}
