// Markup must follow the following structure:
//
// <div class="scrolly-table">
//   <div class="scrolly-table__overflow-handler">
//     <table>
//       <thead>
//         <tr>
//           <th>Foo</th>
//           <th>Bar</th>
//           <th>Baz</th>
//         </tr>
//       </thead>
//       <tbody>
//         <tr>
//           <td>Lorem ipsum dolor</td>
//           <td>Sit amet consectetur</td>
//           <td>Edipiscing amet lorem</td>
//         </tr>
//       </tbody>
//     </table>
//   </div>
// </div>

.scrolly-table {
  border: 1px solid #999;
  position: relative;

  .scrolly-table__dummy-table {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .scrolly-table__overflow-handler {
    max-height: 400px;
    overflow: auto;
  }

  table {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    margin: 0;
    max-height: 400px;
    overflow: auto;
  }

  thead {
    //display: block;
  }

  th {
    background: $mulberry-mid;
    color: white;
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  tbody {
    max-height: 250px;
  }

  tr:hover td {
    background-color: #ddd;
  }

  td {
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
    padding: 0.5rem 1rem;
  }
}
