.search-panel-and-results {
  display: flex;

  @media screen and (max-width: $device-md) {
    flex-wrap: wrap;
  }
}

.search-panel-and-results__search {
  align-self: flex-start;
  margin: 0 2rem 1rem 0;
  max-width: 250px;
  min-width: 250px;

  @media screen and (max-width: $device-md) {
    margin: 0 0 1rem;
    max-width: auto;
    min-width: 100%;
  }
}

.search-panel-and-results__results {
  padding: 0;
  width: 100%;

  .pagination {
    text-align: center;

    a {
      display: inline-block;
    }
  }
}
