//<div class="tabs">
  //<ul class="tab-menu">
    //<li class="tab-link">
      //<button
        //role="button"
        //class="tab-button"
        //data-tab-id="<TAB-ID-HERE>">
        //BUTTON TEXT
      //</button>
    //</li>

    //<li class="tab-link">
      //<button
        //role="button"
        //class="tab-button"
        //data-tab-id="<TAB-ID-HERE>">
        //BUTTON TEXT
      //</button>
    //</li>
  //</ul>

  //<div class="content">
    //<div class="tab-content" id="<TAB-ID-HERE>">
      //CONTENT
    //</div>

    //<div class="tab-content" id="<TAB-ID-HERE>">
      //CONTENT
    //</div>
  //</div>
//</div>

.tabs {
  .tab-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    .tab-link {
      background: #ddd;
      border-top: 3px solid #999;
      box-sizing: border-box;
      margin-right: 0.5rem;
      padding: 0;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 0;

      &.active {
        background: white;
        border-color: $mulberry;

        .tab-button {
          font-weight: bold;
        }
      }
    }
  }

  &.tabs-vertical {
    padding: 0;

    .tab-menu {
      display: block;
    }

    .tab-link {
      background: inherit;
      border: 0;
      margin: 0;
      box-shadow: none;
    }

    .tab-content {
      margin: 0;
    }

    .content,
    + .content {
      border-left: 1px solid #ddd;
    }

    .tab-button {
      font-weight: normal;
      font-family: sans-serif;
      text-align: left;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid #ddd;
      text-transform: none;

      &:hover {
        font-weight: bold;
      }
    }
  }

  .tab-content {
    position: relative;
    margin-top: -2px;

    .card__heading {
      background: transparent;

      .card__heading-text {
        display: none;
      }

      .appy-button {
        outline: 0;
        color: black;
        border-color: black;
      }
    }

    &.tab-content__hiding {
      display: none;
    }

    &.tab-content__showing {
      display: block;

      &.flex-row {
        display: flex;
      }
    }
  }
}

.tab-button {
  border-radius: 0;
  background-color: transparent !important;
  padding: 0.5rem 1rem;
  border: 0;
  color: currentColor !important;
  outline: 0;

  &:hover {
    background: white !important;
  }
}
