.appy-title {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 0.75rem;
  padding: 0 0.5rem 0.5rem 0;
  position: relative;

  small {
    display: block;
    font-size: 0.85rem;
    text-transform: uppercase;

    a {
      display: block;
      padding: 0.25rem 0;
      color: $mulberry;
    }
  }

  &::after {
    background-color: $shamrock;
    bottom: 0;
    content: '';
    display: block;
    height: 0.25rem;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.appy-subtitle {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  &.appy-heading-lg.appy-heading-lg {
    color: $chalkboard;
    font-family: $heading-font-family;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 0.75rem;
  }
}

.simple_form .appy-hint, .appy-hint {
  margin: -1rem 0 1rem;
  font-size: 1rem;
}

.appy-bulleted-list {
  list-style-type: disc;
  margin: 0 0 1rem;

  li {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
