<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <ul class="navigation-menu">
      <li class="nav-link">
        <%= link_to t('views.application.site_title'), mentor_dashboard_path %>
      </li>

      <%= render 'signed_in' %>
    </ul>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  </div>
</header>
