<center>
  <h1>
    <%= fa_icon("frown-o") %>
    We're sorry, but this page took too long to load.
    <%= fa_icon("frown-o") %>
  </h1>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <h1>
    Our website is just a little too busy right now.
  </h1>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p style="font-weight: bold;">
    Please wait a moment, then
    <%= link_to "go back", params[:back] %>
    and try again.
  </p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p style="font-weight: bold;">
    If this keeps happening, contact us at
    <%= mail_to ENV.fetch("HELP_EMAIL"),
      ENV.fetch("HELP_EMAIL"),
      subject: "Page timing out",
      body: "This URL is timing out: https://#{ENV['HOST_DOMAIN']}#{params[:back]}" %>
  </p>
</center>
