<div id="profile-settings" class="h-auto mb-10 lg:mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper bg-energetic-blue text-white p-2">
    <p class="font-bold"><%= heading %></p>
  </div>

  <div id="tab-wrapper" class="p-6">
    <div class="tw-tab-content">
      <a class="tw-active active-tab" id="basic-info-tab" href="#basic-tab-content">Basic Information</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a id="parental-tab" href="#parent-tab-content">Parental Consent</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a id="location-tab" href="#location-tab-content">Location</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a id="email-tab" href="#email-tab-content">Change Email</a>
    </div>

    <div class="tw-thick-rule"></div>

    <div class="tw-tab-content">
      <a id="pw-tab" href="#pw-tab-content" >Change Password</a>
    </div>
  </div>
</div>
