<% provide :title, "#{@team.name}'s submission" %>

<div class="grid">
  <div class="grid__col-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="submission__sidebar col--sticky">
        <%= render "team_submissions/menu",
          submission: @team_submission,
          embedded: true %>
      </div>
    </div>
  </div>

  <div class="grid__col-6 submission-pieces col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <%= render "team_submissions/pieces",
          submission: @team_submission,
          team: @team,
          scope: :mentor %>
      </div>
    </div>
  </div>

  <div class="grid__col-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <%= render "team_submissions/sidebar_b",
          submission: @team_submission %>
      </div>
    </div>
  </div>
</div>
