<p>
  You have been added as an Admin on the Technovation platform
</p>

<p><strong>READ THIS MESSAGE FIRST</strong></p>

<p>
  It is Iridescent policy that
  <strong>ALL WORK RELATED PASSWORDS</strong>
  are generated with our password management software.
</p>

<p>
  Make sure you create your password with the generator,
  and please ensure that it is set to use at least 20 characters.
</p>

<p>Thank you for your help in keeping our user data secure!</p>

<p>
  <%= link_to "Create your password now", @url %>
</p>