<p>Hi Technovation Team,</p>

<p>A new RA application for <%= @name %> has been completed and is ready for your approval. Please login to review the application and approve/decline this RA's account.</p>

<p><%= link_to @url, @url %></p>

<p>Best,<br />
Joe &amp; Allie</p>
