<% if hidden ||= false %>
  <%= render 'explanations/feature_not_available', feature: :create_team %>
<% else %>
  <p class="font-bold">Create a team</p>
  <p>
    Start your own team or   
    <span>
     <%= link_to("search for an existing team to join",
           send("new_#{current_scope}_team_search_path"),
           class: 'tw-link')
     %>
      . Know someone who wants to join your team? After creating the team, have them search by your team name and send you a request to join.
    </span>
  </p>
  <div class="step-actions mt-8">
    <%= link_to(
      t("views.profile_requirements.create_join_team.links.create.text"),
      send("new_#{current_scope}_team_path"),
      class: "tw-green-btn"
    ) %>
  </div>
<% end %>
