<%= @mentor.full_name %>

<p>
  <%= form_for [:student, @team_member_invite] do |f| %>
    <%= f.hidden_field :invitee_email, value: @mentor.email %>
    <%= f.submit t("views.mentors.show.invite_to_team") %>
  <% end %>
</p>
