<%= render "completion_steps/invitations",
  hidden: current_mentor.onboarding?,
  invites: current_mentor.pending_mentor_invites %>

<div class="margin--t-large border--t-thin padding--t-medium">
  <%= render "completion_steps/join_requests",
    hidden: current_mentor.onboarding?,
    allow_many: true,
    requests: current_mentor.join_requests.pending %>
</div>