<% if @regional_events and @regional_events.any? %>
  <div class="team-submissions__assign-regional-event">
    <p>
      You're invited to a Live Technovation Competition in your region!<br/>
      Your team is in the
      <strong>
        <%= current_team.region_name %>
        <%= current_team.division_name %>
        division
      </strong>
      region.
    </p>

    <p>
      To attend, select an event below:
    </p>

    <div class="regional-pitch-events">
      <%= render @regional_events %>
    </div>
  </div>
<% end %>
