<% if submission.complete? %>
  <div class="team-submission__complete-actions">
    <p class="publish-submission progress-help">
      Your submission is complete* and ready to share!<br />

      <%= link_to "See the public version",
        app_path(submission),
        class: "appy-button",
        target: :_blank %>

      <span>
        *you can still make edits until 5:00pm (17h) US/Pacific (PST)
        on Wednesday, April 26
      </span>
    </p>
  </div>
<% end %>

<%= render 'student/team_submissions/progress_bar', submission: submission %>
