<p class="notify-banner notify-banner--notice">THIS IS A WORK IN PROGRESS ACCESSIBLE ON QA ONLY - NOT READY FOR TESTING - FEEL FREE TO PLAY AROUND WITH IT THOUGH</p>

<%= @team_submission.step %>

<%= render "student/team_submissions/#{@team_submission.step}_form", team_submission: @team_submission %>
