<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h1 class="page-heading">Submissions are not ready yet</h1>
      <p>We are hard at work on a new design for the <%= Season.current.year %> season.</p>
      <p>Technovation will email all teams when the submissions section is open!</p>
    </div>
  </div>
</div>
