<header class="w-full h-96 bg-cover bg-center flex flex-col justify-center"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= image_path "tg-header-landing-page.png"%>);">
  <div class="banner-text-wrapper text-center md:text-left">
    <span class="text-white text-7xl md:text-8xl font-black md:pl-56 rubik">SIGN UP</span>
  </div>
</header>