<div class="tg-green-stripes rubik h-auto mx-auto pt-16 flex flex-col mb-8">
  <div class="banner-text-wrapper w-full lg:w-3/4 mx-auto pb-16">
    <div class="text-white text-4xl md:text-6xl font-black mb-8 uppercase">Technovation Girls</div>
  </div>
</div>