<li>
  <a href="<%= url %>" class="group flex items-center hover:text-gray-900">
    <span class="flex h-9 items-center" aria-hidden="true">
      <% if is_complete %>
        <span class="flex h-6 w-6 items-center justify-center rounded-full bg-tg-green">
          <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd">
          </svg>
        </span>
      <% elsif is_active_item %>
        <span class=" flex h-6 w-6 items-center justify-center rounded-full border-2 border-tg-green bg-white">
          <span class="h-2.5 w-2.5 rounded-full bg-tg-green"></span>
        </span>
      <% else %>
        <span class=" flex h-6 w-6 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-300">
          <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
        </span>
      <% end %>
    </span>

    <span class="ml-4 text-sm font-medium"><%= name %></span>
  </a>
</li>
