<p>Hi <%= @first_name %>!</p>

<p>Good news! <%= @team_name %> accepted your request to be <%= @role_name %>!</p>

<p>You can see your new team and their contact information here:</p>

<p><%= link_to @url, @url %></p>

<p>Best,<br />
The Technovation Team</p>
