<p>
  <%= t("team_mailer.join_request.intro", requestor_name: @requestor_name,
                                          role_name: @role_name) %>
</p>

<p>
  <%= t("team_mailer.join_request.review_link") %>
  <%= link_to @url, @url %>
</p>
