<% provide :title, "Starting your submission" %>

<div class="panel panel--left">
  <h1 class="panel__heading">
    <%= Season.current.year %> Technovation Honor Code
  </h1>

  <%= render "team_submissions/honor_code" %>
</div>

<div class="panel panel--left">
  <h1 class="panel__heading">
    Your Team Photo
  </h1>

  <%= render 'teams/intro',
    modal_id: "team_photo_desktop",
    admin_ra: false,
    team: @team %>
</div>
