<% provide :title, "Starting your submission" %>

<% provide :next_link_txt, "Ideation" %>
<% provide :next_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :ideation
) %>

<div class="panel panel--left">
  <h1 class="panel__heading">
    <%= Season.current.year %> Technovation Honor Code
  </h1>

  <%= render "team_submissions/honor_code" %>
</div>

<div class="panel panel--left">
  <h1 class="panel__heading">
    Your Team Photo
  </h1>

  <%= render 'teams/intro',
    modal_id: "team_photo_desktop",
    admin_chapter_ambassador: false,
    team: @team %>
</div>
