<li class="md:hidden"><a href="/student/dashboard#/curriculum">Curriculum</a></li>
<li class="md:hidden"><a href="https://www.technovation.org/about/">About</a></li>
<li><a href="https://youtu.be/XOApxANDG-s">Using Your Dashboard</a></li>
<li><a href="https://www.technovation.org/safety/internet-safety-tips-for-children/">Safety Information</a></li>
<li><a href="https://www.technovationchallenge.org/submission-guidelines/">Submission Guide</a></li>
<li><a href="https://www.technovationchallenge.org/judging-rubric/">Judging Rubrics</a></li>
<% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
  <li>
    <%= link_to SeasonToggles.survey_link(current_scope, "text"),
                SeasonToggles.survey_link(
                  current_scope, "url",
                  format_url: true,
                  account: current_account
                ),
                target: "_blank"
    %>
  </li>
<% end %>
<li>
  <% if current_account.authenticated? %>
    <%= link_to t('views.application.signout'), signout_path, class: 'text-sm' %>
  <% end %>
</li>