<div class="sub-nav-wrapper w-full lg:w-3/4 mx-auto">
  <ul class="list-reset flex border-b">
    <li class="-mb-px">
      <a class="text-white py-2 px-4"
         href="#">Dashboard</a>
    </li>
    <li>
      <a class="bg-white text-energetic-blue py-2 px-4 rounded-tr-3xl font-semibold" href="#">My Profile</a>
    </li>
    <li>
      <a class="text-white py-2 px-4 " href="#">My Team</a>
    </li>
  </ul>
</div>