<div class="tg-green-stripes rubik h-auto mx-auto pt-16 flex flex-col mb-8">
  <div class="banner-text-wrapper w-full lg:w-3/4 mx-auto pb-16">
    <% if current_account.assigned_to_chapterable? %>
      <%= render partial: 'dashboards/rebrand/assigned_to_chapterable'%>
    <% else %>
      <%= render partial: 'dashboards/rebrand/unaffiliated_to_chapterable'%>
    <% end %>
  </div>

  <%= render 'student/navigation/rebrand/tg_sub_nav' %>
</div>
