<div class="tg-green-stripes rubik h-auto mx-auto pt-16 flex flex-col mb-20">
  <div class="banner-text-wrapper w-full lg:w-3/4 mx-auto pb-16">
    <div class="text-white text-4xl md:text-7xl font-black">TECHNOVATION GIRLS ####</div>
    <div class="text-white text-lg md:text-3xl font-bold">Meet your Chapter Ambassador ></div>
  </div>

  <%= render 'student/navigation/rebrand/tg_sub_nav' %>
</div>
