  <nav class="p-4" aria-label="Progress">
    <ol role="list" class="space-y-6 mb-6 overflow-hidden">
      <%= render "application/templates/completion_step",
                 name: "Public info",
                 url: club_ambassador_profile_path,
                 is_complete: false,
                 is_active_item: al(club_ambassador_profile_path).present?
      %>

      <%= render "application/templates/completion_step",
                 name: "Club location",
                 url: club_ambassador_profile_path,
                 is_complete: false,
                 is_active_item: al(club_ambassador_profile_path).present?
      %>
    </ol>
  </nav>
