<%= render layout: "application/templates/dashboards/side_nav", locals: { heading: "Club Details"} do %>
  <div class="p-4" id="tab-wrapper">
    <%= render "club_ambassador/club_profile/side_nav_content" %>
  </div>
<% end %>
