*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

label {
  display: block;
  padding: 1rem 0;
}

input,
select {
  font-size: 1.2rem;
  padding: 0.5rem;
}

p {
  padding: 1rem 0;
}

dl {
  dt {
    font-weight: bold;
    display: block;
  }

  dd {
    display: block;
    padding: 0;
    margin: 0.5rem 0 2rem;
  }
}
