.admin-dashboard {
  p {
    padding: 0;
  }

  .card {
    flex-grow: 1;
    margin-bottom: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  }

  .card__heading {
    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .card__body {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border: solid $mulberry;
    border-width: 0 1px 1px;
  }
}

.admin-dashboard__quickviews-wrapper {
  padding: 0 1rem;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    width: 40%;
    margin-right: 1rem;

    &:nth-child(even),
    &:last-child,
    &:only-child {
      margin-right: 0;
    }

    &:last-child,
    &:only-child {
      width: 48.70550162%;
      flex-grow: 0;
    }
  }
}

.admin-dashboard__sidebar {
  max-width: 250px;
}
