.admin-search__filter-options {
  background: lighten($shamrock, 25%);
  margin: 1rem 1rem 0 1rem;
  padding: 0 1rem;
  min-width: 200px;

  input,
  select,
  button,
  label {
    display: block;
  }
}

.admin-results-table {
  max-width: 650px;
  white-space: nowrap;
  margin: 1rem 0;
  border: 3px solid #666;

  .admin-results-header-table {
    background: $mulberry;
    color: white;
    max-width: 650px;
    overflow: auto;
  }

  .admin-results-data-table {
    max-width: 650px;
    max-height: 400px;
    overflow: auto;
  }

  .header,
  .cell {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 1rem;
    word-wrap: nowrap;
    white-space: nowrap;

    p {
      margin: 0 0 0.5rem;
      padding: 0;
    }
  }

  .header {
    position: relative;

    .header-filter-menu {
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .row {
    display: table-row;
    vertical-align: top;
    background: #eee;
    border: solid #aaa;
    border-width: 0 0 1px;

    &:nth-child(odd) {
      background: #ddd;
    }
  }
}

.wrapper__report-column:only-child {
  .admin-results-table {
    max-width: 100%;
  }
}

.pagination {
  padding: 1rem 0;

  a, .gap, .current {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    background: darkgrey;
    color: black;
    text-decoration: none;
    transition: background-color 0.5s;
  }

  a:hover {
    background: grey;
  }

  .current, .gap {
    background: white;
  }
}

.admin-search__export-options {
  padding: 0 0 1rem;

  [type='email'] {
    width: 60%;
    margin-left: 1rem;
  }
}

#menu-underlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.header-menu {
  position: absolute;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  color: black;
  opacity: 0;
  transition: opacity 0.5s;

  .menu {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    list-style: none;

    li {
      padding: 0.5rem 1rem;
      margin: 0;
      cursor: pointer;

      select {
        font-size: 0.8rem;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.active {
    opacity: 1;
  }
}
