.profile-avatar,
.account-basic,
.account-special {
  flex-grow: 1;
  padding: 0 1rem;
}

.profile-avatar {
  padding: 0 1rem 0 0;
}

.account-special,
.account-basic {
  width: 40%;
}

.account-info {
  max-width: 650px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.mentor-debug {
  padding: 0;
  margin: 0;
  border: 1px solid #666;

  h3 {
    margin: 0 0 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #666;
    background: lightgrey;
  }

  p {
    margin: 0 0 1rem;
    padding: 0 1rem;
  }
}
