<p class="mb-4">
  Events will be confirmed as either Regional Pitch Events or
  Celebration Events after <%= ImportantDates.rpe_officiality_finalized.strftime("%B %-d") %>.
  Please sign in to your account to verify the status of your event after that date.
</p>

<p class="mb-4">
  Note that if your event ends up being a Celebration event, it will not show on the platform,
  only a Regional Pitch Event will. Please check with your local chapter for the latest
  information on the event you signed up for.
</p>

<p>
  For more information about pitch events, please check out the
  <%= link_to 'Technovation FAQ',
    'https://iridescentsupport.zendesk.com/hc/en-us/sections/360007469154-Regional-Pitch-Events'
  %>.
</p>
