<p>
  Events will be confirmed as either Regional Pitch Events or
  Celebration Events after <%= ImportantDates.rpe_officiality_finalized.strftime("%B %-d") %>.
  Please sign in to your account to verify the status of your event after that date.
  For more information about pitch events, please check out the
  <%= link_to 'Technovation FAQ',
    'https://iridescentsupport.zendesk.com/hc/en-us/sections/360007469154-Regional-Pitch-Events'
  %>.
</p>
