<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <h4 class="content-heading">Select an Regional Pitch Event</h4>

    <% if current_scope == "mentor" %>
      <div class="panel">
        <%= render "mentor/teams/team_list_item_content",
              team: current_team,
              type: :current %>
      </div>
    <% end %>

    <%= render partial: 'regional_pitch_events/event',
      collection: @regional_events %>

    <p>
    <% if current_scope == "mentor" %>
      <%= link_to 'Go back',
        mentor_regional_pitch_events_team_list_path,
        class: "button small" %>
    <% else %>
      <%= link_to 'Go back',
        public_send("#{current_scope}_dashboard_path"),
        class: "button small" %>
    </p>
    <% end %>
  </div>
</div>
