<div class="grid grid--justify-center">
  <div class="grid__col-8">
    <%= render 'regional_pitch_events/event',
      event: @regional_pitch_event %>

    <p>
      <%= link_to 'Back',
        public_send("#{current_account.scope_name}_dashboard_path"),
        class: "button small" %>
    </p>
  </div>
</div>
