<div class="grid grid--justify-center">
  <div class="grid__col-8">
    <%= render 'regional_pitch_events/event',
      event: @regional_pitch_event %>

    <p>
      <% if current_scope ="mentor" %>
        <%= link_to 'Go back',
          mentor_regional_pitch_events_team_list_path,
          class: "button small" %>
      <% else %>
        <%= link_to 'Back',
          public_send("#{current_account.scope_name}_dashboard_path"),
          class: "button small" %>
      <% end %>
    </p>
  </div>
</div>
