<h1 class="appy-title">Virtual Judging</h1>

<p>
  You are not attending a Live Regional Pitch Event.<br />
  Therefore, your team's submission will be judged online.
</p>

<p class="standalone-buttons">
  <%= link_to 'See how your submission looks to judges',
    app_path(current_team.submission),
    target: :_blank,
    class: "appy-button" %>
</p>

<p>
  <%= link_to 'Go to your dashboard', student_dashboard_path %>
</p>
