<div class="score_value">
  <div class="score_value_value">
    <%= f.input :value %>
  </div>

  <div class="score_value_label">
    <%= f.input :label, as: :string %>
  </div>
</div>

<p class="score_value_remove">
  <%= f.remove_nested_fields_link t('views.admin.score_categories.remove_value'),
        data: {
          confirm: t('views.admin.score_categories.confirm_remove_value',
                     label: f.object.label,
                     value: f.object.value)
        } %>
</p>
