<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h2>It's a girl's world.</h2>

      <p>Your project has been successfully submitted!
        Thanks for taking on the challenge and creating positive change in
        your local community using technology.</p>

      <p>Let’s stay connected as part of the global Technovation community!</p>

      <%= render 'social_icon_links' %>
    </div>
  </div>
</div>
