<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h3>Confirmation page</h3>

      <p>Ruby put the confirmation content here</p>
      <p>/app/views/published_submissions/confirm.en.html.erb</p>
    </div>
  </div>
</div>
