<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h2>It's a girl's world!</h2>

      <p>
        Your project has been successfully submitted!
        Thanks for taking on the challenge and creating positive change in
        your local community using technology.
      </p>

      <div class="grid--justify-center">
        <p>
          <%= link_to "View your complete submission",
            send(
              "#{current_scope}_published_team_submission_path",
              { id: @team_submission.to_param }
            ),
            class: "button button--small" %>
        </p>
      </div>
    </div>
  </div>
</div>
