<nav class="bg-white">
  <div class="w-full lg:w-3/4 mx-auto px-1">
    <div class="flex justify-between">
      <div>
        <a href="#" class="flex items-center py-4 px-2">
          <%= image_tag "new_registration/tg-girls-logo.png", alt:"Technovation Girls Logo", id:"tg-logo", class:"w-52"%>
        </a>
      </div>
      <div class="flex space-x-7 tw-hidden py-4" id="student-nav">
        <div class="flex items-center space-x-1" id="student-nav-wrapper">
          <a href="">Curriculum</a>
          <a href="">About</a>
          <% if current_account.authenticated? %>
            <%= link_to t('views.application.signout'), signout_path %>
          <% end %>
          <a href=""><%= current_student.first_name %></a>
          <%= image_tag current_student.profile_image_url,
                        class: "rounded-bl-3xl rounded-tr-3xl w-14",
                        id: "profile-image" %>
        </div>
      </div>
    </div>
  </div>
</nav>