<% if current_chapterable.present? &&
      (!current_ambassador.onboarded? || !current_chapterable.onboarded?) %>
  <%= render "club_ambassador/profiles/welcome_message_with_required_steps" %>
<% end %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "club_ambassador/dashboards/onboarding/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Club Ambassador Dashboard" } do %>
    <p>
      Welcome to Technovation Girls
    </p>
  <% end %>
</div>
