 Hi these are some scores!
 <h1> Quarterfinals Scores </h1>
        <% @all_scores.each do |score| %>
        <%= score.total %>
        <% end %>
        Insert accordion with scores here.


<%= @qf_ideation_average %>