<div class="row">
  <div class="col-xs-12">
    <h4>Divisions</h4>
    <p><%= @view.division_names %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Regions</h4>
    <p><%= @view.region_names %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Season</h4>
    <p><%= @view.current_season_year %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Scoring Rubric</h4>
    <p><%= @view.scoring_rubric %></p>
  </div>
</div>
