<h1>The static placeholder home page :)</h1>

<p>
  <%= link_to 'Judge Submissions', judges_scores_path %>
</p>

<h2>Sign in with:</h2>

<dl>
  <dt>Email</dt>
  <dd>judge@judging.com</dd>
  <dt>Password</dt>
  <dd>judge@judging.com</dd>
</dl>

<p>(Yes, the email and password are the same thing)</p>
