<div class="banner--homepage">
  <h3>Important: Required Virtual Participation & COVID-19 Updates</h3>
  <p>Please read our message about the impact of the coronavirus on the 2020 Technovation Girls season.</p>
  <p><%= link_to "Learn more.", "https://www.technovation.org/covid-19/" %></p>
</div>
