<% provide :html_id, "registration-landing" %>

<h1 class="text-3xl font-bold mb-6">Join the movement.</h1>
<p class="mb-8">
  We're entrepreneurs, mentors, and educators looking to teach girls everywhere
  the skills they need to change the world with technology.
</p>

<p class="mb-6">
  <%= link_to "Sign up today",
    signup_path,
    class: "tw-green-btn",
    data: { turbolinks: false } %>
</p>

<p>
  Already have an account?
  <%= link_to raw("Please log in &#8227"),
    login_path,
    data: { turbolinks: false },
    class: "tw-link" %>
</p>

