<% provide :html_id, "registration-landing" %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-6 grid__col-xs-10 panel">
    <h1>Join the movement</h1>

    <div class="text-align--center">
      <%= image_tag asset_path('tc-landing-globe.svg'),
        alt: 'Illustration of a globe',
        width: "40%" %>
    </div>

    <p>
      We're entrepreneurs, mentors, and educators looking to teach girls everywhere
      the skills they need to change the world with technology.
    </p>

    <p>
      <%= link_to "Sign up today", signup_path, class: "button" %>
      or
      <%= link_to "Log in", login_path  %>
    </p>
  </div>
</div>
