<% if ENV.fetch("ENABLE_REBRAND", false) %>
  <div class="rebrand__banner">
    <h3>Technovation is now Technovation Girls.</h3>
    <p>
      <%= link_to "Read more about our exciting transition here >",
        :evolving,
        data: { turbolinks: false } %>
  </div>
<% end %>

<% if SeasonToggles.registration_open? %>
  <div class="grid grid--justify-space-around margin--t-xxlarge">
    <div class="grid__col-12 grid__col-md-10">
      <%= render 'landing' %>
    </div>
  </div>
<% else %>
  <div class="grid grid--justify-space-around">
    <div class="panel grid__col-12 grid__col-md-6">
      <%= render 'off_season_splash' %>
    </div>
  </div>
<% end %>