<% if ENV.fetch("ENABLE_HOMEPAGE_BANNER", false) %>
  <div class="rebrand__banner">
    <h3>Important: Required Virtual Participation & COVID-19 Updates</h3>
    <p>Please read our message about the impact of the coronavirus on the 2020 Technovation Girls season.</p>
    <p><%= link_to "Learn more.", "https://www.technovation.org/covid-19/" %></p>
  </div>
<% end %>

<% if SeasonToggles.registration_open? %>
  <div class="grid grid--justify-space-around margin--t-xxlarge">
    <div class="grid__col-12 grid__col-md-10">
      <%= render 'landing' %>
    </div>
  </div>
<% else %>
  <div class="grid grid--justify-space-around">
    <div class="panel grid__col-12 grid__col-md-6">
      <%= render 'off_season_splash' %>
    </div>
  </div>
<% end %>
