<h3 class="reset">Recent activity</h3>

<%= link_to "View all activity in your region",
  chapter_ambassador_activities_path %>

<hr />

<table class="datagrid">
  <%= render_activities(@recent_activities) %>
</table>
