<% if !current_ambassador.onboarded? || !current_chapter.onboarded? %>
    <%= render "chapter_ambassador/profiles/welcome_message_with_required_steps" %>
<% end %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "chapter_ambassador/dashboards/onboarding/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Chapter Ambassador Dashboard" } do %>
    <p>
      Welcome! Please review and complete the onboarding checklist items to officially become a Chapter Ambassador
      for the upcoming season. Completing this process and the Chapter Profile information will grant you access to
      the administrative dashboard for your Chapter.
    </p>
  <% end %>
</div>
