<div class="grid grid--justify-space-around">
  <div class="grid__col-auto">
    <div class="panel">
      <p>
        Your Chapter profile is pending. Please email <%= mail_to "chapters@technovation.org" %> for help.
        Note that you need to have completed all onboarding steps, including signing your
        MOU before getting access to your Chapter Account.
      </p>
    </div>
  </div>
</div>
