.autocomplete-input {
  margin-bottom: 0;
}

.autocomplete-list {
  @extend .list--reset;
  border: solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border-width: 0 1px;

  .autocomplete-list__result {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.1s;

    &.autocomplete-list__result--highlighted {
      background: #93bcff;
    }
  }
}
