<div class="p-2 border mb-8" style="background-color: #eff6ff;">
  <p class="my-0">Catalonia Chapters cover:</p>
  <ul>
    <li class="my-0 text-sm">Catalonia</li>
    <li class="my-0 text-sm">Baleares</li>
  </ul>

  <p class="mt-3 mb-0">Madrid Chapters cover:</p>
  <ul>
    <li class="my-0 text-sm">Comunidad de Madrid</li>
    <li class="my-0 text-sm">Andalucía (except Málaga, Almería, and Jaén)</li>
    <li class="my-0 text-sm">Aragón</li>
    <li class="my-0 text-sm">Principado de Asturias</li>
    <li class="my-0 text-sm">Canarias</li>
    <li class="my-0 text-sm">Cantabria</li>
    <li class="my-0 text-sm">Castilla y León</li>
    <li class="my-0 text-sm">Castilla-La Mancha (except Cuenca and Albacete)</li>
    <li class="my-0 text-sm">Extremadura</li>
    <li class="my-0 text-sm">Galicia</li>
    <li class="my-0 text-sm">Comunidad de Navarra</li>
    <li class="my-0 text-sm">País Vasco, La Rioja</li>
    <li class="my-0 text-sm">Ceuta</li>
    <li class="my-0 text-sm">Melilla</li>
  </ul>

  <p class="mt-3 mb-0">Murcia Chapter covers:</p>
  <ul>
    <li class="my-0 text-sm">Murcia</li>
    <li class="my-0 text-sm">Albacete</li>
    <li class="my-0 text-sm">Málaga</li>
    <li class="my-0 text-sm">Almería</li>
    <li class="my-0 text-sm">Jaen</li>
  </ul>

  <p class="mt-3 mb-0">Valencia Chapter covers:</p>
  <ul>
    <li class="my-0 text-sm">Comunidad Valenciana</li>
    <li class="my-0 text-sm">Cuenca</li>
  </ul>
</div>
