<center>
  <h1 class="appy-title">
    <%= fa_icon("frown-o") %>
    The page you are trying to access requires a secret token
    <%= fa_icon("frown-o") %>
  </h1>

  <h1 class="appy-title">
    We're sorry, but the required token seems to be missing
  </h1>
</center>

<p><strong>Here are a few things you can try:</strong></p>

<ul style="list-style: disc; margin: 1rem; padding: 0 1rem;">
  <li>If you recently received an email from us with a link in it, try clicking the link from within the email again.</li>
  <li><%= link_to "Go back to the homepage", root_path %>, and retry your actions from the very beginning.</li>
  <li>
    If you continue to get the error, please forward any recent email you received from us to
    <%= mail_to ENV.fetch("HELP_EMAIL"),
      ENV.fetch("HELP_EMAIL"),
      subject: "Token missing error" %>
    and give us as much detail as you can about what you were trying to do.
  </li>
</ul>
