<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h3><%= Season.current.year %> Technovation Honor Code</h3>

      <%= render "team_submissions/honor_code" %>

      <p>
        <%= link_to "We agree",
          send(
            "#{current_scope}_team_submission_publication_path",
            @team_submission,
            { id: @team_submission.to_param }
          ),

          data: {
            method: :post,
          },

          class: "button" %>

        or

        <%= link_to "go back",
          send(
            "#{current_scope}_team_submission_section_path",
            @team_submission,
            section: :ideation
          ) %>
      </p>
    </div>
  </div>
</div>
