<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "chapter_ambassador/chapter_profile/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Chapter Public Info" } do %>
    <div>
      <% if current_chapter.present? %>
        <%= render "chapter_ambassador/chapter_program_information/form"%>
      <% else %>
        <p>You are not associated with a chapter. Please contact <%= mail_to ENV.fetch("HELP_EMAIL") %> for support.</p>
      <% end %>
    </div>
  <% end %>
</div>

