<% css_class ||= "" %>

<div class="h-auto mb-auto rounded-md border-solid border-4 border-energetic-blue w-full <%= css_class %>" >
  <div class="sm-header-wrapper ">
    <p class="font-bold" id="energetic-heading"><%= heading %></p>
  </div>
  <div class="p-6 flex-row justify-between">
    <%= yield %>
  </div>
</div>
