<div class="h-auto mb-10 lg:mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="bg-energetic-blue text-white p-2">
    <p class="font-bold"><%= heading %></p>
  </div>
  <%= yield %>
</div>
