---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=joe@joesak.com%20&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "joe@joesak.com ", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": true, "mailbox_verification":
        "false", "parts": {"display_name": null, "domain": "joesak.com", "local_part":
        "joe"}, "reason": null}'
  recorded_at: Tue, 24 Jul 2018 17:35:06 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/address/private/validate?address=joe@joesak.com&mailbox_verification=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0zMmY4NzMwZDY5ODliY2FmZTY1ZTU3NzIwZGQ0OTIxMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address": "joe@joesak.com", "did_you_mean": null, "is_disposable_address":
        false, "is_role_address": false, "is_valid": true, "mailbox_verification":
        "true", "parts": {"display_name": null, "domain": "joesak.com", "local_part":
        "joe"}, "reason": null}'
  recorded_at: Tue, 24 Jul 2018 17:55:36 GMT
recorded_with: VCR 3.0.3
