<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City, State, Country</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_regional_ambassadors.each do |ambassador| %>
      <tr>
        <td><%= link_to ambassador.full_name, admin_regional_ambassador_path(ambassador) %></td>
        <td><%= ambassador.email %></td>
        <td><%= ambassador.address_details %></td>
      </tr>
    <% end %>
  </tbody>
</table>
