<% if profile.background_check.invitation_status.present? && !profile.background_check.invitation_completed? %>
  <p class="hint margin--b-none">
    Invitation status: <%= profile.background_check.invitation_status&.humanize %>
  </p>

  <% if profile.background_check.invitation_expired? %>
    <p class="hint margin--b-none">
      The background check invitation has expired. Participant must request a new invitation.
    </p>
  <% end %>
<% else %>
  <p class="hint margin--b-none">
    <% if profile.background_check.present? %>
      <% if profile.background_check.error? %>
        Error: <%= profile.background_check.error_message.presence || "No error message recorded" %>
      <% else %>
        <%= profile.background_check.status.humanize %>
      <% end %>
    <% else %>
      Invitation not sent
    <% end %>
  </p>
<% end %>