<div class="panel">
  <ul>
    <% chapterable_assignments.each do |chapterable_assignment| %>
      <li>
        <%= link_to chapterable_assignment.chapterable.name.presence || "Name not set",
          send("admin_#{chapterable_assignment.chapterable_type.downcase}_path", chapterable_assignment.chapterable) %>
        <% if chapterable_assignment.primary? %>
          <span class="hint">*Primary</span>
        <% end %>
        <ul>
          <li>
            Type: <%= chapterable_assignment.chapterable_type %>
          </li>
          <li>
            Id: <%= chapterable_assignment.chapterable.id %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
