<%
  chapterable_options_text = if account.chapter_ambassador?
    "chapter"
  elsif account.club_ambassador?
    "club"
  else
    "chapter or club"
  end
%>

<dt><%= chapterable_options_text.capitalize %></dt>
<dd><%= "Not assigned to #{chapterable_options_text}" %></dd>
<p>
  <%= link_to "Assign to #{chapterable_options_text}",
    new_admin_account_chapterable_account_assignment_path(
      account
    ),
    class: "button secondary small" %>
</p>
