<div class="margin--t-large">
  <p class="padding--l-large">Text Messages</p>
  <ul>
    <% profile.account.text_messages.parental_consent.current.order(created_at: :desc).each do |request| %>
      <li>
        Sent At:
        <%= request.sent_at.strftime("%B %e, %Y %l:%M %p") %>
        -
        Status:
        <%= request.status %>
        <br>
        <% if request.failed? || request.undelivered? %>
          Error:
          <%= request.error_message %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
