<% unless profile.account.mentor_profile.present? %>
  <div class="debug ra-debug">
    <dl>
      <dt>Browser / OS Info</dt>
      <dd>
        <%= [profile.browser_name,
            profile.browser_version,
            profile.os_name,
            profile.os_version].compact.join(' - ') %>
      </dd>
    </dl>
  </div>
<% end %>
