<p class="notice">DO NOT QA THIS - STILL UNDER DEVELOPMENT</p>

<% if current_judge.onboarded? %>
  onboarded..
<% else %>

  <% unless current_judge.training_completed? %>
    <p>
      <%= link_to "complete the training",
        judge_training_completion_path %>
    </p>
  <% end %>

  <% unless current_judge.commitment_signed? %>
    <p>
      <%= link_to "sign the commitment form", "#" %>
    </p>
  <% end %>

  <% unless current_judge.survey_completed? %>
    <p>
      <%= link_to "answer some survey questions", "#" %>
    </p>
  <% end %>
<% end %>
