<div class="tabs">
  <%= render 'judge/dashboards/menu' %>

  <div class="content">
    <div class="tab-content flex-row" id="pitch-events">
      <%= render 'judge/dashboards/full_access_content/events' %>
    </div>

    <% unless Rails.env.production? %>
      <div class="tab-content flex-row" id="pending-scores">
        <%= render 'judge/dashboards/full_access_content/pending_scores' %>
      </div>
    <% end %>
  </div>
</div>
