<div id="judge-dashboard-menu" class="tabs">
  <%= render 'judge/dashboards/menu' %>

  <div class="content">
    <% if ENV["ENABLE_SUBMISSION_SCORES"] %>
      <% if quarterfinals? and current_judge.selected_regional_pitch_event.live? %>
        <div class="tab-content flex-row" id="scores">
          <%= render 'judge/dashboards/full_access_content/scores', event_type: :live %>
        </div>
      <% end %>

      <div class="tab-content flex-row" id="virtual-scores">
        <%= render 'judge/dashboards/full_access_content/scores', event_type: :virtual %>
      </div>
    <% end %>

    <% if quarterfinals? %>
      <div class="tab-content flex-row" id="pitch-events">
        <%= render 'judge/dashboards/full_access_content/events' %>
      </div>
    <% end %>
  </div>
</div>
