<div class="flex-col-md-4 dashboard-sidebar border-left">
  <ul class="list--unstyled list--bleed-x">
    <li>
      <h6 class="heading--reset">Judge resources</h6>

      <%= link_to "Read the judging rubric",
        "http://www.technovationchallenge.org/judging-rubric/",
        target: "_blank" %>

      <br>

      <%= link_to "View our resource page",
        "https://technovationchallenge.org/judge-resources/",
        target: "_blank" %>
    </li>

    <li>
      <h6 class="heading--reset">Get support</h6>

      <%= link_to "Join our chat community for judges",
        ENV.fetch("JUDGE_SLACK_SIGNUP_URL"),
        target: "_blank" %>
    </li>

    <% if !current_judge.onboarding? %>
      <li>
        <h6 class="heading--reset">Judge training</h6>

        <%= link_to "Review your judge training",
          ENV.fetch("JUDGE_TRAINING_URL"),
          target: "_blank" %>
      </li>
    <% end %>
  </ul>
</div>
