<ul class="tab-menu">
  <% if SeasonToggles.judging_enabled? %>
    <% if quarterfinals? and current_judge.selected_regional_pitch_event.live? %>
      <li class="tab-link">
        <button
          role="button"
          class="tab-button"
          data-tab-id="scores">
          Live Event Scores
        </button>
      </li>
    <% end %>

    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="virtual-scores">
        Virtual Scores
      </button>
    </li>
  <% end %>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="pitch-events">
      Pitch Events
    </button>
  </li>
</ul>
