<ul class="tab-menu">
  <% if ENV["ENABLE_SUBMISSION_SCORES"] %>
    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="scores">
        Score Submissions
      </button>
    </li>
  <% end %>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="pitch-events">
      Pitch Events
    </button>
  </li>
</ul>
