<div class="dashboard flex-row">
  <div class="flex-col-sm-8 dashboard__main">
    <h2><%= t("views.application.to_do") %></h2>

    <ol class="completion-steps">
      <%= render 'completion_steps/consent_waiver', account: current_judge %>
    </ol>
  </div>
</div>
