<span class="dashboard-notice"></span>
<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render layout: 'application/templates/dashboards/side_nav', locals: { heading: 'To-do'} do%>
    <div class="p-6">
      <%= render 'judge/dashboards/rebrand/side_nav_content' %>
    </div>
  <% end %>
  <%= render layout: 'application/templates/dashboards/energetic_container', locals: { heading: 'Online Judging'} do %>
    <% if !SeasonToggles.display_scores? %>
      <%= render 'judge/dashboards/onboarded/rebrand/events' %>
    <% end %>
  <% end %>
</div>
