<label>
  Search:
  <%= text_field_tag :text,
    params[:text],
    class: "submit-on-enter",
    placeholder: "Press enter after typing",
    data: { param: :text } %>
</label>

<label>
  Status:
  <%= select_tag :status,
    options_for_select(["All"] + SignupAttempt.statuses.keys.map(&:humanize), params[:status]),
    data: { param: :status } %>
</label>

<dl>
  <dt>Pending</dt>
  <dd>User has NOT confirmed their email</dd>

  <dt>Active</dt>
  <dd>User HAS confirmed, but HAS NOT signed up</dd>

  <dt>Registered</dt>
  <dd>User HAS signed up. Good to go</dd>

  <dt>Temporary Password</dt>
  <dd>User was invited by a team or an admin - signup form will make them enter a password</dd>
</dl>
