<div class="pagination_info">
  <%= page_entries_info @team_submissions,
    model: params[:type] == "All" ? "Account" : params[:type] %>
</div>

<%= will_paginate @team_submissions %>

<label class="per_page">
  Per page:
  <%= select_tag :per_page,
    options_for_select([10, 25, 50, 100], params[:per_page]) %>
</label>
