<%= render 'regional_ambassador/teams/sub_menu' %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <h1>Hey there!</h1>

      <p>
        Our development team is working hard at improving this section, and we will let you know when it's ready!
      </p>
    </div>
  </div>
</div>
