<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-6">
    <div class="panel">
      <h1>Submissions</h1>

      <p>
        Hello RAs! Technovation development team is hard at work to
        improve this section for the <%= Season.current.year %> season.
      </p>

      <p>
        Check back later or wait for an announcement from staff that the
        RA Submissions UI is ready
      </p>
    </div>
  </div>
</div>
