<h1>Team Submission Details</h1>

<%= render 'admin/team_submissions/detail/summary',
  submission: @team_submission,
  user_type: :regional_ambassador %>

<div class="flex-row">
  <div class="flex-col-sm-12">
    <%= link_to 'See the public/judge version',
      app_path(@team_submission),
      target: :_blank %>
  </div>
</div>

<%= render 'admin/team_submissions/detail/full',
  submission: @team_submission %>
