<h1 class="appy-title">Assign Team to Judges</h1>

<p>Please choose 3 judges</p>

<%= render 'regional_ambassador/judge_assignments/new',
  anchor: params[:referring_anchor],
  judge_assignment: @judge_assignment,
  judges: @judges,
  team: @team %>
