<h1 class="appy-title">Assign Team to a Judge</h1>

<%= render 'regional_ambassador/judge_assignments/new',
  anchor: params[:referring_anchor],
  judge_assignment: @judge_assignment,
  judges: @judges,
  team: @team %>
