a.link-button,
.submit-button {
  @apply px-3 py-2 rounded shadow-sm text-sm;
}

a.link-button-small {
  @apply px-2 py-1;
}

a.md-link-button {
  @apply px-4 py-3 rounded shadow-md text-xl font-semibold;
}

a.lg-link-button {
  @apply px-6 py-4 rounded shadow-md text-xl font-bold;
}

a.link-button-success,
.submit-button-success {
  @apply text-white hover:text-white bg-tg-green hover:bg-tg-dark-green focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tg-dark-green;
}

a.link-button-danger,
.submit-button-danger {
  @apply text-gray-100 hover:text-gray-100 bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}

a.link-button-neutral,
.submit-button-neutral {
  @apply text-gray-500 hover:text-gray-500 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400;
}

.tw-file-upload {
  @apply block w-full text-gray-900 border border-gray-400 rounded cursor-pointer bg-gray-50 focus:outline-none;
}

.tw-gold-btn {
  @apply w-auto max-w-fit px-4 py-2 rounded bg-tg-gold text-white font-medium hover:bg-tg-dark-gold hover:text-tg-green;
}

.tw-green-btn {
  @apply w-auto mr-auto px-4 py-2 rounded bg-tg-green text-white font-medium;
}

.tw-green-btn:hover {
  @apply bg-tg-dark-green text-gray-50;
}

.tw-gray-btn {
  @apply px-4 py-2 rounded bg-gray-200 text-gray-600;
}

.tw-gray-btn:hover {
  @apply bg-gray-300 text-gray-700;
}

