@config "../tailwind.config.js";

@utility registration-btns {
  @apply px-4 py-2 rounded-sm bg-tg-green text-white font-bold hover:bg-tg-dark-green;

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

@utility registration-btn-wrapper {
  @apply flex p-6 justify-between;
}

@utility registration-nav {
  @apply py-4 px-2 hover:text-blue-500 transition duration-300;
}

@utility registration-nav-mobile {
  @apply block text-sm px-2 py-4 hover:bg-blue-500 hover:text-white transition duration-300;
}

@utility registration-container {
  @apply container mx-auto max-w-2xl border-4 border-energetic-blue rounded-md;
}

@utility registration-title {
  @apply text-2xl mb-2 text-left font-semibold;
}

@utility name-group {
  @apply flex justify-between;
}

@utility form-wrapper {
  @apply p-6;
}

@utility login-form {
  padding: 2em;

  &::v-deep .formulate-input .formulate-input-element {
    max-width: none;
  }
}

@utility formulate-input {
  .login-form::v-deep & .formulate-input-element {
    max-width: none;
  }
}

@utility formulate-input-element {
  .login-form::v-deep .formulate-input & {
    max-width: none;
  }
}

@utility formulate-input-group-item {
  /*HORIZONTAL RADIO BUTTONS*/
  @apply flex;
}

@utility profile-type {
  & input[type='radio'] {
    @apply scale-150;
  }
  & input[type='radio'].disabled {
    @apply opacity-40;
  }
  & img {
    @apply w-28 ml-4 mr-6;
  }
  & img.disabled {
    @apply opacity-40;
  }
  & span.disabled {
    @apply text-gray-400;
  }
}

@utility disabled {
  .profile-type &input[type='radio'] {
    @apply opacity-40;
  }
  .profile-type &img {
    @apply opacity-40;
  }
  .profile-type &span {
    @apply text-gray-400;
  }
}

@utility formulate-input-wrapper {
  [data-classification='box'] & {
    @apply flex items-center;
  }
}

@utility input-label-text {
  @apply flex items-center;
}

@utility formulate-form-errors {
  &ul {
    @apply mx-5 p-3 rounded-sm bg-red-200 text-red-800;
  }

  &ul li {
    @apply ml-10 text-left list-disc;
  }

  &ul li:first-child {
    @apply ml-0 font-medium list-none;
  }
}

@utility formulate-required-field {
  @apply text-red-700;
}

@utility s1-label-text {
  @apply text-lg text-left;
}

@layer components {

    input[type="text"], input[type="email"], input[type="date"], input[type="password"], select, textarea {
        @apply mb-1
    }
}
