#submission-container label{
    @apply font-rubik text-base;
}

#submission-container input{
    @apply mb-0;
}

#submission-container .tw-green-btn {
    @apply mr-0;
}

.submission-actions{
    @apply flex flex-col items-end mt-4;
}

#submission-container .button{
    @apply w-auto px-4 py-2 rounded bg-tg-green text-white font-medium hover:bg-tg-dark-green hover:text-gray-50 hover:cursor-pointer;
}

#submission-container .btn-wrapper {
    @apply flex items-center gap-3 justify-end;
}

.field-existing-value {
    @apply my-4 p-2 bg-gray-100 rounded;
}

#development-platform label {
    @apply mt-8
}

#submission-container .word-counter {
    transition: background-color 2s;
    text-align: right;
}

#submission-container .word-count__total {
    transition: font-weight 0.2s, color 0.2s;
}

#submission-container .word-count--plenty-remaining {
    @apply text-success-txt;
}

#submission-container .word-count--none-remaining {
    @apply text-alert-txt font-semibold;
}