.tw-tab-content > a {
    @apply hover:text-energetic-blue
}

.tw-active{
    display: block !important;
}

.active-tab{
    font-weight: bold;
}

.tab-content{
    @apply hidden
}

@screen md{
    .tab-content{
        width: 48rem;
    }
}
