.tw-tab-content > a {
    @apply hover:text-energetic-blue
}

.tw-active{
    display: block !important;
}

.active-tab{
    font-weight: bold;
}

.tab-content{
    @apply hidden
}

@screen md{
   #show-container div.tab-content{
        width: 48rem;
    }

    #student-scores .tab-content {
        width: 100%
    }
}
