<div class="grid grid--justify-space-around">
  <div class="panel grid__col-md-8">
    <%= render 'errors', record: consent_waiver %>

    <%= render "consent_waivers/text" %>

    <%= render "consent_waivers/form", waiver: consent_waiver %>
  </div>
</div>
