<%= label_tag :virtual_only do %>
  <%= check_box_tag :virtual_only, 1, params[:virtual_only] == "1" %>
  <span class="pseudo-checkbox fa fa-check"><!--Fontawesome Checkmark--></span>
  Virtual Mentors
<% end %>
