<p class="reset">
  <%= f.check_box :virtual_only,
    value: 1,
    checked: params[:virtual_only] == "1",
    id: :virtual_only,
    class: "toggle-based-search" %>

  <%= f.label :virtual_only, "Yes" %>
</p>
