<div class="team">
  <h1 class="team_name">
    <%= link_to result.name, new_student_join_request_path(team_id: result.id) %>
  </h1>

  <p><%= result.description %></p>

  <p><%= result.creator_address_details %></p>

  <%= yield if block_given? %>
</div>
