<% provide :title, "Location details" %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6">
  <div class="tab-content tw-active">
    <%= render 'signups/location_fields' %>
  </div>
</div>