<% current_mentor.mentor_invites.pending.each do |invite| %>
  <div class="card__body mentor-team-invitation">
    <div class="card-body__img">
      <%= image_tag invite.team.team_photo, width: 200, height: 133.3333333333 %>
    </div>

    <div class="card-body__details">
      <p>
        An invitation is waiting for you!
      </p>

      <p>
        From <strong><%= invite.team_name %></strong>
      </p>

      <p>
        <%= link_to "View team invitation", mentor_mentor_invite_path(invite) %>
      </p>
    </div>
  </div>
<% end %>
