<div class="score_breakdown">
  <h2>
    Average
    <%= round.to_s.titleize %>
    Score:
    <%= team.submission.public_send("#{round}_average_score") %>
  </h2>

  <%= render 'student/dashboards/full_access_content/scores/scores_table',
    team: team,
    round: round,
    scores: scores %>
</div>
