<div class="flex-col-md-8">

  <% @teams.each do |team| %>

    <% if team.submission.contest_rank == "semifinalist" %>
      <%= team.name %>
      <%= render 'mentor/dashboards/full_access_content/score_table',
          team: team,
          round: :semifinals  %>
    <% end %>
      <%= render 'mentor/dashboards/full_access_content/score_table',
          team: team,
          round: :quarterfinals %>

  <% end %>

</div>

<%= render 'mentor/dashboards/info_sidebar' %>
