<%= turbo_frame_tag "available-teams-list" do %>
  <% if teams.any? %>
    <div>
      <table class="table--hoverable" style="border-spacing: 0 .5rem; border-collapse: separate; width: 100%; table-layout: fixed" >
        <thead>
        <tr>
          <th>Team</th>
          <th>Division</th>
          <th>Submission</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="available-teams">
        <% at_capacity = event.at_team_capacity? %>
        <% teams.each do |team| %>
          <%= render "admin/regional_pitch_events/available_team",
            team: team,
            event: event,
            at_capacity: at_capacity %>
        <% end %>
        </tbody>
      </table>
      <div id="available-teams-pagination">
        <%= will_paginate teams,
          params: {
            controller: 'chapter_ambassador/regional_pitch_events',
            action: "available_teams", id: event.id } %>
      </div>
    </div>
  <% else %>
    <p>
      No teams available in your region.
    </p>
  <% end %>
<% end %>
