<%= turbo_frame_tag "registered-teams-frame" do %>
  <div class="grid grid--bleed">
    <div class="grid__col-auto" style="overflow-x: auto;">
      <h5>
        <span>
          Teams (<%= event.teams.count %>)
        </span>
      </h5>

      <% if event.teams.any? %>
        <table class="table--hoverable rpe-teams">
          <thead>
          <tr>
            <th>Team</th>
            <th>Division</th>
            <th>Submission</th>
            <th style="padding-right: 20px;">Presentation Slides</th>
            <th>Status</th>
            <% if current_account.chapter_ambassador? %>
              <th>Actions</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% event.teams.each do |team| %>
            <%= render "admin/regional_pitch_events/registered_team", team: team, event: event %>
          <% end %>
          </tbody>
        </table>

        <% if event.teams.any? { |t| t.submission.pitch_presentation.present? } %>
          <div style="display: flex; justify-content: center;">
            <%= link_to "Download All Presentation Slides",
              send(
                "#{current_scope}_event_bulk_download_submission_pitch_presentations_path",
                event
              ),
              class: "button" %>
          </div>
        <% end %>
      <% else %>
        <p>No teams yet.</p>
      <% end %>
    </div>
  </div>
<% end %>
