<div class="panel panel--left">
  <div class="flags">
    <span class="flag flag-registration">
      Season close
    </span>
  </div>

  <h1>Thank You</h1>

  <p>
    Thank you for your participation in the
    <%= Season.current.year %> Technovation season.
  </p>

  <p>
    You can see this year's finalists at
    <%= link_to "technovationchallenge.org/season-results",
      ENV.fetch("FINALISTS_URL") %>.
  </p>

  <p>The <%= Season.next.year %> season will open in the Fall.</p>

  <p>
    Stay informed about important dates and updates.
    <%= link_to "Sign up for our newsletter", ENV.fetch("NEWSLETTER_URL") %>.
  </p>
</div>