<div class="panel panel--left">
  <div class="flags">
    <span class="flag flag-registration">
      Season close
    </span>
  </div>

  <h1>Thank You!</h1>

  <p>
    Thank you for participating in this season of Technovation Girls.
    We appreciate your feedback and the time you spent supporting teams from around the world!
  </p>

  <p>We’d love to stay connected with you! We have a couple of ways for you to remain involved:</p>

  <ul>
    <li>
      <%= link_to "Sign up for our newsletter", ENV.fetch("NEWSLETTER_URL"), target: :_blank %>
      to learn more about the girls you helped this season
    </li>
    <li>
      <%= link_to "Consider mentoring", "https://technovationchallenge.org/get-started/", target: :_blank %>
      a team in the <%=Season.current.year %>-<%= Season.next.year %> season
    </li>
  </ul>

  <p>
    We hope to see you soon!
  </p>
</div>
