<label>
  Search by name or email:

  <%= text_field_tag :text, params[:text], class: "submit-on-enter",
    placeholder: "Press enter after typing",
    data: { param: :text } %>
</label>

<label>
  Status:

  <%= select_tag :status,
    options_for_select([:pending, :approved, :declined], params[:status]),
    data: {
      reload: true,
      param: :status,
    } %>
</label>
