<p class="notify-banner notify-banner--notice">
  If you used any format besides .zip, .aia, .ppt, or .pdf, your file will NOT be processed.
</p>

<center>
  <p><%= link_to "Okay", params[:back], class: "appy-button" %></p>
</center>
