<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @name %>,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          We are writing to let you know that your daughter, <strong><%= @student_name %></strong>, has registered for Technovation, a global mobile app, technology, and entrepreneurship program for girls. In order to participate, she needs your permission.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Please review the permission form at this link and sign electronically as soon as possible.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>If you can, please use this link; do not reply to this email to give consent.</strong>
        </td>
      </tr>

      <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <%= link_to "Sign the Permission Form", @url, class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          If you have any questions, or you cannot use the link above, reply to this email immediately, which is <%= mail_to "info@technovationchallenge.org" %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          — The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
