<p>Dear <%= @name %>,</p>

<p>We are writing to let you know that your daughter has registered for Technovation, a global mobile app, technology, and entrepreneurship program for girls. In order to participate, she needs your permission.</p>

<p>Please review the permission form at this link and sign electronically as soon as possible.</p>

<p><%= link_to @url, @url %></p>

<p>If you have any questions, please get in touch with us at <%= mail_to "info@technovationchallenge.org" %>.</p>

<p>Thank you!<br />
The Technovation Team</p>
