<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Estimado/a <%= @student_profile.parent_guardian_name %>:
        </td>
      </tr>

      <tr>
        <td class="content-block">
          ¡Le damos la bienvenida a la comunidad de Technovation Girls! Nos
          alegra mucho que su hija se una a nosotros esta temporada. En este
          correo electrónico, podrá conocer más sobre Technovation Girls, lo
          que su hija estará haciendo y cómo puede usted apoyarla.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Sobre Technovation Girls</strong><br><br>

          <%= link_to "Technovation Girls", @technovation_url %>
          es un programa gratuito de emprendimiento tecnológico para niñas y
          jóvenes de 8 a 18 años, que ofrece a participantes de todo el mundo la
          oportunidad de aprender las habilidades necesarias para convertirse en
          líderes y resolver problemas, sin miedo a aprender nuevas tecnologías.
          Cada año, invitamos a las jóvenes a identificar un problema en su
          comunidad, y luego las desafiamos y apoyamos para resolverlo.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Las participantes trabajan en equipos para desarrollar una aplicación
          móvil o web, junto con un plan de negocios para llevar esa solución
          al mundo. Ellas cuentan con el apoyo de mentores y la guía de nuestro
          plan de estudios. En abril, los equipos envían su aplicación, su
          presentación (pitch) y otros materiales en línea. Su hija podría
          participar en un evento regional de presentaciones en persona si su
          capítulo local organiza uno; en ese caso, invitamos a los padres
          a asistir como invitados. De lo contrario, jueces de todo el mundo
          brindarán retroalimentación por escrito a los equipos para ayudarlos a
          mejorar sus ideas en el futuro.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Una vez evaluadas todas las propuestas, todas las participantes y sus
          familias (¡incluyéndole a usted!) están invitados a asistir a nuestra
          celebración virtual de fin de temporada y al evento en línea donde
          se anuncia a los equipos finalistas. Los equipos finalistas serán
          invitados a presentar sus ideas en vivo ante jueces expertos para
          competir por un premio especial en octubre durante la Cumbre Mundial
          (World Summit) (todos los gastos para los equipos son cubiertos por
          Technovation).
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Su hija aprenderá&hellip;</strong>

          <ul>
            <li>Cómo identificar y resolver un problema.</li>
            <li>Nuevas tecnologías: Cómo programar y usar Inteligencia Artificial (IA) para crear aplicaciones web y móviles.</li>
            <li>¡Lo que se necesita para dar vida a una idea o a un negocio!</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Su hija desarrollará&hellip;</strong>

          <ul>
            <li>Una aplicación móvil o web.</li>
            <li>
              Habilidades de colaboración con otras niñas y uno o más mentores para
              encontrar el mejor enfoque para resolver el problema elegido, tomando en
              cuenta las limitaciones existentes.
            </li>
            <li>Un plan de negocios y un modelo de ingresos, o un plan de adopción de usuarios.</li>
            <li>Recolección de comentarios de miembros de la comunidad sobre su idea y prototipo(s).</li>
            <li>Videos técnicos y de presentación para mostrar sus ideas.</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Consulte la página de Recursos para Padres 
          <%= link_to "aquí", @parent_resources_url %>
          para obtener ideas sobre cómo apoyar a su hija y a su equipo.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Gracias de nuevo por alentar a su hija a soñar en grande y a
          desarrollar soluciones reales para los problemas de su comunidad.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Atentamente,<br>
          El equipo de Technovation
        </td>
      </tr>
    </table>
  </td>
</tr>
