<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @student_profile.parent_guardian_name %>,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Welcome to the Technovation Girls community! We're so glad your daughter is
          joining us this year. In this email you can learn a little bit more about 
          Technovation Girls, what your daughter will be doing,
          and what you can do to support her.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>About Technovation Girls</strong><br /><br />

          <%= link_to "Technovation Girls", @technovation_url %>
          is a free technology entrepreneurship program for girls ages 8-18
          that offers girls around the world the opportunity to learn
          the skills they need to become problem solvers and leaders who 
          aren't afraid to learn new technologies.
          Every year we invite girls to identify a problem in their community,
          and then challenge and support them to solve it.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Girls work in teams to build a mobile app or an AI project along with
          a business plan to bring the solution to the world. Girls are supported
          by mentors and guided by our curriculum.
          In April, teams submit their app or AI prototype, pitch, and other
          <%= link_to "submission materials", "https://technovationchallenge.org/submission-guidelines/" %> 
          online. Judges from around the world provide written feedback to teams to help them make 
          their ideas even better in the future!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          After all of the submissions have been judged, finalist teams are invited to pitch 
          their ideas live to finalist judges to see who will win a special prize, and all 
          participants and their families (including you!) are invited to attend our 
          virtual World Summit celebration.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Your daughter will learn&hellip;</strong>

          <ul>
            <li>How to identify and solve a problem</li>
            <li>New technology: How to code and create a mobile app or create and train an 
              AI-powered machine learning model that can interact with the user</li>
            <li>What it takes to bring an idea or business to life!</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Your daughter will&hellip;</strong>

          <ul>
            <li>Develop a mobile app prototype or AI project</li>
            <li>
              Work with other girls and one or more mentors to find the best approach 
              to solving their chosen problem taking constraints into account
            </li>
            <li>Make a business plan and revenue model, or user adoption plan</li>
            <li>Gather user feedback from community members about her idea and prototype(s)</li>
            <li>Create pitch and technical videos to show her ideas</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>How you can support your daughter and her team</strong>

          <ul>
            <li>
              <strong>Share your experience:</strong>

              Through Technovation Girls, girls undertake a big project and 
              are expected to learn how to work as a team, collaborate on 
              a project, and divide work fairly. Share your experience and 
              advice for staying motivated through tough times, managing disagreements,
              addressing frustration, and communicating clearly.
            </li>

            <li>
              <strong>Share your network:</strong>

              Do you know someone who has a really interesting job? Would they
              be willing to give a brief overview of their work to your
              daughter and her team? Can you introduce your daughter and her team
              to professionals who might have advice for them as they work on part
              of their project?
            </li>

            <li>
              <strong>Encourage others to sign up:</strong>

              Do you have friends with daughters who might be interested?
              Or colleagues who might want to mentor a team?
              Invite them to learn more about Technovation Girls and join the movement.
            </li>

            <li>
              <strong>Stay informed:</strong>

              You’ll get around 3 emails from us at Technovation from now until April 
              with details about how to support your daughter at different points in 
              the season and information about virtual learning and community opportunities, 
              so stay tuned! Make sure to also review the
              <%= link_to "Parent Resource", "https://technovationchallenge.org/parent-resources/"  %>
              page for more information.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Thank you again for encouraging your daughter to dream big and develop
          real solutions to community problems.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Warmly,<br />
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
