<div class="flex-col-md-6">
  <p>
    This tab is QA-only and still in progress.
  </p>

  <p class="standalone-buttons">
    <%= link_to 'Score Submissions', judge_submission_scores_path, class: "appy-button" %>
  </p>
</div>

<%= render 'judge/dashboards/info_sidebar' %>
