<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "student/dashboards/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Live Pitch Events in your Region" } do %>
    <% if SeasonToggles.select_regional_pitch_event? || current_team.live_event? %>
      <%= render "student/dashboards/completion_steps/regional_pitch_events" %>
    <% elsif SeasonToggles.events_disabled? %>
      <%= render "explanations/feature_not_available", feature: :events %>
    <% end %>
  <% end %>
</div>