---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/v1/candidates
    body:
      encoding: UTF-8
      string: first_name=Factory&middle_name=&no_middle_name=true&last_name=Account&email=account1%40example.com&phone&zipcode=60622&dob=1986-03-30&ssn=111-11-2001&driver_license_number&driver_license_state=CA&previous_driver_license_number&previous_driver_license_state&copy_requested=false&custom_id&reports&geos&documents=%7B%0A++%22object%22%3A+%22list%22%2C%0A++%22data%22%3A+%5B%0A%0A++%5D%0A%7D&id&object&uri&created_at
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Checkr-Client-User-Agent:
      - '{"bindings_version":"1.1.2","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-linux","publisher":"checkr","uname":"Linux
        tc-dev 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64
        x86_64 x86_64 GNU/Linux"}'
      Authorization:
      - Basic YzhmMDg3OWU4M2UzOGY1YTk5ZTM1ZmZhYTM2NWUyMDVmODI5Nzc0Yzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"50403c02b4d68fae6b9fdf21","object":"test_candidate","uri":"/v1/candidates/50403c02b4d68fae6b9fdf21","created_at":"2017-03-30T15:51:40Z","first_name":"Factory","last_name":"Account","middle_name":"","mother_maiden_name":null,"dob":"1986-03-30","ssn":"XXX-XX-2001","email":"account1@example.com","zipcode":"60622","phone":null,"driver_license_state":"CA","driver_license_number":null,"copy_requested":false,"previous_driver_license_state":null,"previous_driver_license_number":null,"adjudication":null,"custom_id":null,"no_middle_name":true,"report_ids":[],"geo_ids":[]}'
  recorded_at: Thu, 30 Mar 2017 15:48:27 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/reports
    body:
      encoding: UTF-8
      string: package=tasker_standard&candidate_id=50403c02b4d68fae6b9fdf21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Checkr-Client-User-Agent:
      - '{"bindings_version":"1.1.2","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-linux","publisher":"checkr","uname":"Linux
        tc-dev 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64
        x86_64 x86_64 GNU/Linux"}'
      Authorization:
      - Basic YzhmMDg3OWU4M2UzOGY1YTk5ZTM1ZmZhYTM2NWUyMDVmODI5Nzc0Yzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"558af0ae37af89c2126280f6","object":"test_report","uri":"/v1/reports/558af0ae37af89c2126280f6","status":"pending","created_at":"2017-03-30T15:51:40Z","completed_at":null,"upgraded_at":null,"turnaround_time":null,"due_time":"2017-04-07T15:51:40Z","package":"tasker_standard","tags":[],"adjudication":null,"candidate_id":"50403c02b4d68fae6b9fdf21","county_criminal_search_ids":[],"document_ids":[],"federal_criminal_search_id":null,"global_watchlist_search_id":"58dd298c8c19c10017eb32e0","motor_vehicle_report_id":null,"national_criminal_search_id":"58dd298c8c19c10017eb32de","personal_reference_verification_ids":[],"professional_reference_verification_ids":[],"sex_offender_search_id":"58dd298c8c19c10017eb32df","ssn_trace_id":"58dd298c8c19c10017eb32db","state_criminal_search_ids":[],"terrorist_watchlist_search_id":"58dd298c8c19c10017eb32e0","facis_search_id":null}'
  recorded_at: Thu, 30 Mar 2017 15:48:27 GMT
recorded_with: VCR 3.0.3
