---
http_interactions:
- request:
    method: post
    uri: https://api.checkr.com/v1/candidates
    body:
      encoding: UTF-8
      string: first_name=Factory&middle_name=&no_middle_name=true&last_name=Account&email=account1%40example.com&phone=&zipcode=60622&dob=1985-10-03&ssn=111-11-2001&driver_license_number=&driver_license_state=CA&previous_driver_license_number=&previous_driver_license_state=&copy_requested=false&custom_id=&reports=&geos=&adjudication=&documents=%7B%0A%20%20%22object%22%3A%20%22list%22%2C%0A%20%20%22data%22%3A%20%5B%0A%0A%20%20%5D%0A%7D&id=&object=&uri=&created_at=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Checkr-Client-User-Agent:
      - '{"bindings_version":"1.1.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin15","publisher":"checkr","uname":"Darwin
        Josephs-MacBook-Air.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
      Authorization:
      - Basic YzhmMDg3OWU4M2UzOGY1YTk5ZTM1ZmZhYTM2NWUyMDVmODI5Nzc0Yzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"5c36e0d76aa41fd9cc320a10","object":"test_candidate","uri":"/v1/candidates/5c36e0d76aa41fd9cc320a10","created_at":"2016-10-03T15:29:57Z","first_name":"Factory","last_name":"Account","middle_name":"","mother_maiden_name":null,"dob":"1985-10-03","ssn":"XXX-XX-2001","email":"account1@example.com","zipcode":"60622","phone":"","driver_license_state":"CA","driver_license_number":null,"copy_requested":false,"previous_driver_license_state":null,"previous_driver_license_number":null,"adjudication":null,"custom_id":null,"no_middle_name":true,"report_ids":[],"geo_ids":[]}'
  recorded_at: Mon, 03 Oct 2016 15:29:58 GMT
- request:
    method: post
    uri: https://api.checkr.com/v1/reports
    body:
      encoding: UTF-8
      string: package=tasker_standard&candidate_id=5c36e0d76aa41fd9cc320a10
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Checkr-Client-User-Agent:
      - '{"bindings_version":"1.1.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin15","publisher":"checkr","uname":"Darwin
        Josephs-MacBook-Air.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
      Authorization:
      - Basic YzhmMDg3OWU4M2UzOGY1YTk5ZTM1ZmZhYTM2NWUyMDVmODI5Nzc0Yzo=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"244ead4a4bfa210dfc4df677","object":"test_report","uri":"/v1/reports/244ead4a4bfa210dfc4df677","status":"pending","created_at":"2016-10-03T15:29:58Z","completed_at":null,"upgraded_at":null,"turnaround_time":null,"due_time":"2016-10-11T15:29:58Z","package":"tasker_standard","tags":[],"adjudication":null,"candidate_id":"5c36e0d76aa41fd9cc320a10","county_criminal_search_ids":[],"document_ids":[],"federal_criminal_search_id":null,"global_watchlist_search_id":"57f27976da2398002673c64e","motor_vehicle_report_id":null,"national_criminal_search_id":"57f27976da2398002673c64c","personal_reference_verification_ids":[],"professional_reference_verification_ids":[],"sex_offender_search_id":"57f27976da2398002673c64d","ssn_trace_id":"57f27976da2398002673c645","state_criminal_search_ids":[],"terrorist_watchlist_search_id":"57f27976da2398002673c64e"}'
  recorded_at: Mon, 03 Oct 2016 15:29:58 GMT
recorded_with: VCR 3.0.3
