<h1 class="appy-title">
  Uplaod your Pitch Presentation
</h1>

<h3 class="appy-subtitle">
  To participate in a live event, you should upload your pitch presentation ahead of time.
</h3>

<p class="hint">
  You can do this later from 
  <%= link_to "your submission page", [current_scope, @submission] %>,
  but make sure you do this!
</p>

<%= render 'student/team_submissions/steps/pitch_presentation',
  submission: @submission %>
