<% provide :title, "Parental Consent Form" %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <h3><%= t("views.student.parental_consent_notices.new.title") %></h3>

    <%= render "student/parental_consent_notices/form" %>
  </div>
</div>
