<% provide :title, "Parental Consent Form" %>

<div class="w-11/12 lg:w-1/2 mx-auto">
  <%= render layout: "application/templates/dashboards/energetic_container",
    locals: {heading: t("views.student.parental_consent_notices.new.title")} do %>

    <%= render "student/parental_consent_notices/form" %>
  <% end %>
</div>
