<% if not current_account.honor_code_signed? %>
  <div class="notify-banner notify-banner--notice">
    <p>
      Hey there!
      Sorry to interrupt you, but we need you to sign the Technovation Honor Code.
    </p>
  </div>

  <p class="center">
    <%= link_to "Sign the Technovation Honor Code",
      [:new, current_account.type_name, :honor_code_agreement],
      class: "appy-button"%>
  </p>
<% else %>
  <div class="notify-banner notify-banner--success">
    <p>
      Everything's okay, move along!
    </p>
  </div>

  <p class="center">
    <%= link_to "Okay", send("#{current_account.type_name}_dashboard_path"),
      class: "appy-button"%>
  </p>
<% end %>
