<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <% if not current_account.honor_code_signed? %>
      <p>
        Hey there!
        Sorry to interrupt you, but we need you to sign the Technovation Honor Code.
      </p>

      <p>
        <%= link_to "Sign the Technovation Honor Code",
          [:new, current_account.scope_name, :honor_code_agreement],
          class: "button"%>
      </p>
    <% else %>
      <p>
        Everything's okay, move along!
      </p>

      <p>
        <%= link_to "Okay",
          send("#{current_account.scope_name}_dashboard_path"),
          class: "button"%>
      </p>
    <% end %>
  </div>
</div>
