<% if current_account.student_profile and
    current_account.student_profile.errors.keys.include?(:parent_guardian_email) %>
  <div class="notice notice--alert">
    Sorry to bother you...
    but we detected a problem with your profile.<br />
    Your parent/guardian email appears to be invalid.
    You need to fix this before you can continue.
  </div>

  <center>
    <p>
      <%= link_to "Update your parent/guardian email address",
        edit_student_profile_path(anchor: "account-profile-details"),
        class: "button"%>
    </p>
  </center>
<% elsif current_account.errors.any? %>
  <div class="notice notice--alert">
    Sorry to bother you... but we detected a problem with your profile.
  </div>

  <center>
    <p>
      <%= link_to "Fix my profile now",
        [:edit, current_account.scope_name, :profile],
        class: "button"%>
    </p>
  </center>
<% else %>
  <div class="notice notice--success">
    Everything's okay, move along!
  </div>

  <center>
    <%= link_to "Okay",
      [current_account.scope_name, :dashboard],
      class: "button"%>
  </center>
<% end %>
