<h4>Downloading and Testing App Inventor Code</h4>

<p>
  <%= link_to 'View instructions', '#download-instructions', data: { toggle: 'modal' } %>
  to download and test the code
</p>

<div class="modal fade" id="download-instructions" tabindex="-1" role="dialog" aria-labelledby="download-instructions-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="download-instructions-label">Downloading and Testing App Inventor Code</h4>
      </div>
      <div class="modal-body">
        <ol>
          <li>Download the .aia code from the link submitted by the team.</li>
          <li>Open up a new tab or window and go to <a href='http://ai2.appinventor.mit.edu' target='_blank'>ai2.appinventor.mit.edu</a>. You’ll be prompted to log in with a gmail account (this is correct!).</li>
          <li>Import the .aia code into your App Inventor account under “My Projects.”</li>
          <li>Test the app using the <a href='http://appinventor.mit.edu/explore/ai2/setup-device-wifi.html' target='_blank'>following instructions</a> on your Android device, or with <a href='http://appinventor.mit.edu/explore/ai2/setup-emulator.html' target='_blank'>the emulator</a> if you don’t have an Android device.</li>
        </ol>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
