<div id="top-header">
  <h2>Team name: Maajestic</h2>
  <h3>App name: $urvival</h3>
  <h3>Division: Senior Division</h3>
  <h3>Judge name: Judge Judy<h3>
</div>

<section>
  <table>
    <tr>
      <th id="no-border">
        <h2 id="section-header">Review Score</h2>
      </th>
      <th id="no-border">Online Score:</th>
      <th id="no-border">Edit Score:</th>
    </tr>
    <tr>
      <td>Ideation</td>
      <td>14</td>
      <td></td>
    </tr>
    <tr>
      <td>Technical</td>
      <td>18</td>
      <td></td>
    </tr>
    <tr>
      <td>Pitch</td>
      <td>16</td>
      <td></td>
    </tr>
    <tr>
      <td>Entrepreneurship</td>
      <td>17</td>
      <td></td>
    </tr>
    <tr>
      <td>Overall</td>
      <td>22</td>
      <td></td>
    </tr>
    <tr>
      <td>Final total score:</td>
      <td>87</td>
      <td></td>
    </tr>
  </table>

  <h3 id="misc-header">Final Notes:</h3>
  <div class="box"></div>
</section>

<section>
  <table id="layouttable">
    <tr>
      <th id="no-border">
      <h2 id="section-header">Ideation</h2>
      </th>
      <th id="no-border">Online Score:</th>
      <th id="no-border">Edit Score:</th>
    </tr>
    <tr>
      <td class="col1">The team clearly shows how their app idea aligns with a problem in their community.</td>
      <td class="col2">4</td>
      <td class="col2"></td>
    </tr>
    <tr>
      <td>The team provides evidence of the problem they are solving through facts and statistics.
      </td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>The team addresses the problem well.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td id="no-border">
      </td>
      <th>Total score:
      </th>
      <td>
      </td>
    </tr>
  </table>
  <br>
  <table id="layouttable">
    <tr>
      <th>Online comment:</th>
      <th>Notes:</th>
    </tr>
    <tr>
      <td class="col3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...
      </td>
      <td></td>
    </tr>
  </table>
</section>

<section>
  <table id="layouttable">
    <tr>
      <th id="no-border">
      <h2 id="section-header">Technical</h2>
      </th>
      <th id="no-border">Online Score:</th>
      <th id="no-border">Edit Score:</th>
    </tr>
    <tr>
      <td class="col1">The app appears to be fully functional and has no noticeable bugs.</td>
      <td class="col2">4</td>
      <td class="col2"></td>
    </tr>
    <tr>
      <td>The app is easy to use and the features are well thought out.</td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td id="no-border">
      </td>
      <th>Total score:
      </th>
      <td>
      </td>
    </tr>
  </table>
  <br>
  <table id="layouttable">
    <tr>
      <th>Online comment:</th>
      <th>Notes:</th>
    </tr>
    <tr>
      <td class="col3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...
      </td>
      <td></td>
    </tr>
  </table>
</section>

<section>
  <table id="layouttable">
    <tr>
      <th id="no-border">
      <h2 id="section-header">Pitch</h2>
      </th>
      <th id="no-border">Online Score:</th>
      <th id="no-border">Edit Score:</th>
    </tr>
    <tr>
      <td class="col1">The team clearly states the problem they are solving.</td>
      <td class="col2">4</td>
      <td class="col2"></td>
    </tr>
    <tr>
      <td>The team’s pitch has a storyline and is well thought out.
      </td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>The pitch is specific and to the point.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>The team presents a convincing argument to support their solution.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td id="no-border">
      </td>
      <th>Total score:
      </th>
      <td>
      </td>
    </tr>
  </table>
  <br>
  <table id="layouttable">
    <tr>
      <th>Online comment:</th>
      <th>Notes:</th>
    </tr>
    <tr>
      <td class="col3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...
      </td>
      <td></td>
    </tr>
  </table>
</section>

<section>
  <table id="layouttable">
    <tr>
      <th id="no-border">
      <h2 id="section-header">Entrepreneurship</h2>
      </th>
      <th id="no-border">Online Score:</th>
      <th id="no-border">Edit Score:</th>
    </tr>
    <tr>
      <td class="col1">The team has a strategy to bring the app to market.</td>
      <td class="col2">3</td>
      <td class="col2"></td>
    </tr>
    <tr>
      <td>The team has research on how they will sustain their business. The goals are explained and realistic.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>The team’s research shows they have looked for competitors and ways to stand out from them.</td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>The team’s business has an identity through branding and visuals.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td id="no-border">
      </td>
      <th>Total score:
      </th>
      <td>
      </td>
    </tr>
  </table>
  <br>
  <table id="layouttable">
    <tr>
      <th>Online comment:</th>
      <th>Notes:</th>
    </tr>
    <tr>
      <td class="col3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...</td>
      <td></td>
    </tr>
  </table>
</section>

<section>
  <table id="layouttable">
    <tr>
      <th id="no-border">
      <h2 id="section-header">Overall Impression</h2>
      </th>
      <th id="no-border">Online Score:</th>
      <th id="no-border">Edit Score:</th>
    </tr>
    <tr>
      <td class="col1">You are convinced the app can succeed.</td>
      <td class="col2">4</td>
      <td class="col2"></td>
    </tr>
    <tr>
      <td>The submission stands out from others.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>Each component of the team submission is well thought out.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>The team’s strong dedication and work ethic is clear, even if the submission is not complete.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>The way the team approaches and solves the problem is unique.</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td id="no-border">
      </td>
      <th>Total score:
      </th>
      <td>
      </td>
    </tr>
  </table>
  <br>
  <table id="layouttable">
    <tr>
      <th>Online comment:</th>
      <th>Notes:</th>
    </tr>
    <tr>
      <td class="col3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam...</td>
      <td></td>
    </tr>
  </table>
</section>
