<%= web_icon "close", class: "hidden-sm hidden-md hidden-lg close-tab-menu" %>
<%= web_icon "navicon", class: "hidden-sm hidden-md hidden-lg open-tab-menu" %>

<ul class="tab-menu" data-closed="true">
  <li class="hidden-sm hidden-md hidden-lg tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="avatar"
    >
      Profile image
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="basic"
    >
      Basic
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="location"
    >
      Location
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="change-email"
    >
      Change email
    </button>
  </li>

  <li class="tab-link">
    <button
      role="button"
      class="tab-button"
      data-tab-id="change-password"
    >
      Change password
    </button>
  </li>
</ul>
