<div
  id="vue-enable-admin-requests"
  class="grid grid--justify-space-around"
>
  <div class="grid__col-10 panel">
    <review-region-requests
      source-url="<%= admin_requests_path(format: :json) %>"
    />
  </div>
</div>