@import "typeaheadjs";

.account-info {
  padding: 0 0 0 1em;

  dd {
    word-wrap: break-word;
  }
}

.account-basic,
.account-special {
  padding-top: 0;
}

@media screen and (max-width: $device-sm) {
  .account-info,
  .account-basic,
  .account-special {
    padding: 0;
  }
}

.profile-avatar {
  align-self: flex-start;
  margin-bottom: $large-spacing / 2;
  text-align: center;

  img {
    height: auto;
    margin-bottom: $small-spacing;

    &::after {
      content: '';
      display: block;
    }
  }
}

.account {
  margin-top: $large-spacing;

  h2 {
    text-align: center;
    margin-bottom: $small-spacing;
    color: $mulberry;

    .accent {
      color: $shamrock;
    }
  }
}

.table__regional_ambassador_accounts {
  table-layout: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;

  tbody {
    tr {
      td {
        width: auto;
        max-width: 100%;
        word-wrap: break-word;
      }

      &:hover {
        td {
          background-color: #ddd;
        }
      }
    }
  }
}
