.account-info {
  padding: 0 0 0 1em;

  dd {
    word-wrap: break-word;
  }
}

.account-basic,
.account-special {
  padding-top: 0;
}

@media screen and (max-width: $device-sm) {
  .account-info,
  .account-basic,
  .account-special {
    padding: 0;
  }
}

.profile-avatar {
  align-self: flex-start;
  margin-bottom: $large-spacing / 2;
  text-align: center;

  img {
    height: auto;
    margin-bottom: $small-spacing;

    &::after {
      content: '';
      display: block;
    }
  }
}

.account {
  margin-top: $large-spacing;

  h2 {
    text-align: center;
    margin-bottom: $small-spacing;
    color: $mulberry;

    .accent {
      color: $shamrock;
    }
  }
}
