.form_actions {
  @include span-columns(12);
  padding: 1rem 0 0;
  border-top: 1px solid #ccc;
}

.pagination_info {
  padding: 1rem 0;
}

.wrapper__report-table {
  label.inline {
    display: inline-block;
    margin-right: 35px;
  }

  .pagination {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
  }

  .table__report_table {
    table-layout: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;

    tbody {
      tr {
        td {
          width: auto;
          max-width: 100%;
          word-wrap: break-word;
        }

        &:hover {
          td {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.admin-dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .admin-dashboard__column {
    display: flexbox;
    width: 70%;
  }

  .admin-dashboard__sidebar {
    display: flexbox;
    width: 30%;
  }

  .admin-dashboard__quickviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .quickview {
      margin-right: 15px;
      margin-bottom: 15px;
      display: flexbox;
    }
  }
}
