.score_question_title, .score_value_title,
.score_question_add, .score_value_remove,
.score_value_add {
  @include shift(1);
}

.score_question {
  @include row;
  @include shift(1);
}

.score_value {
  @include row;
  @include shift(1);
}

.score_value_value {
  @include span-columns(1);
}

.score_value_label {
  @include span-columns(11);
}

.form_actions {
  @include span-columns(12);
  padding: 1rem 0 0;
  border-top: 1px solid #ccc;
}

.pagination_info {
  padding: 1rem 0;
}

.wrapper__report_table {
  .pagination {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
  }

  .table__report_table {
    table-layout: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;

    tbody {
      tr {
        td {
          width: auto;
          max-width: 100%;
          word-wrap: break-word;
        }

        &:hover {
          td {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.admin-dashboard {
  .admin-dashboard__quickviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .quickview {
      margin-right: 15px;
      margin-bottom: 15px;
      display: flexbox;
    }
  }
}
