// vendor
@import "normalize-rails";
@import "reflex";
@import "reflex.ext";

// FIXES VENDOR BUG:
// https://github.com/tsechingho/chosen-rails/issues/97#issuecomment-365472872
$chosen-sprite: image-url('chosen-sprite.png');
$chosen-sprite-retina: image-url('chosen-sprite@2x.png');

@import "chosen";
@import "sweetalert2";

// base
@import "variables";
@import "fonts";
@import "base";
@import "headings";
@import "lists";
@import "forms";
@import "text_styles";

// layout
@import "navigation";
@import "flashes";
@import "notices";
@import "banners";
@import "pagination";

// components
@import "panel";
@import "button";
@import "img";
@import "tabs";
@import "screenshots";

// font
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import "icomoon";

// animation/transitions
@import "transitions";

#site-footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.social-links {
  font-size: 1.5rem;
}

.modal {
  display: none;
}

.modal-content {
  &.modal-content--left-aligned {
    text-align: left;
  }
}

.swal2-content {
  form {
    text-align: left;
  }

  small {
    display: block;
    font-weight: bold;
    opacity: 0.7;
  }
}

.icon-picker {
  max-height: 250px;
  overflow-y: scroll;

  img {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    max-width: 100px;
    border: 4px solid white;
    transition: 0.2s border, 0.2s box-shadow;

    &:hover {
      border-color: $grey-translucent;
    }

    &.selected {
      border: 4px solid $secondary;
      box-shadow: $shadow-default;
    }
  }
}

.save-icon {
  margin: 0.5rem 0;
}

h1.page-heading .chapter-ambassador-intro,
.chapter-ambassador-intro {
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  text-transform: none;

  h6 {
    font-size: 1.2rem;
  }

  img {
    margin: 0 0 1rem;
  }

  ul {
    margin: 1rem 0;
  }

  .reset li {
    margin: 0 0 1rem;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    a,
    a span {
      color: $secondary;
      font-weight: bold;
      text-transform: none;
    }

    a [class^="icon-"] {
      color: $primary;
    }

    .web-icon-text {
      display: inline-block;
      padding-left: 0.5rem;
    }
  }
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: $z-under-shade;
}

.header-container-spacer {
  position: relative;
  width: 100%;
  display: block;
}

.col--sticky {
  &.is_stuck:not(.header-container) {
    margin: 92px 0 0;
  }
}

:target {
  &::before {
    content: "";
    display: block;
    height: 92px; /* fixed header height*/
    margin: -92px 0 0;
  }
}

.antialias {
  -webkit-font-smoothing: antialiased;
}

.responsive-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
