// vendor
@import "normalize-rails";
@import "reflex";
@import "chosen";
@import "sweetalert2";

// base
@import "variables";
@import "base";
@import "headings";
@import "lists";
@import "forms";
@import "text_styles";

// layout
@import "navigation";
@import "flashes";
@import "notices";
@import "pagination";

// components
@import "panel";
@import "button";
@import "img";
@import "tabs";

// font
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "icomoon";

#site-footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.social-links {
  font-size: 1.5rem;
}

.modal {
  display: none;
}

.swal2-content form {
  text-align: left;
}

.icon-picker {
  max-height: 250px;
  overflow-y: scroll;

  img {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    max-width: 100px;
    border: 4px solid white;
    transition: 0.2s border, 0.2s box-shadow;

    &:hover {
      border-color: $grey-translucent;
    }

    &.selected {
      border: 4px solid $shamrock;
      box-shadow: $shadow-default;
    }
  }
}

.save-icon {
  margin: 0.5rem 0;
}
