.background-check__columns {
  display: flex;
  position: relative;

  .background-check__column-form, .background-check__column-security-info {
    display: flexbox;
    .simple_form {
      width: 100%;
    }
  }

  .background-check__column-form {
    width: 40%;
  }

  .background-check__column-security-info {
    width: 40%;
    position: fixed;
    right: 10%;

    ul {
      margin-left: 1.5rem;

      li {
        list-style: disc;
      }
    }
  }
}

.simple_form {
  .background_check_candidate_ssn {
    width: 75%;
    float: left;

    + .appy-hint {
      display: none;
      margin: 54px 0 0;
      text-align: right;

      .appy-button {
        margin: 0;
        font-size: 1rem;
      }
    }
  }
}
