* {
  box-sizing: border-box;

  &::after {
    box-sizing: border-box;
  }
}

html {
  background: $doc-bg;
  position: relative;
}

body {
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
}

a {
  color: $shamrock;
  text-decoration: none;
  font-weight: 400;
  transition: color 150ms ease;

  &.small {
    font-size: 0.9rem;
  }

  &:hover {
    color: $shamrock-dark;
  }

  &.danger:hover {
    color: darken($alert-txt, 15);
  }
}

p {
  margin: 0.5rem 0;
  padding: 0;

  &.reset {
    margin: 0;
  }
}

.dashboard-notice {
  text-align: right;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.grid__cell {
  .grid__cell-img {
    display: block;
    padding: 0 1rem 1rem 0;
  }
}

.sidebar {
  background: white;
  padding: 1rem;
  box-shadow: $shadow-default;
}

.hidden {
  display: none !important;
}

.danger {
  color: darken($alert-txt, 10);
}

.hint {
  margin: 0 0 1rem;
  font-style: italic;
  font-size: 0.9rem;
}

.help {
  margin: 0 0 1rem;
  font-size: 0.95rem;
}

.blurb {
  padding: 0.5rem;
  background: $marine;

  h5 {
    margin: 0;
  }
}

.clear {
  clear: both;
}
