* {
  box-sizing: border-box;

  &::after {
    box-sizing: border-box;
  }
}

html {
  background: $doc-bg;
  position: relative;
}

body {
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
}

a {
  color: $secondary;
  text-decoration: none;
  font-weight: 400;
  transition: color 150ms ease;

  &.small {
    font-size: 0.9rem;
  }

  &:hover {
    color: $secondary-dark;
  }

  &.danger:hover {
    color: darken($alert-txt, 15);
  }
}

p {
  margin: 0.5rem 0;
  padding: 0;

  &.paragraph--reset,
  &.reset {
    margin: 0;
  }
}

.dashboard-notice {
  text-align: right;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.grid__cell {
  .grid__cell-img {
    display: block;
    padding: 0 1rem 1rem 0;
  }

  .panel:first-child {
    margin-top: 0;
  }
}

.sidebar {
  background: white;
  padding: 1rem;
  box-shadow: $shadow-default;
}

.hidden {
  display: none !important;
}

.danger {
  color: darken($alert-txt, 10);
}

.hint, .scent {
  margin: 0 0 1rem;
  font-style: italic;
  font-size: 0.9rem;
}

.hint_above {
  margin-bottom: 0.25rem;
}

.scent {
  font-size: 1rem;
}

.scent--strong {
  padding: 0.5rem;
  border-radius: $radius-default;
  background: rgba(0, 0, 0, 0.1);
}

.scent--soft {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.help {
  margin: 0 0 1rem;
  font-size: 0.95rem;
}

.blurb {
  padding: 0.5rem;
  background: $tertiary;

  h5 {
    margin: 0;
  }
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.float-right {
  float: right;
}

.user-select--none {
  user-select: none;
}

@import 'utilities';