.button, .swal-button--confirm {
  outline: 0;
  border: 0;
  user-select: none;
  background-color: $primary-mid;
  border-radius: 0.15rem;
  box-shadow: 0 2px 0 darken($primary-mid, 5);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transform: translateY(0);
  transition: opacity 0.2s, background-color 0.2s, box-shadow 0.2s, transform 0.2s;

  .back-btn::before {
    border-style: solid;
    border-width: 0.25rem 0.25rem 0 0;
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 0.8em;
    width: 0.8em;
    left: 0.25rem;
    transform: rotate(-135deg);
  }

  &.secondary,
  &.button--secondary {
    background-color: $secondary;
    box-shadow: 0 2px 0 darken($secondary, 5);

    &:active,
    &:hover,
    &:focus {
      background-color: darken($secondary, 5);
    }

    &:active {
      box-shadow: 0 0 0 darken($secondary, 10);
    }
  }

  &.gray,
  &.button--gray {
    background-color: gray;
    box-shadow: 0 2px 0 darken(gray, 5);

    &:active,
    &:hover,
    &:focus {
      background-color: darken(gray, 5);
    }

    &:active {
      box-shadow: 0 0 0 darken(gray, 10);
    }
  }


  &.button--reward {
    border-radius: 500px;
    margin: 2rem 0;
    background: $primary;
    box-shadow: 0 2px 0 darken($primary-mid, 5);

    &:active,
    &:hover,
    &:focus {
      background-color: darken($primary, 5);
    }

    &:active {
      box-shadow: 0 0 0 darken($primary, 10);
    }
  }

  &.small,
  &.button--small {
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  }

  &.button--error,
  &.button--danger,
  &.danger,
  &.swal-button--danger {
    color: white;
    background: darken($alert-txt, 10);
    box-shadow: 0 2px 0 darken($alert-txt, 15);

    &:active,
    &:hover,
    &:focus {
      color: white;
      background-color: darken($alert-txt, 15);
    }

    &:active {
      box-shadow:0;
    }

    &.peril {
      background: darken($alert-txt, 35);
      box-shadow: 0 2px 0 darken($alert-txt, 35);
    }
  }

  &.button--remove-bg {
    background: none;
    border: 0;
    box-shadow: none;
    color: $primary;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    transition: color 0.2s;

    &:hover,
    &:active,
    &:focus {
      background: none;
      color: black;
      box-shadow: none;
    }

    &.button--danger {
      color: $alert-txt;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.button--black-text {
    color: black;
  }

  &.button--margin-top-lg {
    margin: 6rem 0 0 0;
  }

  &::selection {
    background-color: transparent;
  }

  &:active,
  &:hover,
  &:focus {
    background-color: darken($primary-mid, 5);
    color: white;
  }

  &:active {
    box-shadow: 0 0 0 darken($primary-mid, 10);
    transform: translateY(2px);
  }

  &.button--disabled,
  &:disabled,
  &[disabled],
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.2s;

    &:hover {
      background-color: $primary-mid;
    }
  }
}

.buttons {
  .button {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
