ul.checklist, ul.reset.checklist {
  li {
    margin: 0 0 2rem;

    h4 {
      font-size: 1.05rem;
      margin: 0.6rem 0 0;
      padding: 0;

      & > span {
        vertical-align: middle;
      }

      .icon-check-circle {
        display: none;
      }

      .icon-lock {
        display: none;
      }

      .locked {
        .icon-circle-o {
          display: none;
        }

        .icon-lock {
          display: inline-block;
        }
      }

      .complete {
        .icon-circle-o {
          display: none;
        }

        .icon-check-circle {
          display: inline-block;
          color: $shamrock-mid;
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0 0 1rem 1.5rem;
    font-size: 1rem;

    li {
      margin: 0;
    }
  }
}
