.well {
  background-color: #fff;
  padding: $base-spacing;
}

.module {
  background-color: $shamrock-mid;

  .module-header {
    background-color: $shamrock-dark;
    color: #fff;
    padding: $small-spacing;
  }

  .module-body {
    padding: $small-spacing;
    color: white;
    font-size: 1rem;

    h6 {
      font-size: 1rem;
      color: white;
      margin: 0;
    }

    input {
      line-height: 1;
      font-size: 1rem;
    }
  }
}

.module-marine {
  @extend .module;
  background-color: $marine;

  .module-header {
    background-color: $marine-dark;
  }
}

.module-lemon {
  @extend .module;
  background-color: $lemon;

  .module-header {
    background-color: $lemon-dark;
  }
}

.module-mulberry {
  @extend .module;
  background-color: $mulberry;

  .module-header {
    background-color: $mulberry-dark;
  }
}
