#immosquare-cookies-container {
  background-color: #f1f5f9;
  height: 9rem;
  min-height: 8rem;
  padding: 0.75rem 3rem;
  border-top: 1px solid #334155;

  span {
    font-size: 0.875rem;
  }

  #immosquare-cookies-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.05rem;
  }

  #immosquare-cookies-actions {
    margin: 0.5rem 0;
  }

  #immosquare-cookies-accept,
  #immosquare-cookies-refuse {
    border-radius: 0.375rem;
    background-color: #ffffff;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #1f2937;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(209, 213, 219, 1),
      0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 calc(1px + 0) rgba(209, 213, 219, 1), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 calc(1px + 0) rgba(209, 213, 219, 1), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 calc(1px + 0) rgba(209, 213, 219, 1), 0 0 0 0 rgba(0, 0, 0, 0);

    &:hover {
      animation: none;
      background-color: #dbeafe;
    }
  }
}
