.dashboard__heading {
  margin-bottom: 2rem;
}

/*
 * To-Do
 */

.to-do {
  margin-bottom: 2rem;
}

.to-do__list .card {
  margin-bottom: 1rem;
  max-width: 650px;

  @media screen and (max-width: $device-sm) {
    max-width: 100%;
  }
}

/*
 * My Stuff / Resources
 */

.my-stuff {
  margin-bottom: 1rem;
}

.resources {
  margin-bottom: 1rem;
}

.resources__list,
.my-stuff__list {
  display: flex;
  flex-wrap: wrap;
}

.resources__item-wrapper,
.my-stuff__item-wrapper {
  margin-bottom: 1rem;
  width: 50%;

  &.full-width {
    width: 100%;
    max-width: 650px;

    &:first-child {
      padding: 0;
    }

    + .resources__item-wrapper {
      padding-left: 0;
    }
  }

  &:first-child {
    padding-right: 0.5rem;
  }

  &:last-child {
    padding-left: 0.5rem;
  }

  &:only-child {
    padding-left: 0;
  }

  .card {
    height: 100%;
  }

  .card__body {
    height: 100%;
  }

  @media screen and (max-width: $device-sm) {
    width: 100%;

    &:first-child,
    &:last-child {
      padding: 0;
    }
  }
}

.my-stuff__item-wrapper {
  .card__body {
    display: flex;
    flex-direction: column;
  }
  .card__actions-row--pos-fill {
    margin-top: auto;
  }
}

.my-stuff__img {
  text-align: center;

  img {
    border-radius: 50%;
  }
}

.my-stuff__name {
  font-weight: bold;
  text-align: center;
}

.my-stuff__blurb {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.dashboard__main {
  padding: 0 1rem 0 0;

  @media screen and (max-width: $device-sm) {
    padding: 0;
  }
}

.dashboard__sidebar {
  padding: 0 0 0 1rem;

  @media screen and (max-width: $device-sm) {
    padding: 0;
  }
}

.bg_check_status {
  font-weight: bold;

  &.clear {
    color: $shamrock;
  }

  &.consider {
    color: $mulberry;
  }
}

.admin-dashboard__sidebar {
  .resources__item-wrapper {
    width: 100%;
  }
}

.settings__locale-switcher {
  label, select {
    text-transform: none;
    display: inline
  }
}
