.dashboard__heading {
  margin-bottom: 2rem;
}

/*
 * To-Do
 */

.to-do {
  margin-bottom: 2rem;
}

.to-do__list .card {
  margin-bottom: 1rem;
  max-width: 650px;

  @media screen and (max-width: $device-sm) {
    max-width: 100%;
  }
}

/*
 * My Stuff / Resources
 */

.my-stuff {
  margin-bottom: 1rem;
}

.resources {
  margin-bottom: 1rem;
}

.resources__list,
.my-stuff__list {
  display: flex;
  flex-wrap: wrap;
}

.resources__item-wrapper,
.my-stuff__item-wrapper {
  margin-bottom: 1rem;
  width: 50%;

  &:first-child {
    padding-right: 0.5rem;
  }

  &:last-child {
    padding-left: 0.5rem;
  }

  &:only-child {
    padding-left: 0;
  }

  .card {
    height: 100%;
  }

  .card__body {
    height: 100%;
  }

  @media screen and (max-width: $device-sm) {
    width: 100%;

    &:first-child,
    &:last-child {
      padding: 0;
    }
  }
}

.my-stuff__item-wrapper {
  .card__body {
    display: flex;
    flex-direction: column;
  }
  .card__actions-row--pos-fill {
    margin-top: auto;
  }
}

.my-stuff__img {
  text-align: center;

  img {
    border-radius: 50%;
  }
}

.my-stuff__name {
  font-weight: bold;
  text-align: center;
}

.my-stuff__blurb {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

// Preexisting code below

.dashboard__main {
  padding: 0 1rem 0 0;

  @media screen and (max-width: $device-sm) {
    padding: 0;
  }
}

.dashboard__sidebar {
  padding: 0 0 0 1rem;

  @media screen and (max-width: $device-sm) {
    padding: 0;
  }
}

.completion-steps {
  list-style-type: decimal;
  margin: 0 0 15px;

  h2 {
    margin: 0 0 15px;
  }

  .completion-step {
    @include clearfix;
    margin: 0 0 15px;
  }

  .checkbox {
    display: block;
    float: left;
    padding: 5px;
    min-width: 55px;
    min-height: 55px;
    margin-right: 25px;
  }

  .status-complete {
    .checkbox {
      color: $marine;
      border: 2px solid #333;
    }
  }

  .status-ready {
    .checkbox {
      border: 1px solid #ccc;
    }
  }

  .status-future {
    color: #999;

    span {
      display: block;
      font-size: 0.8rem;
      color: #666;
    }

    .checkbox {
      border: 1px dashed #ccc;
    }
  }

  ul {
    margin-left: 6rem;
    font-size: 1.025rem;

    .crossed-off {
      display: block;
      text-decoration: line-through;
      color: #999;

      a {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
