.dashboard__main {
  padding: 0 1em 0 0;
}

.dashboard__sidebar {
  padding: 3rem 0 0;
}

@media only screen and (min-width: 800px) and (min-device-width: 1200px) {
  html, body { height: 100% }

  .main-content {
    .dashboard__sidebar {
      position: fixed;
      right: 0;
      top: 150px;
      bottom: 0;
      width: 300px;
      padding-left: 1rem;
      padding-top: 1rem;
      overflow-y: scroll;
      min-height: 0 !important;
      -webkit-box-shadow: 5px 2px 53px 0px rgba(51,51,51,1);
      -moz-box-shadow: 5px 2px 53px 0px rgba(51,51,51,1);
      box-shadow: 5px 2px 53px 0px rgba(51,51,51,1);

      p {
        font-size: 1rem;
      }
    }
  }
}

.completion-steps {
  list-style-type: decimal;
  margin: 0 0 15px;

  h2 {
    margin: 0 0 15px;
  }

  .completion-step {
    @include clearfix;
    margin: 0 0 15px;
  }

  .checkbox {
    display: block;
    float: left;
    padding: 5px;
    min-width: 55px;
    min-height: 55px;
    margin-right: 25px;
  }

  .status-complete {
    .checkbox {
      color: $marine;
      border: 2px solid #333;
    }
  }

  .status-ready {
    .checkbox {
      border: 1px solid #ccc;
    }
  }

  .status-future {
    color: #999;

    span {
      display: block;
      font-size: 0.8rem;
      color: #666;
    }

    .checkbox {
      border: 1px dashed #ccc;
    }
  }

  ul {
    margin-left: 6rem;
    font-size: 1.025rem;

    .crossed-off {
      display: block;
      text-decoration: line-through;
      color: #999;

      a {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
