.filter {
  .chosen-container {
    margin: 0 0 1rem;
  }
}

.datagrid-form {
  clear: both;
  padding: 0 0 2rem;
}

.datagrid-filter {
  float: left;
  width: 40%;
  margin-right: 5%;
}

.datagrid-actions {
  clear: both;
}
