.flags,
.flag--season {
  position: absolute;
  top: 1rem;
  right: -0.25rem;
  z-index: $z-under-menu;
  -webkit-font-smoothing: antialiased;
}

.flag--former-student {
  position: absolute;
  top: 3rem;
  right: -0.25rem;
  z-index: $z-under-menu;
  -webkit-font-smoothing: antialiased;
}

.flag {
  display: block;
  margin: 0 0 0.5rem;
  padding: 0.2rem 0.5rem;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: $shadow-small;
  background: $secondary;
  color: white;

  &.flag-notice {
    background: $tertiary;
  }

  &.flag-season--new {
    background: $primary;
  }

  &.flag-season--past {
    background: $secondary;
  }

  &.flag-season--returning {
    background: $tertiary;
  }
}
