@font-face {
  font-family: "Poppins";
  src: font-url("Poppins-Bold.eot");
  src: font-url("Poppins-Bold.eot?#iefix") format("embedded-opentype"),
       font-url("Poppins-Bold.otf") format("opentype"),
       font-url("Poppins-Bold.svg") format("svg"),
       font-url("Poppins-Bold.ttf") format("truetype"),
       font-url("Poppins-Bold.woff") format("woff"),
       font-url("Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
