label {
  display: block;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0 0.5rem 0 0;

  + label {
    margin: 0;
    display: inline;
  }
}

input,
select,
textarea {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;

  &[type=file] {
    font-size: 1em;
  }
}

select {
  background: auto;
}

.date {
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.25rem;
  }

  input,
  select {
    display: inline-block;
  }
}

.file-field {
  input {
    display: none;
  }
}

.preview {
  margin: 0 0 1rem;

  .preview__img {
    position: relative;
    width: 100px;

    &:hover {
      .remove:not(.hidden-sm) {
        opacity: 1;
      }
    }

    .remove {
      &:not(.hidden-sm) {
        opacity: 0;
        transition: opacity 0.5s;
        background: $grey-translucent;
        color: white;
        position: absolute;
        z-index: $z-modal;
        width: 100px;
        height: 100%;
        text-align: center;
        cursor: pointer;

        .icon-close {
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%, -50%);
        }
      }

      &.hidden-sm {
        opacity: 1;
        padding: 0.5rem 0;
      }
    }
  }
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea,
select[multiple] {
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  padding: 0.33333rem;
  transition: border-color 150ms ease;
  width: 100%;

  &:hover {
    border-color: #a3a3a3;
  }

  &:focus {
    border-color: $shamrock;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(72,184,136,0.7);
    outline: none;
  }

  &:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;

    &:hover {
      border: 2px solid #ccc;
    }
  }
}

textarea {
  resize: vertical;
  height: 250px;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.25rem;
}

[type="file"] {
  margin-bottom: 0.5rem;
  width: 100%;
}

select {
  margin-bottom: 0.5rem;
  max-width: 100%;
  width: auto;
}

.field_with_errors {
  input,
  select,
  textarea {
    margin-bottom: 0;
  }

  .error {
    font-size: 0.9rem;
    display: block;
    background: $alert;
    color: $alert-txt;
    padding: 0.2rem 1rem;
    margin: 0 0 1rem;

    &:before {
      content: "!";
      width: 18px;
      height: 18px;
      display: inline-block;
      text-align: center;
      background-color: #fff;
      color: black;
      margin-right: 5px;
    }
  }
}
