.button-group {
  @include clearfix;
  margin-bottom: 1rem;
}

select.date {
  display: inline;
}

.name_field {
  @include span-columns(6);
}

.address_field {
  @include span-columns(4);
}

.input {
  clear: both;
}

.field_with_errors {
  label {
    color: darken($error-color, 60%);
  }

  .error {
    background-color: darken($error-color, 60%);
    color: #fff;
    padding: 5px;
    display: block;
    font-size: 1rem;
    &:before {
      content: "!";
      width: 24px;
      height: 24px;
      display: inline-block;
      text-align: center;
      font-weight: $heavy-font-weight;
      background-color: #fff;
      color: darken($error-color, 60%);
      margin-right: 5px;
    }
  }
}

label {
  font-size: 0.875rem;
}

.simple_form {
  @include span-columns(6);
  @include shift(3);

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($small-screen) {
    @include span-columns(10);
    @include shift(1);
  }

  .input {
    margin-bottom: $base-spacing;
  }
}
