$logo-size-reg: 44px;
$logo-size-mobile: 36px;

.navigation {
  background-image: image-url("header-background.png");
  background-repeat: repeat-x;
  background-color: $mulberry;
  display: block;
  margin-bottom: 1.5rem;
  padding: $base-spacing 0 calc(#{$base-spacing} + 3px);
  padding: 0;

  // @include media($xlarge-screen) {
  //   padding: $base-spacing $small-spacing calc(#{$base-spacing} + 3px);
  // }

  .logo {
    align-items: center;
    display: flex;
    margin-left: 1rem;

    img {
      height: $logo-size-reg;
      transform: translateY(-3px);
    }
  }

  .nav-link a {
    align-items: center;
    color: white;
    display: flex;
    padding: 1.75rem 1rem;
    position: relative;

    &::after {
      background-color: $shamrock;
      content: '';
      height: 0;
      position: absolute;
      transition: height 0.15s;
      left: 0;
      top: 0;
      width: 100%;
    }

    &:hover::after,
    &:focus::after {
      height: 6px;
    }
  }
}

.navigation__content-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation__links-list {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
}

.navigation__mobile-toggle {
  display: none;
}

$mobile-nav-height: 60px;
@media screen and (max-width: $device-sm) {
  .navigation {
    box-shadow: 0 4px 4px rgba(black, 0.1);
    height: $mobile-nav-height;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-high;

    .container,
    .navigation__content-wrapper {
      height: 100%;
    }

    .logo {
      margin: 0;

      img {
        height: $logo-size-mobile;
      }
    }
  }

  .navigation + .container {
    margin-top: calc(#{$mobile-nav-height} + 1rem);
  }

  .navigation__links-list:not(.navigation__links-list--signed-out) {
    background-color: rgba($mulberry, 0.95);
    display: none;
    flex-direction: column;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-nuclear;

    &.navigation__links-list--show {
      @include animation-fade-in;
      display: flex;
    }
  }

  .nav-link {
    width: 100%;

    a {
      font-size: 1rem;
      justify-content: center;
      white-space: nowrap;
    }

    a::after {
      display: none;
    }
  }

  .navigation__links-list--signed-out .nav-link a {
    padding: 0;
  }

  .navigation__mobile-toggle {
    color: white;
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    right: 1rem;
    z-index: $z-nuclear;

    &:focus,
    &:active,
    &:visited {
      color: white;
    }
  }
}
