h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.2;
  @extend .font-smoothing--antialiased;

  &.heading--reset,
  &.reset {
    margin: 0;
    padding: 0;
  }

  span {
    color: rgba(0, 0, 0, 0.5);
  }

  a {
    cursor: pointer;
  }

  small {
    display: block;
    font-size: 0.85rem;
    font-weight: 300;

    a {
      padding: 0.25rem 0;
      color: $secondary;
      text-transform: uppercase;

      &:hover {
        color: $secondary-dark;
      }
    }
  }
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0 0.5rem 0.5rem 0;

  &.content-heading {
    font-size: 1.5rem;
    padding: 0;
  }

  &.heading--page,
  &.page-heading {
    display: inline-block;
    position: relative;
    margin: 1rem 0;

    &::after {
      background-color: $primary-mid;
      bottom: 0;
      content: '';
      display: block;
      height: 0.25rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

h2 {
  font-size: 1.8rem;
  color: $secondary;

  &.content-subheading {
    font-size: 1.3rem;
    color: #333;
    margin: 0;
  }
}

h3 {
  font-size: 1.6rem;

  &.heading--page {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 1.6rem;
  }

  &.heading--info,
  &.info-heading {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

.heading--info,
.info-heading {
  h3 {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
  margin: 1rem 0;
}
