$nav-content-height: 60px;

.navigation {
  background-image: image-url("header-background.png");
  background-repeat: repeat-x;
  background-color: $mulberry;
  display: block;
  padding: $base-spacing 0 calc(#{$base-spacing} + 3px);

  @include media($xlarge-screen) {
    padding: $base-spacing $small-spacing calc(#{$base-spacing} + 3px);
  }

  .logo {
    height: $nav-content-height;

    img {
      height: $nav-content-height;
      display: inline-block;
    }
  }

  ul {
    list-style-type: none;
    text-align: right;
  }

  .nav-link a {
    align-items: center;
    color: white;
    display: flex;
    height: $nav-content-height;
    line-height: 0;
    padding: 3px 0 0 $base-spacing;

    &:hover,
    &:focus {
      color: $shamrock;
    }
  }
}


.navigation__content-wrapper {
  justify-content: space-between;
}
