/*
 * Home page
 */

.home-page__form-wrapper {
  margin: 2rem auto 4rem;
  max-width: 65ch;
 */

/*
 * Sign up form
 */

.home-page-sign-up-form {
  opacity: 1;

  .simple_form {
    display: block;
    float: none;
    margin-right: auto;
    width: auto;
  }

  input:not([type='submit']) {
    font-size: 20px; // change font size
    opacity: 1;
  }

  .appy-button {
    margin: 0;
  }
}

.home-page-sign-up-form__submit-wrapper .appy-button {
  text-transform: capitalize;
  width: 100%;
}

$expand-message-speed: 0.5s;

.home-page__expand-welcome-message,
.home-page__expand-welcome-message:hover,
.home-page__expand-welcome-message:active,
.home-page__expand-welcome-message:focus {
  background-color: #ccc;
  border-radius: 0.5rem;
  box-shadow: inset 0 -1px 0 white;
  color: #444;
  display: block;
  padding: 1rem 3rem;
  position: relative;
  text-shadow: 0 1px 0 #ececec;
  transition: border-radius 0s;
  transition-delay: $expand-message-speed;
  width: 100%;

  .fa {
    position: absolute;
    right: 1rem;

    &::before {
      content: '\f078';
    }
  }
}

.home-page__welcome-message-overflow-container {
  height: 0;
  overflow: hidden;
  transition: height $expand-message-speed;
}

.home-page__welcome-message-wrapper {
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2rem;
}

.home-page__welcome-message--open {

  .home-page__expand-welcome-message {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition-delay: 0s;

    .fa::before {
      content: '\f077';
    }
  }
}

