.home-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 1rem;
}

.home-page__column {
  display: flexbox;

  &.home-page__introduction-content {
    width: 59%;
    margin-right: 1%;
  }

  &.home-page__get-started {
    width: 40%;

    .simple_form {
      width: 100%;
      float: none;
    }
  }
}
