.home-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 1rem;
}

.home-page__column {
  display: flexbox;

  &.home-page__introduction-content {
    width: 45%;
    margin-right: 5%;
  }

  &.home-page__get-started {
    width: 50%;

    .simple_form {
      width: 100%;
      float: none;
    }
  }
}
@media screen and (max-width: $device-sm) {
  .home-page {
    flex-direction: column;

    .home-page__introduction-content, .home-page__get-started {
      width: 100%;
      margin: 0 0 1rem;
    }

    .home-page__get-started {
      order: 0;
    }

    .home-page__introduction-content {
      order: 1;
    }
  }
}
