.thumbnail {
  max-width: 80px;
  float: left;
}

.thumbnail-md {
  max-width: 160px;
  float: left;
}

.thumbnail-lg {
  max-width: 280px;
  float: left;
}

.placeholder {
  background: lightgrey;
}
