.thumbnail {
  max-width: 80px;
  float: left;
}

.thumbnail-no-float {
  float: none !important;
}

.thumbnail-xs {
  max-width: 40px;
  float: left;
}

.thumbnail-sm {
  max-width: 120px;
  float: left;
}

.thumbnail-md {
  max-width: 160px;
  float: left;
}

.thumbnail--mdlg {
  max-width: 220px;
}

.thumbnail-lg {
  max-width: 280px;
  float: left;
}

.placeholder {
  background: lightgrey;
}

.og-style-filestack-img{
  width: 220px;
  height: auto;
  object-fit: contain;
}