// TODO: Put this somewhere else because layout is misleading

.container {
  @include outer-container;

  h2 {
    color: $shamrock;
    margin: $small-spacing 0;
  }

  .dashboard-page-info {
    margin-bottom: $base-spacing;

    h3 {
      color: $mulberry;
      margin-bottom: $small-spacing;
    }
  }

  .main-content {
    @include clearfix;
    padding: 0 1rem 2rem;
  }
}

#site-footer {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}
