dl {
  padding: 0;
  margin: 0;

  dt {
    font-weight: 700;
    margin-right: 1rem;
  }

  dd {
    padding: 0;
    margin: 0 0 1rem;
  }
}

ul {
  list-style: disc;
}

ul,
ol {
  &.list--unstyled,
  &.unstyled {
    padding: 0;
    margin: 0.5rem 0 0.5rem 1rem;
    list-style: none;

    li {
      padding: 0;
      margin: 0.5rem 0;
    }
  }

  &.list--reset,
  &.reset {
    @extend .unstyled;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  &.list-items--margin-sm {
    li {
      margin: 0.5rem 0;
    }
  }

  &.bleed-y {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    li {
      margin: 1rem 0;
    }
  }

  &.bleed-x,
  &.list--bleed-x {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &.steps {
    @extend .reset;

    > li {
      background: white;
      padding: 1rem;
      margin: 0 0 1rem;
      box-shadow: $shadow-default;
      border: 1px solid #ccc;
      position: relative;

      .step-actions {
        text-align: right;
      }
    }
  }

  li.row {
    [class*="grid__col-"] {
      padding: 1rem 1rem 1rem 0;
      transition: background-color 0.5s;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    padding: 0.5rem 1rem;
  }

  &.horizontal {
    a {
      display: inline-block;
    }
  }
}
