dl {
  padding: 0;
  margin: 0;

  dt {
    font-weight: 700;
    margin-right: 1rem;
  }

  dd {
    padding: 0;
    margin: 0 0 1rem;
  }
}

ul {
  list-style: disc;
}

ul,
ol {
  &.unstyled {
    padding: 0;
    margin: 0.5rem 0 0.5rem 1rem;
    list-style: none;

    li {
      padding: 0;
      margin: 0.5rem 0;
    }
  }

  &.reset {
    @extend .unstyled;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  &.steps {
    @extend .reset;

    > li {
      background: white;
      padding: 1rem;
      margin: 0 0 1rem;
      box-shadow: $shadow-default;
      border: 1px solid #ccc;

      .step-actions {
        text-align: right;
      }
    }
  }

  &.menu {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        display: block;
        padding: 0.5rem 1rem;
      }
    }
  }

  &.horizontal {
    clear: left;

    li {
      float: left;
    }
  }

  li.row {
    [class*="grid__col-"] {
      padding: 1rem 1rem 1rem 0;
      transition: background-color 0.5s;

      &:last-child {
        padding-right: 0;
      }
    }

    &:hover {
      [class*="grid__col-"] {
        background: #ddd;
      }
    }
  }
}
