.mentor {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;

  h1 {
    margin: 0;

    span {
      font-weight: normal;
      color: #777;
      font-size: 0.8rem;
    }
  }

  h2 {
    font-size: 0.8rem;
    margin: 0;
  }
}
