nav.profile {
  border-bottom: 2px solid $mid-grey;
  margin: $base-spacing 0;

  ul {
    li {
      display: inline-block;
      margin: 0 $base-spacing $base-spacing 0;

      &:first-child {
        margin-left: $base-spacing;
      }

      a {
        color: $silver;
        &:active,
        &:focus,
        &:hover {
          color: $granite;
        }
      }
    }
  }
}
