.mentor-search__feature-wrapper {
  display: flex;

  @media screen and (max-width: $device-md) {
    flex-wrap: wrap;
  }
}

.mentor-search__filters {
  align-self: flex-start;
  margin: 0 2rem 1rem 0;
  max-width: 250px;
  min-width: 250px;

  @media screen and (max-width: $device-md) {
    margin: 0 0 1rem;
    max-width: auto;
    min-width: 100%;
  }
}

.mentor-search__results {
  padding: 0;
  width: 100%;
}

.mentor-search__results h2.mentor-search__results-heading {
  color: $chalkboard;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 0.75rem;
}

.mentor-search__mentors-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.mentor {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  width: calc(100% / 3);

  @media screen and (max-width: $device-lg) {
    width: 50%;
  }

  @media screen and (max-width: $device-md) {
    padding: 0;
    width: 100%;
  }
}

.mentor__card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px rgba(black, 0.1);
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem 1rem 1.25rem;
  position: relative;
}

.mentor__avatar {
  $size: 120px;
  $size-md: 80px;
  background-color: $mid-grey;
  border-radius: 50%;
  height: $size;
  margin: 0 auto 0.5rem;
  overflow: hidden;
  width: $size;

  object,
  img {
    display: block;
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: $device-md) {
    height: $size-md;
    width: $size-md;
  }
}

.mentor__name,
.mentor__location,
.mentor__company {
  font-size: 1.2rem;
  text-align: center;
}

.mentor__name {
  font-size: 1.3rem;
  font-weight: bold;
}

.mentor__expertise {
  margin-bottom: 1rem;
}

.mentor__profile-link {
  display: block;
  margin: auto 0 0;

}

.mentor__availability-badges {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0.5rem;
}

.mentor__availability-badge {
  border-radius: 0.25em 0 0 0.25em;
  padding: 0.5em 0.75em;
  margin-bottom: 0.5em;
}

.mentor_teams_list {
  ul {
    margin: 0 0 1rem 2rem;
  }
}
