.navigation {
  background: #903D54 image-url('header-background.png') repeat-x;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-size: 0;

  .icon-navicon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: $z-modal;
    display: none;
    color: white;
    cursor: pointer;
  }

  .icon-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    z-index: $z-modal;
    display: none;
  }

  .logo {
    display: block;
    background: image-url("tc-logo-white-tm.png") no-repeat;
    width: 193px;
    height: 44px;
    margin: 0.5rem 1rem;
  }

  .menu {
    transition: opacity 0.5s;

    a {
      display: inline-block;
      padding: 1.75rem 1rem;
      position: relative;
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;

      &.active::after,
      &:hover::after,
      &:focus::after {
        height: 6px;
      }

      &::after {
        background-color: $shamrock;
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        transition: height 0.15s;
        width: 100%;
      }
    }
  }
}

.subnav {
  a {
    color: black;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover, &.active {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .navigation.logged-in {
    .icon-navicon {
      display: block;
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: $z-shade;
      background: $mulberry-translucent;
      opacity: 0;
      pointer-events: none;

      a {
        display: block;
        text-align: center;

        &.active::after,
        &:hover::after,
        &:focus::after {
          height: 0;
        }
      }
    }

    &.showing-menu {
      .icon-close {
        display: block;
      }

      .icon-navicon {
        display: none;
      }

      .menu {
        opacity: 100;
        pointer-events: auto;
      }
    }
  }
}
