.panel {
  background: white;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $radius-default;
  box-shadow: $shadow-default;
  margin: 1rem 0;

  h1,
  h2 {
    text-align: center;
  }

  &.panel--left {
    h1,
    h2 {
      text-align: left;
    }
  }
}

.legend {
  background: rgba(0, 0, 0, 0.1);
}
