.panel {
  position: relative;
  background: white;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $radius-default;
  box-shadow: $shadow-default;
  margin: 0 0 1rem;

  h1,
  h2 {
    text-align: center;
  }

  &.panel--left {
    h1,
    h2 {
      text-align: left;
    }
  }

  &.panel--contains-bottom-bar {
    @extend .padding--r-l-b-none;
  }

  &.panel--contains-top-bar {
    @extend .padding--t-r-l-none;
  }

  &.panel--with-flags {
    position: relative;
  }

  .panel__heading,
  .panel--heading {
    @extend .padding--small;
    margin: -1rem -1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .panel__content {
    @extend .padding--r-l-large;
    @extend .height--100-percent;
  }

  .panel--footer {
    @extend .text-align--right;
  }

  .panel__top-bar {
    @extend .margin--b-large;
    @extend .box-shadow--b-subtle;
    @extend .padding--medium;
    @extend .background-color--subtle-primary;
    @extend .color--white;
    @extend .font-weight--bold;
    @extend .font-smoothing--antialiased;
  }

  .panel__bottom-bar {
    @extend .margin--t-large;
    @extend .box-shadow--t-subtle;
    @extend .padding--medium;
    @extend .text-align--right;
    @extend .background-color--subtle-gray;
  }
}

.legend {
  background: rgba(0, 0, 0, 0.1);
}

.lighter-panel {
  position: relative;
  background: white;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $radius-default;
  box-shadow: $shadow-small;
  margin: 0 0 1rem;
  display: inline-block;
}