.submission-title {
  margin: 0;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid $grey-light;
}

.submission-footer {
  width: 100%;
  background-color: white;
  text-align: center;
}

.submission-sidebar {
  .panel {
    font-size: 1rem;
  }

  h6 {
    margin: 1rem 0 0;

    &:first-child {
      margin: 0;
    }
  }
}

.thumbnail-process-pic {
  float: none;
}

.img-modal {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.screenshot-container__flex {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  .screenshot-wrapper{
    width: 12.5rem;
    height: 12.5rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}