.submission-buttons {
  display: inline-block;

  .button {
    margin: 0.375rem;
  }
}

.submission-titles {
  margin: 1rem 0 0;
  border-bottom: 0.07rem solid $grey-light;
  padding: 0.5rem;
}

.submission-content-spacing {
  padding: 1.5rem .5rem .5rem .5rem ;
}

.submission-content-color {
  color: $grey;
}

.submission-footer {
left: 0;
 bottom: 0;
 width: 100%;
 background-color: white;
 text-align: center;
}

.code_checklist-margins {
  margin: 1rem 0 0;
  border-bottom: 0.07rem solid $shamrock;
  padding-top: 3rem;
  text-align: left;
}

.code_checklist-item-selection {
  padding: 0.5rem;
  text-align: left;
  -webkit-text-stroke: 0.05rem black;
}
