.judging-banner {
  background-color: $antiqua;
  color: #ECECEC;
  width: auto;
  margin-bottom: 2rem;
}

.score-banner {
  background-color: $primary-light;
  box-shadow: $shadow-small;
  color: black;
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  position: sticky;
  top: 72px;
  z-index: $z-under-shade;

  span {
    font-size: 3rem;
    font-weight: bold;
  }
}

#header {
  margin: 2rem;
}

#banner-header {
  font-size: 2rem;
}

#student-scores-tabs {
  .score-title {
    background: $secondary;
    border-bottom: 1px solid $secondary-mid;
    border-radius: 7px 7px 0 0;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;

    .score-title__total {
      font-weight: bold;
      font-size: 3rem;

      sub {
        font-size: 1.3rem;
      }
    }

    .score-title__judge {
      padding: 1rem 0 0;
      font-size: 1.2rem;
    }
  }

  .score-section-table {
    border-collapse: collapse;
    padding: 0;
    margin: 1rem;

    td {
      border: 1px solid black;
      padding: 0.5rem;

      &.empty {
        border: none;
      }

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        font-weight: normal;
        padding: 0.5rem 1rem;
        text-align: right;
      }
    }
  }

  .score-tab {
    background: white;
    padding: 0.05rem;
    min-height: 500px;

    .accordion,
    .accordion > dt,
    .accordion > dd, {
      margin: 0;
      padding: 0;
    }

    .accordion {
      > dt {
        border-bottom: 1px solid $secondary-mid;
        border-radius: 7px 7px 0 0;
        color: $secondary-mid;
        font-size: 2rem;
        padding: 0.5rem;
        transition: background-color 0.2s, opacity 0.2s, color 0.2s;

        display: flex;
        justify-content: space-between;

        text-transform: uppercase;

        .ui-accordion-header-icon {
          display: none;
        }

        &:hover,
        &.ui-accordion-header-active {
          background-color: $secondary-mid;
          border-radius: 0;
          opacity: 0.5;
          color: white;
        }
      }

      > dd {
        border: 1px solid $secondary;
        border-top: none;
        border-radius: 0 0 7px 7px;
        padding: 1em;
      }
    }
  }

  .certificates-btn-wrapper {
    text-align: center;
    padding: 0 0 1rem;
  }
  .certificates-btn {
    background-color: $antiqua;
    color: white;
    padding: 1rem 2rem;
    margin: 0.15rem auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $antiqua;
    border-radius: 10rem;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background: white;
      color: $antiqua;
    }
  }

  .ui-accordion-header {
    outline: none;
  }

  #certificates {
    text-align: center;
    padding: 1rem 5rem;
  }

  img {
    margin: 2rem;
  }
}

.mentor-scores {
  .team-photo {
    float: right;
    max-width: 250px;
  }

  h3 {
    line-height: 1.2;
    margin: 0 0 0.5rem;
  }
}

.score_breakdown {
  margin: 0 0 1rem;

  h6 {
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
  }
}

.admin-score-header,
.admin-score-sections {
  max-width: 640px;
  margin: 1rem auto;

  h3,
  h4,
  h5 {
    width: 80%;
    margin: 1rem auto 0.5rem;
  }

  p {
    width: 80%;
    margin: .25rem auto;
  }

  table {
    width: 80%;
    margin: 1rem auto;
    border-collapse: collapse;

    td {
      padding: 0.5rem;
      border: 1px solid black;

      &:last-child {
        font-weight: bold;
        text-align: right;
        width: 50px;
      }
    }
  }

  p + h3 {
    margin-top: 4rem;
  }
}
