.submission-pieces__screenshots {
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.screenshot-wrapper {
  width: 200px;
  height: 200px;
  margin: auto;

  img {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}

.submission-pieces__screenshot-placeholder {
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
  min-width: 100px;
  max-width: 100px;
  padding: 1rem;
  justify-content: center;
  border: 1px dashed #ccc;
  overflow: hidden;
  text-overflow: ellipsis;

  i {
    display: block;
    align-self: center;
  }

  span {
    display: block;
    align-self: center;
    font-size: 0.9rem;
  }
}

.img-modal {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05, 1.05);
  }
}
