.submission-pieces__screenshots {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  margin: 0 0 1rem;
}

.submission-pieces__screenshot {
  margin-right: 1rem;

  img {
    max-width: 100%;
  }
}
.submission-pieces__screenshot-placeholder {
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
  min-width: 100px;
  max-width: 100px;
  padding: 1rem;
  justify-content: center;
  border: 1px dashed #ccc;
  overflow: hidden;
  text-overflow: ellipsis;

  i {
    display: block;
    align-self: center;
  }

  span {
    display: block;
    align-self: center;
    font-size: 0.9rem;
  }
}
