.regional-event-selection-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
}

.regional-event-selection {
  .card__body {
    hr {
      margin: 1.5rem 3rem;
    }
  }
}

.regional-pitch-event-selection-info {
  display: inline-block;
  margin: 1rem 0;
  background: white;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
