.account-type {
  background-color: white;
  box-shadow: 0 4px 4px rgba(black, 0.1);
  display: flex;
  margin: 0 auto 1rem;
  max-width: 800px;

  @media screen and (max-width: $device-xs) {
    display: block;
  }
}

.account-type__img {
  $size: 250px;
  $size-md: 200px;
  background-blend-mode: exclusion;
  background-color: $wisteria-dark;
  background-position: 50% 35%;
  background-size: cover;
  color: white;
  display: block;
  min-height: $size;
  min-width: $size;
  position: relative;

  @media screen and (max-width: $device-md) {
    min-height: $size-md;
    min-width: $size-md;
  }

  span {
    background-color: rgba($chalkboard, 0.5);
    bottom: 0;
    font-weight: 400;
    left: 0;
    padding: 1rem;
    position: absolute;
    transition: background-color 0.25s;
    right: 0;
  }

  &:not(.account-type__img--disabled):hover span {
    background-color: rgba(white, 0.85);
  }
}

.account-type__img--student {
  background-image: image-url("signup/student.jpg");
  background-position: 50% 20%;
}

.account-type__img--mentor {
  background-image: image-url("signup/mentor.jpg");
}

.account-type__img--judge {
  background-image: image-url("signup/judge.jpg");
}

.account-type__img--regional_ambassador {
  background-image: image-url("signup/regional_ambassador.jpg");
}

.account-type__description {
  flex-grow: 1;
  padding: 1rem;
  position: relative;

  .primary-button {
    white-space: normal;

    @media screen and (max-width: $device-xs) {
      width: 100%;
    }
  }
}

.account-type [disabled="disabled"] {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

// Previously existing code below

.signup-section {
  color: $mulberry;
  font-size: 2rem;
  margin: 15px 0;
}

.container .signup-page {
  margin-top: $large-spacing;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: $mulberry;
    .accent { color: $shamrock; }
  }

  .email {
    margin-bottom: 0.25em;
  }

  .signup-form__email-explanation {
    font-size: smaller;
    margin-top: 0;
  }
}
