.signup-page {
  max-width: 800px;
  margin: $large-spacing auto 5rem;

  > p {
    margin-bottom: 1rem;
  }

  .signup-form__email-explanation {
    font-size: smaller;
    margin-top: 0;
  }
}

.account-type {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 4px rgba(black, 0.1);
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;

  @media screen and (max-width: $device-xs) {
    display: block;
  }

  .appy-button {
    margin: 0;
  }
}

.account-type__img {
  $size: 200px;
  $size-md: 180px;
  background-blend-mode: exclusion;
  background-color: $wisteria-dark;
  background-position: 50% 35%;
  background-size: cover;
  color: white;
  display: block;
  min-height: $size;
  min-width: $size;
  position: relative;

  @media screen and (max-width: $device-md) {
    min-height: $size-md;
    min-width: $size-md;
  }

  span {
    background-color: rgba($chalkboard, 0.5);
    bottom: 0;
    font-weight: 400;
    left: 0;
    padding: 1rem;
    position: absolute;
    transition: background-color 0.25s;
    right: 0;
  }

  &:not(.account-type__img--disabled):hover span {
    background-color: rgba(white, 0.85);
  }
}

.account-type__img--student {
  background-image: image-url("signup/student.jpg");
  background-position: 50% 20%;
}

.account-type__img--mentor {
  background-image: image-url("signup/mentor.jpg");
}

.account-type__img--judge {
  background-image: image-url("signup/judge.jpg");
}

.account-type__img--regional_ambassador {
  background-image: image-url("signup/regional_ambassador.jpg");
}

.account-type__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  position: relative;

  .appy-button {
    margin-top: auto;
    text-transform: capitalize;
    white-space: normal;

    @media screen and (max-width: $device-xs) {
      width: 100%;
    }
  }
}

.account-type [disabled="disabled"] {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

// Sign up form

.signup-form {

  .signup-form-name-fields {
    display: flex;
    justify-content: space-between;

    .input {
      width: calc(50% - 0.5em);
    }

    @media screen and (max-width: $device-xs) {
      display: block ;

      .input {
        width: auto;
      }
    }
  }

  [class*="referred_by"],
  [class*="account_gender"],
  [class*="ambassador_since_year"] {
    .chosen-container {
      width: 50% !important;

      @media screen and (max-width: $device-xs) {
        width: 100% !important;
      }
    }
  }

  .chosen-container {
    margin-bottom: 1rem;
  }

  .appy-button {
    margin: 0;
    min-width: 40%;
  }
}

// Screen after sign up attempt

.signup-post-attempt-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

// Previously existing code below

.signup-section {
  color: $mulberry;
  font-size: 2rem;
  margin: 15px 0;
}

.signups__location-fields {
  max-width: 650px;

  form {
    label {
      span.confirm_sentence {
        text-transform: none;
        color: red;
        font-weight: bold;
      }
    }

    ul {
      background: lightgrey;
      border-radius: 0.3rem;
      box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
      list-style: disc;
      margin: 1rem 0 2rem;
      padding: 1rem 1rem 1rem 2rem;

      li {
        margin: 0;
        padding: 0.5rem 0;
      }
    }

    input, select, button, label, ul {
      opacity: 1;
      transition: opacity 0.5s;
    }

    .while-geocoding {
      display: none;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &.geocoding {
      input, select, button, label, ul {
        opacity: 0;
      }

      .while-geocoding {
        display: block;
        opacity: 1;
      }
    }
  }
}
