#sortable-list:not(.submission-pieces__screenshots) {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sortable-list__item {
  position: relative;
  list-style: none;
  padding: 0.5rem;
  transition: margin 0.2s, background-color 1.5s;
  max-width: 200px;

  img {
    max-width: 100%;
  }

  &.sortable-list--updated {
    background: $secondary;
    transition: none;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:hover {
    .sortable-list__item-actions {
      opacity: 1;
    }
  }

  .sortable-list__item-actions {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.2s;
    background: white;
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .sortable-list__drag-handle {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.draggable {
  cursor: grab;
}
