.progress {
  @extend .unstyled;

  li {
    margin: 0 0 1rem;
  }

  .icon-check-circle {
    display: none;
  }

  .complete {
    color: #999;
    font-style: italic;
    text-decoration: line-through;

    .icon-circle-o {
      display: none;
    }

    .icon-check-circle {
      display: inline-block;
      color: $shamrock-mid;
    }
  }
}

#team_submissions__menu {
  a {
    color: #000;

    &:hover {
      opacity: 1;
    }

    .icon-check-circle {
      color: $shamrock;
    }

    > span {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 600px;

      .web-icon-text {
        display: inline;
      }
    }
  }

  .incomplete {
    opacity: 0.7;

    .icon-check-circle:before {
      opacity: 0.7;
      color: #000;
      content: "\f10c";
    }
  }

  .hint {
    margin: 0.5rem 0 0 1rem;
  }
}

#team_submission_source_code,
#team_submission_business_plan {
  display: none;
}

.onboarding-reminder {
  @extend .clear;

  margin: 0 0 1rem;

  img {
    margin-right: 0.5rem;
  }
}

.word-counter,
.indicator {
  transition: background-color 2s;

  &.notify {
    background-color: $info;
    transition: background-color 0.2s;
  }
}

.word-count__total {
  transition: font-weight 0.2s, color 0.2s;
}

.word-count--plenty-remaining {
  color: $success-txt;
}

.word-count--some-remaining {
  color: #f80;
  font-weight: bold;
}

.word-count--none-remaining {
  color: $alert-txt;
  font-weight: bold;
}

.tc-form-group__item,
.indicator {
  margin: 0 0 1.5rem;

  &:last-child {
    margin: 0;
  }
}

.indicator {
  padding: 0.5rem;
  border-radius: $radius-default;
}

.submission-sidebar {
  font-size: 0.9rem;

  > div > div {
    margin: 0.5rem 0;
    overflow: hidden;
    max-width: 500px;
    text-overflow: ellipsis;
  }
}

.team-info {
  .team-info__name {
    font-weight: bold;
    font-size: 1rem;
  }

  .team-info__division {
  }

  .team-info__location {
  }
}

.submission-piece-links {
  margin: 1rem 0 0;
}

.submission-pieces__screenshots {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin: 0 0 1rem;

  .submission-pieces__screenshot {
    margin-right: 1rem;
    cursor: pointer;
  }
}
