.progress {
  .progress__section {
    margin: 1rem 0 0;

    &:first-child {
      margin-top: 0;
    }

    h1 {
      margin: 0;
      padding: 0;
    }

    li {
      width: auto;

      .not-required {
        color: black;
      }

      .icon-check-circle + .web-icon-text,
      .not-required + .web-icon-text {
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        display: table;
        padding: 0 0 0.25rem;
      }

      small {
        display: block;
        padding: 0.5rem 0;
      }
    }
  }
}

.submission__sidebar {
  .progress {
    .progress__section {
      h1 {
        font-size: 1.2rem;
      }
    }
  }
}

#team_submission_source_code,
#team_submission_business_plan {
  display: none;
}

.onboarding-reminder {
  @extend .clear;

  margin: 0 0 1rem;

  img {
    margin-right: 0.5rem;
  }
}

.word-counter,
.indicator {
  transition: background-color 2s;

  &.notify {
    background-color: $info;
    transition: background-color 0.2s;
  }
}

.word-count__total {
  transition: font-weight 0.2s, color 0.2s;
}

.word-count--plenty-remaining {
  color: $success-txt;
}

.word-count--some-remaining {
  color: #f80;
  font-weight: bold;
}

.word-count--none-remaining {
  color: $alert-txt;
  font-weight: bold;
}

.tc-form-group__item,
.indicator {
  margin: 0 0 1.5rem;

  &:last-child {
    margin: 0;
  }
}

.indicator {
  padding: 0.5rem;
  border-radius: $radius-default;
}

.submission-sidebar {
  font-size: 0.9rem;

  > div > div {
    margin: 0.5rem 0;
    overflow: hidden;
    max-width: 500px;
    text-overflow: ellipsis;
  }

  .button {
    display: block;
  }
}

.team-info {
  .team-info__name {
    font-weight: bold;
    font-size: 1rem;
  }
}

.submission-piece-links {
  margin: 1rem 0 0;
}

.submission-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mentor-teams__heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
}
