.tabs {
  .tabs__menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;

    .tabs__menu-link {
      background: #ddd;
      border-top: 3px solid #999;
      box-sizing: border-box;
      margin-right: 0.5rem;
      padding: 0;
      box-shadow: $shadow-default;
      position: relative;
      z-index: 0;

      .tabs__menu-button {
        display: block;
        width: 100%;
      }

      &.tabs__menu-link--active {
        background: white;
        border-color: $primary;

        .tabs__menu-button {
          color: black;
        }
      }
    }
  }

  &.tabs--vertical {
    padding: 0;
    background: white;

    .tabs__menu {
      display: block;
      background: white;
    }

    .tabs__menu-link {
      background: inherit;
      border: 0;
      margin: 0;
      box-shadow: none;

      .tabs__menu-button {
        font-size: 1rem;
        color: #999;
      }
    }

    .tabs__tab-content {
      margin: 0;
      padding: 1rem;
    }

    .tabs__content,
    + .tabs__content {
      border-left: 1px solid #ddd;
    }

    .tabs__menu-button {
      color: #666;
      font-weight: normal;
      font-family: sans-serif;
      text-align: left;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid #ddd;
      text-transform: none;

      &:hover {
        color: black;
      }
    }
  }

  &.tabs--remove-bg {
    background: none !important;

    .tabs__menu {
      background: none !important;

      .tabs__menu-link--active {
        background: none !important;
      }
    }
  }

  .tabs__tab-content {
    position: relative;
    margin-top: -2px;
    background: white;
    padding: 1rem;

    .card__heading {
      background: transparent;

      .card__heading-text {
        display: none;
      }

      .button {
        outline: 0;
        color: black;
        border-color: black;
      }
    }
  }
}

.tabs__menu-button {
  cursor: pointer;
  border-radius: 0;
  background-color: transparent !important;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  color: black;
  transition: background-color 0.2s;

  &:hover {
    background: white;
  }
}

@media (max-width: 767px) {
  .tabs {
    -webkit-font-smoothing: antialiased;

    &.tabs--vertical {
      position: relative;

      .close-tab-menu,
      .open-tab-menu {
        line-height: 1;
        font-size: 2rem;
        background: $primary-dark;
        box-shadow: $shadow-darker;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-under-shade;
        color: white;
        padding: 0.5rem;
      }

      .tabs__tab-content {
        padding: 0;
      }

      .tabs__menu {
        position: absolute;
        left: -100%;
        top: 3rem;
        z-index: $z-under-shade;
        padding: 0;
        box-shadow: $shadow-darker;
        background: $primary-dark;
        transition: left 0.5s;
        opacity: 0.9;

        .tabs__menu-link {
          .tabs__menu-button {
            padding: 0.75rem 2rem;
            font-size: 1.5rem;
            color: white;
            border-bottom-color: #999;

            &:hover {
              background: $primary-mid;
            }
          }

          &.tabs__menu-link--active {
            background: $primary-mid;
          }
        }
      }
    }
  }
}
