table thead tr {
  border-bottom: 1px solid #333;

  th {
    text-align: left;
  }
}

.table--scrollable {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.datagrid {
  width: 100%;
  border-collapse: collapse;

  > tbody > tr > td {
    padding: 0.5rem;
    border-bottom: 1px solid #999;
    transition: background 0.2s;
  }

  tr:hover > td {
    background: #ddd;
    background-clip: padding-box;
  }

  > thead th {
    -webkit-font-smoothing: antialiased;
    position: relative;
    text-align: left;
    padding: 0.5rem;
    width: 1%;
    white-space: nowrap;

    span {
      &:hover {
        .order {
          display: block;
        }
      }

      .order {
        display: none;
        position: absolute;
        left: 0;
        font-size: 0.9rem;
        background: #666;
        color: white;
        z-index: $z-menu;
        box-shadow: $shadow-small;
        border-bottom-right-radius: $radius-default;
        border-bottom-left-radius: $radius-default;
        width: 125px;

        a {
          padding: 0.5rem;
          display: block;
          color: white;

          &:hover {
            background: #eee;
            color: #666;
          }
        }
      }
    }
  }
}
