.tabs {
  .tabs__menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;

    .tabs__menu-link {
      background: #ddd;
      border-top: 3px solid #999;
      box-sizing: border-box;
      margin-right: 0.5rem;
      padding: 0;
      box-shadow: $shadow-default;
      position: relative;
      z-index: 0;

      .tabs__menu-button {
        display: block;
        width: 100%;
        cursor: pointer;
        border-radius: 0;
        padding: 0.5rem 1rem;
        border: 0;
        outline: 0;
        color: black;

        background-color: transparent !important;
        opacity: 0.7;
        transition: opacity 0.2s, background-color 0.2s;

        &:hover {
          background: white;
          opacity: 1;
        }
      }

      &.tabs__menu-link--active {
        background: white;
        border-color: $primary;

        > .tabs__menu-button {
          color: black;
          font-weight: bold;
          opacity: 1;
        }
      }

      &.tabs__menu-link--has-subtitles {
        > .tabs__menu-button {
          font-weight: bold;

          span {
            display: block;
            font-size: 0.8rem;
            font-weight: normal;
            opacity: 0.7;
          }
        }
      }
    }
  }

  &.tabs--vertical {
    padding: 0;
    background: white;

    .tabs__menu {
      display: block;
      background: white;
    }

    .tabs__menu-link {
      background: inherit;
      border: 0;
      margin: 0;
      box-shadow: none;

      .tabs__menu-button {
        font-size: 1rem;
        color: black;
        font-weight: normal;
        font-family: sans-serif;
        text-align: left;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid #ddd;
        text-transform: none;

        &.disabled {
          color: #999;
          cursor: not-allowed;
        }
      }
    }

    .tabs__tab-content {
      margin: 0;
      padding: 1rem;
    }

    .tabs__content,
    + .tabs__content {
      border-left: 1px solid #ddd;
    }

    &.tabs--content-first {
      .tabs__content {
        border-left: none;
        border-right: 1px solid #ddd;
      }
    }

    .tabs__content.tabs__content--embedded,
    + .tabs__content.tabs__content--embedded,
    &.tabs--content-first .tabs__content--embedded,
    .tabs__content--embedded {
      border: none;
    }

    .tabs-menu__parent-menu > li {
      > .tabs__menu-button {
        padding: 0.75rem;
        border-bottom: none;
        border-top: 1px solid #ddd;
      }

      &:first-child > .tabs__menu-button {
        border-top: none;
      }

      &:last-child > .tabs__menu-button {
        border-bottom: 1px solid #ddd;
      }
    }

    .tabs-menu__child-menu  .tabs__menu {
      > li > .tabs__menu-button {
        font-size: 0.9rem;
        padding: 0.4rem;
        margin: 0 0 0.25rem;
        border-bottom: none;
      }
    }

    .tabs-menu__child-menu .tabs__menu-link:not(.tabs__menu-link--active) {
      .tabs__menu-button {
        font-weight: normal;
      }
    }
  }

  &.tabs--remove-bg {
    background: none !important;

    .tabs__menu {
      background: none !important;

      .tabs__menu-link--active {
        background: none !important;
      }
    }
  }

  .tabs__tab-content {
    position: relative;
    margin-top: -2px;
    background: white;
    padding: 1rem;

    .card__heading {
      background: transparent;

      .card__heading-text {
        display: none;
      }

      .button {
        outline: 0;
        color: black;
        border-color: black;
      }
    }
  }
  
  .tab-content__detail {
    padding: 50px 0 0;
    text-align: left;
  }
}

.sticky-nav, .sticky-sidebar {
  background-color: $doc-bg;
  position: fixed;
  top: 0;
  z-index: 999;
  overflow: hidden;
}

.sticky-nav {
  width: 100%;
  border-bottom: 1px solid white;
}

.sticky-sidebar.grid__col-3 {
  background-color: transparent;
  padding-left: 0;
  padding-right: 2em;
}