// General layout

.team-submissions {
  display: flex;

  .card,
  .simple-card {
    margin-bottom: 1em;
  }
}

.team-submissions__row-left,
.team-submissions__row-right {
  width: 25%;
}

.team-submissions__row-center {
  margin: 0 1em;
  width: 50%;
}

// Team photo/name area

.ts-about-team__photo {
  background-image: image-url("placeholders/placeholder-pattern.jpg");
  background-size: cover;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 auto 1em;
  overflow: hidden;
  position: relative;
  width: calc(100% - 2em);

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
    transition: background-color 0.25s;
  }

  &:hover {
    color: white;

    &::before {
      background-color: rgba(black, 0.25);
    }

    .ts-about-team__edit-photo-text {
      opacity: 1;
    }
  }
}

.ts-about-team__edit-photo-text {
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.25s;
  width: 100%;
}

.ts-about-team__photo--no-photo .ts-about-team__edit-photo-text {
  opacity: 1;
}

.ts-about-team__name {
  font-size: $h3;
  font-weight: bold;
  text-align: center;
}

.ts-about-team__description {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.ts-about-team__team-quick-link {
  background-color: white;
  border: 3px solid $shamrock;
  border-radius: 0.25em;
  display: block;
  padding: 0.25em;
  text-align: center;
  transition: background-color 0.25s, color 0.25s;

  &:hover {
    background-color: $shamrock;
    color: white;
  }
}

// Onboarding

.submissions-onboarding-step {
  display: none;
  margin: 0 auto;
  max-width: 680px;
}

.submissions-onboarding-step--show {
  @include animation-fade-in-up;
  display: block;
}

.submissions-onboarding-step--hide {
  @include animation-fade-out-down;
  display: block;
}

.submissions-onboarding-step__img {
  $size: 150px;
  background-color: $light-grey;
  height: $size;
  margin: 0.75em auto 1.75em;
  width: $size;
}

h2.submissions-onboarding-step__heading {
  color: $silver;
  font-size: 1.5rem;
  text-align: center;
}

.submissions-onboarding-step__explanation {
  margin: 0 auto 1.5em;
  max-width: 50ch;
  text-align: center;
}

.submissions-onboarding-step__footer {
  display: flex;
  justify-content: flex-end;

  button .fa {
    margin-left: 0.5em;
    transform: translateY(1px);
  }
}

.submissions-onboarding-step__integrity-clause {
  @include disable-highlight;
  background-color: $light-grey;
  border-radius: 0.5em;
  margin: 0 auto 1.5em;
  max-width: 50ch;

  label {
    align-items: center;
    display: flex;
    padding: 0.75rem;
    text-transform: none;
  }

  input {
    width: 2em;
  }
}

// App description

.ts-app-description {
  position: relative;
}

.ts-app-description__top-wrapper {
  display: flex;

  .ts-app-description__label {
    align-self: flex-end;
    flex-grow: 1;
  }
}

.ts-app-description__buttons-wrapper {
  align-items: center;
  display: flex;
}

.ts-app-description__cancel-btn {
  display: none;
}

.ts-app-description__cancel-btn--show {
  @include animation-fade-in;
  display: block;
}

.ts-app-description__cancel-btn,
.ts-app-description__primary-btn {
  align-self: flex-start;
  font-size: 1rem;
  margin: 0 0 0 0.5em;
  padding: 0.35em 1em;
  position: relative;
  right: -0.5em;
  top: -0.5em;


  .fa {
    margin-right: 0.5em;
  }
}

.ts-app-description__label {
  color: $dark-grey;
  font-weight: bold;
  padding-bottom: 0.25em;
  opacity: 1;
}

.ts-app-description__name {
  font-size: 1.2em;
  font-weight: bold;
  outline: none;

  &:empty::before {
    content: 'App Name';
    color: $mid-grey;
  }
}

.ts-app-description__description {
  opacity: 1;
  outline: none;
}

.ts-app-description--editable {
  z-index: $z-nuclear;

  [data-editable] {
    cursor: default;
  }

  ~ .ts-app-description__edit-shade {
    @include animation-fade-in;
    background-color: $dark-grey;
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-high;
  }
}
