.team-submission__complete-actions {
  padding: 1rem;
  margin: 0 0 1rem;
  text-align: center;

  .publish-submission {
    font-weight: bold;

    span {
      font-size: 0.9rem;
      display: block;
      margin: 1rem 0 0;
    }
  }
}

.team-submissions__assign-regional-event {
  background: white;
  margin: 0 0 1rem;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;

  select {
    margin: 0 auto;
    background: lightgrey;
  }
}

.regional-pitch-events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .regional-pitch-event__info {
    padding: 1rem 1rem 0;

    p {
      margin: 0;
      padding: 0;
      font-size: 0.9rem;
    }

    h1,
    h2,
    h3 {
      margin: 0;
      padding: 0;
      color: black;
      font-weight: normal;

      small {
        display: block;
      }
    }

    h1 {
      font-size: 1.6rem;
      font-weight: bold;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }

    .regional_pitch_event__info-time {
      background: lightgrey;
      padding: 0.5rem;
      border-radius: 0.3rem;
    }
  }
}
