.team-search__teams-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.team-search-result {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  width: calc(100% / 3);

  @media screen and (max-width: $device-lg) {
    width: 50%;
  }

  @media screen and (max-width: $device-md) {
    padding: 0;
    width: 100%;
  }
}

.team-search-result__card {
  align-items: center;
  background-color: white;
  border-radius: 0.25em;
  box-shadow: 0 2px 2px rgba(black, 0.15);
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  position: relative;

  * {
    max-width: 100%;
  }
}

.team-search-result__photo img {
  border-radius: 50%;
}

.team-search-result__name,
.team-search-result__location,
.team-search-result__blurb {
  font-size: 1.2rem;
  text-align: center;
}

.team-search-result__name {
  font-size: 1.3rem;
  font-weight: bold;
}

.team-search-result__link-wrapper {
  display: block;
  margin-top: auto;
  width: 100%;

  button {
    font-size: 1.2rem;
    margin-top: 1.25rem;
    padding: 0.5rem;
    text-transform: none;
    width: 100%;
  }
}

.pending-invites {
  margin: 15px 0 0;

  table {
    margin: 5px 0;
    width: auto;

    td {
      border: none;
      padding: 0 5px 0 0;
    }
  }

  h6 {
    color: $mulberry;
    margin-bottom: $small-spacing;
  }

  a {
    color: $mulberry-dark;
    &:hover {
      color: $mulberry;
    }
  }
}

.update-invite {
  margin: 0 0 1rem;
}

.team-memberships {
  align-items: flex-start;
  display: flex;
  width: 100%;

  @media screen and (max-width: $device-sm) {
    flex-wrap: wrap;
  }

  .team-members {
    width: 50%;
    margin: 0 $small-spacing $base-spacing;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: $device-sm) {
      margin: 0 0 $base-spacing;
      width: 100%;
    }

    ul.team_members li {
      margin-bottom: $small-spacing;

      .member-image {
        display: table-cell;
        padding-right: $small-spacing;

        img {
          width: 80px;
          height: auto;
          border: 3px solid #fff;
        }
      }

      .member-info {
        display: table-cell;
        vertical-align: top;
        color: #fff;

        h3 {
          color: #fff;
          margin: 0;
          font-weight: normal;
        }

        a {
          color: #fff;
          text-decoration: underline;
          &:hover { color: #ddd; }
        }
      }
    }
  }
}

.update-invite {
  @include clearfix;

  .accept-invite, .decline-invite {
    @include span-columns(6);
  }

  .decline-invite {
    @invite omega;
  }
}

.team-photo {
  display: block;
  float: left;
  margin: 0 1rem 1rem 0;
}

.simple_form {
  .input {
    &.team_member_invite_invitee_email {
      width: 50%;
      margin: 0;
      padding: 0;

      input {
        margin: 0 0 0.5rem;
      }

      + .appy-button {
        margin: 0 0 1rem;
      }
    }
  }
}

.leave-team {
  margin-top: 5rem;
}
