.team-result {
  @include span-columns(6);
  @include shift(3);

  h2 {
    margin: 0;
  }
}

.pending-invites {
  margin: 15px 0 0;

  table {
    margin: 5px 0;
    width: auto;

    td {
      border: none;
      padding: 0 5px 0 0;
    }
  }

  h6 {
    color: $mulberry;
    margin-bottom: $small-spacing;
  }

  a {
    color: $mulberry-dark;
    &:hover {
      color: $mulberry;
    }
  }
}

.update-invite {
  margin: 0 0 1rem;
}

.team-memberships {
  .team-members {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: $large-spacing;

    ul.team_members li {
      margin-bottom: $small-spacing;

      .member-image {
        display: table-cell;
        padding-right: $small-spacing;

        img {
          width: 80px;
          height: auto;
          border: 3px solid #fff;
        }
      }

      .member-info {
        display: table-cell;
        vertical-align: top;
        color: #fff;
      }
    }

    input[type="submit"] {
      @extend .transparent-button;
    }
  }
}

.manage-team {
  @include span-columns(12);
  > div {
    margin-bottom: $base-spacing;
  }
}

.mentor-teams {
  margin-bottom: 15px;
}

.update-invite {
  @include clearfix;

  .accept-invite, .decline-invite {
    @include span-columns(6);
  }

  .decline-invite {
    @invite omega;
  }
}

.team-photo {
  float: left;
  display: block;
  margin: 0 1rem 1rem 0;
}
