// General layout

.my-teams {
  display: flex;
  margin-bottom: 50px;

  .card,
  .simple-card {
    margin-bottom: 1em;
  }

  @media (max-width: $device-sm) {
    flex-direction: column;
  }
}

.my-teams__col-left {
  width: 25%;

  @media (max-width: $device-sm) {
    width: 100%;
  }
}

.my-teams__col-main {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 75%;

  @media (max-width: $device-sm) {
    padding: 0;
    width: 100%;
  }
}

.my-teams__col-wide {
  justify-content: space-between;
  display: flex;

  > :first-child {
    width: calc((100% * 2/3) - 1em);
  }

  > :last-child {
    width: calc(100% * 1/3);
  }

  @media (max-width: $device-sm) {
    flex-direction: column;

    > :first-child,
    > :last-child {
      width: 100%;
    }
  }
}

.my-teams__col-half {
  display: flex;
  justify-content: space-between;

  > :first-child {
    width: calc(50% - 1em);
  }

  > :last-child {
    width: 50%;
  }

  @media (max-width: $device-sm) {
    flex-direction: column;

    > :first-child,
    > :last-child {
      width: 100%;
    }
  }
}

// Team photo/name area

.mt-team-photo {

  form {
    text-align: center;
  }

  .appy-button {
    margin: 0 0 0.5rem;
    width: 100%;
  }

  .appy-hint {
    font-size: 0.75em;
  }
}

.mt-team-photo__photo {
  background-image: image-url("placeholders/placeholder-pattern.jpg");
  background-size: cover;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 auto 1em;
  max-width: 300px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 2em);

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

// Team photo/description

.mt-about-team {
  display: flex;
  flex-direction: column;

  .appy-button {
    margin: 1rem 0 0;
  }
}

.mt-about-team__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mt-about-team__name {
  font-size: $h3;
  font-weight: bold;
}

.mt-about-team__description {
  margin-bottom: auto;
}

.mt-about-team__division {
  color: $mulberry;
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
}

// Team members

.mt-mentors,
.mt-team-members {
  input[type='email'] {
    font-size: 1.1rem;
  }

  .appy-button {
    margin: 0;
  }
}

// Leave team wrapper

.mt-leave-team-wrapper {
  text-align: right;
}
