// General layout

.team-submissions {
  display: flex;
  margin-bottom: 200px;

  .card,
  .simple-card {
    margin-bottom: 1em;
  }

  @media (max-width: $device-sm) {
    flex-direction: column;
  }
}

.team-submissions__row-left,
.team-submissions__row-right {
  width: 25%;
  position: relative;
  z-index: 0;
}

.team-submissions__row-center {
  margin: 0 1em;
  width: 50%;
  position: relative;
  z-index: 0;
}

@media (max-width: $device-sm) {
  .team-submissions__row-left,
  .team-submissions__row-right,
  .team-submissions__row-center {
    margin: 0;
    width: 100%;
  }
}

// Team photo/name area

.ts-about-team__photo {
  background-image: image-url("placeholders/placeholder-pattern.jpg");
  background-size: cover;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 auto 1em;
  max-width: 300px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 2em);

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
    transition: background-color 0.25s;
  }

  &:hover {
    color: white;

    &::before {
      background-color: rgba(black, 0.25);
    }

    .ts-about-team__edit-photo-text {
      opacity: 1;
    }
  }
}

.ts-about-team__edit-photo-text {
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.25s;
  width: 100%;
}

.ts-about-team__photo--no-photo {
  &::before {
    background-color: rgba(black, 0.25);
  }

  .ts-about-team__edit-photo-text {
    opacity: 1;
  }
}

.ts-about-team__name {
  font-size: $h3;
  font-weight: bold;
  text-align: center;
}

.ts-about-team__description {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.ts-about-team__team-quick-link {
  background-color: white;
  border: 3px solid $shamrock;
  border-radius: 0.25em;
  display: block;
  padding: 0.25em;
  text-align: center;
  transition: background-color 0.25s, color 0.25s;

  &:hover {
    background-color: $shamrock;
    color: white;
  }
}

.ts-about-team__share-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0 -0.5rem;

  > * {
    margin: 0 0.25em;
  }
}

// Onboarding

.submissions-onboarding-step {
  display: none;
  margin: 0 auto;
  max-width: 680px;
}

.submissions-onboarding-step--show {
  @include animation-fade-in-up;
  display: block;
}

.submissions-onboarding-step--hide {
  @include animation-fade-out-down;
  display: block;
}

.submissions-onboarding-step__img {
  $size: 150px;
  height: $size;
  margin: 0 auto;
  width: $size;
}

h2.submissions-onboarding-step__heading {
  color: $silver;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 0.75rem;
}

.submissions-onboarding-step__explanation {
  margin: 0 auto 1.5em;
  max-width: 50ch;
  text-align: center;
}

.submissions-onboarding-step__footer {
  display: flex;
  justify-content: flex-end;

  button .fa {
    margin-left: 0.5em;
    transform: translateY(1px);
  }
}

.submissions-onboarding-step__integrity-clause {
  @include disable-highlight;
  background-color: $light-grey;
  border-radius: 0.5em;
  margin: 0 auto 1.5em;
  max-width: 50ch;
  transition: background-color 1s;

  label {
    align-items: center;
    display: flex;
    padding: 0.75rem;
    text-transform: none;
    cursor: pointer;
  }

  input {
    width: 2em;
  }

  &:hover {
    background-color: darken($light-grey, 25%);
  }
}

// App description

.ts-app-description {
  position: relative;
}

.ts-app-description__top-wrapper {
  display: flex;

  .ts-app-description__label {
    align-self: flex-end;
    flex-grow: 1;
  }
}

.ts-app-description__buttons-wrapper {
  align-items: center;
  display: flex;
}

.ts-app-description__cancel-btn {
  display: none;
}

.ts-app-description__cancel-btn--show {
  @include animation-fade-in;
  display: block;
}

.ts-app-description__cancel-btn,
.ts-app-description__primary-btn {
  align-self: flex-start;
  font-size: 1rem;
  margin: 0 0 0 0.5em;
  padding: 0.35em 1em;
  position: relative;
  right: -0.5em;
  top: -0.5em;


  .fa {
    margin-right: 0.5em;
  }
}

.ts-app-description__label {
  color: $dark-grey;
  font-weight: bold;
  padding-bottom: 0.25em;
  opacity: 1;
}

.ts-app-description__name {
  font-size: 1.2em;
  font-weight: bold;
  outline: none;

  &:empty::before {
    content: 'App Name';
    color: $mid-grey;
  }
}

.ts-app-description__description {
  outline: none;
  padding: 0 0 1rem;
  white-space: pre-wrap;

  &:empty::before {
    font-weight: bold;
    content: 'In about 100 words, provide a description of your application.';
    color: darken($mid-grey, 5%);
  }
}

.ts-app-description__word-limit {
  color: $mid-grey;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}

.ts-app-description__word-limit--warn {
  color: orange;
}

.ts-app-description__word-limit--max {
  color: #F44336;
}

.ts-app-description--editable {
  z-index: $z-nuclear;

  [data-editable] {
    cursor: default;
  }

  ~ .ts-app-description__edit-shade {
    @include animation-fade-in;
    background-color: $dark-grey;
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-high;
  }
}

// Screenshots upload

.ts-screenshots .card__body {
  padding: 0;
}

.ts-screenshots__no-screenshots-body {
  align-items: center;
  background-image: linear-gradient(to right bottom, $granite, $silver);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  padding: 2em;
}

.ts-screenshots__no-screenshots-text {
  color: white;
  font-family: $heading-font-family;
  font-weight: bold;
  margin-bottom: 2em;
}

.submission-step__code {
  background-color: #01aaac;
}

.submission-step__pitch {
  background-color: #7d324d;
}

.submission-step__market {
  background-color: #6e466b;
}

.submission-step__business {
  background-color: #00643f;
}

.submission-step__ideation {
  background-color: #c1c320;
}
