.team-submissions {
  .flex-col-md-7,
  .flex-col-md-5 {
    padding: 0;
  }

  .flex-col-md-7 {
    padding-right: 0.5em;
  }

  .flex-col-md-5 {
    padding-left: 0.5em;
  }

  .card {
    margin-bottom: 1em;
  }

  @media screen and (max-width: $device-md) {
    .flex-col-md-7,
    .flex-col-md-5 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
