.team-submission__complete-actions {
  padding: 1rem;
  margin: 0 0 1rem;
  text-align: center;

  .publish-submission {
    font-weight: bold;

    span {
      font-size: 0.9rem;
      display: block;
      margin: 1rem 0 0;
    }
  }
}

