@import "layout";
@import "header";
@import "menus";
@import "forms";
@import "sortable";

body, html {
  margin: 0;
  background-color: $light-grey;
}

.clearfix {
  @include clearfix;
}

.bg_check_status {
  font-weight: bold;

  &.clear {
    color: $shamrock;
  }

  &.pending {
  }

  &.consider {
    color: $mulberry;
  }
}
