@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "bourbon/bourbon";
$visual-grid: true !default;
@import "neat/neat";
@import "base/base";

@import "refills/tables-minimal";
@import "refills/flashes";
@import "refills/pagination";

body, html {
  margin: 0;
  background-color: $light-grey;
}

header {
  background-image: url("header-background.png");
  background-repeat: repeat-x;
  background-color: $mulberry;
  display: block;
  padding: $base-spacing 0;

  .logo {
    height: 60px;
    display: inline-block;
  }

  nav  {
    padding: $base-spacing 0;
    float: right;

    ul {
      list-style-type: none;
      text-align: right;

      li {
        display: inline-block;
        margin-left: $small-spacing;

        a {
          color: white;
          &:hover,
          &:focus {
            color: $shamrock;
          }
        }
      }
    }
  }
}

.signup_page {
  margin-top: $base-spacing;

  h2 {
    text-align: center;
    margin-bottom: $small-spacing;
    color: $mulberry;
    .accent { color: $shamrock; }
  }

  .account-type {
    @include span-columns(8);
    @include shift(2);

    padding: $base-spacing;
    margin-bottom: $base-spacing;
    background-color: #fff;

    .account-title {
      @include span-columns(3 of 8);
    }

    .account-description {
      @include span-columns(5 of 8);
    }

    .account-photo {
      width: 260px;
      height: 260px;
      background-size: 260px 260px;
      background-color: #421B41;
      background-blend-mode: exclusion;

      h5 {
        color: #fff;
        text-align: center;
        padding-top: $large-spacing;
      }
    }

    .student-account { background-image: url("signup/student.jpg"); }
    .mentor-account { background-image: url("signup/mentor.jpg"); }
    .coach-account { background-image: url("signup/coach.jpg"); }
    .judge-account { background-image: url("signup/judge.jpg"); }
  }
}

.container {
  @include outer-container;
}

.inline-radio, .inline-checkbox {
  display: block;
  margin: 1rem 0;

  label {
    display: inline;
  }
}

label {
  cursor: pointer;
}
