.background-color--subtle-primary {
  background-color: $primary-translucent;
}

.background-color--subtle-gray {
  background-color: rgba(200, 200, 200, 0.4);
}

.box-shadow--t-subtle {
  box-shadow: 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.box-shadow--b-subtle {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.color--primary {
  color: $primary;
}

.color--secondary {
  color: $secondary;
}

.color--danger {
  color: $alert-txt;
}

.color--white {
  color: white
}

.font-size--small {
  font-size: 0.8rem;
}

.font-smoothing--antialiased {
  -webkit-font-smoothing: antialiased;
}

.font-weight--bold {
  font-weight: bold;
}

.margin--none {
  margin: 0;
}

.margin--t-none {
  margin-top: 0;
}

.margin--t-large {
  margin-top: 1rem;
}

.margin--b-medium {
  margin-bottom: 0.5rem;
}

.margin--b-large {
  margin-bottom: 1rem;
}

.margin--t-r-l-none {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.padding--none {
  padding: 0;
}

.padding--small {
  padding: 0.25rem;
}

.padding--medium {
  padding: 0.5rem;
}

.padding--large {
  padding: 1rem;
}

.padding--t-none {
  padding-top: 0;
}

.padding--t-medium {
  padding-top: 0.5rem;
}

.padding--t-b-none {
  padding-top: 0;
  padding-bottom: 0;
}

.padding--t-b-medium {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding--l-medium {
  padding-left: 0.5rem;
}

.padding--l-large {
  padding-left: 1rem;
}

.padding--t-r-l-none {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.padding--r-l-b-none {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.text-align--right {
  text-align: right !important;
}