.background-color--subtle-primary {
  background-color: $primary-translucent;
}

.background-color--subtle-gray {
  background-color: rgba(200, 200, 200, 0.4);
}

.background-color--white {
  background-color: white;
}

.border--t-thin {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.border--b-thin-primary {
  border-bottom: 1px solid $primary;
}

.box-shadow--t-subtle {
  box-shadow: 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.box-shadow--b-subtle {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.color--primary {
  color: $primary;
}

.color--secondary {
  color: $secondary;
}

.color--danger {
  color: $alert-txt;
}

.color--white {
  color: white
}

.cursor--default {
  cursor: default;
}

.cursor--pointer {
  cursor: pointer;
}

.display--block {
  display: block;
}

.font-size--small {
  font-size: 0.8rem;
}

.font-smoothing--antialiased {
  -webkit-font-smoothing: antialiased;
}

.font-style--italic {
  font-style: italic;
}

.font-weight--bold {
  font-weight: bold;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.clear--both {
  clear: both;
}

.height--100-percent {
  height: 100%;
}

.hover--opacity-75:not(.opacity--100) {
  &:hover {
    opacity: 0.75;
  }
}

.list-style--none {
  list-style: none;
}

.margin--none {
  margin: 0 !important;
}

.margin--t-none {
  margin-top: 0;
}

.margin--t-large {
  margin-top: 1rem;
}

.margin--t-xlarge {
  margin-top: 2rem;
}

.margin--t-xxlarge {
  margin-top: 3rem;
}

.margin--r-none {
  margin-right: 0 !important;
}

.margin--b-none {
  margin-bottom: 0;
}

.margin--b-medium {
  margin-bottom: 0.5rem;
}

.margin--b-large {
  margin-bottom: 1rem;
}

.margin--b-xlarge {
  margin-bottom: 2rem;
}

.margin--b-xxlarge {
  margin-bottom: 3rem;
}

.margin--t-b-large {
  margin-top: 1rem;
  margin-left: 1rem;
}

.margin--t-r-l-none {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.margin--r-l-none {
  margin-right: 0;
  margin-left: 0;
}

.opacity--50 {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.opacity--100 {
  opacity: 1;
}

.padding--none {
  padding: 0 !important;
}

.padding--small {
  padding: 0.25rem;
}

.padding--medium {
  padding: 0.5rem;
}

.padding--large {
  padding: 1rem;
}

.padding--t-none {
  padding-top: 0;
}

.padding--t-medium {
  padding-top: 0.5rem;
}

.padding--t-large {
  padding-top: 1rem;
}

.padding--t-b-none {
  padding-top: 0;
  padding-bottom: 0;
}

.padding--t-b-medium {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding--t-b-large {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding--t-l-large {
  padding-top: 1rem;
  padding-left: 1rem;
}

.padding--r-none {
  padding-right: 0 !important;
}

.padding--r-l-large {
  padding-right: 1rem;
  padding-left: 1rem;
}

.padding--r-l-b-none {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.padding--r-l-b-large {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.padding--r-l-t-large {
  @extend .padding--t-large;
  @extend .padding--r-l-large;
}

.padding--l-medium {
  padding-left: 0.5rem;
}

.padding--l-large {
  padding-left: 1rem;
}

.padding--t-r-l-none {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.pointer-events--none {
  pointer-events: none;
}

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left !important;
}

.text-align--right {
  text-align: right !important;
}

.text-decoration--underline {
  text-decoration: underline;
}

.overflow-wrap--break-word {
  overflow-wrap: break-word;
}