// vendor
@import "normalize-rails";
@import "reflex";
@import "reflex.ext";

// FIXES VENDOR BUG:
// https://github.com/tsechingho/chosen-rails/issues/97#issuecomment-365472872
$chosen-sprite: image-url('chosen-sprite.png');
$chosen-sprite-retina: image-url('chosen-sprite@2x.png');

@import "chosen";
@import "sweetalert2";

// base
@import "variables";
@import "base";
@import "headings";
@import "lists";
@import "forms";
@import "text_styles";

// layout
@import "tables";
@import "flashes";
@import "notices";
@import "pagination";
@import "datagrid";
@import "debugging";
@import "queued_jobs";

// components
@import "panel";
@import "button";
@import "img";
@import "tabs";
@import "submission_progress";
@import "screenshots";
@import "season_schedule";

// font
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "icomoon";

nav {
  a {
    display: block;
    color: black;
    padding: 0.25rem;
    font-size: 0.9rem;
    opacity: 0.5;
    transition: 0.2s opacity;

    &.active, &:hover {
      opacity: 1;
      color: black;
    }

    &[data-method] {
      color: $alert-txt;
    }
  }
}

.modal {
  display: none;
}

.filter {
  .chosen-container {
    margin: 0 0 1rem;
  }
}

.modal-content {
  text-align: left;
}

.profile-info {
  dt, dd {
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.admin-score-header,
.admin-score-sections {
  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &:first-child {
        width: 100%;
      }
    }
  }

  h3,
  h4 {
    margin: 0;
    font-size: 1rem;
  }

  h3 {
    margin: 1rem 0 0;
    font-size: 1.2rem;
  }
}

.admin-score-actions {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#admin-scores-app {
  overflow-y: scroll;
  max-height: 500px;
}