// vendor
@import "normalize-rails";
@import "reflex";
@import "chosen";
@import "sweetalert2";

// base
@import "variables";
@import "base";
@import "headings";
@import "lists";
@import "forms";
@import "text_styles";

// layout
@import "tables";
@import "flashes";
@import "notices";
@import "pagination";
@import "datagrid";
@import "debugging";
@import "queued_jobs";

// components
@import "panel";
@import "button";
@import "img";
@import "tabs";

@import "season_schedule";

// font
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "icomoon";

nav {
  a {
    display: block;
    color: black;
    opacity: 0.5;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid $grey-translucent;
    transition: 0.2s opacity;

    &.active, &:hover {
      opacity: 1;
      color: black;
    }

    &.small {
      padding: 1rem 0 0 0;
      font-size: 0.9rem;
      border: 0;
    }

    &[data-method] {
      padding-left: 0;
      color: $alert-txt;
      border: 0;
      font-size: 0.9rem;
    }
  }
}

.modal {
  display: none;
}

.filter {
  .chosen-container {
    margin: 0 0 1rem;
  }
}

.modal-content {
  text-align: left;
}
