@import "normalize";
@import "font-awesome";
@import "chosen";

@import "partials/animations";
@import 'admin/base';

@import 'partials/variables';
@import 'layout/grid-flex';

@import 'component-library/card';
@import 'component-library/flashes';
@import 'component-library/admin-buttons';
@import "component-library/tabs";
@import "component-library/modalify";

@import 'admin/navigation';
@import 'admin/data-tables';
@import 'admin/dashboard';
@import 'admin/profiles';
@import 'admin/teams';
@import 'admin/forms';

.main-content {
  padding: 0 0 5rem;
}

.admin-table__team-submissions-checklist {
  table-layout: fixed;
  border: solid #333;
  border-width: 1px 0 1px 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 650px;

  td, th {
    padding: 0.5rem 1rem;
    border: solid #333;
    border-width: 0 1px 0 1px;
  }

  tr {
    border-bottom: 1px solid #333;
  }
}

.admin-search__filter-options {
  dl {
    padding: 1rem 0;
  }
}

.ra-pitch-event-participants-lists {
  margin: 1rem;

  .tab-content {
    padding: 1rem;
    max-width: 900px;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

    p {
      margin: 0;
    }
  }
}

.ra-participants-list,
.ra-messages-list {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;

  td,
  th {
    text-align: left;
    border: 0;
  }

  > tbody > tr > td {
    font-size: 0.8rem;
    font-style: italic;
    white-space: nowrap;

    &.primary-col {
      font-size: 1rem;
      font-style: normal;
    }

    .modalify {
      font-size: 1rem;
      font-style: normal;

      p {
        margin: 0.75rem 0;
      }

      textarea {
        min-height: 200px;
      }
    }
  }

  td {
    padding: 1rem 0.5rem;
    border: solid #999;
    border-width: 1px 0;

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.add-participant a {
      &:hover {
        text-decoration: none;
        font-weight: bold;
      }

      .fa {
        color: $shamrock;
      }
    }
  }

  th {
    color: grey;
    opacity: 0.8;
    padding: 0.5rem 0.5rem 0.2rem;
    font-size: 0.8rem;
  }

  tr {
    &:hover {
      > td {
        background: #f4faff;
        border-top-color: #cce6fa;
        border-bottom-color: #cce6fa;
      }
    }
  }
}

.hint {
  font-style: italic;
  font-size: 0.8rem;
}

.notice {
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  &.warning {
    background: $warning;
    color: $warning-txt;
  }

  &.info {
    background: $info;
    color: $info-txt;
  }
}

#season_review {
  .review-panel {
    margin: 0 0 1rem;

    p {
      margin: 1rem 0 0;
      padding: 0;

      &.heading {
        border-top: 1px solid #999;
        padding: 0.5rem;
        font-weight: bold;
        background: #ccc;
      }

      &.has-text-value {
        font-weight: bold;
      }

      &.part-of-many {
        margin: 0;
      }
    }

    strong {
      &.on {
        color: $success-txt;
      }

      &.off {
        color: $error-txt;
      }
    }
  }
}

#admin-season-schedule {
  .tab-button {
    .fa {
      display: none;
      color: $error-txt;
    }

    &.contains-disabled-items {
     .fa {
       display: inline;
     }
    }
  }

  .tab-content {
    margin: 0 0 1rem;
    padding: 0 1rem;
    background: white;
    position: relative;
    z-index: $z-nuclear;

    h4 {
      margin: 0 0 1rem;
      font-weight: bold;
    }

    p, .inline-checkbox, .inline-radio {
      margin: 0 0 1rem;
      padding: 0;
      font-weight: normal;
    }

    label {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
  }
}
