@import 'technovation';
@import "chosen";
@import "forms";
@import "containers";

@import "refills/footer-2";
@import 'refills/button-group';
@import 'refills/badges';

@import "mentor_search";
@import "teams";
@import "scores";

.last {
  @include omega;
}

dd {
  margin-bottom: 1rem;
}

.sidebar {
  @include span-columns(3);
}

.content {
  @include span-columns(9);
  @include omega;
}
