@import "bourbon/bourbon";
$visual-grid: false !default;
@import "neat/neat";
@import "base/base";

@import "refills/tables-minimal";
@import "refills/flashes";
@import "refills/navigation";

body {
  margin: 0;
}

.container {
  @include outer-container;
}

.inline-radio {
  display: block;
  margin: 1rem 0;

  label {
    display: inline;
  }
}

label {
  cursor: pointer;
}
