@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2-bootstrap";
@import "select2";


.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}

.img-avatar {
  width: 100%;
}

label.required:after {
  content:" *";
}


.large-checkbox {
  position: relative !important;
  transform: scale(2);
  -webkit-transform: scale(2);
  margin: 8px !important;
}

.markdown-field {
  h1, h2, h3 {
    color: #1A6FA3;
  }
  h4, h5, h6 {
    color: #555;
  }
  h1 { font-size: 24px; }
  h2 { font-size: 18px; }
  h3, h4, h5, h6 { font-size: 14px; }
}

#profile {
  margin-top: 20px;
  outline: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 1px;
  overflow:hidden;
}

.dl-horizontal dt {
  text-align: left;
  width: auto;
  padding-right: 1em;
}
.dl-horizontal dd {
  margin-left: 0;
}

label.required:after {
  content:" *";
}

