// vendor
@import "normalize-rails";
@import "reflex";
@import "chosen";

// base
@import "variables";
@import "base";
@import "headings";
@import "lists";
@import "forms";
@import "text_styles";

// layout
@import "navigation";
@import "flashes";
@import "notices";

// components
@import "panel";
@import "button";
@import "img";
@import "tabs";
@import "modals";

// font
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "icomoon";

#site-footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.social-links {
  font-size: 1.5rem;
}

.chosen-container {
  font-size: 1.5rem;
  font-weight: 300;

  .chosen-results li {
    color: #333;
    margin: 0 0 0.5rem;
  }
}

.chosen-container-single {
  .chosen-single {
    color: #333;
    height: auto;
    line-height: 1.2;

    a {
      font-weight: 300;
    }
  }
}
