// 3rd Party Libs
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "bourbon/bourbon";
@import "neat/neat";
@import "refills/tables-minimal";
@import "refills/pagination";
@import "refills/button-group";
@import "refills/badges";
@import "font-awesome";
@import "chosen";
@import "vendor/dragula";

// Technovation
@import "partials/animations";
@import "partials/helpers";
@import "partials/variables";
@import "partials/mixins";
@import "layout/grid-flex";
@import "base/base";
@import "base/buttons";

// Component Library
@import "component-library/ajax-forms";
@import "component-library/buttons";
@import "component-library/card";
@import "component-library/fancy-image-upload";
@import "component-library/fancy-inputs";
@import "component-library/flashes";
@import "component-library/gallerify";
@import "component-library/media-query-helpers";
@import "component-library/modalify";
@import "component-library/notify-banners";
@import "component-library/scrolly-tables";
@import "component-library/search-panel-and-results";
@import "component-library/search-filter-card";
@import "component-library/text-helpers";
@import "component-library/tabs";
@import "component-library/alternative-forms";

@import "accounts";
@import "containers";
@import "dashboards";
@import "forms";
@import "global-nav";
@import "home-page";
@import "layout";
@import "mentor_search";
@import "menus";
@import "signups";
@import "sortable";
@import "team-invitations";
@import "team-submissions";
@import "team-submissions-progress";
@import "team-submissions-complete";
@import "teams";
@import "technical-checklist";
@import "background-checks";
@import "submission-scores";
@import "select-pitch-event";

.small-action-bar {
  font-size: 0.8rem;
  display: inline-block;
  background: lightgrey;
  padding: 0.1rem 0.3rem;
  border-radius: 50px;
  color: grey;

  a {
    color: grey;

    &:hover {
      color: black;
    }
  }
}
