@import "application";

@import "dashboards";
@import "flags";
@import "screenshots";
@import "scores";

#judge-dashboard-scores-nav {
  display: flex;
  margin: 1rem 0 0;

  a {
    display: block;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: color 0.2s;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: #333;
    }

    &.active {
      color: black;
    }
  }
}

.score-in-progress {
  small {
    display: block;
    color: #666;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.thumbnail-process-pic {
  float: none;
}

.screenshot-nav__item {
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}
