@import "application";
@import "dropzone/dropzone";
@import "dragula";
@import "jquery-ui/accordion";

@import "dashboards";
@import "submissions";
@import "search_results";
@import "flags";
@import "teams";
@import "sortable_list";
@import "submission_progress";
@import "review_submission";

.show-hide--input {
  position: relative;

  a {
    margin: 0;
    position: absolute;
    top: 1.8rem;
    right: 0.5rem;
  }
}
