@import "application";
@import "dropzone/dropzone";
@import "dragula";

@import "dashboards";
@import "submissions";
@import "search_results";
@import "flags";
@import "teams";
@import "sortable_list";

.show-hide--input {
  position: relative;

  a {
    margin: 0;
    position: absolute;
    top: 1.8rem;
    right: 0.5rem;
  }
}

.bar-graph {
  margin: 3rem 0 auto;
  width: 50%;
}

.bar-wrap {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.0625rem solid $shamrock;
  margin-bottom: 1rem;
}

.bar-fill {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: $shamrock;
  display: block;
  height: 1rem;
  width: 0;
  animation-name: fill;
  animation-duration: 1s;
}

@keyframes fill {
  0%{width: 0;}
}
