@import "normalize-rails";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "variables";
@import "button";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 1rem;
  height: 100%;
}

header {
  float: right;
  max-width: 250px;
  height: 100%;
  text-align: right;

  h3,
  h4 {
    margin: 0;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  h4 {
    color: #666;
  }
}

.sections {
  margin-right: 250px;
}

table {
  width: 100%;
  margin: 0 0 2.2rem;
  border-collapse: collapse;
}

header table {
  margin: 1rem 0 0;

  tr {
    td {
      border: none;
    }
  }
  th {
    text-transform: uppercase;
  }
}

th {
  text-align: right;
}

tr {
  td {
    padding: 0 0.5rem;
    border-bottom: 1px solid black;
  }
}

td:nth-child(2) {
  font-weight: bold;
  text-align: center;
}

td:last-child {
  text-align: center;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

h3,
h4 {
  margin: 1rem auto 0;
}

.print-button {
  text-align: center;
  position: fixed;
  width: 100%;
}

@media print {
  body {
    font-size: 9pt !important;
    padding: 0;
  }

  .print-button,
  button,
  .button {
    display: none !important;
  }

  .page {
    page-break-before: unset;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  .page.junior {
    padding: 1rem;

    table {
      margin-bottom: 5rem;
    }
  }
}

.cover-page {
  page-break-before: unset;
  page-break-after: avoid;
  page-break-inside: avoid;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .cover-page-content {
    max-width: 50%;
    text-align: center;
  }

  h1 {
    font-size: 1.4rem;
    margin: 0 0 3rem;
  }

  .cover-page-teams,
  .cover-page-judges {
    width: 50%;
    float: left;

    h1 {
      font-size: 1.2rem;
      margin: 0 0 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 1rem;
      }
    }
  }
}

@page {
  margin: 10px;
}