@import "normalize-rails";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import "variables";
@import "button";

body {
  padding: 1rem;
}

header {
  text-align: right;

  h3,
  h4 {
    width: 100%;
    margin: 0;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

table {
  width: 60vw;
  margin: 0 auto 1rem;
  border-collapse: collapse;
}

th {
  text-align: right;
}

tr {
  td {
    padding: 0 0.5rem;
    border-bottom: 1px solid black;
  }

  &:last-child {
    td {
      border-top: 2px solid black;
    }
  }
}

td:nth-child(2) {
  font-weight: bold;
  text-align: center;
}

td:last-child {
  text-align: center;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

p,
h3,
h4 {
  width: 60vw;
  margin: 1rem auto 0;
}

.button {
  display: block;
  width: 20vw;
  margin: 0 auto !important;
}

@media print {
  body {
    font-size: 9pt !important;
  }

  button {
    display: none !important;
  }
}

@page {
  margin: 0;
}