@import "admin";
@import "accounts";

@import "partials/animations";

@import "component-library/modalify";

.admin-dashboard {
  display: flex;
  flex-direction: row;
}

// fancy-image fancy-upload fancy_upload fancy-image-upload fancy_image_upload
form {
  &.fancy-upload {
    margin: 0;
    padding: 0;

    input, label {
      display: none;
    }

    .appy-hint {
      margin-top: 0;;
    }
  }
}

// profile edit page
.signup-form form {
  h6 {
    font-size: 1rem;
    margin: 1rem 0 0;
  }

  [type="text"],
  [type="password"] {
    width: 100%;

    &[disabled="disabled"] {
      background: lightgrey;
      border: 0;
    }
  }

  .input {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background: lightgrey;
    border-radius: 0.3rem;

    &.hidden {
      padding: 0;
      margin: 0;
    }
  }

  .appy-hint {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}

#regional_ambassador_profile_bio {
  width: 100%;
  min-height: 150px;
  padding: 0.5rem;
}

.resources__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

.ra-timezone {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background: lightgrey;
  border-radius: 0.3rem;
}
