@import "admin";
@import "chosen";

@import "accounts";
@import "signups";
@import "background-checks";

@import "partials/animations";

@import "component-library/card";
@import "component-library/tabs";
@import "component-library/modalify";

.admin-dashboard {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
}

// fancy-image fancy-upload fancy_upload fancy-image-upload fancy_image_upload
form {
  &.fancy-upload {
    margin: 0;
    padding: 0;

    input, label {
      display: none;
    }

    .appy-hint {
      margin-top: 0;;
    }
  }
}

// profile edit page
.signup-form form {
  h6 {
    font-size: 1rem;
    margin: 1rem 0 0;
  }
[type="text"],
  [type="password"] {
    width: 100%;

    &[disabled="disabled"] {
      background: lightgrey;
      border: 0;
    }
  }

  .input {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background: lightgrey;
    border-radius: 0.3rem;

    &.hidden {
      padding: 0;
      margin: 0;
    }
  }

  .appy-hint {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}

#regional_ambassador_profile_bio {
  width: 100%;
  min-height: 150px;
  padding: 0.5rem;
}

.resources__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

.ra-timezone {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background: lightgrey;
  border-radius: 0.3rem;
}

.background-check__columns {
  display: flex;
  flex-direction: row;

  .simple_form .background_check_candidate_ssn {
    label {
      text-transform: uppercase;
    }
  }

  .simple_form .background_check_candidate_ssn + .appy-hint {
    display: none;
    margin: 0;
    padding: 0;
    text-align: left;

    .appy-button {
      text-align: left;
      margin: 1rem 0 0;
      font-size: 1rem;
    }
  }

  .background_check_candidate_driver_license_state {
    clear: both;
  }

  .background-check__column-security-info {
    margin-left: auto;
    width: 30%;
    border: solid $mulberry;
    border-width: 0 1px 1px;
    border-radius: 0.3rem;
    margin-top: 1rem;

    p {
      margin: 0 0 1rem;
      padding: 0;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1rem;

      li {
        padding: 0;
        margin: 0 0 0.5rem;
      }
    }
  }
}

.to-do__list {
  margin: 1rem 0 0;
  padding: 0;
  list-style: none;

  li {
    padding: 0;
    margin: 0 0 1rem;
    display: block;
  }
}

.to-do {
  width: 100%;
  max-width: 600px;

  .card {
    border: solid $mulberry;
    border-width: 0 1px 1px;
    border-radius: 0.3rem;
  }
}

.signups__location-fields {
  .appy-button {
    margin: 1rem 0;
  }
}

#ra-timezone {
  .input.select {
    margin: 0 0 1rem;
  }
}

.ra-pitch-event-details {
  max-width: 500px;
  margin: 1rem;
  padding: 0 1rem;
  border: 1px solid #333;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

  p {
    margin: 1rem 0;
    padding: 0;
  }
}

.ra-pitch-event-participants-lists {
  margin: 1rem;

  .tab-content {
    padding: 1rem;
    max-width: 800px;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

    p {
      margin: 0;
    }
  }
}

.ra-participants-list {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;

  td,
  th {
    text-align: left;
    border: 0;
  }

  td {
    padding: 1rem 0.5rem;
    border: solid #999;
    border-width: 1px 0;

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.add-participant a {
      &:hover {
        text-decoration: none;
        font-weight: bold;
      }

      .fa {
        color: $shamrock;
      }
    }
  }

  th {
    color: grey;
    opacity: 0.8;
    padding: 0.5rem 0.5rem 0.2rem;
    font-size: 0.8rem;
  }

  tr {
    &:hover {
      > td {
        background: #f4faff;
        border-top-color: #cce6fa;
        border-bottom-color: #cce6fa;
      }
    }
  }
}
