@import "application";

@import "dashboards";
@import "tables";

.navigation {
  padding: 0.5rem;

  .logo {
    height: 35px;
    width: 35px;
    background: image-url("tc-logo-solo.png") no-repeat;
  }

  .menu {
    a {
      padding: 0.5rem;
      font-size: 0.9rem;
      margin-left: 1rem;
    }
  }
}
