@import "application";

@import "dashboards";
@import "flags";
@import "tables";
@import "accordion";

@import "datagrid";
@import "debugging";
@import "queued_jobs";

@import "ra/navigation";
@import "ra/regional_links";

@import "submission_progress";

.toggle-display-buttons {
  float: right;
  padding: 0 0 1rem;
}

.col--sticky {
  &.is_stuck:not(.header-container) {
    margin: 51px 0 0;
  }
}

ul, ol {
  &.feed {
    @extend .reset;

    .feed--item {
      clear: both;
      margin: 0 0 1rem;
      padding: 0;

      &:after {
        clear:both;
        content:" ";
        display:block;
      }

      .feed-item--time {
        padding: 0.3rem 0 0;
        text-align: right;
        color: #888;
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      img {
        margin: 0 0.5rem 0.5rem 0;
        text-indent: -10000px;
      }
    }
  }
}

.datagrid {
  img {
    text-indent: -10000px;
  }
}

.profile-info {
  dt, dd {
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.center {
  text-align: center;
}

#ra-info {
  ul, ol {
    &.reset {
      li {
        margin: 0 0 1rem;
      }
    }
  }
}

.clearfix {
  &:after {
    clear:both;
    content:" ";
    display:block;
  }
}
