@import "application";

@import "dashboards";
@import "tables";

.navigation {
  padding: 0 1rem;

  .logo {
    height: 35px;
    width: 35px;
    background: image-url("tc-logo-solo.png") no-repeat;
  }

  .menu {
    a {
      padding: 0.25rem;
      font-size: 0.9rem;
      margin: 25px 0 0 1rem;
    }
  }
}

.preview-list {
  padding: 0;
  box-shadow: none;

  .content-heading {
    padding: 0.5rem;
    box-shadow: $shadow-btm;

    span {
      color: $mulberry;
      font-size: 0.9rem;
    }
  }

  p {
    padding: 1rem;
  }

  .previews {
    padding: 0 1rem;


    [class^=grid__col-] {
      font-size: 0.9rem;
      overflow: ellipsis;
      margin: 0.5rem 0;

      .detail {
        display: block;
      }
    }
  }

  .preview-list-footer {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    box-shadow: $shadow-top;

    .footer-action {
      float: right;
    }
  }
}

.chart-participants {
  position: relative;
  width: 150px;
  height: 75px;
  overflow: hidden;
  margin: 1rem auto;

  &::before {
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    border: 15px solid rgba(211,211,211,0.3);
    border-bottom: none;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
  }

  li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 15px solid;
    border-top: none;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;

    &:nth-child(1) {
      z-index: 4;
      border-width: 16px;
      border-color: $shamrock;
    }

    &:nth-child(2) {
      z-index: 3;
      border-color: $mulberry;
      animation-delay: 0.4s;
    }
  }
}

.accordion {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;

  &.open {
    max-height: 1000px;
  }
}

.accordion-open {
  display: none;
}
