@import "application";
@import "dropzone/dropzone";
@import "dragula";
@import "jquery-ui/accordion";

@import "dashboards";
@import "submissions";
@import "pitch_events";
@import "search_results";
@import "flags";
@import "checklist";
@import "sortable_list";
@import "review_submission";

.judging-banner {
  background-color:$antiqua;
  color:white;
  width: auto;
  padding:25px;
  margin-top:25px;
  margin-bottom:25px
}

.left {
  float: left;
}

.right {
  float: right;
}

$num-of-tabs: 3;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
  width: 100%;
  position: relative;
  display: flex;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  &:checked {
    + .tab-label-content {
      label {
        color: black;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

label {
  cursor: pointer;
  color: $grey-translucent;
  background-color: white;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  height: 25px;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: $shamrock-mid;
  width: calc(80% / #{$num-of-tabs});
  height: 5px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  .tab-content {
    position: absolute;
    top: 100px;
    left: 6px;
    line-height: 130%;
    display: none;
  }
}
