@import "application";
@import "dropzone/dropzone";
@import "dragula";
@import "jquery-ui/accordion";

@import "dashboards";
@import "submissions";
@import "pitch_events";
@import "search_results";
@import "flags";
@import "checklist";
@import "sortable_list";
@import "review_submission";
@import "tabs";
@import "scores";

label {
  cursor: pointer;
  color: $grey-translucent;
  background-color: #ECECEC;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  height: 25px;
  transition: color 0.2s ease;
  width: auto;
  margin: 25px;
}