@import "application";
@import "dropzone/dropzone";
@import "dragula";
@import "jquery-ui/accordion";

@import "dashboards";
@import "submissions";
@import "pitch_events";
@import "search_results";
@import "flags";
@import "checklist";
@import "sortable_list";
@import "review_submission";
@import "tabs";

.judging-banner {
  background-color: $antiqua;
  color: #ECECEC;
  width: auto;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px
}

#header {
  margin: 25px;
}

#banner-header {
  margin: 50px;
  font-size: 3rem;
}

label {
  cursor: pointer;
  color: $grey-translucent;
  background-color: #ECECEC;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  height: 25px;
  transition: color 0.2s ease;
  width: auto;
  margin: 25px;
}

.score-title {
  background: $shamrock;
  border-bottom: 1px solid $shamrock-mid;
  border-radius: 7px 7px 0 0;
  color: white;
  font-size: 2rem;
  width: auto;
  height: 100px;
  padding: 25px;

  .score-title-left {
    float: left;
    font-size: 2rem;
    text-transform: capitalize;
  }

  .score-title-right {
    float: right;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
}

.accordion,
.accordion dt,
.accordion dd, {
  margin: 0;
  padding: 0;
}

.accordion dt {
  border-bottom: 1px solid $shamrock-mid;
  border-radius: 7px 7px 0 0;
  color: $shamrock-mid;
  font-size: 2rem;
}

.accordion dd {
  border: 1px solid $shamrock;
  border-top: none;
  border-radius: 0 0 7px 7px;
  padding: 1em;
}

.accordion dt:hover {
  background-color: $shamrock-mid;
  border-radius: 0;
  opacity: 0.5;
  color: white;
}
