<dl class="flex-row">
  <div class="flex-col-md-6">
    <dt>Team:</dt>
    <dd><%= link_to submission.team_name, [user_type, submission.team] %></dd>

    <dt>Division:</dt>
    <dd><%= submission.team_division_name %></dd>
  </div>

  <div class="flex-col-md-6">
    <dt>App name:</dt>
    <dd><%= submission.app_name %></dd>

    <dt>Status:</dt>
    <dd><%= submission.status %></dd>
  </div>
</dl>
