---
http_interactions:
- request:
    method: patch
    uri: https://us4.api.mailchimp.com/3.0/lists/49795c1e0e/members/3a1c0861c9ed9f842f80e71e16314fe9
    body:
      encoding: UTF-8
      string: '{"email_address":"engineering+factorymentor@technovation.org","merge_fields":{"BIRTHYEAR":2002,"COUNTRY":"India","FNAME":"Mentor","LNAME":"FactoryBot","NAME":"Mentor
        FactoryBot","PARENTNAME":"","PARENTREG":"false"},"location":{"latitude":0.0,"longitude":0.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YXBpa2V5OmM3ZWI4ZTE5ODRkNDc0NTk1NzBhNGNjOWU0NmExYTRkLXVzNA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us4.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"e190e2a8-02b4-f854-0a40-c27adc37654b"}'
  recorded_at: Mon, 04 Mar 2024 21:58:24 GMT
- request:
    method: get
    uri: https://api.checkr-staging.com/v1/invitations/410236366f67d3e3ed14ce1f95036e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MzdlY2E4ZmRmNDAxNGM0N2Y5MzUzNGNhMWZkODYzNTY3ZGFjNTMzMTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1199'
      Ratelimit-Reset:
      - '34'
      X-Checkr-Region:
      - eu-west-1
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '2024-03-04T21:59:00Z'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"410236366f67d3e3ed14ce1f95036e","status":"expired","uri":"/v1/invitations/410236366f67d3e3ed14ce1f95036e","invitation_url":"https://apply.checkrhq-staging.net/invite/technovation/4102369c0803e549ab3625f0e2f450","completed_at":null,"deleted_at":null,"package":"international_basic_plus","created_at":"2023-10-19T13:23:28Z","expires_at":"2023-10-27T06:59:59Z","tags":[],"locale":"en","archived":false,"archived_info":{},"object":"invitation","metadata":{"work_location_0":{"country":"NG"}},"candidate_id":"410236e72c116a32e32e1f3781c9e1","report_id":null}'
  recorded_at: Mon, 04 Mar 2024 21:58:26 GMT
recorded_with: VCR 6.1.0
