<% admin ||= false %>

<% if admin %>
  <li><%= link_to team_preview.name, admin_team_path(team_preview) %></li>
<% else %>
  <li><%= link_to team_preview.name, team_path(team_preview) %></li>
<% end %>
