<%
  # TODO: come on...
  admin ||= false
  chapter_ambassador ||= false

  profile_path_name = :mentor
  profile_id = :id

  if admin or chapter_ambassador
    profile_path_name = :participant
    profile_id = :account_id
  end
%>

<li>
  <div class="grid__cell">
    <%= link_to_if current_account.admin? ||
        (current_account.ambassador? &&
          ambassador_can_view_team_details?(ambassador: current_ambassador, team: team_preview)
        ),
      team_preview.name,
      send("#{current_scope}_team_path", team_preview)
    %>
  </div>

  <div class="grid__cell">
    Co-mentors:

    <% if (mentors = team_preview.mentors - [profile]).any? %>
      <ul class="unstyled">
        <% mentors.each do |mentor| %>
          <li>
            <%= mentor.full_name %><br>
          </li>
        <% end %>
      </ul>
    <% else %>
      None
    <% end %>
  </div>
</li>
