<div class="sidebar">
  <%= form_tag request.fullpath, method: :get do %>
    <%= collection_check_boxes :filter, :expertise_ids, @expertises, :id, :name %>
    <%= button_tag t('views.application.filter') %>
  <% end %>
</div>

<div class="content">
  <%= render partial: 'student/mentors/searches/mentor_preview',
             collection: @mentors %>
</div>
