<hr class="border-t border-gray-300 mt-8 mb-4">

<p>
  Are you already working with a Chapter or Club outside your region?
  Contact us at <%= mail_to ENV.fetch("HELP_EMAIL"), ENV.fetch("HELP_EMAIL"), class: "tw-link" %>
  and we'll connect your account with that Chapter or Club.
</p>
