<li>
  <%= link_to "Training Module #{module_number}: #{module_title}", '#',
              data: {
                opens_modal: "training-modal-#{module_number}",
              }
  %>
</li>

<%= content_tag :div,
                class: "modal",
                data: {
                  heading: "Training Module #{module_number}: #{module_title}",
                  module_number: module_number,
                  width: "750px"
                },
                id: "training-modal-#{module_number}" do %>

  <div class="modal-content">
    <iframe
      src="<%= external_chapter_ambassador_training_module_link(module_number) %>"
      width="100%"
      height="569"
      allow="fullscreen"
    ></iframe>
  </div>
<% end %>