<li>
  <%= link_to "Training Module #{module_number}: #{module_title}", '#',
              data: {
                opens_modal: "training-modal-#{module_number}",
              }
  %>
</li>

<%= content_tag :div,
                class: "modal",
                data: {
                  heading: "Training Module #{module_number}: #{module_title}",
                  module_number: module_number,
                },
                id: "training-modal-#{module_number}" do %>

  <div class="modal-content">
    <iframe class="w-full" height="315" src="<%= external_chapter_ambassador_training_module_link(module_number) %>"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
  </div>
<% end %>