<%= render layout: "application/templates/dashboards/side_nav", locals: { heading: "Scores & Certificates" } do %>
  <div class="p-4" id="tab-wrapper">
    <%= render "mentor/scores/side_nav_content" %>
  </div>
<% end %>
