<div class="module-marine team-members">
  <div class="module-header">
    <h5><%= t("views.teams.show.mentors_subheading") %></h5>
  </div>

  <div class="module-body">
    <ul class="team_members">
      <%= render partial: "teams/member",
        collection: team.mentors,
        locals: { admin: true } %>
    </ul>
  </div>
</div>
