<% provide :title, "Viewing team: #{@team.name}" %>

<div class="panel padding--none">
  <%= render 'teams/show', admin_chapter_ambassador: true, team: @team %>
</div>

<%= render 'admin/teams/debugging', team: @team %>
