<div id="judge-scores-app">
  <div
    v-if="notice.length"
    class="notice notice--info"
  >
    {{ notice }}
  </div>

  <template v-else>
    <% provide :subnav do %>
      <div id="judge-scores-stepper"></div>
    <% end %>

    <router-view></router-view>
  </template>
</div>
