<% provide :js, javascript_pack_tag("judge_scores") %>
<% provide :css, stylesheet_pack_tag("judge_scores") %>

<div class="grid">
  <div class="grid__col-auto">
    <div id="app">
      <score-stepper></score-stepper>

      <div id="scores-container">
        <router-view></router-view>
      </div>
    </div>
  </div>
</div>
