<div id="judge-scores-app">
  <div
    ref="deadline"
    data-date="<%= SeasonToggles.current_round_deadline(current_judge) %>"
  ></div>

  <div
    v-if="notice.length"
    v-html="notice"
    class="notice notice--info"
  >
  </div>

  <template v-else>
    <% provide :subnav do %>
      <div id="judge-scores-stepper"></div>
    <% end %>

    <router-view></router-view>
  </template>
</div>
