<div id="judge-scores-app">
  <% if current_judge.live_event? %>
    <div
      ref="deadline"
      data-date="May 22<sup>nd</sup> (US/Pacific time)"
    ></div>
  <% else %>
    <div
      ref="deadline"
      data-date="May 20<sup>th</sup> (US/Pacific time)"
    ></div>
  <% end %>

  <div
    v-if="notice.length"
    class="notice notice--info"
  >
    {{ notice }}
  </div>

  <template v-else>
    <% provide :subnav do %>
      <div id="judge-scores-stepper"></div>
    <% end %>

    <router-view></router-view>
  </template>
</div>