<div id="judge-scores-app">
  <div
    ref="deadline"
    data-date="<%= SeasonToggles.current_round_deadline(current_judge) %>"
  ></div>

  <div
    v-if="notice.length"
    v-html="notice"
    class="notice notice--info"
  >
  </div>

  <div v-else class="flex flex-col lg:flex-row lg:gap-x-4 tw-wrapper">
    <div id="judge-scores-stepper"></div>
    <router-view class="w-full"></router-view>
  </div>
</div>
