<div id="judge-scores-app">
  <div
    ref="deadline"
    data-date="<%= SeasonToggles.current_round_deadline(current_judge) %>"
  ></div>

  <div
    v-if="notice.length"
    v-html="notice"
    class="notice notice--info"
  >
  </div>

  <template v-else>
    <% provide :judge_score_stepper do %>
      <div class="flex flex-col lg:flex-row lg:gap-x-4 tw-wrapper">
        <div id="judge-scores-stepper"></div>

        <div class="w-full">
        <% end %>

        <router-view></router-view>

        </div>
      </div>
    </div>
  </template>
</div>
</div>
</div>
