<header class="navigation public-header" role="banner">
  <div class="container">
    <div class="navigation__content-wrapper">
      <span class="logo">
        <%= image_tag "tc-logo-white-tm.png", alt: "Technovation Logo" %>
      </span>
    </div>
  </div>
</header>
