<p>
  You promised that all elements of your <%= Season.current.year %> Technovation submission will be created solely by the students on your <%= Season.current.year %> Technovation team.
</p>

<p>
  <%= link_to "Review the honor code", [current_scope, :honor_code_agreement] %>
</p>
