<h1 class="appy-title">Technovation Girls</h1>

<h2>Registration is currently open for judges</h2>

<p>
  Thank you for your interest in Technovation Girls. Register <%= link_to "here", signup_path, data: { turbolinks: false } %> to judge projects.
</p>

<p>
  <strong>
    Registration is currently closed for students and mentors, 
    although students with existing accounts are welcome to 
    <%= link_to "log-in", login_path, data: { turbolinks: false } %> and review their existing projects.
  </strong>
</p>

<p>
  You can learn more about Technovation on our <%= link_to "website", "https://www.technovation.org/" %> 
  or follow us at:
</p>

<%= render 'application_rebrand/social_links' %>

<p>Let's learn and build a better world together!</p>
