<% unless Rails.env.production? %>
  <div class="settings__locale-switcher">
    <%= form_tag locale_switch_url, data: { fancy: true } do %>
      <%= label_tag :locale, t("views.application.language") %>

      <%= select_tag :locale,
        options_for_select(locale_names, current_account.locale) %>

      (QA only)
    <% end %>
  </div>
<% end %>
