<header class="navigation" role="banner">
  <div class="container">
    <div class="flex-row navigation__content-wrapper">
      <%= link_to image_tag("tc-logo-white.svg"),
                  content_for?(:root_path) ?
                    yield(:root_path) :
                    application_dashboard_path,
                  class: "logo" %>

      <nav>
        <ul>
          <% if content_for?(:menu) %>
            <%= render 'signed_in' %>
          <% else %>
            <%= render 'signed_out' %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
