<header class="navigation" role="banner">
  <div class="container">
    <%= link_to image_tag("tc-logo-white.svg", class: "logo"), root_path %>

    <nav>
      <ul>
        <%= render 'signed_out' %>
      </ul>
    </nav>

  </div>
</header>
