<div class="font-bold text-center mb-8">
  <h1 class="text-4xl">Technovation Girls</h1>

  <h2 class="text-3xl text-tg-magenta">Registration is currently closed</h2>
</div>

<p class="mb-4">Thanks for your interest in Technovation Girls — we can't wait for you to be part of our global community!</p>

<p class="mb-4">Teams who submitted a project, mentors, and judges may log in between July 12 and Sept 1 to view scores and download certificates.</p>

<p class="mb-4">
  Registration for Technovation Girls will open again by October. Please
  <%= link_to "sign up",
              "https://eepurl.com/hZMS2n",
              class: "tw-link" %>
  to receive a reminder email when registration opens.
  You can start working on your next project now by checking out the
  <%= link_to "curriculum",
              "https://technovationchallenge.org/curriculum-intro/registered/new/",
              class: "tw-link" %>!
</p>

<p>
  You can learn more about
  <%= link_to "Technovation",
              "https://technovationchallenge.org/",
              class: "tw-link" %>
  on our website or follow us at:
</p>

<%= render 'application_rebrand/social_links' %>

<p>Let's learn and build a better world together!</p>
