<% if !cookies[:saw_post_survey_modal] %>
  <div id="survery_interrupt"
        data-heading="<%= t("views.application.pre_survey") %>"
        data-save-close-action-url="<%= public_send("#{type}_cookies_url",
                                                    name: :saw_post_survey_modal,
                                                    value: true) %>"
        class="modalify modalify-on-page-load">
    <p>
      Make your voice heard, help us improve the program!
    </p>

    <p>
    <%= link_to "Take the post-program survey",
            "https://www.surveymonkey.com/r/technovation#{type}postprogram2017",
            target: "_blank" %>
    </p>
  </div>
<% end %>