<div id="queued-jobs">
  <div class="while-waiting">
    <p>
      <%= web_icon(
        "spinner2 spin",
        text: "
          You have an export waiting, and
          a download link will appear here soon.
          You may do other things while you wait.
        ") %>
    </p>
  </div>

  <div class="when-ready"></div>
</div>
