<li class="nav-link">
  <%= link_to t('views.application.signin'), signin_path %>
</li>

<li>
  <%= link_to t('views.application.signup'),
              signup_path,
              class: "transparent-accent-button" %>
</li>
