<% previous_attempt ||= false %>

<div id="vue-enable-signup-wizard">
  <App
    <% if previous_attempt %>
      previous-attempt="<%= SignupAttemptSerializer.new(previous_attempt).serialized_json %>"
    <% end %>
  />
</div>