<% if authenticated? %>
  <%= render 'admin_nav_link' %>

  <li class="nav-link">
    <%= link_to t('views.application.my_account'), account_path %>
  </li>

  <li class="nav-link">
    <%= link_to t('views.application.signout'), signout_path, method: :delete %>
  </li>
<% end %>
