<p class="social-links">
  <%= link_to web_icon("facebook-square"),
    'https://www.facebook.com/TechChal',
    target: :_blank %>

  <%= link_to web_icon("instagram"),
    'https://www.instagram.com/techchal/',
    target: :_blank %>

  <%= link_to web_icon("twitter-square"),
    'https://twitter.com/technovation',
    target: :_blank %>

  <%= link_to web_icon("linkedin-square"),
    'https://www.linkedin.com/company/technovation',
    target: :_blank %>
</p>
