<% value ||= id %>

<div id="header-menu-<%= id %>" class="header-menu">
  <ul class="menu">
    <% if "All" === params[id] %>
      <li>
        <%= fa_icon("sort-asc",
                    text: "Sort ascending",
                    data: {
                      name: "sort",
                      value: "#{value} asc",
                    }) %>
      </li>

      <li>
        <%= fa_icon("sort-desc",
                    text: "Sort descending",
                    data: {
                      name: "sort",
                      value: "#{value} desc",
                    }) %>
      </li>
    <% end %>

    <%= yield %>
  </ul>
</div>
