<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "student/dashboards/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Build your team" } do %>
    <% if SeasonToggles.team_building_disabled? %>
      <%= render "explanations/feature_not_available", feature: :team_invites %>
    <% else %>
      <div class="mb-16">
        <%= render "slots/student/rebrand/join_team" %>
      </div>
    <% end %>
  <% end %>
</div>