<% title ||= t("views.accounts.show.title") %>

<section class="mb-8">
  <h3 class="text-3xl font-bold mb-4"><%= account.full_name %></h3>

  <div class="flex flex-wrap flex-col lg:flex-row lg:items-start mb-4">
    <%= image_tag account.profile_image_url,
                  class: "rounded-tr-3xl rounded-bl-3xl w-1/4 mr-8" %>

    <%= render "#{account.scope_name}/profiles/rebrand/public_profile",
               account: account %>
  </div>
</section>
