<% unless profile.bio_complete? %>
  <li>
    <h1 class="content-heading">
      <%= t("views.profile_requirements.build_profile.heading") %>
    </h1>

    <p>
      <%= t("views.profile_requirements.build_profile.label") %>
    </p>

    <div class="step-actions">
      <%= link_to "Tell the students more about yourself",
        send("edit_#{current_scope}_bio_path"),
        class: "button" %>
    </div>
  </li>
<% end %>
