<% unless account.bio_complete? %>
  <li class="card">
    <div class="card__heading">
      <%= t("views.profile_requirements.build_profile.label") %>
      <span class="card-heading__flair fa fa-exclamation-circle"><!--Fontawesome--></span>
    </div>
    <div class="card__body">
      <%= t("views.profile_requirements.build_profile.label") %>
      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to t("views.profile_requirements.build_profile.links.bio.text"),
          send("edit_#{account.type_name}_account_path", anchor: 'account-profile-details'),
          class: "appy-button" %>
      </div>
    </div>
  </li>
<% end %>
