<% unless account.consent_signed? %>
  <li>
    <h1 class="content-heading">
      <%= t("views.profile_requirements.consent_waiver.heading") %>
    </h1>

    <p><%= t("views.profile_requirements.consent_waiver.label") %></p>

    <div class="step-actions">
      <%= link_to t("views.profile_requirements.consent_waiver.links.view.text"),
        new_consent_waiver_path(token: account.account.consent_token),
        class: "button" %>
    </div>
  </li>
<% end %>
