<% if hidden ||= false %>
  <%= render 'explanations/feature_not_available', feature: :create_team %>
<% else %>
  <p>
    You can create a new team and then invite students,
    or let students find your team in search.
  </p>

  <div class="step-actions">
    <%= link_to(
      t("views.profile_requirements.create_join_team.links.create.text"),
      send("new_#{current_scope}_team_path"),
      class: "button"
    ) %>
    or
    <%= link_to(
      "Find more teams",
      send("new_#{current_scope}_team_search_path")
    ) %>
  </div>
<% end %>
