<% if account.can_join_a_team? %>
  <div class="card__body">
    <h1><%= t("views.profile_requirements.create_join_team.heading") %></h1>

    <%= t("views.profile_requirements.create_join_team.labels.mentor") %>

    <div class="card__actions-row card__actions-row--pos-fill">
      <%= link_to t("views.profile_requirements.create_join_team.links.join.text"),
        [:new, current_scope, :team_search],
        class: "appy-button"
      %>
      <%= link_to t("views.profile_requirements.create_join_team.links.create.text"),
        [:new, current_scope, :team],
        class: "appy-button"
      %>
    </div>
  </div>
<% end %>
