<% if account.can_join_a_team? and not account.is_on_team? %>
  <li class="card">
    <div class="card__heading">
      <%= t("views.profile_requirements.create_join_team.heading") %>
      <span class="card-heading__flair fa fa-group"><!--Fontawesome--></span>
    </div>
    <div class="card__body">
      <%= t("views.profile_requirements.create_join_team.heading") %>
      <div class="card__actions-row card__actions-row--pos-fill">
        <%= link_to t("views.profile_requirements.create_join_team.links.join.text"),
          [:new, account.type_name, :team_search],
          class: "appy-button"
        %>
        <%= link_to t("views.profile_requirements.create_join_team.links.create.text"),
          [:new, account.type_name, :team],
          class: "appy-button"
        %>
      </div>
    </div>
  </li>
<% end %>
