<% if hidden ||= false %>
  <%= render 'explanations/feature_not_available', feature: :create_team %>
<% else %>
  <p>
    You can create a new team and then invite students,
    or let students find your team in search.
  </p>

  <div class="step-actions">
    <%= link_to(
      t("views.profile_requirements.create_join_team.links.create.text"),
      [:new, current_scope, :team],
      class: "button"
    ) %>
    or
    <%= link_to(
      "Find more teams",
      [:new, current_scope, :team_search]
    ) %>
  </div>
<% end %>
