<% unless account.honor_code_signed? %>
  <li>
    <h1 class="content-heading">
      <%= Season.current.year %> Technovation Honor Code
    </h1>

    <p>
      You must agree to the
      <%= Season.current.year %>
      Technovation Honor Code
    </p>

    <div class="step-actions">
      <%= link_to "Sign the agreement",
        [:new, current_scope, :honor_code_agreement],
        class: "button" %>
    </div>
  </li>
<% end %>
