<% unless account.honor_code_signed? %>
  <li class="card">
    <div class="card__heading">
      <%= Season.current.year %> Technovation Honor Code
      <%= fa_icon("check-square-o", class: "card-heading__flair") %>
    </div>

    <div class="card__body">
      You must agree to the <%= Season.current.year %> Technovation Honor Code<br />

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to "Sign the agreement",
          [:new, account.type_name, :honor_code_agreement],
          class: "appy-button" %>
      </div>
    </div>
  </li>
<% end %>
