<% unless profile.valid_coordinates? %>
  <li>
    <div class="flags">
      <span class="flag flag-registration">
        Registration
      </span>
    </div>

    <h1 class="content-heading">Enter your location details</h1>

    <p>
      <% case controller_path.split('/').first
         when "judge" %>
        To match you to eligible team submissions,
      <% when "chapter_ambassador" %>
        To match you to your region,
      <% else %>
        To help you find nearby teams and mentors,
      <% end %>
      you should indicate your city, state, and region.
    </p>

    <div class="step-actions">
      <%= link_to "Update your location",
        send("edit_#{current_scope}_location_detail_path", 
          { return_to: request.fullpath }
        ),
        class: "button" %>
    </div>
  </li>
<% end %>
