<% if not account.location_confirmed? %>
  <li>
    <h1 class="content-heading">Enter your location details</h1>

    <p>
      <% case controller_path.split('/').first
         when "judge" %>
        To match you to eligible team submissions,
      <% when "regional_ambassador" %>
        To match you to your region,
      <% else %>
        To help you find nearby teams and mentors,
      <% end %>
      you should indicate your city, state, and country.
    </p>

    <div class="step-actions">
      <%= link_to "Update your location",
        [
          current_scope,
          :location_details,
          { return: request.fullpath }
        ],
        class: "button" %>
    </div>
  </li>
<% elsif not account.location_confirmed? %>
  <%= content_tag :div,
    class: "modal",
    data: {
      heading: "Confirm your location",
      open_on_page_load: true,
    } do %>
    <p>
      We're very sorry to inconvenience you,
      but we've had some trouble with user location data.
      Please help us out by confirming your information!
    </p>

    <div class="modal-actions">
      <%= link_to "Confirm your location details now",
        [current_scope, :location_details],
        class: "button" %>
    </div>
  <% end %>
<% end %>
