<div class="team-result clearfix">
  <div class="team-photo">
    <%= image_tag result.team_photo_url(:thumb), width: 80, height: 80 %>
  </div>

  <div>
    <h2 class="team_name">
      <%= link_to result.name, new_mentor_join_request_path(team_id: result.id) %>
    </h2>

    <p><%= result.description %></p>

    <p><%= result.creator_address_details %></p>
  </div>
</div>
