<h1>Scores & Certificates</h1>

<% if current_mentor.onboarded? && SeasonToggles.display_scores? %>
  <div class="grid__col-sm-12 grid__col--bleed-y">
    <% if current_mentor.current_teams.any? %>
      <%= render 'mentor/dashboards/onboarded/scores' %>
    <% else %>
      <%= render 'dashboards/no_certificates' %>
    <% end %>
  </div>
<% else %>
  <%= render 'explanations/feature_not_available', feature: :scores %>
<% end %>