<div class="panel">
  <h3><%= Season.current.year %> Technovation Honor Code</h3>

  <%= render "team_submissions/honor_code" %>

  <p>
    <%= link_to "Back",
      send(
        "#{current_scope}_team_submission_section_path",
        @team_submission,
        section: "ideation"
      ),
      class: "button button--small" %>
  </p>
</div>
