<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel">
      <%= render "team_submissions/honor_code" %>

      <p>
        <%= link_to "Back",
          [current_scope, @team_submission],
          class: "button button--small" %>
      </p>
    </div>
  </div>
</div>
