<div
  id="screenshots"
  class="panel"
>
  <h3 class="panel--heading">Screenshots</h3>

  <div id="vue-screenshot-uploader">
    <screenshot-uploader
      screenshots-url="<%= send("#{current_scope}_screenshots_path") %>"
      :team-id="<%= @team_submission.team_id %>"
      sort-url="<%=
        send(
          "#{current_scope}_team_submission_path",
          @team_submission
        )
      %>"
    ><screenshot-uploader>
  </div>

  <p class="grid__cell--padding-sm-y">
    Get some help finishing and debugging your app in the

    <%= link_to "debugging curriculum unit.",
      "https://technovationchallenge.org/curriculum/coding-14-debugging-tips-in-app-inventor-and-thunkable/",
      target: "_blank" %>
  </p>
</div>
