<div class="screenshot-wrapper">
  <%= image_tag screenshot.image_url,
                data: {
                  modal_url: screenshot.image_url,
                },
                class: "submission-pieces__screenshot" %>
</div>