<%
  many ||= false
  edit ||= false
  img_css ||= ""
%>

<li
  id="<%= dom_id(screenshot) %>"
  class="sortable-list__item remove-on-delete"
>
  <%= image_tag screenshot.image_url,
    alt: screenshot.image_identifier,
    data: {
      image_id: screenshot.id,
    },
    class: img_css,
    width: "100%" %>

  <% if edit %>
    <div class="sortable-list__item-actions">
      <%= link_to web_icon("trash-o"),
        send(
          "#{current_scope}_screenshot_path",
          screenshot,
          team_submission: {
            id: @team_submission.id,
          }
        ),
        data: {
          remove_on_delete: true,
          remote: true,
          method: :delete,
          confirm: "Are you sure you want to delete the screenshot?",
        } %>

      <% if many %>
        <%= web_icon(
          "navicon",
          class: "sortable-list__drag-handle"
        ) %>
      <% end %>
    </div>
  <% end %>
</li>
