<%
  many ||= false
  edit ||= false
  img_css = (img_css ||= "") + " submission-pieces__screenshot"
%>

<li
  id="<%= dom_id(screenshot) %>"
  class="sortable-list__item remove-on-delete"
  data-db-id="<%= screenshot.id %>"
>
  <%= image_tag screenshot.image_url,
    alt: screenshot.image_identifier,
    data: {
      image_id: screenshot.id,
      dom_id: dom_id(screenshot),
      modal_url: screenshot.image_url(:large),
      thumb_url: screenshot.image_url(:thumb),
      file_size: screenshot.image.file.size,
    },
    class: img_css,
    width: "100%" %>

  <% if edit %>
    <div class="sortable-list__item-actions">
      <%= link_to web_icon("remove", class: "icon--red"),
        send(
          "#{current_scope}_screenshot_path",
          screenshot,
          team_submission: {
            id: @team_submission.id,
          }
        ),
        data: {
          remove_on_delete: true,
          remote: true,
          method: :delete,
          confirm: "Are you sure you want to delete the image?",
        } %>
    </div>
  <% end %>
</li>
