<%
  edit ||= false
  img_css ||= ""
  col_css ||= "grid__col-auto"
%>

<div class="remove-on-delete <%= col_css %>">
  <%= image_tag screenshot.image_url,
    alt: screenshot.image_identifier,
    data: {
      image_id: screenshot.id,
    },
    class: img_css,
    width: "100%" %>

  <% if edit %>
    <%= link_to web_icon("trash-o"),
      send("#{current_scope}_screenshot_path", screenshot),
      data: {
        remove_on_delete: true,
        remote: true,
        method: :delete,
        confirm: "Are you sure you want to delete the screenshot?",
      } %>
  <% end %>
</div>
