<% provide(:title, "Judge Signup") %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-6">
    <p class="scent--strong">
      <%= link_to "Log in", login_path(email: @judge_profile.email) %>
      instead if you have an account from a past season.
    </p>
  </div>
</div>

<%= render 'signups/form', signup: @judge_profile %>
