<div class="grid grid--justify-center">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <div class="panel">
      <div class="grid">
        <div class="grid__col-12">
          <h3>Chapter Program Information</h3>
          <h4>
            <%= link_to(
                  @chapter.name.presence || "Chapter program name not set",
                  admin_chapter_path(@chapter)
                ) %>
          </h4>
        </div>

        <div class="grid__col-12">
          <%if @chapter.chapter_program_information.present? %>
            <%= render "admin/chapters/chapter_program_information/program_information"%>
          <% else %>
            <p>Chapter program information not filled out</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>