<% provide :title, "Change your team location" %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <%= render 'signups/location_fields', team_id: @team.id %>
  </div>
</div>