<%= content_tag :div, id: "ts-app-description-wrapper",
                      class: "simple-card ts-app-description",
                      data: {
                        object_name: "team_submission",
                        update_url: student_team_submission_path(@team_submission),
                      } do %>

  <div class="ts-app-description__top-wrapper">
    <div class="ts-app-description__label">
      App Name
    </div>

    <div id="ts-app-description-buttons-wrapper"
         class="ts-app-description__buttons-wrapper">

      <button id="ts-cancel-editable-btn"
              class="appy-button ts-app-description__cancel-btn">
        Cancel
      </button>

      <button id="ts-primary-editable-btn"
              class="appy-button ts-app-description__primary-btn">
        Edit App Info
      </button>
    </div>
  </div>

  <p data-editable
     data-name="app_name"
     class="ts-app-description__name"><%= @team_submission.app_name %></p>
  <%# Above line needs to be formatted like this in order to use the :empty CSS pseudoselector %>

  <div class="ts-app-description__label">
    App Description
  </div>

                                  <!-- char-limit is set to 10 for testing, should be 700 -->
  <div data-editable
       data-name="app_description"
       data-char-limit="10"
       class="ts-app-description__description"><%= simple_format(submission.app_description) unless submission.app_description.blank? %></div>
  <%# Above line needs to be formatted like this in order to use the :empty CSS pseudoselector %>
<% end %>

<div class="ts-app-description__edit-shade">
  <!--Shade for when the content is editable-->
</div>
