<%= content_tag :div, id: "ts-app-description-wrapper",
                      class: "simple-card ts-app-description",
                      data: {
                        object_name: "team_submission",
                        update_url: send("#{current_account.type_name}_team_submission_path",
                                         @team_submission,
                                         team_id: current_team.id),
                      } do %>

  <div class="ts-app-description__top-wrapper">
    <div class="ts-app-description__label">
      App Name
    </div>

    <div id="ts-app-description-buttons-wrapper"
         class="ts-app-description__buttons-wrapper">

      <button id="ts-cancel-editable-btn"
              class="appy-button ts-app-description__cancel-btn">
        Cancel
      </button>

      <button id="ts-primary-editable-btn"
              class="appy-button ts-app-description__primary-btn">
        Edit App Info
      </button>
    </div>
  </div>

  <p data-editable
    data-name="app_name"
    class="ts-app-description__name"><%= @team_submission.app_name %></p>
  <%# Above line needs to be formatted like this in order to use the :empty CSS pseudoselector %>

  <div class="ts-app-description__label">
    App Description
  </div>

  <p data-editable
    data-word-limit="100"
    data-name="app_description"
    class="ts-app-description__description"><%= submission.app_description %></p>
  <%# Above line needs to be formatted like this in order to use the :empty CSS pseudoselector %>
  <div
    class="ts-app-description__word-limit"
    data-word-limit-for="app_description"><!-- Content provided by submissions_page.js --></div>
<% end %>

<div class="ts-app-description__edit-shade">
  <!--Shade for when the content is editable-->
</div>
