<%= content_tag :div,
  class: 'card ajax-form',
  role: 'form',
  data: {
    ajax_form: true,
    object_name: "team_submission",
    update_url: send("#{current_account.type_name}_team_submission_path",
                     submission,
                     team_id: params[:team_id])
  } do %>

  <div class="card__heading submission-step__code">
    <span class="card__heading-text">
      Development Platform
    </span>
    <button type="button" data-action="edit" class="appy-button">
      edit
    </button>
  </div>

  <div class="card__body">
    <div class="ajax-form__static-input ajax-form-helper__static-mode"
         data-display-for="development_platform">
      <% if submission.development_platform %>
        <%= submission.development_platform_text %>
      <% else %>
        Tell us what you used to develop your app!
      <% end %>
    </div>

    <div class="ajax-form__static-input ajax-form-helper__static-mode"
         data-display-for="development_platform_other">
    </div>

    <div class="ajax-form-helper__edit-mode">
      <%= select_tag :development_platform,
        options_for_select(TeamSubmission.development_platforms.keys,
                           submission.development_platform),
        data: {
          toggle: true,
          toggle_value: "Other",
          toggle_reveal: ".development_platform_other",
        },
        prompt: "Select one" %>

      <div class="development_platform_other">
        <%= text_field_tag :development_platform_other,
          submission.development_platform_other,
          placeholder: "Tell us what it was!" %>
      </div>
    </div>
  </div>
<% end %>
