<div class="card">
  <div class="card__heading submission-step__pitch">
    Pitch Presentation

    <div data-modal-trigger="pitch-presentation-upload-modal"
         role="button"
         class="unbutton">
      <% submission.pitch_presentation_url ? "edit" : "upload" %>
    </div>
  </div>

  <div class="card__body">
    <p>
      <% if submission.pitch_presentation_url %>
        <%= link_to "Your pitch presentation", submission.pitch_presentation_url %>
      <% else %>
        Please add your pitch presentation (.ppt or .pdf)
      <% end %>
    </p>
  </div>
</div>

<div class="modalify"
     id="pitch-presentation-upload-modal"
     data-heading="Pitch Presentation">
  <%= direct_upload_form_for @pitch_presentation_uploader,
                             html: { class: 'fancy-file-upload' },
                             data: { type: 'application/pdf,application/ppt' } do |f| %>
    <%= f.file_field :pitch_presentation %>
    <%= f.submit t("views.application.upload"), class: "appy-button" %>
  <% end %>
</div>
