<div class="card">
  <div class="card__heading">
    Pitch Presentation
    <div
      data-modal-trigger="pitch-presentation-upload-modal"
      role="button"
      class="appy-button"
    >
      <% if submission.pitch_presentation_url %>
        Edit
      <% else %>
        Upload
      <% end %>
    </div>
  </div>
  <div class="card__body">
    <% if submission.pitch_presentation_url %>
      <p>
        <%= link_to "Your pitch presentation", submission.pitch_presentation_url %>
      </p>
    <% else %>
      <p>Please add your pitch presentation (URL or Powerpoint file)</p>
    <% end %>
  </div>
</div>

<div class="modalify" id="pitch-presentation-upload-modal" data-heading="Pitch Presentation">
  <%= direct_upload_form_for @pitch_presentation_uploader,
                             html: {class: 'fancy-file-upload'},
                             :data => {:type => 'application/pdf'} do |f| %>
    <%= f.file_field :pitch_presentation %>
    <%= f.submit t("views.application.upload"), class: "appy-button" %>
  <% end %>
</div>
