<div class="card">
  <div class="card__heading">
    Screenshots

    <% if submission.screenshots.any? %>
      <%= fa_icon("check-circle", class: "card-heading__flair") %>
    <% else %>
      <%= fa_icon("circle-o", class: "card-heading__flair") %>
    <% end %>
  </div>

  <div class="card__body">
    <% if submission.screenshots.any? %>
      <ul class="gallerify">
        <%= render submission.screenshots, cached: true %>
      </ul>

      <div class="card__actions-row card__actions-row--pos-end">
        <%#= link_to "Add more screenshots", [:edit, :student, submission, step: :screenshots], class: "appy-button" %>
        <div role="button" class="appy-button">Add more screenshots</div>
        <div data-modal-trigger="screenshots-modal" role="button" class="appy-button">TRIGGER MODAL</div>
      </div>
    <% else %>
      <div class="card__actions-row card__actions-row--pos-end">
        <%#= link_to "Upload Screenshots", [:edit, :student, submission, step: :screenshots], class: "appy-button" %>
        <div role="button" class="appy-button">Upload Screenshots</div>
        <div data-modal-trigger="screenshots-modal" role="button" class="appy-button">TRIGGER MODAL</div>
      </div>
    <% end %>
  </div>
</div>

<div class="modalify" id="screenshots-modal" data-heading="Screenshots">
  <%= render 'student/team_submissions/screenshots_form' %>
</div>
