<div class="card ts-screenshots">
  <div class="card__heading">
    Screenshots

    <% if submission.screenshots.any? %>
      <button
        data-modal-trigger="screenshots-modal"
        type="button"
        class="appy-button">
        Add Screenshots
      </button>
    <% end %>
  </div>

  <div class="card__body">
    <% if submission.screenshots.any? %>
      <ul class="gallerify">
        <%= render submission.screenshots, cached: true %>
      </ul>
    <% else %>
      <div class="ts-screenshots__no-screenshots-body">
        <div class="ts-screenshots__no-screenshots-text">- no screenshots added -</div>
        <div data-modal-trigger="screenshots-modal" role="button" class="appy-button">Add Screenshots</div>
      </div>
    <% end %>
  </div>
</div>

<div class="modalify" id="screenshots-modal" data-heading="Screenshots">
  <%= render 'student/team_submissions/screenshots_form' %>
</div>
