<div class="card team-submission__step-card">
  <div class="card__heading">
    Team Photo

    <% if team.team_photo.present? %>
      <%= fa_icon("check-circle", class: "card-heading__flair") %>
    <% else %>
      <%= fa_icon("circle-o", class: "card-heading__flair") %>
    <% end %>
  </div>

  <div class="card__body">
    <% if team.team_photo.present? %>
      <%= image_tag team.team_photo_url, width: "100%" %>
    <% end %>

    <%= render 'teams/upload_team_photo', uploader: uploader %>
  </div>
</div>
