<div class="card">
  <div class="card__body">
    Earn bonus points by completing certain technical tasks.

    <div class="card__actions-row card__actions-row--pos-end">
      <%= link_to "Check technical tasks", [:edit, :student, submission, step: :technical_checklist], class: "appy-button" %>
    </div>
  </div>
</div>
