<div class="card">
  <div class="card__body">
    Earn up to 10 points by completing the checklist.

    <div class="card__actions-row card__actions-row--pos-end">
      <%= link_to "Edit Your Technical Checklist",
        send("edit_#{current_account.type_name}_technical_checklist_path",
             team_id: @team_submission.team_id),
        class: "appy-button" %>
    </div>
  </div>
</div>
