<div class="card">
  <div class="card__body">
    Earn up to 10 points by completing the checklist.

    <div class="card__actions-row card__actions-row--pos-end">
      <%= link_to "View Your Technical Checklist",
        [:edit, :student, :technical_checklist],
        class: "appy-button" %>
    </div>
  </div>
</div>
