<h1>View Chapters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to chapter.organization_name, admin_chapter_path(chapter) %></td>
<!--        <td><%#= link_to 'Edit', edit_admin_chapter_path(admin_chapter) %></td>-->
<!--        <td><%#= link_to 'Destroy', admin_chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to "Setup a new chapter", new_admin_chapter_path, class: "button" %></p>
