<h1>Organization Name</h1>
<h1><%= @chapter.organization_name %></h1>

<p>Please use the invite button below to invite a user to be the Chapter Ambassador for this chapter.</p>
<%= link_to "Invite a chapter ambassador PLACEHOLDER", class: "button" %>
