<% if current_account.admin? %>
  <div class="admin-actions-buttons">
    <% if score.pending_approval? %>
      <%= button_to "Approve this score",
        admin_score_approvals_path(id: score.id),
        method: :post,
        class: "button",
        data: {
          confirm: "You are about to APPROVE this score",
          positive: "true",
        }
      %>
  <% elsif score.deleted? %>
    <%= button_to "Restore this score",
      admin_score_restore_path(score),
      method: :patch,
      class: "button",
      data: { confirm: "You are about to RESTORE this score" }
    %>
  <% end %>

  <% if !score.deleted? %>
    <%= button_to "Delete this score",
      admin_score_path(score),
      method: :delete,
      form_class: "margin--l-auto",
      class: "button button--danger",
      data: { confirm: "You are about to DELETE this score" }
    %>
  <% end %>
  </div>
<% end %>
