<% provide :title, "Admin Scores" %>

<div id="admin-scores-app" class="panel">
  {{ notice }}

  <template v-if="!ready">
    <%= web_icon(
      "spinner2",
      class: "spin",
      text: "Checking for suspicious scores..."
    ) %>
  </template>
  <router-view v-else></router-view>
</div>