<% provide :title, "Admin Data • Scores" %>

<div id="admin-scores-app" class="panel">
  {{ notice }}

  <template v-if="!ready">
    <%= web_icon(
      "spinner2",
      class: "spin",
      text: "Checking for suspicious scores..."
    ) %>
  </template>
  <router-view v-else></router-view>
</div>

<h1>Season <%= Season.current.year %> Scores</h1>

<%= render 'datagrid/datagrid',
  grid: @scored_submissions_grid,
  form_url: admin_scores_path,
  model_name: "submission",
  scope: :admin,
  verb: "scored",
  extra_count: "Exports #{number_with_delimiter(@scored_submissions_grid.assets.count)} scored #{grid_params[:round]} submissions" %>