<%= image_tag current_student.profile_image_url, width: 100, height: 100 %>

<p><%= current_student.full_name %></p>

<p><%= current_student.email %></p>

<p>
  <%= link_to t("views.quick_links.my_account"),
    student_profile_path,
    class: "appy-button" %>
</p>
