<div class="flex-col-sm-12">
  <center>
    <h1>You made it!</h1>

    <p>
      You finished the <%= Season.current.year %> Technovation program!
    </p>

    <p>
      Download a participation certificate you can share with others to
      let them know you finished the Technovation program.
    </p>

    <% if current_student.certificates.empty? %>
      <%= form_with url: student_completion_certificates_path, local: true do |f| %>
        <p>First, we need to prepare your certificate for you.</p>
        <p class="standalone-buttons">
          <%= f.submit "Prepare my certificate", class: "appy-button" %>
        </p>
      <% end %>
    <% else %>
      <p class="standalone-buttons">
        <%= link_to "Download my Technovation Certificate",
          current_student.certificates.current.file_url,
          class: "appy-button" %>
      </p>
    <% end %>
  </center>
</div>
