<div class="flex-col-md-8">
  <% if current_team.present? and current_team.submission.present? %>
    <%= render 'dashboards/select_regional_pitch_event',
      submission: current_team.submission,
      events: @regional_events %>
  <% elsif current_team.present? and SeasonToggles.team_submissions_editable? %>
    <%= render 'student/dashboards/start_team_submission' %>
  <% elsif SeasonToggles.team_submissions_editable? %>
    <%= render 'student/dashboards/join_create_team' %>
  <% else %>
      The submission deadline has passed.
  <% end %>
</div>

<%= render 'student/dashboards/info_sidebar' %>
