<div class="card__body">
  <h1>Team Invitations</h1>

  <p>You can only accept one!</p>
</div>

<% current_student.team_member_invites.pending.each do |invite| %>
  <div class="card__body student-team-invitation">
    <div class="card-body__img">
      <%= image_tag invite.team.team_photo, width: 200, height: 133.3333333333 %>
    </div>

    <div class="card-body__details">
      <p>
        <strong><%= invite.team_name %></strong>
      </p>

      <p>
        An invitation is waiting for you!
      </p>

      <p>
        <%= link_to "View team invitation", student_team_member_invite_path(invite) %>
      </p>
    </div>
  </div>
<% end %>
