<div class="flex-col-md-8">
  <% if current_team.present? %>
    <div class="student-manage-submission-cta">
      <% if current_team.submission.present? %>
        <%= render 'student/dashboards/team_submission_progress',
          submission: current_team.submission %>
      <% else %>
        <%= render 'student/dashboards/start_team_submission' %>
      <% end %>
    </div>
  <% else %>
    <%= render 'student/dashboards/join_create_team' %>
  <% end %>
</div>

<%= render 'student/dashboards/info_sidebar' %>
