<h1 class="appy-title">Check your email inbox!</h1>

<% if @signup_attempt.email_exists? %>
  <p>That email is already being used on Technovation.</p>

  <p>
    Please try to <%= link_to "sign in", signin_path %>
    or <%= link_to "reset your password", new_password_reset_path(email: @signup_attempt.email) %>.
  </p>
<% elsif @signup_attempt.active? %>
  <p>You have already confirmed your email!</p>
  <p><%= link_to "Continue signing up", signup_path %>
<% else %>
  <p>We sent an email to confirm that your address is real and that you typed it correctly.</p>

  <p><strong>If you don't get an email from us within a few minutes:</strong></p>

  <ul class="appy-bulleted-list">
    <li>Check your spam folder</li>
    <li>Add "info@technovationchallenge.org" to your contacts</li>
    <li>Check that you entered your email correctly. For example: <em>janie.doe@gmail.com</em></li>
  </ul>

  <p><strong>Double-check the email that you entered here:</strong></p>
  <%= render 'signup_attempts/form', submit: t("views.application.try_again"), attempt: @signup_attempt %>
<% end %>
