<div class="signup-post-attempt-wrapper simple-card">
  <% if @signup_attempt.active? %>
    <h1 class="appy-title">You're good to go!</h1>

    <p>You have already confirmed your email!</p>

    <p><%= link_to "Continue signing up", signup_path %>
  <% else %>
    <h1 class="appy-title">Check your email inbox!</h1>

    <p>We have attempted to send you an email to confirm that your address is real, that you typed it correctly, and that you have access to it.</p>

    <p><strong>If you don't get an email from us within a few minutes:</strong></p>

    <ul class="appy-bulleted-list">
      <li>Check your spam folder</li>
      <li>Add <strong>mailer@technovationchallenge.org</strong> to your contacts</li>
      <li>Try again below! Check that you entered your email correctly. For example: <em>janie.doe@gmail.com</em></li>
    </ul>

    <p><strong>Double-check your email here, correct any mistakes, and try again:</strong></p>
    <%= render 'signup_attempts/form',
               submit: t("views.application.try_again"),
               url: signup_attempt_path(@signup_attempt.pending_token),
               attempt: @signup_attempt %>
  <% end %>
</div>
