<div id="session-bar" class="notice notice--top">
  You are logged in as <%= current_session.full_name %> |

  <% if current_account.admin? %>
    <%= link_to "return to Admin mode",
      admin_participant_session_path(current_session),
      data: {
        method: :delete,
        turbolinks: 'false',
      } %>
  <% else %>
    <%= link_to "return to RA mode",
      regional_ambassador_participant_session_path(current_session),
      data: {
        method: :delete,
        turbolinks: 'false',
      } %>
  <% end %>
</div>
