<div id="session-bar" class="notice notice--top">
  You are logged in as <%= current_session.full_name %> |

  <%= link_to "return to Admin mode",
    admin_participant_session_path(current_session),
    data: {
      method: :delete
    } %>
</div>
