<% provide :root_path, judge_dashboard_path %>

<% provide :menu do %>
  <li class="nav-link">
    <%= link_to t('views.judge.scores.index.title'), judge_scores_path %>
  </li>
<% end %>

<%= render template: "layouts/application" %>
