<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Technovation Challenge</title>
    <%= stylesheet_link_tag "email" %>
  </head>

  <body itemscope itemtype="http://schema.org/EmailMessage">
    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container" width="600">
          <div class="content">
            <table class="main" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="header-block"><span>&nbsp;</span></td>
              </tr>
              <%= yield %>
              </table>
            </div>

            <div class="footer">
              <table width="100%">
                <tr>
                  <td class="aligncenter content-block">Follow <a href="http://twitter.com/technovation">@technovation</a> on Twitter.</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
