<% provide :root_path, mentor_dashboard_path %>

<% provide :menu do %>
  <li class="nav-link">
    <%= link_to t('views.mentor.navigation.teams'), mentor_teams_path %>
  </li>
<% end %>

<%= render template: "layouts/application" %>
