<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "club_ambassador/dashboards/onboarding/side_nav" %>

  <%= render "background_checks/rebrand/new", url: club_ambassador_background_checks_path %>
</div>
