<tr>
  <% if activity.recipient %>
    <td>
      <%= image_tag activity.recipient.team_photo_url,
        class: "thumbnail-xs" %>
    </td>

    <td>
      Submission
    </td>

    <td>
      <%= link_to activity.recipient.team_name, [current_scope, activity.recipient.team] %>
    </td>
  <% else %>
    <td>–</td>
    <td>–</td>
  <% end %>

  <td>updated</td>

  <% if activity.recipient %>
    <td>
      <%= link_to activity.recipient.name || "(no_name)", [current_scope, activity.recipient] %>
    </td>
  <% else %>
    <td>–</td>
  <% end %>

  <td><%= time_ago_in_words(activity.created_at) %> ago</td>
</tr>
