<div class="tw-tab-content">
    <a class="tw-active active-tab" id="judge-basic-info" href="#judge-basic" data-heading="Basic Information">Basic Information</a>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <a id="judge-basic-info" href="#judge-location" data-heading="Location">Location</a>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <a id="judge-basic-info" href="#judge-change-email" data-heading="Change Email">Change Email</a>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <a id="judge-basic-info" href="#judge-change-password" data-heading="Change Password">Change Password</a>
</div>