<div class="tw-tab-content">
  <a class="tw-active active-tab" id="profile-tab" href="#profile-tab-content">Profile</a>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <a id="judge-submissions-tab" href="#judge-submissions-tab-content">Judge Submissions</a>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <a id="scores-tab" href="#scores-tab-content">Find your scores & certificates</a>
</div>

